<style>
  .aspect-ratio{
    width:360px;
    height:360px;
    object-fit: cover;
  }

  ul.page__tag-list.hidden-pocket {
    display: none;
  }

  @media screen and (max-width:412px){
    .aspect-ratio{
      width: auto;
    }
  }

  @font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Myriad Pro Light'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MyriadPro-Light.woff?v=1610573804') format('woff');
  }
  @font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MYRIADPRO-REGULAR.woff?v=1610553223') format('woff');
  	font-display: swap;
  }

   .excerptBlog{
    font-family:'Myriad Pro';
    font-size:18px;
    color:#6a1536;
    line-height:22px;
    text-align:center;
    margin:10px 0px 0 0px;
    min-height: 22px;
    font-weight:400;
  }

  .contentHeader{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  .contentHeader img{
    width: 100%;
  }
  .contentHeader img{
    width: 100%;

  }

  /* @import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
   */

   @font-face {
    font-family: 'Ultra';
    src: url({{ 'Ultra-Regular.ttf' | asset_url }}) format("truetype");
  	font-display: swap;
  }
  .titBlog{
    font-family: 'Ultra';
    font-size: 28px;
    color: #691536;
    text-align: center;
    line-height: 30px;
    width: 99%;
    margin: 0 80;
    padding: 0 0px;
    min-height: 48px;
    font-weight:400;
  }

  .readmoreBlog{
    font-family: 'Roboto';
    font-weight:500;
    font-size: 18px;
    color: #d8404a;
    text-align: center;
     margin-top:0px;

  }

  .article-item__image-container{
    margin-bottom: 15px;

  }

  .template-blog #shopify-section-static-newsletter{
    display:none;
  }

  @media screen and (min-width: 641px){
    .header__logo-image {
      max-width: 80px;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 840px){
    .medio--tablet{
       width:100%;
    }


  }

  @media screen and (min-width: 1000px) and (max-width: 1080px){
    .medio--tablet{
       width:50%;
    }


  }

  @media screen and (min-width: 641px) and (max-width: 840px){
    .medio--tablet{
      width:100%;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1080px){
    .medio--tablet{
      width:50%;
    }
  }


  @media screen and (min-width:1080px) and (max-width:1280px){
    .medio--tablet{
      width:33%;
    }

    .titBlog {
      min-height: 44px;
    }
  }

  @media screen and (min-width:1000px) and (max-width:1200px){
    .container{
      padding: 0 0px;
    }
  }

  @media screen and (max-width:1000px){
      .aspect-ratio img{
        min-height: 290px;
        width: 100%;
        padding: 0 10px;
     }

     .titBlog{
         margin: 0px auto 0 auto;
        line-height: 30px;
        min-height: auto;
     }

     .excerptBlog {
        font-size: 14px;
        line-height: 14px;
        min-height: auto;
        margin: 10px 30px 0 30px;
     }
     .readmoreBlog {
        font-size: 16px;
        margin-top:0px;
     }
  }
</style>

<div class="container" style="background-color: #FDF5F6; padding-top: 80px;">
  <div class="blog-container">
    <div class="block-list block-list--loose block-list--no-flush">
      {%- assign count = 0 -%}

      {%- assign current_article = article -%}

      {%- for article in blog.articles -%}
        {%- if count == 6 -%}
          {%- break -%}
        {%- endif -%}

        {%- if article.id == current_article.id -%}
          {%- continue -%}
        {%- endif -%}

        <div class="block-list__item 1/1 medio--tablet 1/2--tablet 1/3--desk ">
          {%- render 'article-item', article: article, featured: false -%}
        </div>

        {%- assign count = count | plus: 1 -%}
      {%- endfor -%}
    </div>
  </div>
</div>