<div class="cil-wrapper">

  {% for i in (1..3) %}
    {%- assign title_id = 'circle_imageList--image_tlt_' | append: i -%}
    {%- assign subtitle_id = 'circle_imageList--image_sub_' | append: i -%}
    {%- assign text_id = 'circle_imageList--image_text_' | append: i -%}
    {%- assign img_id = 'circle_imageList--image_url_' | append: i -%}

    {% capture title %} {{object[title_id]}}  {% endcapture %}
    {% capture subtitle %} {{object[subtitle_id]}}  {% endcapture %}
    {% capture text %} {{object[text_id]}}  {% endcapture %}
    {% capture img %} {{object[img_id]}}  {% endcapture %}

    <div class="cil-container">
      <div class="cil-image">
        <img src="{{img}}" alt="img">
      </div>
      <div class="cil-aside">
        <div class="font-title">{{ title }}</div>
        <div class="font-subtitle cil-subtitle">{{ subtitle }}</div>
        <p class="font-subtitle cil-content">{{ text }}</p>
      </div>
    </div>
    {% if forloop.last == false %}
      <div class="line"></div>
    {% endif %}
  {% endfor %}

</div>
<style>
  .line {
    width: 100%;
    height: 11px;
    background-image: url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/Asset_1_ee5718bc-e069-4467-90ee-11b64b514823.png?v=1614286189');
  }

  .cil-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
  }
  .cil-container {
    display: flex;
    align-items: center;
    margin: 2em;
  }

  .cil-image {
    max-width: 180px;
    max-height: 180px;
    border-radius: 90px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .cil-image img {
    min-width: 150%;
    height: auto;
    vertical-align: middle;
  }

  .cil-aside {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }

  .cil-subtitle {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .cil-content {
    font-weight: 400;
    font-size: 24px;
  }

  @media(max-width: 1000px) {
    .line {
      margin-bottom: 40px;
    }

    .cil-wrapper {
      margin: 0 5%;
    }
    .cil-container {
      flex-direction: column;
      margin: 2em 0;
    }

    .cil-image {
      max-width: 300px;
      max-height: 300px;
      border-radius: 150px;
      margin-right: 0;
    }

    .cil-aside {
      margin-top: 1em;
    }

    .cil-content br {
      display: none;
    }
  }

</style>