<div class="custome_wrapper-gif">
  {%- if img1 != blank -%}
    <div class="circle-images-container">
      <div class="custome-gif">
        <img src="{{ img1 }}" alt="">
      </div>
      {% if text1 != blank %}
          <div class="subtitle_circle">{{text1}} </div>
        {% endif %}
    </div>
  {%- endif -%}
  {%- if img2 != blank -%}
    <div class="circle-images-container">
      <div class="custome-gif">
        <img src="{{ img2 }}" alt="">
      </div>
      {% if text2 != blank %}
        <div class="subtitle_circle">{{text2}} </div>
      {% endif %}
    </div>
  {%- endif -%}
  {%- if img3 != blank -%}
    <div class="circle-images-container">
      <div class="custome-gif">
        <img src="{{ img3 }}" alt="">
      </div>
      {% if text3 != blank %}
        <div class="subtitle_circle">{{text3}} </div>
      {% endif %}
    </div>
  {%- endif -%}
</div>

{% style %}

  .subtitle_circle {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'Source Sans Variable';
    font-weight: 600;
    line-height: 1.3;
    margin-top: 30px;
  }

  .circle-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 999px) {
    .subtitle_circle {
      width: 100%;
      margin-bottom: 60px;
      margin-top: 0px;
      font-size: 26px;
    }
    .custome-gif {
      margin-bottom: 30px!important;
    }
    .cil-aside .font-title{
      font-size: 26px;
    }
    .cil-aside .font-subtitle{
      font-size: 16px;
    }
  }
  @media (max-width: 600px) {
    .subtitle_circle {
      font-size: 22px;
    }
    .cil-aside .font-title{
      font-size: 22px;
    }
    .cil-aside .font-subtitle{
      font-family: 'Source Sans Variable';
      font-size: 13px;
    }
  }

{% endstyle %}