{%- if img1 != blank and img2 != blank and img3 != blank -%}
  <div class="">
    <div class="custome_wrapper-gif">
      <div class="custome-gif">
        <img src="{{ img1 }}" alt="" style="bottom: -110px;">
      </div>
      <div class="custome-gif">
        <img src="{{ img2 }}" alt="" style="top: -55px;">
      </div>
      <div class="custome-gif">
        <img src="{{ img3 }}" alt="" style="bottom: 0px;">
      </div>
    </div>
  </div>
{%- endif -%}