{%- comment -%}
--------------------------------------------------------------------------------------
FILTER BAR (DESKTOP)
--------------------------------------------------------------------------------------
{%- endcomment -%}

<div class="layout__section layout__section--secondary hidden-pocket">
  <div class="card">
    {%- if quick_links_menu.links.size > 0 -%}
      <div class="card__section card__section--tight">
        <p class="card__title--small heading">{{ quick_links_menu.title }}</p>

        <ul class="collection__filter-linklist">
          {%- for link in quick_links_menu.links -%}
            <li>
              {%- if link.links.size > 0 -%}
                {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}

                <button class="collection__filter-link link link--primary {% if link.active or link.child_active %}is-active{% endif %}" data-action="toggle-collapsible" aria-controls="{{ link_id }}" aria-expanded="{% if link.active or link.child_active %}true{% else %}false{% endif %}">
                  {{ link.title }} {% if link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ link.object.products_count }}){% endif %} {%- render 'icon', icon: 'arrow-bottom' -%}
                </button>

                <div id="{{ link_id }}" class="collection__filter-collapsible" {% if link.active or link.child_active %}aria-hidden="false" style="height: auto"{% else %}aria-hidden="true"{% endif %}>
                  <ul class="collection__filter-linklist">
                    {%- for sub_link in link.links -%}
                      <li>
                        <a href="{{ sub_link.url }}" class="collection__filter-link link link--primary {% if sub_link.active %}is-active{% endif %}">{{ sub_link.title }} {% if sub_link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ sub_link.object.products_count }}){% endif %}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- else -%}
                <a href="{{ link.url }}" class="collection__filter-link link link--primary {% if link.active %}is-active{% endif %}">{{ link.title }} {% if link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ link.object.products_count }}){% endif %}</a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- if section.settings.show_filters and has_visible_tags -%}
      <div class="card__section card__section--tight">
        <p class="card__title--small heading">{{ 'collection.filter.all' | t }}</p>

        <div class="collection__active-filters">
          {%- for tag in current_tags -%}
            <div class="collection__active-filter-item">
              <button class="collection__active-filter-cross" data-action="toggle-tag" data-tag="{{ tag | handle }}">{% render 'icon', icon: 'close' %}</button>

              {%- if section.settings.filter_type == 'group' -%}
                {{- tag | split: '_' | last -}}
              {%- else -%}
                {{- tag -}}
              {%- endif -%}
            </div>
          {%- endfor -%}

          {%- if current_tags != blank and current_tags.size > 1 -%}
            <button class="collection__clear-filter button button--small button--transparent button--full" data-action="clear-tags">{{ 'collection.filter.clear_all' | t }}</button>
          {%- endif -%}
        </div>

        {%- if section.settings.filter_type == 'tag' -%}
          <div class="collection__filter-group">
            <ul class="collection__filter-checkbox-list">
              {%- for tag in collection.all_tags -%}
                {%- comment -%}Tags that start by two consecutive underscores (__) are used for internal purpose and must be removed from here{%- endcomment -%}

                {%- unless tag contains '__' -%}
                  <li class="collection__filter-checkbox">
                    <div class="checkbox-wrapper">
                      <input type="radio" class="checkbox" id="{{ link_id }}-tag-{{ tag | handle }}" name="tag-filter" data-action="toggle-tag" data-tag="{{ tag | handle }}" {% if current_tags contains tag %}checked="checked"{% endif %}>
                      {% render 'icon', icon: 'check' %}
                    </div>

                    <label for="{{ link_id }}-tag-{{ tag | handle }}">{{ tag }}</label>
                  </li>
                {%- endunless -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- elsif section.settings.filter_type == 'group' -%}
          {%- assign groups = '' -%}

          {%- for tag in collection.all_tags -%}
            {%- assign tag_parts = tag | split: '_' -%}

            {%- if tag_parts.size < 2 or tag contains '__' -%}
              {%- continue -%}
            {%- endif -%}

            {%- assign groups = groups | append: tag_parts.first | append: ',' -%}
          {% endfor %}

          {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,カラー,färg,farve' | split: ',' -%}
          {%- assign groups = groups | split: ',' | compact | uniq -%}

          {%- assign groups_order = section.settings.filter_group_order | downcase | strip | replace: ', ', ',' | split: ',' -%}

          <div class="collection__filter-group-list {% if groups_order.size > 0 %}collection__filter-group-list--ordered{% endif %}">
            {%- for group in groups -%}
              {%- assign group_downcase = group | downcase -%}

              {%- comment -%}
              If we are within the special "brand" alternate template, then we do not show the "brand" or "vendor" group
              {%- endcomment -%}

              {%- if collection.template_suffix == 'brand' -%}
                {%- assign brand_label = 'brand,vendor,marque' | split: ',' -%}

                {%- if brand_label contains group_downcase -%}
                  {%- continue -%}
                {%- endif -%}
              {%- endif -%}

              {%- if color_label contains group_downcase and section.settings.show_filter_color_swatch -%}
                {%- assign show_color_swatch = true -%}
              {%- else -%}
                {%- assign show_color_swatch = false -%}
              {%- endif -%}

              {%- assign has_active_tag_from_group = false -%}

              {%- for tag in current_tags -%}
                {%- assign current_tag_parts = tag | split: '_' -%}
                {%- assign current_tag_group_downcase = current_tag_parts.first | downcase -%}

                {%- if group_downcase == current_tag_group_downcase -%}
                  {%- assign has_active_tag_from_group = true -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}

              {%- comment -%}If the group name belongs to the group order, we force this order by using flexbox{%- endcomment -%}

              {%- assign current_group_order = 99 -%}

              {%- if groups_order contains group_downcase -%}
                {%- for group_order_name in groups_order -%}
                  {%- if group_order_name == group_downcase -%}
                    {%- assign current_group_order = forloop.index -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}

              <div class="collection__filter-group" {% if groups_order.size > 0 %}style="order: {{ current_group_order }}"{% endif %}>
                {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}

                {%- assign is_collapsible_open = false -%}

                {%- if has_active_tag_from_group or section.settings.open_group_filters_mode == 'all_open' -%}
                  {%- assign is_collapsible_open = true -%}
                {%- elsif section.settings.open_group_filters_mode == 'first_open' -%}
                  {%- if groups_order.size > 0 -%}
                    {%- if current_group_order == 1 -%}
                      {%- assign is_collapsible_open = true -%}
                    {%- endif -%}
                  {%- elsif forloop.first -%}
                    {%- assign is_collapsible_open = true -%}
                  {%- endif -%}
                {%- endif -%}

                <button class="collection__filter-group-name link link--secondary text--strong" data-action="toggle-collapsible" aria-controls="{{ link_id }}" data-close-siblings="false" data-collapsible-force-overflow="true" aria-expanded="{% if is_collapsible_open %}true{% else %}false{% endif %}">
                  {{- group -}}
                  {%- render 'icon', icon: 'arrow-bottom' -%}
                </button>

                <div id="{{ link_id }}" class="collection__filter-collapsible" {% if is_collapsible_open %}aria-hidden="false" style="height: auto; overflow: visible"{% else %}aria-hidden="true"{% endif %}>
                  {%- if show_color_swatch -%}
                    <div class="collection__filter-color-list">
                      <div class="color-swatch-list color-swatch-list--large">
                        {%- for tag in collection.all_tags -%}
                          {%- assign tag_parts = tag | split: '_' -%}

                          {%- if tag_parts.first != group or tag contains '__' -%}
                            {%- continue -%}
                          {%- endif -%}

                          {%- assign downcased_value = tag_parts.last | downcase -%}
                          {%- capture color_id -%}filter-color-{% increment color_index %}{%- endcapture -%}

                          {%- assign color_swatch_name = tag_parts.last | handle | append: '.png' -%}
                          {%- assign color_swatch_image = images[color_swatch_name] -%}

                          <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}" data-tooltip="{{ tag_parts.last | escape }}">
                            <button type="button" class="color-swatch__button {% if current_tags contains tag %}is-selected{% endif %}" data-action="toggle-tag" data-tag="{{ tag | handle }}" data-tag-user="{{ tag_parts.last | escape }}" aria-label="{{ tag_parts.last | escape }}">
                              <span class="color-swatch__item" style="background-color: {{ downcased_value | replace: ' ', '' | downcase }}; {% if color_swatch_image != blank %}background-image: url({{ color_swatch_image | img_url: '64x64' }}){% endif %}"></span>
                            </button>
                          </div>
                        {%- endfor -%}
                      </div>
                    </div>
                  {%- else -%}
                    <ul class="collection__filter-checkbox-list">
                      {%- for tag in collection.all_tags -%}
                        {%- assign tag_parts = tag | split: '_' -%}

                        {%- if tag_parts.first != group or tag contains '__' -%}
                          {%- continue -%}
                        {%- endif -%}

                        <li class="collection__filter-checkbox">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="{{ link_id }}-tag-{{ tag | handle }}" name="tag-{{ tag_parts.first | handle }}" data-action="toggle-tag" data-tag="{{ tag | handle }}" data-tag-user="{{ tag_parts.last | escape }}" {% if current_tags contains tag %}checked="checked"{% endif %}>
                            {% render 'icon', icon: 'check' %}
                          </div>

                          <label for="{{ link_id }}-tag-{{ tag | handle }}">{{ tag_parts.last }}</label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>