{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}


{%- assign is_mega_menu = false -%}
{%- assign downcase_title = menu.title | downcase | strip -%}

{%- for mega_menu in mega_menus -%}
  {%- assign mega_menu_setting_downcase = mega_menu | downcase | strip -%}

  {%- if mega_menu_setting_downcase == downcase_title -%}
    {%- assign is_mega_menu = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- capture index_mega_menu -%}{{ index }}-mega-menu-0{%- endcapture -%}
{%- render 'mega-menu', is_floating: false, mega_menu: menu, index: index_mega_menu, opacity: opacity -%}
