<!-- START Google Ads dynamic remarketing -->
{% assign UA-ID = "UA-143325320-1" -%}{%- comment -%}Google Analytics tracking ID.{%- endcomment -%}
{%- assign AW-ID = "389822693" -%}{%- comment -%}Google Ads conversion ID.{%- endcomment -%}
{%- assign product-id = "product-id_variant-id" -%}{%- comment -%}The format of the product IDs in the feed. 3 accepted values "sku" (SKU of the variant e.g. aga-012), "variant-id" (variant ID e.g. 21283160948841), or "product-id_variant-id" (product ID underscore then variant ID e.g. 28541777444969_21283160948841).{%- endcomment -%}
{%- assign product-id-prefix = "shopify_US_" -%}{%- comment -%}Prefix to product-id. Leave blank if there's no prefix. This is likely needed if product-id_variant-id is selected so 123456_789012 becomes shopify_AU_28541777444969_21283160948841.{%- endcomment -%}
{%- assign price-decimal-fs = true -%}{%- comment -%}If the decimal separator is a full stop like in USD and AUD currencies, set to true. If it is a comma like in some European countries, set to false.{%- endcomment -%}
{%- comment -%}Change dimension1, dimension2, and dimension3 on line 16 to match your custom dimension number in Google Analytics.{%- endcomment -%}

{%- if template contains 'collection' or template contains 'search' or template contains 'product' or template contains 'cart' -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ UA-ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ UA-ID }}', { 'send_page_view': false, 'custom_map': {'ecomm_prodid': 'ecomm_prodid', 'ecomm_pagetype': 'ecomm_pagetype', 'ecomm_totalvalue': 'ecomm_totalvalue'} });
  gtag('config', '{{ AW-ID }}');
</script>
{%- else -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ AW-ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ AW-ID }}');
</script>
{%- endif %}
{%- comment -%}
<script>
  gtag('event', 'Dynamic Remarketing', { 'ecomm_pagetype': '{% if template contains 'collection' %}category{% elsif template contains 'search' %}searchresults{% elsif template contains 'product' %}product{% elsif template contains 'cart' %}cart{% endif %}'
  {%- if product-id == "product-id_variant-id" -%}
  , 'ecomm_prodid': {% if template contains 'product' -%}
    '{{ product-id-prefix }}{{ product.id }}_{{ product.selected_or_first_available_variant.id }}'
    {%- elsif template contains 'collection' -%}
    [{% for item in collection.products limit:3 %}'{{ product-id-prefix }}{{ item.id }}_{{ item.selected_or_first_available_variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]
    {%- elsif template contains 'search' -%}
    [{% for item in search.results limit:3 %}'{{ product-id-prefix }}{{ item.id }}_{{ item.selected_or_first_available_variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]
    {%- elsif template contains 'cart' -%}
    [{%- for item in cart.items limit:3 -%}'{{ product-id-prefix }}{{ item.product_id }}_{{ item.variant_id }}'
      {%- unless forloop.last -%}, {%- endunless -%}
    {%- endfor -%}]
  {%- endif -%}
  {%- elsif product-id == 'variant-id' -%}
  , 'ecomm_prodid': {% if template contains 'product' -%}
    '{{ product-id-prefix }}{{ product.selected_or_first_available_variant.id }}'
    {%- elsif template contains 'collection' -%}
    [{% for item in collection.products limit:4 %}'{{ product-id-prefix }}{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]
    {%- elsif template contains 'search' -%}
    [{% for item in search.results limit:4 %}'{{ product-id-prefix }}{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]
    {%- elsif template contains 'cart' -%}
    [{%- for item in cart.items limit:4 -%}'{{ product-id-prefix }}{{ item.variant_id }}'
      {%- unless forloop.last -%}, {%- endunless -%}
    {%- endfor -%}]
  {%- endif -%}
  {%- elsif product-id == 'sku' -%}
  , 'ecomm_prodid': {% if template contains 'product' -%}
    '{{ product-id-prefix }}{{ product.selected_or_first_available_variant.sku }}'
    {%- elsif template contains 'collection' -%}
    [{% for item in collection.products limit:4 %}'{{ product-id-prefix }}{{ item.selected_or_first_available_variant.sku }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]
    {%- elsif template contains 'search' -%}
    [{% for item in search.results limit:4 %}'{{ product-id-prefix }}{{ item.selected_or_first_available_variant.sku }}'{% unless forloop.last %}, {% endunless %}{% endfor %}]
    {%- elsif template contains 'cart' -%}
    [{%- for item in cart.items limit:4 -%}'{{ product-id-prefix }}{{ item.sku }}'
      {%- unless forloop.last -%}, {%- endunless -%}
    {%- endfor -%}]
  {%- endif -%}
  {%- endif -%}
  {%- if price-decimal-fs == true -%}
    {%- if template contains 'product' -%}
      {%- assign product-price = product.price_min | money_without_currency | remove: ',' -%}
    {%- elsif template contains 'cart' -%}
      {%- assign product-price = cart.total_price | money_without_currency | remove: ',' -%}
    {%- endif -%}
  {%- else -%}
    {%- if template contains 'product' -%}
      {%- assign product-price = product.price_min | money_without_currency | remove: '.' | replace: ',', '.' -%}
    {%- elsif template contains 'cart' -%}
      {%- assign product-price = cart.total_price | money_without_currency | remove: '.' | replace: ',', '.' -%}
    {%- endif -%}
  {%- endif -%}
  {%- if template contains 'product' or template contains 'cart' -%}
  , 'ecomm_totalvalue': {% if template contains 'product' -%}
    {{ product-price -}}
  {%- elsif template contains 'cart' -%}
    {{ product-price -}}
  {%- endif -%}
  {%- endif -%}, 'non_interaction': true });
</script>
{%- endif %}
<!-- END Google Ads dynamic remarketing -->
{%- endcomment -%}