<div class="full-title {% if title == "why is it so good?" %}display-br{% endif %}">
  <div class="custome-text-details {% if compact %}compact-h2{% endif %}  {% if class == 'image_scroller--title_text' %}
  image_scroller--title_text{% endif %}" style="font-size: 55px;
  line-height: 1.4;">
    {%- if title != blank -%}
      <h2>
        {{ title }}
      </h2>
    {%- endif -%}
    {% if subtitle != blank %}
      <p style="{% unless styles == 'shave_pillow' %}
      padding: 0 15%;
      {% endunless %}
      text-align: inherit;">
        {{ subtitle }}
      </p>
    {% endif %}
  </div>
</div>


{% if styles == 'shave_pillow'%}
  {% style %}
    .display-br br{
      display: block!important;
    }
    .full-title {
      margin: 3em 0;
    }
    @media (max-width: 620px) {
      .full-title {
        margin: 0 0 3em 0;
      }
      .full-title br {
        display: none;
      }
    }
    .custome-text-details {
      padding: 0;
    }
  {% endstyle %}
{% endif %}