<style>
    .hero-main--container {
    align-self: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .header.header--inline .container{
    padding: 0 40px;
  }
/* Only First Slide */
  .fa-color-icon{
    color: #71982a;
    background-color: #f7a700;
    border-radius: 100%;
  }
  .item-title{
    min-width: 14em;
    text-align: left;
    width: 100%;
    font-size: 50px;
    margin-left: 4.4em;
    padding: 10px 24%;
    line-height: 50px;
    margin-bottom: 1em;
  }
  .list-main-item{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 6em 0px 28.5em;
    width: unset;
    list-style-type: none;
    justify-content: space-between;
    line-height: 0;
  }
  .check-items{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    min-width: 50%;
  }
  .check-items p{
    color: #711b34;
    letter-spacing: -0.04px;
    margin-left: 0.3em;
    width: unset;
    height: unset;
    display: flex;
    align-items: baseline;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 1.4;
  }
  .check-items .fa-color-icon {
    color: #71982a;
  }

@media screen and (max-width: 1250px) {
  .hero-main--container {
    align-self: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .list-main-item {
    padding: 0 15em 0 15em;
  }

  .item-title{
    margin: 0;
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    width: 100%;
    font-size: 34px;
    line-height: 1em;
    margin-bottom: 2em;
    min-width: 50%;
  }

  #shopify-section-{{section.id}} .title-slide-home {
    max-width: 28%;
    min-width: 9em;
    margin: auto;
  }
}

@media screen and (max-width:860px){
  .list-main-item {
    padding: 0 7em 0 13em;
  }
}

@media screen and (max-width:700px){
  .list-main-item{
    max-width: 100%;
    padding: 0 20%;
    margin-top: 0.5em;
  }
  .item-title {
    font-size: 15px;
    padding: 0 11%;
    margin-bottom: 14px;
  }
  li.check-items {
    margin-bottom: 8px;
  }
  .check-items p{
    font-size: 11px;
    letter-spacing: 0;
  }
  .check-items .fa-color-icon {
    font-size: 0.4em;
  }
}
</style>
<div class="font-title item-title">
  {{block.settings.title}}
</div>
<ul class="list-main-item">
  {% for i in (1..4) %}
    {% capture item_id %}item_{{i}}{% endcapture %}
    {% assign item_text = section.settings[item_id] %}
    <li class="check-items">
      {% if item_text %}
        <span class="fa-color-icon">
          <i class="fas fa-check-circle fa-2x"></i>
        </span>
        <p class="font-text">{{item_text}}</p>
      {% endif %}
    </li>
  {% endfor %}