{%- capture icon_class -%}icon icon--{{ icon }}
{%- endcapture -%}

{%- case icon -%}
  {%- comment -%} SOCIAL MEDIA {%- endcomment -%}

{%- when 'facebook' -%}
  <svg height="22.594" viewbox="0 0 11.983 22.594" width="11.983" xmlns="http://www.w3.org/2000/svg">
    <g data-name="icono facebook" id="icono_facebook" transform="translate(7.212 5.175)">
      <path d="M0,0C0-1.351,1.148-1.149,1.148-1.149l3.622,0,0-4.024-5.432,0c-4.109,0-4.213,4.515-4.213,4.515V2.429l-2.336.017V6.125h2.337l.006,11.3,4.877,0L0,6.122l4.138,0,.63-3.766L0,2.392V2.357S0,1.351,0,0" data-name="Trazado 1" fill="#d48b80" id="Trazado_1"/>
    </g>
  </svg>

{% when 'tiktok'%}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="350" height="350" viewBox="0 0 350 350" xml:space="preserve">
<desc>Created with Fabric.js 1.7.22</desc>
<defs>
</defs>
<g id="icon" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-1.9444444444444287 -1.9444444444444287) scale(3.89 3.89)" >
	<path d="M 33.898 90 c -6.418 0 -12.469 -2.046 -17.499 -5.918 c -0.934 -0.719 -1.838 -1.508 -2.688 -2.347 c -5.868 -5.801 -8.821 -13.523 -8.314 -21.746 c 0.383 -6.212 2.888 -12.201 7.051 -16.865 c 5.523 -6.187 13.141 -9.593 21.45 -9.593 c 1.426 0 2.869 0.107 4.29 0.317 c 0.491 0.073 0.854 0.494 0.854 0.989 v 14.589 c 0 0.321 -0.154 0.622 -0.414 0.811 c -0.261 0.188 -0.596 0.24 -0.899 0.139 c -1.223 -0.403 -2.497 -0.608 -3.787 -0.608 c -3.255 0 -6.304 1.275 -8.585 3.591 c -2.271 2.306 -3.496 5.356 -3.447 8.591 c 0.062 4.172 2.256 7.953 5.87 10.114 c 1.665 0.996 3.564 1.579 5.491 1.686 c 1.518 0.079 3.017 -0.117 4.458 -0.592 c 4.933 -1.63 8.248 -6.207 8.248 -11.39 L 45.993 1 c 0 -0.552 0.447 -1 1 -1 h 14.368 c 0.549 0 0.995 0.442 1 0.99 c 0.013 1.346 0.15 2.683 0.407 3.973 c 1.017 5.103 3.876 9.646 8.052 12.795 c 3.699 2.79 8.109 4.268 12.757 4.276 c 0.083 -0.006 0.172 -0.003 0.259 0.013 c 0.476 0.086 0.821 0.5 0.821 0.983 v 14.305 c 0 0.558 -0.444 1.041 -1.015 1 c -5.048 0 -9.953 -0.99 -14.582 -2.943 c -2.35 -0.992 -4.588 -2.219 -6.677 -3.658 l 0.069 30.142 c -0.032 7.506 -3.004 14.556 -8.367 19.857 c -4.356 4.306 -9.854 7.055 -15.898 7.95 C 36.773 89.894 35.33 90 33.898 90 z M 33.898 35.531 c -7.731 0 -14.819 3.17 -19.958 8.925 c -3.866 4.33 -6.191 9.89 -6.547 15.656 c -0.471 7.639 2.272 14.813 7.723 20.2 c 0.792 0.78 1.634 1.516 2.503 2.186 C 22.296 86.098 27.925 88 33.898 88 c 1.333 0 2.678 -0.099 3.997 -0.294 c 5.621 -0.833 10.734 -3.39 14.785 -7.394 c 4.982 -4.926 7.743 -11.474 7.773 -18.438 l -0.074 -32.108 c -0.001 -0.382 0.216 -0.73 0.558 -0.899 c 0.344 -0.168 0.751 -0.128 1.054 0.105 c 2.398 1.851 5.039 3.391 7.848 4.577 c 4.079 1.721 8.388 2.652 12.819 2.772 V 24.015 c -4.747 -0.19 -9.237 -1.792 -13.041 -4.66 c -4.568 -3.444 -7.697 -8.417 -8.809 -14.001 C 60.589 4.26 60.449 3.135 60.392 2 H 47.993 l -0.018 59.769 c 0 6.046 -3.866 11.387 -9.621 13.287 c -1.679 0.555 -3.424 0.789 -5.195 0.689 c -2.25 -0.123 -4.466 -0.803 -6.408 -1.965 c -4.213 -2.52 -6.771 -6.932 -6.844 -11.802 c -0.056 -3.773 1.372 -7.334 4.022 -10.023 c 2.66 -2.7 6.215 -4.188 10.01 -4.188 c 1.047 0 2.085 0.116 3.1 0.345 V 35.714 C 35.996 35.593 34.942 35.531 33.898 35.531 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
</svg>

{%- when 'fancy' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 30 30">
    <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm4.1684083-11.0747664c.6609783 0 1.1940254-.5340454 1.1886949-1.1962616v-5.9332444c0-2.96395189-2.3987118-5.36715617-5.357123-5.36715617-2.9584112 0-5.35712306 2.40320428-5.35712306 5.36715617v5.9385848c0 .6568758.53304706 1.1909212 1.18869496 1.1909212h2.8091581v3.2843792c0 .753004.6076736 1.3618158 1.35927 1.3618158.7515964 0 1.35927-.6088118 1.35927-1.3618158v-3.2843792h2.8091581z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'instagram' -%}
  <svg height="23.612" viewbox="0 0 23.442 23.612" width="23.442" xmlns="http://www.w3.org/2000/svg">
    <path d="M.006,18.7,0,4.921A4.975,4.975,0,0,1,5.024.007L18.407,0a4.977,4.977,0,0,1,5.03,4.909l.005,13.782a4.976,4.976,0,0,1-5.023,4.915l-13.383.007A4.978,4.978,0,0,1,.006,18.7ZM5.025,2.03a2.95,2.95,0,0,0-3,2.89L2.03,18.7a2.951,2.951,0,0,0,3,2.888l13.383-.007a2.951,2.951,0,0,0,3-2.891L21.412,4.91a2.95,2.95,0,0,0-3-2.887ZM5.6,11.809a6.127,6.127,0,1,1,6.129,6.124A6.134,6.134,0,0,1,5.6,11.809Zm2.023,0a4.1,4.1,0,1,0,4.1-4.1A4.108,4.108,0,0,0,7.619,11.807Zm9.242-6.438A1.433,1.433,0,1,1,18.3,6.8,1.435,1.435,0,0,1,16.861,5.369Z" data-name="icono instagram" fill="#d48b80" id="icono_instagram"/>
  </svg>

{%- when 'pinterest' -%}
  <svg height="23.611" viewbox="0 0 18.887 23.611" width="18.887" xmlns="http://www.w3.org/2000/svg">
    <g data-name="icono pinterest" id="icono_pinterest" transform="translate(10.011)">
      <path d="M0,0C-6.656,0-10.012,4.624-10.011,8.476a7.745,7.745,0,0,0,.263,2.033A4.465,4.465,0,0,0-7.14,13.655a.486.486,0,0,0,.7-.34c.065-.238.217-.837.287-1.09a.645.645,0,0,0-.2-.754,3.579,3.579,0,0,1-.761-1.4A4.538,4.538,0,0,1-7.28,8.813a6.537,6.537,0,0,1,6.9-6.5c3.764,0,5.832,2.222,5.834,5.193a11.925,11.925,0,0,1-.258,2.5c-.585,2.719-2.121,4.708-4.179,4.709A2.12,2.12,0,0,1-1.2,12.108c.2-.818.491-1.668.739-2.466A8.711,8.711,0,0,0,.034,7.3,1.84,1.84,0,0,0-1.857,5.262c-1.5,0-2.7,1.5-2.7,3.509a5.437,5.437,0,0,0,.1,1.015,4.545,4.545,0,0,0,.354,1.133s-1.532,6.287-1.8,7.39a14.7,14.7,0,0,0-.039,5.153.188.188,0,0,0,.333.078A14.378,14.378,0,0,0-3.087,19.1c.171-.606.983-3.728.983-3.728A4.058,4.058,0,0,0,1.32,17.061c3.669,0,6.375-2.64,7.251-6.493a12.513,12.513,0,0,0,.305-2.8C8.875,3.741,5.352,0,0,0" data-name="Trazado 6" fill="#d48b80" id="Trazado_6"/>
    </g>
  </svg>


{%- when 'tumblr' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 30 30">
    <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm1.1783002-11.4407957v-4.4783544h3.1613924v-3.2363924h-3.1613924V6.42857143h-2.7094937c-.1253164 1.94449367-1.2170886 4.18993667-3.82594936 4.86759497v2.7846835h2.36962026v5.1431013c0 3.211519 1.9443038 4.5541139 4.5550633 4.5541139h2.8974683V20.36566h-1.5303797c-1.078481 0-1.7563291-.4640506-1.7563291-1.8064557z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'twitter' -%}
  <svg height="17.091" viewbox="0 0 21.354 17.091" width="21.354" xmlns="http://www.w3.org/2000/svg">
    <g data-name="icono twitter" id="icono_twitter" transform="translate(21.354 2.02)">
      <path d="M0,0A8.853,8.853,0,0,1-2.517.68,4.33,4.33,0,0,0-.591-1.708,8.851,8.851,0,0,1-3.373-.659a4.408,4.408,0,0,0-3.2-1.361A4.349,4.349,0,0,0-10.951,2.3a4.474,4.474,0,0,0,.112.983,12.5,12.5,0,0,1-9.034-4.5A4.266,4.266,0,0,0-20.466.945a4.3,4.3,0,0,0,1.952,3.589A4.417,4.417,0,0,1-20.5,4V4.05a4.206,4.206,0,0,0,.3,1.563A4.372,4.372,0,0,0-16.98,8.279a4.5,4.5,0,0,1-1.157.153,4.5,4.5,0,0,1-.824-.078,4.383,4.383,0,0,0,4.1,2.993,8.878,8.878,0,0,1-5.443,1.85,9.053,9.053,0,0,1-1.046-.06,12.561,12.561,0,0,0,6.718,1.934A12.2,12.2,0,0,0-2.47,5.4a11.762,11.762,0,0,0,.3-2.6c0-.186,0-.373-.012-.558A8.82,8.82,0,0,0,0,0" data-name="Trazado 5" fill="#d48b80" id="Trazado_5"/>
    </g>
  </svg>

{%- when 'vimeo' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 30 30">
    <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm8.4984219-19.7085695c.1279451-.72836318.1250897-1.47714262-.3181629-2.04341742-.6185142-.79416419-1.9349475-.82327113-2.836953-.68325434-.7336784.11394469-3.2153494 1.22469857-4.0598409 3.88418986 1.4961816-.1153242 2.2801678.1093924 2.1363146 1.7806273-.0605053.6992563-.4084451 1.4654171-.797039 2.1997121-.4488273.8465842-1.2904635 2.5091284-2.3938363 1.3107778-.9941912-1.07875-.9194093-3.1412042-1.1467463-4.5146103-.1264494-.7707131-.2603769-1.7311041-.5091967-2.52375087-.2144201-.68159897-.706349-1.50335268-1.3077313-1.681443-.6459796-.19271276-1.4445142.10801295-1.9134647.38832243-1.49332637.89031365-2.63137079 2.15722414-3.92319397 3.20231504v.0978048c.256026.2481677.32509728.6553889.70199801.7108439.8890887.1328435 1.73657149-.8407905 2.32775633.1721585.35963291.6189708.47194172 1.2976729.70213393 1.9647874.3078295.8887962.545228 1.8566364.797039 2.8782761.4258489 1.7311041.9494581 4.3176212 2.424157 4.9509385.7523059.3241768 1.88328-.1093924 2.4557014-.4538475 1.5509764-.9312841 2.7594518-2.281377 3.7938893-3.654921 2.3651473-3.2504588 3.6700233-6.9331072 3.8671755-7.9855093z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'youtube' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 30 30">
    <path d="M15 30c8.2842712 0 15-6.7157288 15-15 0-8.28427125-6.7157288-15-15-15C6.71572875 0 0 6.71572875 0 15c0 8.2842712 6.71572875 15 15 15zm7.6656364-18.7823145C23 12.443121 23 15 23 15s0 2.5567903-.3343636 3.7824032c-.184.6760565-.7260909 1.208492-1.4145455 1.3892823C20.0033636 20.5 15 20.5 15 20.5s-5.00336364 0-6.25109091-.3283145c-.68836364-.1807903-1.23054545-.7132258-1.41454545-1.3892823C7 17.5567903 7 15 7 15s0-2.556879.33436364-3.7823145c.184-.6761452.72618181-1.2085807 1.41454545-1.38928227C9.99663636 9.5 15 9.5 15 9.5s5.0033636 0 6.2510909.32840323c.6884546.18070157 1.2305455.71313707 1.4145455 1.38928227zm-9.302 6.103758l4.1818181-2.3213548-4.1818181-2.3215322v4.642887z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'linkedin' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 30 30">
    <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zM10.2456033 7.5c-.92709386 0-1.67417473.75112475-1.67417473 1.67662742 0 .92604418.74708087 1.67716898 1.67417473 1.67716898.9233098 0 1.6730935-.7511248 1.6730935-1.67716898C11.9186968 8.25112475 11.1689131 7.5 10.2456033 7.5zM8.80063428 21.4285714h2.88885682v-9.3037658H8.80063428v9.3037658zm4.69979822-9.3037658v9.3037658h2.8829104v-4.6015191c0-1.2141468.2292058-2.3898439 1.7309356-2.3898439 1.4811878 0 1.5001081 1.3879832 1.5001081 2.4667435v4.5246195H22.5V16.326122c0-2.5057349-.5400389-4.4320151-3.4618711-4.4320151-1.4044256 0-2.3466556.7711619-2.7315482 1.502791h-.0394623v-1.2720923h-2.7666859z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'snapchat' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 30 30">
    <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm.108159-7.5c1.0158803 0 1.6676384-.460207 2.2992458-.906347.4344332-.3067145.8448697-.5961158 1.3282714-.6766223.236284-.0390629.4714304-.0588649.6986682-.0588649.3891482 0 .6949848.0490721.9677785.1023644.1538392.0301899.2752313.0454472.3605471.0454472h.0200424c.1230172 0 .196145-.0548613.2304879-.1720501.0398141-.1350972.0687402-.2634856.0972871-.3942545.0785446-.3592493.1295716-.5305961.2612016-.5507768 1.611303-.2486611 2.0719538-.5870804 2.1741702-.8257864.0147881-.0339231.0232384-.0688201.0252968-.1035006.0050377-.0924093-.0602898-.1738897-.1517266-.1889846-2.4772443-.4077263-3.5866198-2.9346989-3.6327174-3.0419326-.0011375-.0031381-.0026543-.0060056-.0040085-.0089813-.1515099-.3069309-.1812485-.5730134-.0884033-.79116.1698189-.3999354.7238025-.5755563 1.0910665-.6919336.0900826-.0285668.1751816-.0555646.241755-.0816968.6423328-.2534222.7732586-.5109564.7700085-.6823031-.0034668-.181897-.1664064-.3560031-.415095-.44403l-.0053085-.0021641c-.0875909-.0365201-.1930574-.0566467-.2971155-.0566467-.0681443 0-.1681939.008873-.2583307.0509117-.3074617.143862-.5876223.221501-.8313816.2308068h-.0003792c-.3207872-.0122816-.4628176-.1488937-.4805308-.1669102.0082879-.1513825.0181466-.3095279.0283845-.4722181l.0030876-.0508035c.0738319-1.1683718.1654854-2.62251986-.2049745-3.45225589-1.1106214-2.48726036-3.4696695-2.68073558-4.1662794-2.68073558l-.0411682.00016231s-.2868776.00308392-.3046991.00308392c-.6949848 0-3.0488868.1930965-4.1589124 2.67900426-.3703516.8293032-.2789689 2.28215278-.2052453 3.45144438.0114296.1803821.0225883.3551915.0315804.5225887-.0189049.0194773-.17334.1679923-.5271701.1679923-.25605558 0-.55284604-.0780718-.88213773-.2321594-.05660632-.0264027-.12393805-.0399287-.20037013-.0399287-.27880644 0-.62359039.1795706-.67266726.4372129-.02870942.1512202.03217623.4479255.76421241.736948.06711506.0265109.15221413.0533464.24197171.0816968.36683062.116215.9210309.2919982 1.0909582.6919877.0927368.2182548.0630524.4845537-.0885117.7912682-.0013542.0029757-.0027085.0058432-.0039543.008819-.0460976.1073419-1.15644821 2.6350178-3.63255493 3.0423113-.09138264.0148785-.1569268.0964671-.15167243.1888223.00195007.0340854.01023788.0685495.02480927.1029054.10275808.2404374.56378812.5792895 2.17454941.8277883.13818443.0212087.18931971.2237193.26130994.5531033.0278969.1279555.05693134.2602393.09712453.3968514.04615176.1576585.15248497.1788672.25058454.1788672.0938744 0 .21743327-.0240762.36065539-.0520478.23568813-.0460424.55847958-.1091274.96767018-.1091274.2271836 0 .4622217.019802.6983432.0588649.4839434.0805065.8946507.3704488 1.3298964.6776502.6303074.4451121 1.2821738.9053191 2.2977291.9053191.0289261 0 .0579064-.0011903.0855325-.0033003h.0001083c.0433892.0020559.0868325.0033003.13098.0033003z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'email' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 28 28">
    <path d="M14 28C6.2680135 28 0 21.7319865 0 14S6.2680135 0 14 0s14 6.2680135 14 14-6.2680135 14-14 14zm-3.2379501-18h6.4759002L14 12.6982917 10.7620499 10zM19 11.1350416V18H9v-6.8649584l5 4.1666667 5-4.1666667zM21 8H7v12h14V8z"></path>
  </svg>

{%- when 'rss' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 30 30">
    <path d="M15 30c8.2842712 0 15-6.7157288 15-15 0-8.28427125-6.7157288-15-15-15C6.71572875 0 0 6.71572875 0 15c0 8.2842712 6.71572875 15 15 15zm-1.8733929-11.3828571c0 .9610714-.78 1.74-1.7416071 1.74-.9621429 0-1.74214286-.7789286-1.74214286-1.74 0-.9610715.77999996-1.74 1.74214286-1.74.9616071.0005357 1.7416071.7789285 1.7416071 1.74zm-3.48374996-6.735v2.5773214c3.24107146.0332143 5.87142856 2.6603571 5.90464286 5.8976786h2.5805357c-.0332143-4.6660715-3.8132143-8.4417858-8.48517856-8.475zm0-1.8042858C15.3107143 10.1025 19.9028571 14.6817857 19.9194643 20.3571429H22.5C22.4839286 13.2691071 16.7383929 7.52464286 9.64285714 7.5v2.5778571z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

  {%- comment -%} UI {%- endcomment -%}

{%- when 'up' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 330 330">
    <path d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394  l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393  C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z" id="XMLID_224_"/>
  </svg>

{%- when 'down' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 330 330">
    <path d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" id="XMLID_225_" xmlns="http://www.w3.org/2000/svg"/>
  </svg>

{%- when 'arrow-left' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 8 12" role="presentation">
    <path d="M6 10L2 6l4-4" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor"></path>
  </svg>

{%- when 'arrow-right' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 8 12" role="presentation">
    <path d="M2 2l4 4-4 4" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor"></path>
  </svg>

{%- when 'arrow-bottom' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 12 8" role="presentation">
    <path d="M10 2L6 6 2 2" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor"></path>
  </svg>

{%- when 'tail-right' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 24 24" role="presentation">
    <path d="M22.707 11.293L15 3.586 13.586 5l6 6H2c-.553 0-1 .448-1 1s.447 1 1 1h17.586l-6 6L15 20.414l7.707-7.707c.391-.391.391-1.023 0-1.414z" fill="currentColor"></path>
  </svg>

{%- when 'tail-left' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 24 24" role="presentation">
    <path d="M1.293 11.293L9 3.586 10.414 5l-6 6H22c.553 0 1 .448 1 1s-.447 1-1 1H4.414l6 6L9 20.414l-7.707-7.707c-.391-.391-.391-1.023 0-1.414z" fill="currentColor"></path>
  </svg>

{%- when 'search' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 21 21" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke-width="2" stroke="currentColor">
      <path d="M19 19l-5-5" stroke-linecap="square"></path>
      <circle cx="8.5" cy="8.5" r="7.5"></circle>
    </g>
  </svg>

{%- when 'hamburger' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 14" role="presentation">
    <path d="M0 12h20v2H0v-2zM0 0h20v2H0V0zm0 6h20v2H0V6z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'hamburger-mobile' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 16" role="presentation">
    <path d="M0 14h20v2H0v-2zM0 0h20v2H0V0zm0 7h20v2H0V7z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'cart' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 27 24" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke-width="2" stroke="currentColor" transform="translate(0 1)">
      <circle cx="11" cy="20" r="2" stroke-linecap="square"></circle>
      <circle cx="22" cy="20" r="2" stroke-linecap="square"></circle>
      <path d="M7.31 5h18.27l-1.44 10H9.78L6.22 0H0"></path>
    </g>
  </svg>

{%- when 'big-cart' -%}
  {% comment %}
  <svg height="70" viewbox="0 0 81 70" width="81">
    <g transform="translate(0 2)" stroke-width="4" stroke="{{ settings.heading_color }}" fill="none" fill-rule="evenodd">
      <circle cx="34" cy="60" r="6" stroke-linecap="square"></circle>
      <circle cx="67" cy="60" r="6" stroke-linecap="square"></circle>
      <path d="M22.9360352 15h54.8070373l-4.3391876 30H30.3387146L19.6676025 0H.99560547"></path>
    </g>
  </svg>
  {% endcomment %}

   <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 12 12">
  <style type="text/css">
      .st12 {
        fill: none;
        stroke: #7C0D33;
        stroke-width: 1.1227;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    </style>
  <path d="M1.167 4.18c0-.59.479-1.069 1.07-1.069h9.527c.59 0 1.07.48 1.07 1.07v8.555c0 .591-.48 1.07-1.07 1.07H2.236a1.07 1.07 0 01-1.07-1.07V4.181zm1.07-.096a.097.097 0 00-.098.097v8.555c0 .054.044.098.097.098h9.528a.097.097 0 00.097-.098V4.181a.097.097 0 00-.097-.097H2.236z"></path><path d="M4.646 2.84c-.446.972-.563 2.11-.563 2.702a.486.486 0 01-.972 0c0-.673.127-1.965.652-3.108C4.296 1.275 5.284.194 7 .194c1.716 0 2.704 1.081 3.237 2.24.525 1.143.652 2.435.652 3.108a.486.486 0 01-.972 0c0-.591-.117-1.73-.564-2.702C8.914 1.884 8.201 1.167 7 1.167c-1.201 0-1.914.717-2.354 1.673z">
  </path>
  </svg>

{%- when 'account' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 22" role="presentation">
    <path d="M10 13c2.82 0 5.33.64 6.98 1.2A3 3 0 0 1 19 17.02V21H1v-3.97a3 3 0 0 1 2.03-2.84A22.35 22.35 0 0 1 10 13zm0 0c-2.76 0-5-3.24-5-6V6a5 5 0 0 1 10 0v1c0 2.76-2.24 6-5 6z" fill="none" stroke-width="2" stroke="currentColor"></path>
  </svg>

{%- when 'heart' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 17 15" role="presentation">
    <path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path>
  </svg>

{%- when 'play' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 80 80" role="presentation">
    <circle cx="40" cy="40" r="40" fill="{{ settings.accent_color }}" fill-rule="evenodd"></circle>
    <path fill="{{ settings.secondary_background }}" fill-rule="nonzero" d="M54 40L32 53V27z"></path>
  </svg>

{%- when 'timer' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 20" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke="currentColor">
      <circle cx="10" cy="10" r="9"></circle>
      <path d="M10 6.02856445V10l3.0130615 2.0200195" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'zoom' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 10 10" role="presentation">
    <path d="M7.58801492 6.8808396L9.999992 9.292784l-.70716.707208-2.41193007-2.41199543C6.15725808 8.15916409 5.24343297 8.50004 4.25 8.50004c-2.347188 0-4.249968-1.902876-4.249968-4.2501C.000032 1.902704 1.902812.000128 4.25.000128c2.347176 0 4.249956 1.902576 4.249956 4.249812 0 .99341752-.34083418 1.90724151-.91194108 2.6308996zM4.25.999992C2.455064.999992.999992 2.454944.999992 4.24994c0 1.794984 1.455072 3.249936 3.250008 3.249936 1.794924 0 3.249996-1.454952 3.249996-3.249936C7.499996 2.454944 6.044924.999992 4.25.999992z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'newsletter' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 17" role="presentation">
    <path d="M19.1666667 0H.83333333C.37333333 0 0 .37995 0 .85v15.3c0 .47005.37333333.85.83333333.85H19.1666667c.46 0 .8333333-.37995.8333333-.85V.85c0-.47005-.3733333-.85-.8333333-.85zM7.20975004 10.8719018L5.3023283 12.7794369c-.14877889.1487878-.34409888.2235631-.53941886.2235631-.19531999 0-.39063998-.0747753-.53941887-.2235631-.29832076-.2983385-.29832076-.7805633 0-1.0789018L6.1309123 9.793l1.07883774 1.0789018zm8.56950946 1.9075351c-.1487789.1487878-.3440989.2235631-.5394189.2235631-.19532 0-.39064-.0747753-.5394189-.2235631L12.793 10.8719018 13.8718377 9.793l1.9074218 1.9075351c.2983207.2983385.2983207.7805633 0 1.0789018zm.9639048-7.45186267l-6.1248086 5.44429317c-.1706197.1516625-.3946127.2278826-.6186057.2278826-.223993 0-.447986-.0762201-.61860567-.2278826l-6.1248086-5.44429317c-.34211431-.30410267-.34211431-.79564457 0-1.09974723.34211431-.30410267.89509703-.30410267 1.23721134 0L9.99975 9.1222466l5.5062029-4.8944196c.3421143-.30410267.8950971-.30410267 1.2372114 0 .3421143.30410266.3421143.79564456 0 1.09974723z" fill="currentColor"></path>
  </svg>

{%- when 'close' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 19 19" role="presentation">
    <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'nav-triangle' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 9" role="presentation">
    <g fill-rule="evenodd" fill="none">
      <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="{{ settings.secondary_background }}"></path>
      <path d="M-.00922471 9C1.38887087 7.61849126 4.26661926 4.80337304 8.62402045.5546454c.75993175-.7409708 1.98812015-.7393145 2.74596565.0037073L19.9800494 9h-1.3748787l-7.9226239-7.7676545c-.3789219-.3715101-.9930172-.3723389-1.3729808-.0018557-3.20734177 3.1273507-5.6127118 5.4776841-7.21584193 7.05073579C1.82769633 8.54226204 1.58379521 8.7818599 1.36203986 9H-.00922471z" fill="{{ settings.border_color }}"></path>
    </g>
  </svg>

{%- when 'nav-triangle-borderless' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 20 9" role="presentation">
    <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="{{ settings.secondary_background }}"></path>
  </svg>

{%- when 'nav-triangle-left' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 9 20" role="presentation">
    <g fill="none">
      <path d="M9 19.52891062c-.26871321-.2694725-.56867841-.57077721-.89986354-.90388257-1.7387876-1.74886921-4.33675081-4.37290921-7.79359758-7.87182755-.4095171-.4145057-.40860098-1.0844277.00205122-1.4977971L9 .5064844v19.02242622z" fill="{{ settings.secondary_background }}"></path>
      <path d="M9 20.00922471c-1.38150874-1.39809558-4.19662696-4.27584397-8.4453546-8.63324516-.7409708-.75993175-.7393145-1.98812015.0037073-2.74596565L9 .0199506v1.3748787L1.2323455 9.3174532c-.3715101.3789219-.3723389.9930172-.0018557 1.3729808 3.1273507 3.20734177 5.4776841 5.6127118 7.05073579 7.21584193.26103645.26602774.50063431.50992886.71877441.73168421v1.37126457z" fill="{{ settings.border_color }}"></path>
    </g>
  </svg>

{%- when 'grid' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 18 18" role="presentation">
    <path d="M1 .030067h2c.55228475 0 1 .44771525 1 1v2c0 .55228475-.44771525 1-1 1H1c-.55228475 0-1-.44771525-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .44771525 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .4477153 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.5522847.44771525-1 1-1zm7-14h2c.5522847 0 1 .44771525 1 1v2c0 .55228475-.4477153 1-1 1H8c-.55228475 0-1-.44771525-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.5522847 0 1 .44771525 1 1v2c0 .5522847-.4477153 1-1 1H8c-.55228475 0-1-.4477153-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.5522847 0 1 .4477153 1 1v2c0 .5522847-.4477153 1-1 1H8c-.55228475 0-1-.4477153-1-1v-2c0-.5522847.44771525-1 1-1zm7-14h2c.5522847 0 1 .44771525 1 1v2c0 .55228475-.4477153 1-1 1h-2c-.5522847 0-1-.44771525-1-1v-2c0-.55228475.4477153-1 1-1zm0 7h2c.5522847 0 1 .44771525 1 1v2c0 .5522847-.4477153 1-1 1h-2c-.5522847 0-1-.4477153-1-1v-2c0-.55228475.4477153-1 1-1zm0 7h2c.5522847 0 1 .4477153 1 1v2c0 .5522847-.4477153 1-1 1h-2c-.5522847 0-1-.4477153-1-1v-2c0-.5522847.4477153-1 1-1z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'list' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 18 18" role="presentation">
    <path d="M8 1.030067h9c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1H8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 7h9c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1H8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 7h9c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1H8c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1zm-7-15h2c.55228475 0 1 .44771525 1 1v2c0 .55228475-.44771525 1-1 1H1c-.55228475 0-1-.44771525-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .44771525 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .4477153 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.5522847.44771525-1 1-1z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'filter' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 19 20" role="presentation">
    <path d="M17.0288086 4.01391602L11 9v7.0072021l-4 2.008545V9L1.01306152 4.01391602V1H17.0288086z" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor"></path>
  </svg>

{%- when 'lock' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 18 24" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor">
      <path d="M9.00000011 1.916667c-2.48888889 0-4.44444444 2.01666667-4.44444444 4.58333333v2.75h8.88888893v-2.75c0-2.56666666-1.9555556-4.58333333-4.44444449-4.58333333z"></path>
      <path d="M1.888889 9.25h14.222222v12.833333H1.888889z"></path>
      <ellipse cx="9" cy="14.75" rx="1.777778" ry="1.833333"></ellipse>
      <path d="M9.00000011 16.5833337v1.8333333"></path>
    </g>
  </svg>

{%- when 'lock-2' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 12 15" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor">
      <path d="M6 1C4.32 1 3 2.375 3 4.125V6h6V4.125C9 2.375 7.68 1 6 1zM1 6h10v8H1z"></path>
    </g>
  </svg>

{%- when 'search-loader' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 64 64" role="presentation">
    <path d="M23.8589104 1.05290547C40.92335108-3.43614731 58.45816642 6.79494359 62.94709453 23.8589104c4.48905278 17.06444068-5.74156424 34.59913135-22.80600493 39.08818413S5.54195825 57.2055303 1.05290547 40.1410896C-3.43602265 23.0771228 6.7944697 5.54195825 23.8589104 1.05290547zM38.6146353 57.1445143c13.8647142-3.64731754 22.17719655-17.89443541 18.529879-31.75914961-3.64743965-13.86517841-17.8944354-22.17719655-31.7591496-18.529879S3.20804604 24.7494569 6.8554857 38.6146353c3.64731753 13.8647142 17.8944354 22.17719655 31.7591496 18.529879z" opacity=".4"></path>
    <path d="M1.05290547 40.1410896l5.80258022-1.5264543c3.64731754 13.8647142 17.89443541 22.17719655 31.75914961 18.529879l1.5264543 5.80258023C23.07664892 67.43614731 5.54195825 57.2055303 1.05290547 40.1410896z"></path>
  </svg>

{%- when 'package' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 46 46" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke-width="2" stroke="currentColor">
      <path d="M11 8l24 14m10-6L25 28 1 14m24 14v16"></path>
      <path d="M45 16v14L25 44 1 30V14L21 2z" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'address' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 46 45" role="presentation">
    <g fill-rule="evenodd" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor" transform="translate(1 1)">
      <path d="M38 9.5L44 8v30l-16 4-12-4-16 4V12l6-1.5"></path>
      <path d="M32 10c0 6.172-10 16.25-10 16.25S12 16.172 12 10c0-6.328 5.168-10 10-10s10 3.672 10 10z"></path>
      <circle cx="22" cy="10" r="3"></circle>
    </g>
  </svg>

{%- when 'check' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 24 24" role="presentation">
    <path d="M9 20l-7-7 3-3 4 4L19 4l3 3z" fill="currentColor"></path>
  </svg>


{%- when 'check-2' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 13 11" role="presentation">
    <path d="M1 4.166456L5.317719 9 12 1" fill-rule="evenodd" fill="none" stroke-width="2" stroke="currentColor"></path>
  </svg>

{%- when 'minus' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 10 2" role="presentation">
    <path d="M10 0v2H0V0z" fill="currentColor"></path>
  </svg>

{%- when 'plus' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 10 10" role="presentation">
    <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill-rule="evenodd" fill="currentColor"></path>
  </svg>

{%- when 'cross-sold-out' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 14 14" role="presentation">
    <g fill-rule="nonzero" fill="none" stroke-linecap="square" stroke-width="2" stroke="currentColor">
      <path d="M11.89949494 2L2 11.89949494M1.99999906 2l9.89949494 9.89949494"></path>
    </g>
  </svg>

{%- when 'shopify-logo' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 150 43">
    <path d="M33.3 8.9s0-.2-.1-.3c-.1-.1-.2-.1-.2-.1l-3.4-.2-2.1-2.1c-.1-.1-.2-.1-.3-.1l-1.8 36.1L38 39.5 33.3 8.9zm-7.5-3l-.9.3c-.6-1.6-1.3-2.8-2.3-3.5-.7-.5-1.5-.7-2.3-.6l-.6-.6c-.9-.7-2.1-.9-3.6-.3C11.8 2.7 10 8.3 9.3 11l-3.8 1.1s-.9.2-1.1.5c-.2.3-.3 1-.3 1L.9 37.9l23.6 4.4L26.3 6c-.2-.2-.4-.1-.5-.1zm-5.7 1.7L16 8.9c.5-2.1 1.6-4.3 3.6-5.1.4 1 .5 2.5.5 3.8zm-3.5-5.2c.9-.3 1.6-.3 2.1 0-2.7 1.2-3.9 4.3-4.4 6.9l-3.3 1c.7-2.5 2.3-6.7 5.6-7.9zm2.3 17.9c-.2-.1-.4-.2-.7-.3-.3-.1-.5-.2-.8-.3-.3-.1-.6-.1-1-.2h-1.1c-.3 0-.6.1-.9.2-.3.1-.5.2-.7.4-.2.2-.3.4-.4.6-.1.2-.2.5-.2.7 0 .2 0 .4.1.6l.3.6.6.6c.2.2.5.4.8.6.5.3.9.6 1.4 1 .5.4.9.8 1.2 1.3.4.5.7 1 .9 1.7.2.6.3 1.3.3 2.1-.1 1.2-.3 2.3-.8 3.2-.4.9-1.1 1.6-1.8 2.1s-1.6.8-2.5.9c-.9.1-1.9.1-2.8-.2-.5-.1-.9-.3-1.3-.4l-1.2-.6c-.3-.2-.7-.4-.9-.6-.3-.2-.5-.4-.7-.7L7.8 30c.2.2.4.3.7.5.3.2.6.4.9.5.3.2.7.3 1 .5.4.1.7.2 1.1.3h.8c.2-.1.5-.2.6-.3.2-.1.3-.3.4-.5.1-.2.1-.4.2-.7 0-.2 0-.5-.1-.7-.1-.2-.2-.4-.3-.7-.1-.2-.3-.4-.6-.7-.2-.2-.5-.5-.9-.7-.4-.3-.8-.6-1.2-1-.3-.4-.7-.7-.9-1.2-.2-.4-.4-.9-.6-1.4-.1-.5-.2-1-.2-1.6 0-1 .2-1.8.6-2.6.3-.8.8-1.5 1.4-2.2.6-.6 1.3-1.2 2.2-1.6.9-.4 1.8-.7 2.9-.9.5-.1 1-.1 1.4-.1.5 0 .9 0 1.3.1s.8.1 1.1.2l.9.3-1.6 4.8zm2.6-13.1v-.5c0-1.3-.2-2.4-.5-3.2.3 0 .6.1.9.3.8.5 1.3 1.6 1.7 2.8l-2.1.6zM45.3 29.6c.9.5 2.5 1.1 4.1 1.1 1.4 0 2.2-.8 2.2-1.7 0-.9-.5-1.5-2.1-2.4-1.9-1.1-3.3-2.6-3.3-4.6 0-3.5 3-6 7.4-6 1.9 0 3.4.4 4.2.8l-1.2 3.5c-.7-.3-1.8-.7-3.1-.7-1.4 0-2.3.6-2.3 1.7 0 .8.7 1.4 1.9 2 2 1.1 3.6 2.6 3.6 4.7 0 4-3.2 6.2-7.7 6.1-2.1 0-4-.6-4.9-1.2l1.2-3.3zm12.4 4.5l4.9-25.2h5l-1.9 9.8h.1c1.3-1.6 3.1-2.7 5.3-2.7 2.6 0 4.1 1.7 4.1 4.5 0 .9-.1 2.2-.4 3.3l-2 10.3h-5l1.9-9.9c.1-.7.2-1.5.2-2.2 0-1.1-.4-1.8-1.6-1.8-1.6 0-3.3 2-4 5.3l-1.7 8.7h-4.9v-.1zM93.3 23c0 6.1-4 11.4-9.9 11.4-4.5 0-6.9-3.1-6.9-6.9 0-6 4-11.4 10-11.4 4.7 0 6.8 3.3 6.8 6.9zm-11.7 4.3c0 1.8.7 3.2 2.4 3.2 2.7 0 4.1-4.7 4.1-7.7 0-1.5-.6-3-2.4-3-2.6.1-4.1 4.7-4.1 7.5zm10.5 13.8L95.6 23c.4-2 .8-4.7 1-6.6h4.4l-.3 2.8h.1c1.3-1.9 3.3-3 5.3-3 3.7 0 5.2 2.9 5.2 6.3 0 6-3.9 12.1-9.7 12.1-1.2 0-2.4-.5-2.9-.5h-.1l-1.4 7h-5.1zm7.2-11.2c.5.4 1.2.7 2.1.7 2.8 0 4.7-4.6 4.7-7.8 0-1.3-.5-2.7-2-2.7-1.7 0-3.4 2-4 5.1l-.8 4.7zm12.2 4.2l3.4-17.7h5.1l-3.4 17.7h-5.1zm6.5-19.6c-1.4 0-2.4-1.1-2.4-2.6 0-1.6 1.3-2.9 2.9-2.9 1.5 0 2.5 1.1 2.5 2.6 0 1.8-1.4 2.9-3 2.9zm2.9 19.6l2.7-14h-2.3l.7-3.7h2.3l.1-.8c.4-2.1 1.2-4.2 2.9-5.6 1.3-1.1 3.1-1.6 4.9-1.6 1.2 0 2.1.2 2.7.4l-1 3.9c-.4-.1-.9-.3-1.6-.3-1.7 0-2.7 1.5-3 3.2l-.2.8h3.5l-.7 3.7h-3.5l-2.7 14h-4.8zm18-17.7l.8 7.9c.2 1.8.4 3.3.4 4.2h.1c.4-.9.8-2.3 1.5-4.2l3.1-7.9h5.2l-6.1 13.1c-2.2 4.5-4.3 7.7-6.6 9.9-1.8 1.7-3.9 2.5-4.9 2.7l-1.4-4.2c.8-.3 1.9-.7 2.8-1.4 1.2-.8 2.1-1.9 2.7-3 .1-.3.2-.5.1-1.9l-3-15.2h5.3z" fill="currentColor"></path>
  </svg>

{%- when 'sale' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 24 24">
    <path d="M22.707 12.293l-11-11A1.002 1.002 0 0 0 11 1H2a1 1 0 0 0-1 1v9c0 .265.105.52.293.707l11 11a.997.997 0 0 0 1.414 0l9-9a.999.999 0 0 0 0-1.414zM7 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 7 9zm6 8.414L8.586 13 10 11.586 14.414 16 13 17.414zm3-3L11.586 10 13 8.586 17.414 13 16 14.414z" fill="currentColor"></path>
  </svg>

{%- when 'hanni-cart' -%}
{% comment %}   <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 16 16">
    <style type="text/css">
      .st12 {
        fill: none;
        stroke: #7C0D33;
        stroke-width: 1.1227;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    </style>
    <g>
      <polyline class="st12" points="1.1,3.8 3.8,3.8 5.4,11.4 13.2,11.4 14.9,5.3 5.4,5.3"/>
      <circle class="st12" cx="7" cy="13.3" r="0.9"/>
      <circle class="st12" cx="11.9" cy="13.3" r="0.9"/>
    </g>
  </svg>  {% endcomment %}
  
   <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 14 14">
  <style type="text/css">
      .st12 {
        fill: none;
        stroke: #7C0D33;
        stroke-width: 1.1227;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    </style>
  <path d="M1.167 4.18c0-.59.479-1.069 1.07-1.069h9.527c.59 0 1.07.48 1.07 1.07v8.555c0 .591-.48 1.07-1.07 1.07H2.236a1.07 1.07 0 01-1.07-1.07V4.181zm1.07-.096a.097.097 0 00-.098.097v8.555c0 .054.044.098.097.098h9.528a.097.097 0 00.097-.098V4.181a.097.097 0 00-.097-.097H2.236z"></path><path d="M4.646 2.84c-.446.972-.563 2.11-.563 2.702a.486.486 0 01-.972 0c0-.673.127-1.965.652-3.108C4.296 1.275 5.284.194 7 .194c1.716 0 2.704 1.081 3.237 2.24.525 1.143.652 2.435.652 3.108a.486.486 0 01-.972 0c0-.591-.117-1.73-.564-2.702C8.914 1.884 8.201 1.167 7 1.167c-1.201 0-1.914.717-2.354 1.673z">
  </path>
  </svg>
  
{%- when 'hanni-account' -%}
  <svg class="{{ icon_class }}" role="presentation" viewbox="0 0 16 16">
    <style type="text/css">
      .st12 {
        fill: none;
        stroke: #7C0D33;
        stroke-width: 1.1227;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    </style>
    <g>
      <path class="st12" d="M4.4,5.5c0-2,1.6-3.6,3.6-3.6s3.6,1.6,3.6,3.6S10,9.1,8,9.1S4.4,7.5,4.4,5.5z"/>
      <path class="st12" d="M1.5,14.2c0,0,2.2-3.3,6.5-3.3s6.6,3.3,6.6,3.3"/>
    </g>
  </svg>

{%- when 'hanni-email' -%}
<svg class="{{ icon_class }}" role="presentation" viewBox="0 0 10 10">
  <style type="text/css">
    .st14{fill:none;stroke:#E64F50;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  </style>
	<g>
		<path class="st14" d="M14.1,3.5v7.9c0,0.6-0.5,1.1-1.1,1.1H3c-0.6,0-1.1-0.5-1.1-1.1V3.5L14.1,3.5z"/>
		<polyline class="st14" points="1.9,5.1 3.5,8.3 12.5,8.3 14.1,5.1 		"/>
		<line class="st14" x1="3.5" y1="10.4" x2="5.6" y2="8.3"/>
		<line class="st14" x1="12.5" y1="10.4" x2="10.4" y2="8.3"/>
	</g>
</svg>

  {%- comment -%} ICONS FOR COMPLYING WITH MEDIA API. COLORS OF THOSE ARE STANDARDIZED BY SHOPIFY {%- endcomment -%}

{%- when 'media-model-badge' -%}
  <svg role="presentation" viewbox="0 0 26 26">
    <path d="M1 25h24V1H1z" fill="{{ settings.secondary_background }}"></path>
    <path d="M.5 25v.5h25V.5H.5z" fill="none" stroke="{{ settings.text_color }}" stroke-opacity=".15"></path>
    <path d="M19.13 8.28L14 5.32a2 2 0 00-2 0l-5.12 3a2 2 0 00-1 1.76V16a2 2 0 001 1.76l5.12 3a2 2 0 002 0l5.12-3a2 2 0 001-1.76v-6a2 2 0 00-.99-1.72zm-6.4 11.1l-5.12-3a.53.53 0 01-.26-.38v-6a.53.53 0 01.27-.46l5.12-3a.53.53 0 01.53 0l5.12 3-4.72 2.68a1.33 1.33 0 00-.67 1.2v6a.53.53 0 01-.26 0z" fill="{{ settings.text_color }}" opacity=".6"></path>
  </svg>

{%- when 'media-view-in-space' -%}
  <svg role="presentation" viewbox="0 0 16 16">
    <path d="M14.13 3.28L9 .32a2 2 0 00-2 0l-5.12 3a2 2 0 00-1 1.76V11a2 2 0 001 1.76l5.12 3a2 2 0 002 0l5.12-3a2 2 0 001-1.76V5a2 2 0 00-.99-1.72zm-6.4 11.1l-5.12-3a.53.53 0 01-.26-.38V5a.53.53 0 01.27-.46l5.12-3a.53.53 0 01.53 0l5.12 3-4.72 2.68A1.33 1.33 0 008 8.42v6a.53.53 0 01-.26 0l-.01-.04z" fill="{{ settings.text_color }}" fill-rule="nonzero"></path>
  </svg>

{%- when 'media-video-badge' -%}
  <svg fill="none" role="presentation" viewbox="0 0 26 26">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 25h24V1H1v24z" fill="{{ settings.secondary_background }}"></path>
    <path d="M.5 25v.5h25V.5H.5V25z" stroke="{{ settings.text_color }}" stroke-opacity=".15"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.718 6.72a1 1 0 00-1.518.855v10.736a1 1 0 001.562.827l8.35-5.677a1 1 0 00-.044-1.682l-8.35-5.06z" fill="{{ settings.text_color }}" fill-opacity=".6"></path>
  </svg>

  {%- comment -%} TEXT WITH ICONS SECTION {%- endcomment -%}

{%- when 'bi-add-to-cart' -%}
  <svg role="presentation" viewbox="0 0 22 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path stroke="{{ settings.heading_color }}" d="M12 23H1V6h18v7"></path>
      <path d="M6 9V5c0-2.209 1.791-4 4-4s4 1.791 4 4v4" stroke="{{ settings.heading_color }}"></path>
      <path d="M18 17v6M15 20h6" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'bi-alert' -%}
  <svg role="presentation" viewbox="0 0 24 25">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M7.969 15.906l2.219 4.872c.362.811-.002 1.761-.813 2.123-.811.362-1.761-.002-2.123-.813l-4.177-9.237" stroke="{{ settings.heading_color }}"></path>
      <path d="M16 18l-8-5H4c-1.657 0-3-1.343-3-3s1.343-3 3-3h4l8-5v16z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
      <path d="M21 10h2M19.794 5.5l1.732-1M19.794 14.5l1.732 1" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'bi-chat' -%}
  <svg role="presentation" viewbox="0 0 24 23">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path stroke="{{ settings.accent_color }}" d="M23 5v13h-4v4l-6-4h-1"></path>
      <path stroke="{{ settings.heading_color }}" d="M19 1H1v13h4v5l7-5h7z"></path>
    </g>
  </svg>

{%- when 'bi-credit-card' -%}
  <svg role="presentation" viewbox="0 0 24 20">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M1 5h22M1 9h22M21 19H3c-1.105 0-2-.895-2-2V3c0-1.105.895-2 2-2h18c1.105 0 2 .895 2 2v14c0 1.105-.895 2-2 2z" stroke="{{ settings.heading_color }}"></path>
      <path d="M5 14h5M18 14h1" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'bi-comment' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 24 23" role="presentation">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M20.4 15.8C22 14.2 23 12.2 23 10c0-5-4.9-9-11-9S1 5 1 10s4.9 9 11 9c1.1 0 2.1-.1 3.1-.4L21 21l-.6-5.2z" stroke="{{ settings.heading_color }}"></path>
      <path d="M8 8h8m-8 4h5" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'bi-customer-support' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M10 17H4c-1.7 0-3 1.3-3 3v3h12v-3c0-1.7-1.3-3-3-3zM7 14c-1.7 0-3-1.3-3-3v-1c0-1.7 1.3-3 3-3s3 1.3 3 3v1c0 1.7-1.3 3-3 3z" stroke="{{ settings.heading_color }}"></path>
      <path stroke="{{ settings.accent_color }}" d="M13 1v10l4-3h6V1z"></path>
    </g>
  </svg>

{%- when 'bi-delivery' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M6.5 3.25l12 6" stroke="{{ settings.accent_color }}"></path>
      <path stroke="{{ settings.heading_color }}" d="M23 7l-10 5L1 6M13 12v11"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M23 7v10l-10 6-12-6V6l10-5z"></path>
    </g>
  </svg>

{%- when 'bi-ecology' -%}
  <svg role="presentation" viewbox="0 0 20 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M7 17l-2 2" stroke="{{ settings.accent_color }}"></path>
      <path d="M8 12c1.68-1.68 6-2 6-2s-.16 4.16-2 6c-1.96 1.96-5 1-5 1s-1-3 1-5z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M10 2l-9 8v13h18V10z"></path>
    </g>
  </svg>

{%- when 'bi-plant' -%}
  <svg role="presentation" viewbox="0 0 22 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M11 13V1M17 2h-1c-2.76142 0-5 2.23858-5 5v2h1c2.76142 0 5-2.23858 5-5V2z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      <path stroke="{{ settings.heading_color }}" d="M18 17v6H4v-6"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M1 13h20v4H1z"></path>
    </g>
  </svg>

{%- when 'bi-email' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 22 22" role="presentation">
    <g fill-rule="evenodd" fill="none">
      <path stroke="{{ settings.accent_color }}" d="M.916667 10.08333367l3.66666667-2.65833334v4.65849997zm20.1666667 0L17.416667 7.42500033v4.65849997z"></path>
      <path stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}" d="M4.58333367 7.42500033L.916667 10.08333367V21.0833337h20.1666667V10.08333367L17.416667 7.42500033"></path>
      <path stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}" d="M4.58333367 12.1000003V.916667H17.416667v11.1833333m-16.5-2.01666663L21.0833337 21.0833337m0-11.00000003L11.0000003 15.5833337"></path>
      <path d="M8.25000033 5.50000033h5.49999997M8.25000033 9.166667h5.49999997" stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'bi-fast-delivery' -%}
  <svg role="presentation" viewbox="0 0 24 22">
    <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M5 10H2M5 15H4" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      <path stroke="{{ settings.heading_color }}" d="M16.829 16H22v-6l-4-2-1-4H9v12h2.171"></path>
      <path d="M0 5h5" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M0 0h9v4"></path>
      <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="14" cy="17" r="3"></circle>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M13 7v2h2"></path>
    </g>
  </svg>

{%- when 'bi-gift-wrap' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M3 18l9-9M11.9999905 23.0000095l9.0000152-9.0000143M5 23L19 9" stroke="{{ settings.heading_color }}"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M21 9v14H3V9"></path>
      <path d="M6 3c0-1.1.9000001-2 2-2 3 0 4 4 4 4H8c-1.1000004 0-2-.9000001-2-2zM18 3c0-1.1-.8999996-2-2-2-3 0-4 4-4 4h4c1.1000004 0 2-.9000001 2-2z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M1 5h22v4H1z"></path>
    </g>
  </svg>

{%- when 'bi-gift-box' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path stroke="{{ settings.heading_color }}" d="M21 9v8h-3M5 14V9"></path>
      <path d="M7 3c0-1.1.9000001-2 2-2 3 0 4 4 4 4H9c-1.1000004 0-2-.9000001-2-2zM19 3c0-1.1-.8999996-2-2-2-3 0-4 4-4 4h4c1.1000004 0 2-.9000001 2-2zM3 5h20v4H3z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
      <path d="M14.1000004 17H19c2.3999996 0 3 2 3 2l-10.6000004 3.7999992C10.5999994 23 9.6999998 23 8.8999996 22.6999989L1 19.40625V14h4c1.5999999 0 3.1000004.6999998 4 2h3c1.5 0 3 1.5 3 3H8" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'bi-heart' -%}
  <svg role="presentation" viewbox="0 0 24 23">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M17 1c-2.1 0-3.9 1.1-5 2.7C10.9 2.1 9.1 1 7 1 3.7 1 1 3.7 1 7c0 6 11 15 11 15s11-9 11-15c0-3.3-2.7-6-6-6z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
      <path d="M16 5c1.65 0 3 1.35 3 3" stroke="{{ settings.accent_color }}" stroke-linecap="round"></path>
    </g>
  </svg>

{%- when 'bi-mobile-payment' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g fill-rule="evenodd" fill="none" transform="translate(1 1)">
      <circle fill="{{ settings.heading_color }}" fill-rule="nonzero" cx="6.5" cy="17.5" r="{{ stroke_width | default: 2 }}"></circle>
      <path d="M13 16v4c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h4" stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square"></path>
      <path stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square" d="M22 12H6V0h16zM6 4h16M12 8h-2"></path>
    </g>
  </svg>

{%- when 'bi-computer-payment' -%}
  <svg role="presentation" viewbox="0 0 25 24">
    <g fill-rule="evenodd" fill="none">
      <path d="M13.267 19.4h-9.2A3.067 3.067 0 0 1 1 16.333h12.267M3.3 13.267V2.533C3.3 1.686 3.986 1 4.833 1h15.334c.847 0 1.533.686 1.533 1.533V10.2M11.733 4.067h1.534" stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}"></path>
      <path stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" d="M16.333 17.867H24v5.367h-7.667zM17.867 17.867v-2.3a2.3 2.3 0 1 1 4.6 0v2.3"></path>
    </g>
  </svg>

{%- when 'bi-network' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M8.455 17.086L5.212 18.48C4.477 18.796 4 19.519 4 20.319V22h14v-1.681c0-.8-.477-1.523-1.212-1.838l-3.251-1.388" stroke="{{ settings.heading_color }}"></path>
      <circle stroke="{{ settings.accent_color }}" stroke-linecap="square" cx="11" cy="2" r="2"></circle>
      <circle stroke="{{ settings.accent_color }}" stroke-linecap="square" cx="20" cy="7" r="2"></circle>
      <circle stroke="{{ settings.accent_color }}" stroke-linecap="square" cx="2" cy="7" r="2"></circle>
      <path d="M11 18c-2.209 0-4-1.791-4-4v-1c0-2.209 1.791-4 4-4s4 1.791 4 4v1c0 2.209-1.791 4-4 4z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'bi-newsletter' -%}
  <svg role="presentation" viewbox="0 0 24 20">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path stroke="{{ settings.accent_color }}" d="M19 5l-7 7-7-7"></path>
      <path stroke="{{ settings.heading_color }}" d="M1 1h22v18H1z"></path>
      <path d="M7 13l-2 2M17 13l2 2" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'bi-returns' -%}
  <svg role="presentation" viewbox="0 0 23 24">
    <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path stroke="{{ settings.accent_color }}" d="M8 4h8v7"></path>
      <path stroke="{{ settings.accent_color }}" stroke-linecap="square" d="M11 7L8 4l3-3"></path>
      <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="6" cy="20" r="2"></circle>
      <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="18" cy="20" r="2"></circle>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M21 5l-2 10H5L3 0H0"></path>
    </g>
  </svg>

{%- when 'bi-secure-payment' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M1 5h22M1 9h22M9 17H3c-1.105 0-2-.895-2-2V3c0-1.105.895-2 2-2h18c1.105 0 2 .895 2 2v10M5 13h5" stroke="{{ settings.heading_color }}"></path>
      <path stroke="{{ settings.accent_color }}" d="M13 16h8v7h-8zM15 16v-2c0-1.1.9-2 2-2s2 .9 2 2v2M17 19v1"></path>
    </g>
  </svg>

{%- when 'bi-love' -%}
  <svg role="presentation" viewbox="0 0 24 22">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path stroke="{{ settings.heading_color }}" d="M5 6.1000004L1 9v12h22V9l-4-2.8999996M1 9l22 12M23 9l-11 6"></path>
      <path d="M13.8461533 1C13.0769224 1 12.3846149 1.3846154 12 2c-.3846159-.6153846-1.0769234-1-1.8461542-1C8.9230766 1 8 2 8 3.2307687c0 2.1538463 4 5.4615388 4 5.4615388s4-3.3076925 4-5.4615388C16 2 15.0769224 1 13.8461533 1z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'bi-phone' -%}
  <svg class="{{ icon_class }}" viewbox="0 0 24 24" role="presentation">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M17 15l-3 3-8-8 3-3-5-5-3 3c0 9.941 8.059 18 18 18l3-3-5-5z" stroke="{{ settings.heading_color }}"></path>
      <path d="M14 1c4.971 0 9 4.029 9 9m-9-5c2.761 0 5 2.239 5 5" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'bi-share' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M7.6 9.2l6.8-3.4M7.6 12.7l6.8 3.4" stroke="{{ settings.accent_color }}"></path>
      <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="4" cy="11" r="4"></circle>
      <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="18" cy="4" r="4"></circle>
      <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="18" cy="18" r="4"></circle>
    </g>
  </svg>

{%- when 'bi-shield' -%}
  <svg role="presentation" viewbox="0 0 22 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path d="M11 2v20M19.904 12H2.096" stroke="{{ settings.accent_color }}"></path>
      <path d="M11 2C8 4 4 5 1 5c0 7 3 14 10 17 7-3 10-10 10-17-3 0-7-1-10-3z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
    </g>
  </svg>

{%- when 'bi-shop' -%}
  <svg role="presentation" viewbox="0 0 22 24">
    <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
      <path stroke="{{ settings.accent_color }}" d="M9 17h4v6H9z"></path>
      <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M3 12v11h16V12M21 9c0 2-1.1 3-2.5 3S16 10.9 16 9.5c0 1.4-1.1 2.5-2.5 2.5S11 10.9 11 9.5c0 1.4-1.1 2.5-2.5 2.5S6 10.9 6 9.5C6 10.9 4.9 12 3.5 12S1 11 1 9l4-8h12l4 8z"></path>
    </g>
  </svg>

{%- when 'bi-shop-pin' -%}
  <svg role="presentation" viewbox="0 0 24 24">
    <g fill-rule="evenodd" fill="none" transform="translate(1 1)">
      <path d="M12.374 10.997C11.052 10.931 10 9.839 10 8.5 10 9.881 8.881 11 7.5 11S5 9.881 5 8.5C5 9.881 3.881 11 2.5 11S0 9.958 0 8l4-8h12l4 8M3 11v9h8" stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}"></path>
      <path d="M22 13c0 3.1-5 8.1-5 8.1s-5-5-5-8.1c0-3.2 2.6-5 5-5s5 1.8 5 5z" stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square"></path>
      <circle fill="{{ settings.accent_color }}" fill-rule="nonzero" cx="17" cy="13" r="1"></circle>
    </g>
  </svg>

{%- when 'bi-time' -%}
  <svg role="presentation" viewbox="0 0 20 24">
    <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path stroke="{{ settings.heading_color }}" d="M9 9v4h4"></path>
      <circle stroke="{{ settings.heading_color }}" cx="9" cy="13" r="9"></circle>
      <path d="M6 0h6M9 0v1" stroke="{{ settings.accent_color }}"></path>
    </g>
  </svg>

{%- when 'account-info' -%}
  <svg role="presentation" class="{{ icon_class }}" style="margin-top: 9px;" viewbox="0 0 17 17">
    <defs>
      <style>.cls-1{fill:none;stroke:#711b34;stroke-miterlimit:10;stroke-width:2px;}</style>
    </defs>
    <g data-name="announcement bar" id="announcement_bar"><path class="cls-1" d="M21.24,34.11a2.58,2.58,0,0,0,2.58-2.57V27.68L18.59,25.1,20,22.53V17.38a3.87,3.87,0,0,0-7.73,0v5.15L13.6,25.1,8.37,27.68v3.86A2.57,2.57,0,0,0,11,34.11Z"/><line class="cls-1" x1="31.54" x2="52.13" y1="18.67" y2="18.67"/><line class="cls-1" x1="31.54" x2="52.13" y1="26.39" y2="26.39"/><line class="cls-1" x1="31.54" x2="52.13" y1="34.11" y2="34.11"/><polyline class="cls-1" points="59.85 49.56 41.83 49.56 41.83 41.83 36.69 41.83 36.69 49.56 23.82 49.56 23.82 41.83 18.67 41.83 18.67 49.56 0.65 49.56 0.65 0.65 31.54 0.65 31.54 8.37 59.85 8.37 59.85 49.56"/></g>
  </svg>

{%- when 'account-history' -%}
  <svg role="presentation" class="{{ icon_class }}" style="margin-top: 2px;" viewbox="0 0 17 17">
    <defs>
      <style>.cls-1{fill:none;stroke:#711b34;stroke-miterlimit:10;stroke-width:2px;}</style>
    </defs>
    <g data-name="announcement bar" id="announcement_bar"><line class="cls-1" x1="42.68" x2="50.1" y1="32.79" y2="25.38"/><line class="cls-1" x1="42.68" x2="50.1" y1="25.38" y2="32.79"/><line class="cls-1" x1="8.07" x2="15.49" y1="47.63" y2="40.21"/><line class="cls-1" x1="8.07" x2="15.49" y1="40.21" y2="47.63"/><line class="cls-1" x1="25.38" x2="32.79" y1="47.63" y2="40.21"/><line class="cls-1" x1="25.38" x2="32.79" y1="40.21" y2="47.63"/><line class="cls-1" x1="25.38" x2="32.79" y1="32.79" y2="25.38"/><line class="cls-1" x1="29.09" x2="32.79" y1="29.09" y2="32.79"/><path class="cls-1" d="M40.21,13a2.48,2.48,0,0,0,4.95,0V3.12a2.48,2.48,0,0,0-4.95,0Z"/><line class="cls-1" x1="35.27" x2="40.21" y1="8.07" y2="8.07"/><polyline class="cls-1" points="45.16 8.07 57.52 8.07 57.52 57.52 57.52 57.52 0.65 57.52 0.65 30.32"/><rect class="cls-1" height="7.42" width="7.42" x="42.68" y="40.21"/><circle class="cls-1" cx="15.49" cy="15.49" r="14.84"/><line class="cls-1" x1="5.6" x2="15.49" y1="15.49" y2="15.49"/><line class="cls-1" x1="15.49" x2="15.49" y1="5.59" y2="15.48"/></g>
  </svg>

{%- when 'slider-next-arrow' -%}
  <svg role="presentation" class="{{ icon_class }}" viewbox="0 0 19.39 19.39">
    <defs>
      <style>.cls-1{fill:#fff;}</style>
    </defs>
    <g data-name="panel 4. producto" id="panel_4._producto">
      <path class="cls-1" d="M9.69,0,8.3,1.35l7.38,7.37H0v1.94H15.68L8.32,18l1.37,1.37,9.7-9.7Z" id="arrow_right"/>
    </g>
  </svg>

{%- endcase -%}