<div class="container">
  <div class="custome-wrapper-image-full">
    {%- if img_url != blank -%}
    <img src="{{ img_url }}" class="is-desktop" />
    {%- endif -%}
  </div>
</div>

{% if img_url_mobile != blank %}
  <div class="custome-wrapper-image-full container_mobile">
    <img src="{{ img_url_mobile }}" class="is-mobile">
  </div>
{% endif %}

{% style %}
  .is-mobile {
    display: none;
  }
  .custome-wrapper-image-full.container_mobile {
    margin: 0;
  }
@media (max-width: 1000px) {
  .custome-wrapper-image-full {
    margin: 0;
  }
  .is-desktop {
    display: none;
  }
  .is-mobile {
    display: block;
    margin: 0;
  }
}
{% endstyle %}