
<div class="custome-wrapper ctm-img-hh">
    <div class="custome-image">
      {% if video_url != blank %}
        <div class="is-desktop">
          {% render: 'video-vimeo', video_url: video_url, background: '1', class: class %}
        </div>
        {% if video_url_mobile != blank %}
          <div class="is-mobile">
            {%- assign mobile_class = class | append: '_mobile' -%}
            {% render: 'video-vimeo', video_url: video_url_mobile, background: '0', class: mobile_class %}
          </div>
        {%- endif -%}
      {%- elsif img_url != blank -%}
        <div class="new-video {{ product.handle }}">
          <div class="custome-image_wrapper">
          {% if product.handle == 'starter-set' %}
            <video width="700" height="400" loop="true" autoplay="autoplay" controls="controls" muted>
              <source src="{{ img_url }}#t=0.1" type="video/mp4">
            </video>
            
          {% else %}
            <img src="{{ img_url }}" /> 
          {% endif %}
     
             
          </div>
        </div>
      {%- endif -%}
    </div>
    <div class="custome-text jcc">
        {%- if custom_title != blank -%}
          <div class="custome-title font-title"
           {% unless styles == 'shave_pillow' %}
              style="padding: 0 0em 1em 0em;"
           {% endunless %}>
            {{ custom_title }}
          </div>
        {%- endif -%}
        {%- if custom_text != blank -%}
          <p style="font-weight: 400;margin-bottom: 1.5em;">{{ custom_text }}</p>
        {%- endif -%}
        {%- if custom_html != blank -%}
          <p style="font-weight: 400;margin-bottom: 1.5em;">
            {{ custom_html }}
          </p>
        {%- endif -%}
    </div>
</div>


{% style %}


  iframe::-webkit-media-controls { 
    display:none !important; 
  }
  iframe .player .vp-controls {
    display:none !important; 
  }
  .player .vp-controls .play-bar {
 display: none !important;
 }

 .custome-image_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.custome-text {
  align-items: center;
  margin-left: 40px;
}

.custome-wrapper .custome-text .custome-title {
  text-align: center;
  line-height: 1.1;
  margin-bottom: 0.35em;
}

.custome-image .is-mobile {
  display: none;
}

.custome-image .is-desktop {
  width: 100%;
}

@media (max-width: 1000px) {
  .custome-text {
    margin-left: 0;
  }

  .custome-image .is-mobile {
    display: block;
    width: 100%;
  }

  .custome-image .is-desktop {
    display: none;
  }
}
 

{% endstyle %}


{% if styles == 'shave_pillow'%}
  {% style %}
    .custome-text ol {
      font-weight: 400;
      line-height: 1.3;
    }

    .custome-text ol li {
      margin-bottom: 15px;
    }

    .custome-text ol::last-child {
      margin-bottom: 0;
    }

    .custome-text ol li::marker {
      font-weight: 700;
    }

    .custome-title {
      padding: 0;
    }

    @media(max-width: 450px) {
      .custome-text {
        padding: 70px 40px;
      }
      .custome-text ol li br {
        display: none;
      }
    }
  {% endstyle %}

{% endif %}

{% if styles == 'razor_blades'%}
  {% style %}
    .custome-title {
      padding: 0;
    }
  {% endstyle %}

{% endif %}