<div class="scroller is-desktop {% if class == 'starter-set' %}starter-set-order{% endif %}">
  <div class="scroller__inner">
    <div class="scroller__wrapper">
      <div class="scroller_wrapper-steps" style="align-items: center;">
        <div class="scroller_wrapper-step" style="max-width: 475px;">
          <img src="{{ img1 }}" alt="" style="max-width: 475px;">
        </div>
        <div class="scroller_wrapper-step" style="max-width: 475px;">
          <img src="{{ img2 }}" alt="" style="max-width: 475px;">
        </div>
        <div class="scroller_wrapper-step" style="max-width: 475px;">
          <img src="{{ img3 }}" alt="" style="max-width: 475px;">
        </div>
        <div class="scroller_wrapper-step scroller_wrapper-step-big" style="max-width: 640px;">
          <img src="{{ img4 }}" alt="" style="max-width: 640px;">
        </div>
        <div class="scroller_wrapper-step" style="max-width: 475px;">
          <img src="{{ img5 }}" alt="" style="max-width: 475px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="is-mobile {% if class == 'starter-set' %}starter-set-order{% endif %}">
  {% capture test %}{{img1}},{{img2}},{{img3}},{{img4}},{{img5}}{% endcapture %}
  {%- assign images = test | split: ',' -%}
  {% render 'slideshow-arrow', images: images, autoplay: true %}
</div>

{% style %}
.starter-set-order {
  padding-bottom: 80px;
}
{% endstyle %}