{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_condensed = true -%}
{%- else -%}
  {%- assign is_condensed = false -%}
{%- endif -%}

{%- assign downcase_title = mega_menu.title | downcase | strip -%}
{%- assign mega_menu_block = nil -%}

{%- for block in section.blocks -%}
  {%- assign downcase_block_menu_item = block.settings.menu_item | downcase | strip -%}

  {%- if downcase_block_menu_item == downcase_title -%}
    {%- assign mega_menu_block = block -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div id="dropdown-{{ index }}" style="background: rgba(255, 255, 255, {{ opacity | default: '1' }})" class="mega-menu {% if is_floating %}mega-menu--floating{% endif %}" data-type="menu" aria-hidden="true" {{ mega_menu_block.shopify_attributes }}>
  {%- capture mega_menu_inner -%}
    <div class="mega-menu__inner mega-menu__inner--large">
      {%- if mega_menu.links.size > 0 -%}
        {%- capture mega_menu_columns -%}
          {%- for link in mega_menu.links -%}
            <div class="mega-menu__column">
              <span class="mega-menu__title heading font-small font-title">
                {% unless link.url == '#' %}
                  <a href="{{ link.url }}">
                {% endunless %}
                  {{ link.title }}
                {% unless link.url == '#' %}
                  </a>
                {% endunless %}
              </span>

              {%- if link.links.size > 0 -%}
                <ul class="mega-menu__linklist">
                  {%- for sub_link in link.links -%}
                    <li class="mega-menu__item font-small font-menu">
                      <a href="{{ sub_link.url }}" class="mega-menu__link link">{{ sub_link.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endfor -%}
        {%- endcapture -%}

        {%- if mega_menu_block.settings.menu_image != blank -%}
            <div class="mega-menu__image-wrapper">
                <img class="lazyload image--blur-up" src="{{ mega_menu_block.settings.menu_image | img_url: '80x' }}" data-src="{{ mega_menu_block.settings.menu_image | img_url: '400x' }}" alt="{{ mega_menu_block.settings.menu_image.alt | escape }}">
            </div>
        {%- endif -%}

      <div class="mega-menu__column-ctm">
        {%- if is_floating -%}
          {%- comment -%}
          IMPLEMENTATION NOTE: 230 is the size in pixel of a given column (it's 170 + 60 of margin). In order to avoid setting it in JS or
                               having very complex HTML structure to achieve positioning, I used this trick.
          {%- endcomment -%}
          <div class="mega-menu__column-list" style="width: {{ 230 | times: mega_menu.links.size }}px">
            {{- mega_menu_columns -}}
          </div>
        {%- else -%}
          {{- mega_menu_columns -}}
        {%- endif -%}
      </div>
      
      {%- endif -%}
      {% if mega_menu_block.settings.show_button %}
        <div class="mega-menu__column" style="margin-left: 0;margin-top: 10px;">
          <a class="button-hanni-transparent small" href="{{- mega_menu_block.settings.link_button -}}">{{- mega_menu_block.settings.text_button | escape -}}</a>
        </div>
      {% endif %}
    </div>
  {%- endcapture -%}

  {%- if is_condensed -%}
    {{- mega_menu_inner -}}
  {%- else -%}
    <div class="container">
      {{- mega_menu_inner -}}
    </div>
  {%- endif -%}
</div>