{%- comment -%}
This snippet structures the micro-data using JSON-LD specification. Please note that for Product especially,
the schema often changes. We try to output as much info as possible, but Google may add new requirements over time,
or change the format of some info
{%- endcomment -%}


{%- if request.page_type == 'product' -%}
  {%- assign days_product_price_valid_until = 10 | times: 86400 -%}

  {%- assign gtin_option = 'gtin' -%}
  {%- if product.selected_or_first_available_variant.barcode != blank -%}
    {%- assign is_barcode_available = true -%}
    {%- assign gtin_string_length = product.selected_or_first_available_variant.barcode | size -%}

    {%- if gtin_string_length == 8 or gtin_string_length == 12 or gtin_string_length == 13 or gtin_string_length == 14 -%}
      {%- assign is_valid_gtin_length = true -%}
      {%- assign gtin_option = gtin_option | append: gtin_string_length -%}
    {%- endif -%}
  {%- endif -%}

  {%- capture main_entity_microdata -%}
    "@type": "Product",
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type": "Offer",
          "name": {{ variant.title | json }},
          "availability": {%- if variant.available -%}"https://schema.org/InStock"{%- else -%}"https://schema.org/OutOfStock"{%- endif -%},
          "price": {{ variant.price | divided_by: 100.0 | json }},
          "priceCurrency": {{ shop.currency | json }},
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: days_product_price_valid_until | date: '%Y-%m-%d'}}",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "url": "{{ request.path }}{{ variant.url }}"
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ],
    {%- if is_barcode_available and is_valid_gtin_length %}
      "{{gtin_option}}": {{ product.selected_or_first_available_variant.barcode | json }},
      "productId": {{ product.selected_or_first_available_variant.barcode | json }},
    {%- elsif is_barcode_available %}
      "mpn": {{ product.selected_or_first_available_variant.barcode | json }},
      "productId": {{ product.selected_or_first_available_variant.barcode | json }},
    {%- endif %}
    "brand": {
        "@type": "Brand",
        "name": "hanni"
      },
    "name": {{ product.title | json }},
    "description": {{ product.description | strip_html | json }},
    "category": {{ product.type | json }},
    "url": "{{ request.path }}{{ product.url }}",
    "sku": {{ product.selected_or_first_available_variant.sku | json }},
    "image": {
      "@type": "ImageObject",
      "url": "https:{{ product.featured_media | img_url: '1024x' }}",
      "image": "https:{{ product.featured_media | img_url: '1024x' }}",
      "name": {{ product.featured_media.alt | json }},
      "width": "1024",
      "height": "1024"
    }
  {%- endcapture -%}
{%- elsif request.page_type == 'article' -%}
  {%- capture main_entity_microdata -%}
    "@type": "BlogPosting",
    "mainEntityOfPage": "{{ article.url }}",
    "articleSection": {{ blog.title | json }},
    "keywords": "{{ article.tags | join: ', ' }}",
    "headline": {{ article.title | json }},
    "description": {{ article.excerpt_or_content | strip_html | truncatewords: 25 | json }},
    "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%T' }}",
    "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%T' }}",
    "dateModified": "{{ article.published_at | date: '%Y-%m-%dT%T' }}",
    "image": {
      "@type": "ImageObject",
      "url": "https:{{ article.image | img_url: '1024x' }}",
      "image": "https:{{ article.image | img_url: '1024x' }}",
      "name": {{ article.image.alt | json }},
      "width": "1024",
      "height": "1024"
    },
    "author": {
      "@type": "Person",
      "name": "{{ article.user.first_name | escape }} {{ article.user.last_name | escape }}",
      "givenName": {{ article.user.first_name | json }},
      "familyName": {{ article.user.last_name | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    },
    "commentCount": {{ article.comments_count }},
    "comment": [
      {%- for comment in article.comments limit: 5 -%}
        {
          "@type": "Comment",
          "author": {{ comment.author | json }},
          "datePublished": "{{ comment.created_at | date: '%Y-%m-%dT%T' }}",
          "text": {{ comment.content | json }}
        }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  {%- endcapture -%}
{%- endif -%}

{%- capture breadcrumb_entity_microdata -%}
  "@type": "BreadcrumbList",
  "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": {{ 'general.breadcrumb.home' | t | json }},
      "item": "{{ shop.url }}"
    }

    {%- if request.page_type == 'product' -%}
      {%- if collection -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ collection.title | json }},
          "item": "{{ shop.url }}{{ collection.url }}"
        }, {
          "@type": "ListItem",
          "position": 3,
          "name": {{ product.title | json }},
          "item": "{{ shop.url }}{{ product.url | within: collection }}"
        }
      {%- else -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ product.title | json }},
          "item": "{{ shop.url }}{{ product.url }}"
        }
      {%- endif -%}
    {%- elsif request.page_type == 'collection' -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ collection.title | json }},
          "item": "{{ shop.url }}{{ collection.url }}"
        }
    {%- elsif request.page_type == 'blog' -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ blog.title | json }},
          "item": "{{ shop.url }}{{ blog.url }}"
        }
    {%- elsif request.page_type == 'article' -%}
        ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ blog.title | json }},
          "item": "{{ shop.url }}{{ blog.url }}"
        }, {
          "@type": "ListItem",
          "position": 3,
          "name": {{ blog.title | json }},
          "item": "{{ shop.url }}{{ article.url }}"
        }
    {%- elsif request.page_type == 'page' -%}
       ,{
          "@type": "ListItem",
          "position": 2,
          "name": {{ page.title | json }},
          "item": "{{ shop.url }}{{ page.url }}"
        }
    {%- endif -%}
  ]
{%- endcapture -%}

{% if main_entity_microdata != blank %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    {{ main_entity_microdata }}
  }
  </script>
{% endif %}

{% if breadcrumb_entity_microdata != blank %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    {{ breadcrumb_entity_microdata }}
  }
  </script>

{% endif %}

 {%- comment -%}Logo for Google Structured Data{%- endcomment -%}   

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "organization",
      "name": "hanni",
      "description": "get ready for a whole new smooth. the hanni weighted razor offers women a whole new sustainable way to shave.",
      "url": "https://heyhanni.com",
      "logo": "https://cdn.shopify.com/s/files/1/0253/2176/6986/files/hanni_logo-01.png?v=1614761226",
      "sameAs": [
      	"https://www.instagram.com/hannismooth",
        "https://twitter.com/hannismooth1",
        "https://www.facebook.com/hanniskin",
        "https://www.linkedin.com/company/hanni"]
    }
    </script>  


    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "HowTo",
      "image": {
        "@type": "ImageObject",
        "url": "https://scontent-lga3-2.xx.fbcdn.net/v/t1.6435-9/169141262_4004003259645298_693630903895757390_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=9267fe&_nc_ohc=GReUoVSrRvgAX98XgAI&_nc_oc=AQmzwQL0FubxAC2SlUlH7ijztHT13BM4Sg9jRvbVPDm0IeLKTvoZu0cr_JZLbmYSJKg&_nc_ht=scontent-lga3-2.xx&oh=111e8b92330fb909223c39aed89459c3&oe=60CDFF53"
      },
      "name": "how to shave (with hanni)",
      "description": "the hanni weighted razor and shave pillow balm leave your skin super soft and allow you to go longer between shaves. shaving is simple, remember to apply no pressure.",
      
      "supply": [
        {
          "@type": "HowToSupply",
          "name": "skin"
        }, {
          "@type": "HowToSupply",
          "name": "the hanni weighted razor"
        }, {
          "@type": "HowToSupply",
          "name": "hanni swedish stainless steel blades"
        }, {
          "@type": "HowToSupply",
          "name": "hanni shave pillow"
        }
      ],
      "tool": [
        {
          "@type": "HowToTool",
          "name": "hanni hero holder"
        }
      ],
      "step":[
        {
          "@type": "HowToStep",
          "name": "step one",
          "text": "twist bottom of hanni razor to open clasp.",
          "image": "https://cdn.shopify.com/s/files/1/0253/2176/6986/files/01howtohanni_800x.png?v=1610406526",
          "url": "https://heyhanni.com/pages/how-to-hanni"
        }, {
          "@type": "HowToStep",
          "name": "step two",
          "text": "unwrap blade, hold by short end and place blade in razor. twist to close.",
          "image": "https://cdn.shopify.com/s/files/1/0253/2176/6986/files/02howtohanni_800x.png?v=1610406542",
          "url": "https://heyhanni.com/pages/how-to-hanni"
        }, {
          "@type": "HowToStep",
          "name": "step three",
          "text": "generously apply hanni shave pillow, and rub to activate.",
          "image": "https://cdn.shopify.com/s/files/1/0253/2176/6986/files/03howtohanni_800x.png?v=1610406557",
          "url": "https://heyhanni.com/pages/how-to-hanni"
        }, {
          "@type": "HowToStep",
          "name": "step four",
          "text": "glide the hanni weighted razor at 30 degree angle against skin.remember, apply no pressure.",
          "image": "https://cdn.shopify.com/s/files/1/0253/2176/6986/files/04howtohanni2-03_43473044-677a-4021-ba9b-f57a7d006471_1200x.png?v=1616429946",
          "url": "https://heyhanni.com/pages/how-to-hanni"
          }
      ]
    }
    </script>

 <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "hanni | no pressure",
      "description": "it's not just the way we shave, it's the way we live our lives. no pressure.",
      "thumbnailUrl": [
        "https://i9.ytimg.com/vi/LfVg7-MIWUI/mq3.jpg?sqp=CNTJp4UG&rs=AOn4CLCUC_IPItlq3P0-vDLPQ5YZgFj0sw"
       ],
      "uploadDate": "2011-05-11",
      "contentUrl": "https://www.youtube.com/watch?v=LfVg7-MIWUI",
      "regionsAllowed": "US"
    }
     </script>

 <script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "hanni | frequently asked questions",
      "description": "curious about hanni shave? here's a candid look at some of our most frequently asked questions",
      "thumbnailUrl": [
        "https://i9.ytimg.com/vi/hCPaj7lO53Q/mq1.jpg?sqp=CIDMp4UG&rs=AOn4CLB-9s28EQrRXQ-eS8Jv-pYUm0B1PA"
       ],
      "uploadDate": "2011-05-11",
      "contentUrl": "https://www.youtube.com/watch?v=hCPaj7lO53Q",
      "regionsAllowed": "US"
    }
     </script>
