<div class="fixed">
  <form method="post" action="{{ routes.cart_url }}" id="mini-cart" class="mini-cart" aria-hidden="true" novalidate="novalidate" data-item-count="{{ cart.item_count }}">
    <input name="attributes[collection_products_per_page]" type="hidden" value="">
    <input name="attributes[collection_layout]" type="hidden" value="">

    {%- if cart.item_count == 0 -%}
        <div class="mini-cart__content mini-cart__content--empty">
          <div class="mini-cart__empty-state">
            {%- render 'icon', icon: 'big-cart' -%}
            <p class="heading h4">{{ 'cart.general.empty' | t }}</p>
          </div>

          <a href="{{ settings.cart_empty_button_link }}" class="button button--primary button--full">{{ 'cart.general.empty_button' | t }}</a>
        </div>
    {%- else -%}
      <div class="mini-cart__inner">
        <div class="mini-cart__content">
          <div class="mini-cart__header">
            <h1>{{ 'cart.general.title' | t }}</h1>
            <div class="cart-cross" data-action="toggle-mini-cart" aria-label="close cart"></div>
          </div>
          <div class="mini-cart__line-item-list">
            {%- for line_item in cart.items -%}
              <div class="mini-cart__line-item">
                <div class="mini-cart-prod">
                <div class="mini-cart__image-wrapper">
                  <div class="aspect-ratio aspect-ratio--square">
                    <img src="{{ line_item.image | img_url: '280x' }}" alt="{{ line_item.image.alt | escape }}">
                  </div>
                </div>

                <div class="mini-cart__item-wrapper">
                  <div class="mini-cart__product-info">
                    {%- unless line_item.product.tags contains '__gift' -%}
                      {%- if settings.show_vendor -%}
                        {%- assign vendor_handle = line_item.product.vendor | handle -%}
                        {%- assign collection_for_vendor = collections[vendor_handle] -%}

                        {%- unless collection_for_vendor.empty? -%}
                          <a class="mini-cart__product-vendor link" href="{{ collection_for_vendor.url }}">{{ line_item.product.vendor }}</a>
                        {%- else -%}
                          <a class="mini-cart__product-vendor link" href="{{ line_item.product.vendor | url_for_vendor }}">{{ line_item.product.vendor }}</a>
                        {%- endunless -%}
                      {%- endif -%}
                    {%- endunless -%}

                    <a href="{{ line_item.url }}" class="mini-cart__product-title text--strong link">{{ line_item.product.title }}</a>
                    <div class="mini-cart__flex">
                      {%- unless line_item.properties == blank -%}
                        <ul class="mini-cart__property-list">
                          {%- for property in line_item.properties -%}
                            {%- assign first_character_in_key = property.first | truncate: 1, '' -%}

                            {%- if property.last == blank or first_character_in_key == '_' -%}
                              {%- continue -%}
                            {%- endif -%}

                            <li class="mini-cart__property">{{ property.first }}:
                              {{ property.last }}</li>
                          {%- endfor -%}
                        </ul>
                      {%- endunless -%}

                      {%- comment -%}If we have a Shopify Script, we use the reduced price here, otherwise we check the compare at price{%- endcomment -%}

                      <div class="mini-cart__price-list">
                        {%- if line_item.final_line_price < line_item.original_line_price -%}
                          <span class="price price--highlight" data-money-convertible>{{ line_item.final_line_price | money }}</span>
                          <span class="price price--compare" data-money-convertible>{{ line_item.original_line_price | money }}</span>
                        {%- elsif line_item.variant.compare_at_price > line_item.variant.price -%}
                          <span class="price price--highlight" data-money-convertible>{{ line_item.final_line_price | money }}</span>
                          <span class="price price--compare" data-money-convertible>{{ line_item.variant.compare_at_price | times: line_item.quantity | money }}</span>
                        {%- else -%}
                          <span class="price" data-money-convertible>{{ line_item.final_line_price | money }}</span>
                        {%- endif -%}
                      </div>

                      {%- if line_item.unit_price_measurement -%}
                        <div class="mini-cart__price-info">
                          <div class="unit-price-measurement">
                            <span class="unit-price-measurement__price" data-money-convertible>{{ line_item.unit_price | money_without_trailing_zeros }}</span>
                            <span class="unit-price-measurement__separator">/
                            </span>

                            {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                              <span class="unit-price-measurement__reference-value">{{ line_item.unit_price_measurement.reference_value }}</span>
                            {%- endif -%}

                            <span class="unit-price-measurement__reference-unit">{{ line_item.unit_price_measurement.reference_unit }}</span>
                          </div>
                        </div>
                      {%- endif -%}

                      {%- if line_item.line_level_discount_allocations != blank -%}
                        <ul class="mini-cart__discount-list">
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <li class="mini-cart__discount">
                              {%- render 'icon', icon: 'sale' -%}{{ discount_allocation.discount_application.title }}
                              (-{{ discount_allocation.amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      {%- comment -%}If the product has the tag "__gift", we remove the price{%- endcomment -%}

                      {%- unless line_item.product.tags contains '__gift' -%}
                        <div class="mini-cart__quantity">
                          <div class="quantity-selector">
                            {%- assign allow_to_add_more = true -%}

                            {%- if line_item.variant.inventory_management and line_item.variant.inventory_policy == 'deny' and line_item.quantity == line_item.variant.inventory_quantity -%}
                              {%- assign allow_to_add_more = false -%}
                            {%- endif -%}
                            <div class="line-item__quantity__container">
                              <button class="quantity-selector__button line-item__quantity__button line-item__quantity__button-down" data-action="decrease-quantity" data-quantity="{{ line_item.quantity | minus: 1 }}" data-line-id="{{ line_item.key }}" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">{% render 'icon', icon: 'minus' %}</button>
                              <input aria-label="{{ 'product.form.quantity' | t }}" class="quantity-selector__value line-item__quantity" pattern="[0-9]*" data-current-value="{{ line_item.quantity }}" data-line-id="{{ line_item.id }}" value="{{ line_item.quantity }}" size="{{ line_item.quantity | append: '' | size | at_least: 2 }}">
                              <button class="quantity-selector__button line-item__quantity__button line-item__quantity__button-up" data-action="increase-quantity" data-quantity="{{ line_item.quantity | plus: 1 }}" data-line-id="{{ line_item.key }}" {% if allow_to_add_more %} aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}" {% else %} disabled="disabled" aria-label="{{ 'cart.items.no_more_stock' | t }}" data-tooltip="{{ 'cart.items.no_more_stock' | t }}" data-tooltip-position="bottom-left" {% endif %}>{% render 'icon', icon: 'plus' %}</button>
                            </div>
                          </div>
                        </div>
                      {%- endunless -%}
                    </div>
                  </div>
                </div>
                </div>
              
                {% for tag in line_item.product.tags %}   
                      
                {%- if tag contains 'upsell' -%}
                {% assign cartvariant = line_item.variant.title %}
                <div class="upsell-product cart-details ctm-upshell-box" id="ctm-upshell-box"> 
                    <div class="ctm_upsell_top">
                      <div class="upsell_title">save 31% with the set</div>
                      <div class="cart-cross" id="close_up_product"></div>
                    </div>
                    {% assign product_handle = tag | remove_first: 'upsell_'%}
                    {% assign product = all_products[product_handle] %}
                   
                    {% for variant in product.variants %} 
                    {% if variant.title == cartvariant %}
                    <div class="upsell_content">
                      <div class="img_price_wrapper">
                          <div class="cart-item__thumbnail"><img src="{{ variant.featured_image.src | img_url: '280x' }}"></div>
                      </div>
    
                      <div class="cart-item__meta related-products">
                          <h5 class="text-orange mb-2">{{ product.title }}</h5>
                          <div class="mini-cart__price-list"><span class="price price--highlight" data-money-convertible="">{{ variant.price | money }}</span>
                            <span class="price price--compare" data-money-convertible="">{{ variant.compare_at_price | money}}</span></div>
                          <div class="custom-submit-button two-cans" name="id" data-quantity="1" data-id="{{ variant.id }}" data-key="{{ line_item.key }}">Upgrade me</div>
                          <!-- {%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}
                          {%- form 'product', product, id: form_id, class: product_form_classes -%}
                            <input type="hidden" name="quantity" value="1">
                            <input name="id" value="{{ variant.id }}" type="hidden" />
                            <input name="add" value="ORDER NOW" type="submit"/>
                            {%- endform -%} -->
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {%- endif -%}
                {% endfor %}
              </div>
              
                
            {%- endfor -%}
          </div>
        </div>

        <div class="mini-cart__recap">
          {%- if cart.cart_level_discount_applications != blank -%}
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <div class="mini-cart__recap-price-line mini-cart__recap-price-line--highlight text--pull">
                <span>{{ discount_application.title }}</span>
                <span>-{{ discount_application.total_allocated_amount | money }}</span>
              </div>
            {%- endfor -%}
          {%- endif -%}
		<div class="cart-recap__price-line" data-tbnadhide='NO_DISCOUNT' style='display:none;'>
            <span class="mini-cart__recap-subtotal">discount</span>
             <span class="mini-cart__recap-price"> {%- render 'icon', icon: 'sale' -%}<span data-tbnadfield='CART_DISCOUNT'></span></span>
          </div>
          <div class="cart-recap__price-line" data-tbnadhide='HAS_DISCOUNT' style='display:none;'>
            <span class="mini-cart__recap-subtotal">{{ 'cart.general.total' | t }}</span>
            <span class="mini-cart__recap-price" data-money-convertible>{{ cart.total_price | money }}</span>
          </div>
          
          <div class="cart-recap__price-line" data-tbnadhide='NO_DISCOUNT' style='display:none;'>
            <span class="mini-cart__recap-subtotal">subtotal</span>
             <span class="mini-cart__recap-price"><span data-tbnadfield='CART_TOTAL'></span></span>
          </div>

          {%- comment -%}To calculate the total discount, we take both into account the Shopify Script (for Plus merchants), but we also add the compare at price{%- endcomment -%}

          {%- assign total_discount = 0 -%}

          {%- for line_item in cart.items -%}
            {%- if line_item.final_line_price < line_item.original_line_price -%}
              {%- assign total_discount = total_discount | plus: line_item.total_discount -%}
            {%- elsif line_item.variant.compare_at_price > line_item.variant.price -%}
              {%- assign line_discount = line_item.variant.compare_at_price | minus: line_item.variant.price | times: line_item.quantity -%}
              {%- assign total_discount = total_discount | plus: line_discount -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if total_discount > 0 -%}
            {%- capture amount_saved -%}
              <span data-money-convertible>{{ total_discount | money }}</span>
            {%- endcapture -%}
            <span class="mini-cart__amount-saved">{{ 'cart.general.amount_saved_html' | t: amount_saved: amount_saved }}</span>
          {%- endif -%}
          <div class="mini-cart__disclousure">
            <span>{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}</span>
          </div>
          <div class="mini-cart__button-container">
            <div class="button-group">
              <a href="{{ routes.cart_url }}" class="button-hanni-primary full">{{ 'cart.general.view_cart' | t }}</a>
              <button class="button-hanni-primary full" name="checkout" type="submit">{{ 'cart.general.checkout' | t }}</button>
            </div>
          </div>

          {%- if settings.hide_express_checkout_buttons -%}
            {%- comment -%}
              By showing the div in the cart but hiding it in CSS, the express checkout buttons are hidden from the first step of the checkout, and
              are rather deferred to the payment step. This is a hacky trick, but it is often requested by merchants.
            {%- endcomment -%}

            {%- if additional_checkout_buttons -%}
              <div class="additional-checkout-buttons" style="display: none !important">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </form>
</div>
{% style %}
.header__action-item--cart {
  position: static!important;
}
.header__cart-count {
  color: #6a1a31!important;
  z-index: 0;
  transform: none!important;
}

.fixed {
  position: fixed;
  top: -14px;
  right: 0;
}

.mini-cart {
  z-index: 2;
  background: #FDEAEA;
  width: 100vw !important;
  max-width: 525px !important;
  height: 100vh !important;
  right: 0 !important;
  left: unset;
  border-radius: 0;
}
.mini-cart__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mini-cart__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 32px;
  font-weight: bolder;
  margin: 2em 1em 1em 1em;
}

.mini-cart__content {
  flex: 1;
}

.mini-cart__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 1em;
}

.mini-cart__image-wrapper {
  width: 120px;
  min-width: 120px;
}

.mini-cart__line-item {
  align-items: center;
}

.mini-cart__line-item-list {
  padding: 0 2.8em!important;
}

.mini-cart__product-info {
  flex: 1;
}

.mini-cart__item-wrapper {
  flex: 1;
}

.mini-cart__product-title {
  font-size: 16px!important;
}

.mini-cart__price-list>.price {
  font-size: 20px!important;
  font-weight: 500;
}

.mini-cart__recap {
  padding: 2em 2.5em!important;
  padding-top: 0!important;
}

.mini-cart__recap-subtotal {
  font-size: 18px;
  font-weight: 500;
}

.mini-cart__recap-price {
  font-size: 22px;
  font-weight: 500;
}

.mini-cart__disclousure {
  color: #606060;
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}
.mini-cart__button-container {
  margin-top: 10px!important;
}

.button {
  border-radius: 0;
  width: 100%;
  background: #6a1a31;
  color: white;
}

.button:hover {
  background: #FF5859
}

.icon--minus,.icon--plus {
  width: 10px;
  height: 10px;
}
.line-item__quantity__container {
  position: relative;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 45px;
  width: 100%;

}

.line-item__quantity {
  flex: 1;
  height: 45px;
  margin: 0!important;
  padding: 0 0.1em ;
  border: 1px solid #6a1a31;
  background: transparent!important;
  border-right: 0;
  border-left: 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.line-item__quantity__button-up {
  top: -3px;
}

.line-item__quantity__button-down {
  bottom: 0;
}

.quantity-selector {
  box-shadow: none;
}

.quantity-selector__button {
  display: unset!important;
  padding: 0 !important;
  color: #6a1a31 !important;
  flex: 0 auto;
  height: 45px;
  width: 35px;
  position: static;
  display: inline-block;
  border: 1px solid #6a1a31;
}

.cart-cross {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
}

.cart-cross:after,
.cart-cross:before {
  content: '';
  top: 0;
  right: 8px;
  width: 2px;
  height: 20px;
  background: #D8404A;
  position: absolute;
}

.cart-cross:hover:after, .cart-cross:hover:before {
  background: #6a1a31;
}

.cart-cross:after {
  transform: rotate(45deg);
}

.cart-cross:before {
  transform: rotate(-45deg);
}

@media (max-width: 640px) {
  .fixed {
    top: 0;
    left: 0;
  }

  .mini-cart {
    left: 0;
    max-width: unset!important;
    max-height: 100vh!important;
  }
}

@media (max-width: 400px) {

  .mini-cart__image-wrapper {
    width: 80px;
    min-width: 80px;
  }
  .mini-cart__line-item-list {
    padding: 0 1em!important;
  }
  .mini-cart__header {
    margin-top: 0.5em;
    padding: 0!important;
  }
  .mini-cart__recap {
    padding: 1em!important;
  }
}
{% endstyle %}