{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}

<div id="mobile-menu" class="mobile-menu" aria-hidden="true">
  <div class="mobile-menu__inner">
    <div class="mobile-menu__panel">
      <div class="mobile-menu__section">
        
        <ul class="mobile-navmenu">
        {%- for link in menu.links  -%}
        <li class="parent-menu {% if link.links != blank %}menu-icondrop{% endif %} {% if link.active %}{% endif %} ctm-mobi-mega-{{ forloop.index }}">  
          <a class="{% if link.links != blank %}drops-icon{% endif %}" href="{{ link.url }}"  {% if link.links != blank %} {% endif %}{% if link.current %}{% endif %}  {% if link.links != blank %}{% endif %} {% if link.current %} {% endif %}>
            {{ link.title | escape }} 
          </a>
          {% if link.links != blank %}
            <button class="menu-arrow">
              <i class="far fa-angle-down"></i>
            </button>
          {% endif %}
          
          {% if link.links != blank %}
          <ul class="sub-menu">
            {% for child_link in link.links %}  
            <li class="menu-icondrop {% if child_link.links != blank %}submenu-icondrop{% endif %}">
                <a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                {% if child_link.links != blank %}
                <button class="menu-arrow">
                <i class="far fa-angle-down"></i>
                </button>
            {% endif %}
              
              {% if child_link.links != blank %}
              <ul class="sub-menu">
                {% for grandchild_link in child_link.links %}  
                <li><a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}  
              
            </li >
            {% endfor %}
          </ul> 
          {% endif %} 
        </li>
           
        {%- endfor -%}
        {% for second_link in second_menu.links %}
            <li class="mobile-menu__nav-item font-menu">
              <div class="mobile-menu__nav-list-item">
                <a href="{{ second_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ second_link.title }}</a>
              </div>
            </li>
          {% endfor %}
      </ul>             

      </div>

      {%- if section.settings.navigation_phone_number != blank or section.settings.navigation_email != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          {%- if section.settings.navigation_email != blank -%}
            <div class="mobile-menu__help-wrapper">
              {%- render 'icon', icon: 'hanni-email' -%}
              <a class="font-pink2" href="mailto:{{ section.settings.navigation_email }}">{{ section.settings.navigation_email | escape }}</a>
              {% style %}
                .icon--hanni-email {
                  width: 20px;
                  height: 20px;
                  margin: 0 30px 10px 0;
                }
                .mobile-menu__help-wrapper svg path{
                  stroke: #e64f50;
                }
              {% endstyle %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- capture social_media -%}{% render 'social-media', show_social_media_name: false %}{%- endcapture -%}

      {%- if section.settings.show_navigation_social_media and social_media != blank -%}
        <div class="mobile-menu__section mobile-menu__section--loose flex-row" style="align-items: center;">
          <p class="font-lightpink" style="margin-right: 1em; line-height: 1.2; min-width: 75px;">
            follow us
          </p>
          {{- social_media -}}
        </div>
      {%- endif -%}

      {%- if settings.currency_conversion_enabled or shop.enabled_currencies.size > 1 -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <div class="mobile-menu__currency-selector">
            <label for="mobile-currency-selector">{{ 'header.general.currency' | t }}:</label>

            <div class="select-wrapper select-wrapper--transparent">
              {%- comment -%}If shop supports Shopify native multiple currencies, use them instead{%- endcomment -%}

              {%- if shop.enabled_currencies.size > 1 -%}
                {%- form 'currency', id: 'mobile_currency_form', class: 'currency-selector__form' -%}
                  <select id="mobile-currency-selector" class="currency-selector" name="currency" title="{{ 'header.general.currency' | t | escape }}" onchange="this.form.submit()">
                    {%- for currency in shop.enabled_currencies -%}
                      <option value="{{ currency.iso_code }}" {% if cart.currency == currency %}selected="selected"{% endif %}>{{ currency.iso_code }}</option>
                    {%- endfor -%}
                  </select>
                {%- endform -%}
              {%- else -%}
                <select id="mobile-currency-selector" class="currency-selector" title="{{ 'header.general.currency' | t | escape }}">
                  {%- capture codes -%}USD,EUR,GBP,CAD,ALL,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,BWP,MKD,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ILS,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK{%- endcapture -%}
                  {%- assign supported_codes = settings.currency_conversion_supported_currencies | remove_first: shop.currency | upcase | split: ' ' | uniq -%}

                  <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>

                  {%- for code in supported_codes -%}
                    {%- if codes contains code -%}
                      <option value="{{ code }}">{{ code }}</option>
                    {%- endif -%}
                  {%- endfor -%}
                </select>
              {%- endif -%}

              {%- render 'icon', icon: 'arrow-bottom' -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- if shop.enabled_locales.size > 1 -%}
        <div class="mobile-menu__section mobile-menu__section--loose">
          <div class="mobile-menu__locale-selector">
            <label for="mobile-locale-selector">{{ 'header.general.language' | t }}:</label>

            <div class="select-wrapper select-wrapper--transparent">
              <select id="mobile-locale-selector" class="locale-selector" title="{{ 'header.general.language' | t | escape }}">
                {%- for locale in shop.enabled_locales -%}
                  <option value="{{ locale.root_url }}" {% if request.locale.iso_code == locale.iso_code %}selected="selected"{% endif %}>{{ locale.name }}</option>
                {%- endfor -%}
              </select>

              {%- render 'icon', icon: 'arrow-bottom' -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>

  </div>
</div>


<!-- mobile menu  -->
<script src="https://kit.fontawesome.com/70f6bca6f4.js" async></script>
<script>
  
$(document).ready(function() {
  
  // Controls the slide in/out functionality of the menu
  
  var mobileNav = $('.mobile-nav'); // CSS Class of Nav Menu
  var navToggle = $('.nav-toggle'); // CSS Class of Toggle Button
  var content = $('.container'); // Site Container
  
  var isOpen = 0; // Is the menu open or closed?
  var menuWidth = $('.mobile-nav').css('width');
  var menuWidthInverse = "-" + menuWidth;
  
  $(navToggle).click(function(){
    
    if ( isOpen == 0 ) {
      $(mobileNav).animate({'right' : '0px'}, 300);
      $(content).animate({'left' : menuWidthInverse}, 300);
      $(navToggle).removeClass('fa-bars');
      $(navToggle).addClass('fa-times');
     
      isOpen++;
    } else {
      $(mobileNav).animate({'right' : menuWidthInverse}, 300);
      $(content).animate({'left' : 0}, 300);
      $(navToggle).removeClass('fa-times');
      $(navToggle).addClass('fa-bars');
      
      isOpen--;
    }
    
  });
  
  // Controls the nested menu behaviour
  
  var primaryLink = $('.mobile-nav ul li a');
  var subMenu = $('.mobile-nav ul li .sub-menu');

  
// drop down in mobile
$('button.menu-arrow').on('click', function () {
  
    // event.preventDefault()

    $(this).parent().find('ul').first().toggle();

    // if ($(this).hasClass("dropdown-rotate")) {
    //   $("button.menu-arrow").removeClass("dropdown-rotate");
    //   $(this).toggleClass("dropdown-rotate");
    // }

    $(this).parent().siblings().find('button.menu-arrow').removeClass("dropdown-rotate");
    $(this).addClass("dropdown-rotate");

    $(this).parent().siblings().find('ul').hide();
   
    // Hide menu when clicked outside
    $(this).parent().find('ul').mouseleave(function () {
      var thisUI = $(this);
      $('.mobile-navmenu').click(function () {
        thisUI.hide();
        $('.mobile-navmenu').unbind('click');
      });
    });
    
  });  


 
});

</script>
