<script type="text/javascript">
{% comment %}
/**
 * Optimize rendering the combo products widget by the main PickyStory app.
 * Rendered by layout/theme.liquid.
 * If you choose to uninstall PickyStory, this snippet can be safely deleted.
 * Get the app: https://go.pickystory.com/8nsjceym
 * Contact us for any questions: hello@pickystory.com.
 * Copyright (C) 2022 Picky Story Ltd. - All Rights Reserved
 */
{% endcomment %}
(() => {
  const pageProductHandle = () => {
    const path = window.location.pathname
    const searchTerm = '/products/'
    const start = path.lastIndexOf(searchTerm)
    if (start < 0) return null
    const encoded = path.slice(start + searchTerm.length).replace('/', '')
    return decodeURI(encoded) // Decode to handle non-English letters
  }
  const isProductPage = /^.*\/products\/[A-Za-z0-9-_%]+\/?$/i.test(window.location.pathname)
  const productHandle = isProductPage && pageProductHandle()
  const compoundProducts = ["hanniwhere-set"]
  if (!compoundProducts.includes(productHandle) || 'replace' !== 'replace') return
  // Override cart URL inside the selector with a localized version if necessary
  const selector = 'form[action="/cart/add"]'.replace('"/cart/add"', '"{{ routes.cart_add_url }}"')
  const productForms = productHandle && document.querySelectorAll(selector)
  const productForm = productForms && productForms.length === 1 && productForms.item(0)
  if (productForm) {
    productForm.style.setProperty('visibility', 'hidden')
  }
})()
</script>
