{% render 'image-text-boxes',
  img_url: product.metafields.global.custome_image_blade,
  custom_title: product.metafields.global.custome_title_blade,
  custom_text: product.metafields.global.custome_text_blade %}

<div class="container" style="padding: 0;">
  <div class="custome-wrapper-image-full">
    {%- if product.metafields.global.custome_image_journeyb != blank -%}
      <img src="{{ product.metafields.global.custome_image_journeyb }}" />
    {%- endif -%}
  </div>
</div>