{% assign col_1 = col_details_1 | split: ',' %}
{% assign col_2 = col_details_2 | split: ',' %}
{% assign col_3 = col_details_3 | split: ',' %}
{% assign row_count = col_1 | size %}

{% if title != '' %}
  <div class="custome-text-details">
    <h2>{{title}}</h2>
    {% if subtitle != '' %}
      <p>{{subtitle}}</p>
    {% endif %}
  </div>
{% endif %}
<div class="container">
  <table class="custome-tables-change">
    {% if col_header_1 != blank %}
      <tr>
        <th>{{col_header_1}}</th>
        {% if col_header_2 != blank %}<th>{{col_header_2}}</th>{% endif %}
        {% if col_header_3 != blank %}<th>{{col_header_3}}</th>{% endif %}
      </tr>
    {% endif %}
    {% for i in (0..row_count) %}
      <tr>
        {% if col_1[i] != blank %}
          <td>
            {{ col_1[i] }}
          </td>
          {% if col_2 != blank %}
            <td>
              {{col_2[i]}}
            </td>
          {% endif %}
          {% if col_3 != blank %}
            <td>
              {{col_3[i]}}
            </td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>

{% style %}
  .custome-text-details {
    margin-bottom: 0px;
  }

  .custome-tables-change {
    margin-bottom: 80px;
  }

  @media(max-width: 1000px) {
    .custome-text-details {
      margin-bottom: 0;
    }
    .custome-text-details h2{
      padding: 0;
      margin-bottom: 40px;
    }

    .custome-tables-change th {
      font-size: 22px;
    }
    .custome-tables-change td {
      font-size: 25px;
    }

  }

  @media(max-width: 770px) {
    .custome-text-details h2{
      font-size: 20px;
      margin-bottom: 10px;
    }
    .custome-tables-change th {
      font-size: 16px;
    }
    .custome-tables-change td {
      font-size: 19px;
    }

    .custome-tables-change th {
      border-bottom: 2px dotted brown;
      border-top: 2px dotted brown;
      line-height: 1.3em;
    }
    .custome-tables-change td {
      border-bottom: 2px dotted #f0cdca;
    }
  }
{% endstyle %}
