<div>
  <div class="custome-wrapper">
    <div class="custome-image">
      {%- if product.metafields.global.product_image != blank -%}
      <div class="custome-image_wrapper">
        <img src="{{ product.metafields.global.product_image }}" />
      </div>
      {%- endif -%}
    </div>
    <div class="custome-text">
      {%- if product.metafields.global.custome_title != blank -%}
        {{ product.metafields.global.custome_title }}
      {%- endif -%}
      {%- if product.metafields.global.custome_description != blank -%}
        {{ product.metafields.global.custome_description }}
      {%- endif -%}
    </div>
  </div>
  <div class="">
    <div class="custome-text-details">
      {%- if product.metafields.global.custome_description != blank -%}
        {{ product.metafields.global.custome_text_details }}
      {%- endif -%}
    </div>
  </div>
  <div class="">
    <div class="custome_wrapper-gif">
      {%- if product.metafields.global.custome_description != blank -%}
      <div class="custome-gif">
        <img src="{{ product.metafields.global.custome_razorBlade_gif }}" alt="" style="bottom: -110px;">
      </div>
      <div class="custome-gif">
        <img src="{{ product.metafields.global.custome_redrazor_gif }}" alt="" style="top: -55px;">
      </div>
      <div class="custome-gif">
        <img src="{{ product.metafields.global.custome_cap_gif }}" alt="" style="bottom: 0px;">
      </div>
      {%- endif -%}
    </div>
  </div>
  <div class="custome-image-details">
    <div class="custome-title-details">
      {%- if product.metafields.global.custome_text_howhanni != blank -%}
        {{ product.metafields.global.custome_text_howhanni }}
      {%- endif -%}
    </div>
  </div>
</div>
<div class="scroller">
  <div class="scroller__inner">
    <div class="scroller__wrapper">
        <div class="scroller_wrapper-steps">
          <div class="scroller_wrapper-step ml-mobile">
            <img src="{{ product.metafields.global.custome_step_one }}" alt="">
          </div>
          <div class="scroller_wrapper-step">
            <img src="{{ product.metafields.global.custome_step_two }}" alt="">
          </div>
          <div class="scroller_wrapper-step">
            <img src="{{ product.metafields.global.custome_step_three }}" alt="">
          </div>
          <div class="scroller_wrapper-step scroller_wrapper-step-big">
            <img src="{{ product.metafields.global.custome_step_four }}" alt="">
          </div>
          <div class="scroller_wrapper-step">
            <img src="{{ product.metafields.global.custome_step_five }}" alt="">
          </div>
        </div>
    </div>
  </div>
</div>

