{% render 'image-text-boxes', 
  img_url: product.metafields.global.custome_blades_img, 
  custom_title: product.metafields.global.custome_blades_title,
  custom_text: product.metafields.global.custome_blades_text%}

<div class="container">
  <div class="custome-text-details">
    <h2>how often should i change my blades depends on how often you shave</h2>
  </div>
  <table class="custome-tables-change">
    <tr>
      <th>how often do you shave?</th>
      <th>when should I change my blades?</th>
    </tr> 
    <tr>
      <td> every day </td>
      <td> 1-2 x /week </td>
    </tr>
    <tr>
      <td> 3-4 times/ week </td>
      <td> every 2 weeks </td>
    </tr>
    <tr>
      <td> 1-2 times/ week </td>
      <td>every 3 weeks </td>
    </tr>
  </table>
</div>

<div class="custome-text-details compact-h2 mt-7">
  {%- if product.metafields.global.custome_blades_use != blank -%}
    {{ product.metafields.global.custome_blades_use }}
  {%- endif -%}
</div>
<div class="custome_wrapper-gif mt-5">
  {%- if product.metafields.global.custome_blades_quality_one != blank -%}
  <div class="custome-gif">
    <img src="{{ product.metafields.global.custome_blades_quality_one}}" alt="">
  </div>
  {%- endif -%}
  {%- if product.metafields.global.custome_blades_quality_two!= blank -%}
  <div class="custome-gif">
    <img src="{{ product.metafields.global.custome_blades_quality_two }}" alt="">
  </div>
  {%- endif -%}
  {%- if product.metafields.global.custome_blades_quality_three != blank -%}
  <div class="custome-gif">
    <img src="{{ product.metafields.global.custome_blades_quality_three }}" alt="">
  </div>
  {%- endif -%}
</div>