{%- comment -%}
PARAMETERS -
images - array of images.
autoplay - autoplay slider. (defaults to false).
horizontal - image fit horizontaly.
{%- endcomment -%}
{%- capture section_settings -%}
  {
    "autoPlay": {{ autoplay | default: false | json }},
    "prevNextButtons": true,
    "pageDots": true,
    "setGallerySize": true,
    "adaptiveHeight": false,
    "transitionEffect": "slide",
    "cycleSpeed": 5000
  }
{%- endcapture -%}

<div class="container--flush slideshow-container" data-section-type="slideshow" data-section-settings='{{ section_settings }}'>
  <div class="slider-next-arrow">
    {% render 'icon', icon: 'slider-next-arrow' %}
  </div>
  <div class="slideshow slideshow-arrow">
    {%- for image in images -%}
      <div class="slideshow__slide-inner lazyload image--fade-in">
        {%- if image -%}
          <div class="slideshow__image-container {% if horizontal %}horizontal{% endif %}">
            <img src="{{ image }}" class="lazyload image--fade-in" alt="">
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% style %}
.is-desktop {
  display: block;
}

.is-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .is-mobile {
    display: contents;
    width: 160%;
  }
  .is-desktop {
    display: none;
  }
}


/*///////////////////////*/

.slideshow-container {
  padding-top: 2em;
  padding-bottom: 5em;
  position: relative;
}

.flickity-page-dots {
  display: none;
}

.slider-next-arrow {
  display: none;
  z-index: 20;
}

.background_image {
  background-image: url({{ section.settings.background_image | img_url: '1800x' }});
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.step-text {
  right: 85px !important;
  width: unset;
  text-align: right;
  font-size: 16px;
}

.step-text:hover {
  background: transparent!important;
  color: #ff5859;
}

.slideshow {
  height: 600px;
}

.slideshow-arrow .flickity-viewport {
  height: 100%!important;
}

.slideshow {
  margin: 0!important;
}

.flickity-prev-next-button svg {
  fill: #ff5859;
}

.slideshow__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slideshow__image-container {
  width: 70vw;
  height: 70vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow__image-container img {
  height: auto;
  width: 100%;
}

.slideshow__image-container.horizontal img {
  height: 100%;
  width: auto;
}


.slideshow__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slideshow__content-wrapper,
.slideshow__content-wrapper {
  top: 77%;
}

.slideshow__slide-inner.slideshow__slide-inner--middle-right.image--fade-in.lazyloaded{
  background-position-x: center;
  background-position-y: top;
}

@media (min-width: 1400px) {
  .background_image {
    min-height: calc(50vw * 0.77);
  }

  .slideshow__image-container {
    max-width: 1000px;
  }
}

@media (min-width: 1500px) {
  .slideshow {
    height: 700px;
  }
}

@media (min-width: 2000px) {
  .background_image {
    padding-top: 4%;
  }
  .slideshow-container {
    padding-bottom: 0;
  }
}

@media screen and (max-width:1000px) {
  .slideshow__content-wrapper,
  .slideshow__content-wrapper {
    top: 80%;
  }

  .slideshow__image-container img {
    height: 100%;
    width: auto;
  }

  .slideshow-container {
    padding-top: 0;
  }

  .step-text {
    display: none;
  }
}

@media screen and (max-width:1000px){
  .slideshow__slide-inner.slideshow__slide-inner--middle-right.image--fade-in.lazyloaded{
    background-position-x: left;
    background-position-y: top;
  }

  .slideshow-container {
    padding-bottom: 2em;
  }

  .slideshow {
    height: 70vw;
  }

  .flickity-button {
    display: none;
  }

  .flickity-page-dots {
    display: flex;
    justify-content: center;
    bottom: 10px!important;
    margin: 0 0 0 6vw;
    width: 80vw!important;
    background: white;
  }

  .flickity-page-dots .dot {
    height: 2px!important;
    width: unset!important;
    flex: 2;
    margin: 0!important;
    border-radius: 0!important;
    border: none!important;
    background: rgb(189 189 189)!important;
  }

  .flickity-page-dots .dot.is-selected {
    background: grey!important;;
  }

  .slider-next-arrow {
    display: unset;
    position: absolute;
    bottom: 30.5px;
    right: 20px;
    transform: scale(1.5);
    color: rgb(189 189 189)!important;
    z-index: 4;
  }

  .slider-next-arrow .cls-1 {
    fill: rgb(189 189 189)!important;
  }
}

@media (max-width: 760px) {
  .slideshow__image-container {
    width: 90vw;
    height: 90vw;
  }
  .slideshow {
    height: 90vw;
  }
  .flickity-page-dots {
    width: 75vw!important;
  }
}
@media (max-width: 450px) {
  .flickity-page-dots {
    width: 70vw!important;
  }
}
@media (max-width: 375px) {
  .flickity-page-dots {
    width: 60vw!important;
  }
}
{% endstyle %}