{%- assign video_id = video_url | split: '/' | last -%}
<div {% if class != blank %}
  class="{{class}} "{% endif %} style="padding:56.25% 0 0 0;position:relative">

  <iframe src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1&loop=1&autopause=0&title=0&muted=1&byline=0&portrait=0&controls=0&sidedock=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; picture-in-picture  webkitallowfullscreen mozallowfullscreen allowfullscreen"></iframe>


  <!-- 
  https://player.vimeo.com/video/748755827
  <iframe
  src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if autoplay or background %}1{% else %}0{% endif %}&title=0&byline=0&portrait=0&background={% if background %}1{% else %}0{% endif %}"
  style="position:absolute;top:0;left:0;width:100%;height:100%;"
  frameborder="0"  allow="autoplay; picture-in-picture">
  </iframe> --></div>

<script src="https://player.vimeo.com/api/player.js"></script>
