{%- assign video_id = video_url | split: '/' | last -%}

<div class="video-vimeo--slideshow" style="padding:56.25% 0 0 0;position:relative;z-index:-10;">
  <iframe
    src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if autoplay or background %}1{% else %}0{% endif %}&title=0&byline=0&portrait=0&background={% if background %}1{% else %}0{% endif %}"
    style="position:absolute;top:0;left:0;width:100%;height:100%;"
    frameborder="0"  allow="autoplay; picture-in-picture">
</iframe>
</div>

<script rel="dns-prefetch" src="https://player.vimeo.com/api/player.js"></script>

