<section data-section-id="account" data-section-type="account">
  <div class="account-container">
    <div class="account-header">
      <div class="account-header__text">{{- customer.first_name -}}</div>
      <div class="account-header__text subtext">welcome to your account</div>
    </div>
    <div class="account-cards">
        <a href="{{ routes.account_addresses_url }}">
          <div class="account-cards__card account-cards__card-first-child">
            {%- render 'icon', icon: 'account-info' -%}
            <div class="account-cards__card__content">
              <span class="account-cards__card__text">my info</span>
              <p>update addresses and personal information</p>
            </div>
          </div>
        </a>
        <a href="/pages/orders">
          <div class="account-cards__card">
            {%- render 'icon', icon: 'account-history' -%}
            <div class="account-cards__card__content">
              <span class="account-cards__card__text">order history</span>
              <p>view order information, tracking and process returns</p>
            </div>
          </div>
        </a>
    </div>
    <div class="account-h">
      <a href="{{ routes.account_logout_url }}" data-no-instant>{{ 'customer.general.logout' | t }}</a>
    </div>
  </div>
</section>