<section data-section-id="account" data-section-type="account" id="address-section">
  <div class="account-container">
    <div class="account-header">
      <div class="account-header__text">{{- customer.first_name -}}</div>
      <div class="account-header__text subtext">here’s your account details</div>
    </div>
    <div class="account-h mt-2">
      <a href="{{ routes.account_url }}">{{ 'header.navigation.back' | t }}</a>
    </div>
    <div class="account-orders-container">
      {%- unless customer.addresses_count == 0 -%}
        {%- for address in customer.addresses -%}
          <div class="order-container {% if forloop.first == true %}first{% endif %}">
            <div class="address-item">
              <div class="flex-row" style="width: 60%">
                <div class="half" style="line-height: 18px;">
                  {% if address == customer.default_address %}
                    <p class="address-default">default</p>
                  {% endif %}
                  {{ address.first_name }}&nbsp;{{ address.last_name }}<br>{{ address.company }}
                </div>
                <div class="half">
                  {{ address.address1 }}<br>{{ address.address2 }}
                </div>
              </div>
              <div class="address-actions" style="width: 40%">
                <button class="button-hanni-primary simple" onclick="toggleEdit({{ address.id }})">{{ 'customer.addresses.edit' | t }}</button>
                <button class="button-hanni-primary" onclick="Shopify.CustomerAddress.destroy({{ address.id }}); return false">{{ 'customer.addresses.delete' | t }}</button>
              </div>
            </div>
            {%- comment -%}
            *******************
             EDIT ADDRESS FORM
            *******************
            {%- endcomment -%}
            <div id="EditAddress_{{ address.id }}" class="edit-container">
              {% form 'customer_address', address, class: 'form form--main form--account' %}
                <div class="form__input__double">
                  <div class="hanni-input-wrapper">
                    <input type="text" id="AddressFirstName_{{form.id}}" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                    <label for="AddressFirstName_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
                  </div>

                  <div class="hanni-input-wrapper">
                    <input type="text" id="AddressLastName_{{form.id}}" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                    <label for="AddressLastName_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
                  </div>
                </div>

                <div class="hanni-input-wrapper">
                  <input type="text" id="AddressCompany_{{form.id}}" name="address[company]" value="{{form.company}}" autocapitalize="words">
                  <label for="AddressCompany_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
                </div>
                <br class="mobile-hidden">
                <br class="mobile-hidden">

                <div class="hanni-input-wrapper">
                  <input type="text" id="AddressAddress1_{{form.id}}" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                  <label for="AddressAddress1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
                </div>

                <div class="hanni-input-wrapper">
                  <input type="text" id="AddressAddress2_{{form.id}}" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                  <label for="AddressAddress2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
                </div>
                <div class="form__input__double">
                  <div class="hanni-input-wrapper">
                    <input type="text" id="AddressCity_{{form.id}}" name="address[city]" value="{{form.city}}" autocapitalize="words">
                    <label for="AddressCity_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
                  </div>

                  <div class="hanni-input-wrapper is-filled js-address-country form__input-wrapper form__input-wrapper--labelled" data-country-id="AddressCountry_{{form.id}}"
                    data-province-container-id="AddressProvinceContainer_{{form.id}}"
                    data-province-id="AddressProvince_{{form.id}}">
                    <select id="AddressCountry_{{form.id}}" name="address[country]" data-default="{{form.country}}">
                      {{ country_option_tags }}
                    </select>
                    <label for="AddressCountry_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
                  </div>
                </div>

                <div class="form__input__double">
                  <div class="hanni-input-wrapper is-filled form__input-wrapper form__input-wrapper--labelled" id="AddressProvinceContainer_{{form.id}}" style="display: none;">
                    <select id="AddressProvince_{{form.id}}" name="address[province]"
                      data-default="{{form.province}}"></select>
                    <label for="AddressProvince_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
                  </div>

                  <div class="hanni-input-wrapper">
                    <input type="text" id="AddressZip_{{form.id}}" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                    <label for="AddressZip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
                  </div>
                </div>
                <div class="form__input__double">
                  <div class="hanni-input-wrapper">
                    <input type="tel" id="AddressPhone_{{form.id}}" name="address[phone]" value="{{form.phone}}">
                    <label for="AddressPhone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
                  </div>
                </div>
                <p class="checkbox-container">
                  <label for="address_default_address_{{form.id}}">
                    {{ 'customer.addresses.set_default' | t }}
                    <input type="checkbox" id="address_default_address_{{form.id}}" name="address[default]">
                    <span class="custom-checkbox"></span>
                  </label>
                </p>
                <div class="form__actions">
                  <input type="submit" class="button-hanni-primary" value="update">
                  <button type="button" class="button-hanni-primary mt-mobile" data-form-id="{{ form.id }}" onclick="toggleEdit({{ address.id }})">cancel</button>
                </div>
              {% endform %}
            </div>
          </div>
        {%- endfor -%}
      {%- endunless -%}

      <div class="order-container no-padding-mobile {% if customer.addresses_count == 0 %}first{% endif %}" style="width: 100%;">
        <header>
          <div class="font-heading-bold">add address</div>
          <div id="toggle-order-new" class="toggle-order" onclick="toggleNew()">{% render 'icon', icon: 'down' %}</div>
        </header>
        {%- comment -%}
        *******************
          NEW ADDRESS FORM
        *******************
        {%- endcomment -%}
        <div id="edit-container-new" class="edit-container">
          {% form 'customer_address', customer.new_address, class: 'form form--main form--account' %}
            <div class="form__input__double">
              <div class="hanni-input-wrapper">
                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              </div>
              <div class="hanni-input-wrapper">
                <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              </div>
            </div>
            <div class="hanni-input-wrapper">
              <input type="text" id="AddressCompanyNew" name="address[company]" value="{{form.company}}" autocapitalize="words">
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            </div>
            <br class="mobile-hidden">
            <br class="mobile-hidden">

            <div class="hanni-input-wrapper">
              <input type="text" id="AddressAddress1New" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            </div>

            <div class="hanni-input-wrapper">
              <input type="text" id="AddressAddress2New" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            </div>


            <div class="form__input__double">
              <div class="hanni-input-wrapper">
                <input type="text" id="AddressCityNew" name="address[city]" value="{{form.city}}" autocapitalize="words">
                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              </div>
              <div class="hanni-input-wrapper js-address-country" data-country-id="AddressCountryNew" data-province-container-id="AddressProvinceContainerNew" data-province-id="AddressProvinceNew">
                <select id="AddressCountryNew" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              </div>
            </div>

            <div class="form__input__double">
              <div class="hanni-input-wrapper is-filled form__input-wrapper form__input-wrapper--labelled" id="AddressProvinceContainerNew" style="display: none;">
                <select id="AddressProvinceNew" name="address[province]" data-default="{{form.province}}"></select>
                <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              </div>
              <div class="hanni-input-wrapper">
                <input type="text" id="AddressZipNew" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
                <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              </div>
            </div>

            <div class="hanni-input-wrapper">
              <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{form.phone}}">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            </div>

            <p class="checkbox-container">
              <label for="address_default_address_{{form.id}}" class="font-subtitle">
                {{ 'customer.addresses.set_default' | t }}
                <input type="checkbox" id="address_default_address_new" name="address[default]">
                <span class="custom-checkbox"></span>
              </label>
            </p>

            <div class="form__actions">
              <input type="submit" class="button-hanni-primary" value="add address">
            </div>
          {% endform %}
        </div>
      </div>
    </div>
    <div class="account-h mt-2">
      <a href="{{ routes.account_logout_url }}" data-no-instant>{{ 'customer.general.logout' | t }}</a>
    </div>
  </div>
</section>

<script>
  const toggleEdit = (id) => {
    const el = document.getElementById(`EditAddress_${id}`);
    el.classList.toggle('open');
  }

  const toggleNew = () => {
    const el = document.getElementById(`edit-container-new`);
    const btn = document.getElementById(`toggle-order-new`);
    el.classList.toggle('open');
    btn.classList.toggle('open');
  }

  // class is-filled with have a value
  const inputs = document.querySelectorAll('input');
  inputs.forEach(i => {
    if (i.value == "") {
      i.classList.remove("is-filled");
    } else {
      i.classList.add("is-filled");
    }

    i.onkeydown = function(e) {
      if (e.target.value == "") {
        e.target.classList.remove("is-filled");
      } else {
        e.target.classList.add("is-filled");
      }
    }
  })


</script>