<section data-section-id="login" data-section-type="login">
  {%- assign is_recover_active = false -%}

  {%- form 'recover_customer_password' -%}
    {%- if form.errors or form.posted_successfully? -%}
      {%- assign is_recover_active = true -%}
    {%- endif -%}
  {%- endform -%}

  <div class="container">
    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    CUSTOMER LOGIN FORM
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- if is_recover_active -%}
      {%- assign login_default_visibility = 'display: none!important' -%}
    {%- else -%}
      {%- assign login_default_visibility = 'display: flex!important' -%}
    {%- endif -%}

    {%- form 'customer_login', name: 'login', class: 'form form--main custom-margin-bottom', id: 'customer_login', style: login_default_visibility, autocomplete: 'off' -%}
      <header class="form__header">
        <h1 class="form__title extra-margin">{{ 'customer.login.login' | t }}</h1>
      </header>

      {%- if form.errors -%}
        <p class="alert alert--error">{{ form.errors.messages['form'] }}</p>
      {%- endif -%}

      <div class="hanni-input-wrapper small">
        <input type="email" id="customer[email]" name="customer[email]" required="required" autocomplete="new-text">
        <label for="customer[email]">{{- 'customer.login.email' | t -}}</label>
      </div>

      <div class="hanni-input-wrapper small">
        <input type="password" id="customer[password]" name="customer[password]" required="required" autocomplete="new-password">
        <label for="customer[password]">{{- 'customer.login.password' | t -}}</label>
      </div>

      <button type="submit" class="form__submit">{{ 'customer.login.submit' | t }}</button>

      <div class="form__secondary-action">
        <p><button type="button" data-action="toggle-login-form" class="link link--accented">{{ 'customer.login.lost_password' | t }}</button></p>
        <p>{{ 'customer.login.new_customer' | t }} <a href="{{ routes.account_register_url }}" class="link link--accented">{{ 'customer.login.create_your_account' | t }}</a></p>
      </div>
    {%- endform -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    CUSTOMER RECOVERY FORM
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- if is_recover_active -%}
      {%- assign recover_default_visibility = 'display: flex!important' -%}
    {%- else -%}
      {%- assign recover_default_visibility = 'display: none!important' -%}
    {%- endif -%}

    {%- form 'recover_customer_password', name: 'recover', class: 'form form--main custom-margin-bottom', id: 'recover_customer_password', style: recover_default_visibility -%}
      <header class="form__header">
        <h1 class="form__title">{{ 'customer.recover_password.recover_password' | t }}</h1>
        <p class="form__legend">{{ 'customer.recover_password.description' | t }}</p>
      </header>

      {%- if form.errors -%}
        <p class="alert alert--error">{{ form.errors.messages['form'] }}</p>
      {%- endif -%}

      {%- if form.posted_successfully? -%}
        <p class="alert alert--center alert--success">{{ 'customer.recover_password.success' | t }}</p>
      {%- else -%}
        <div class="hanni-input-wrapper small">
          <input type="email" id="customer[recover_email]" name="email" required="required">
          <label for="customer[recover_email]">{{ 'customer.recover_password.email' | t }}</label>
        </div>

        <button type="submit" class="form__submit">{{ 'customer.recover_password.submit' | t }}</button>
      {%- endif -%}

      <div class="form__secondary-action no-margin-top">
        <p><button type="button" data-action="toggle-login-form" class="link link--accented link--big">{{ 'customer.recover_password.back_to_login' | t }}</button></p>
      </div>
    {%- endform -%}
  </div>
</section>

{% style %}
  body {
    background-image: url({{ 'background_account-03.png' | asset_img_url: '1920x' }});
    background-color: #F6D4D4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 1500px) {
    body {
      background-size: auto calc(100% - 200px);
    }
  }


  @media (max-width: 1000px) {
    body {
      background-image: unset!important;
    }
  }
{% endstyle %}