<section>
  <div class="container">
    {%- form 'create_customer', name: 'create', class: 'form form--main custom-margin-bottom', id: 'create_customer' -%}
      <header class="form__header">
        <h1 class="form__title extra-margin">{{ 'customer.register.create_account' | t }}</h1>
      </header>

      {%- if form.errors -%}
        <div class="alert alert--error">
          <ul class="alert__error-list">
            {%- for field in form.errors -%}
              {%- if field == 'form' -%}
                <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
              {%- else -%}
                <li class="alert__error-item"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if request.locale.iso_code == 'ja' -%}
        <div class="hanni-input-wrapper small">
          <input type="text" id="customer[last_name]" name="customer[last_name]" required="required">
          <label for="customer[last_name]">{{ 'customer.register.last_name' | t }}</label>
        </div>

        <div class="hanni-input-wrapper small">
          <input type="text" id="customer[first_name]" name="customer[first_name]" required="required">
          <label for="customer[first_name]">{{ 'customer.register.first_name' | t }}</label>
        </div>
      {%- else -%}
        <div class="hanni-input-wrapper small">
          <input type="text" id="customer[first_name]" name="customer[first_name]" required="required">
          <label for="customer[first_name]">{{ 'customer.register.first_name' | t }}</label>
        </div>

        <div class="hanni-input-wrapper small">
          <input type="text" id="customer[last_name]" name="customer[last_name]" required="required">
          <label for="customer[last_name]">{{ 'customer.register.last_name' | t }}</label>
        </div>
      {%- endif -%}

      <div class="hanni-input-wrapper small">
        <input type="email" id="customer[email]" name="customer[email]" required="required">
        <label for="customer[email]">{{ 'customer.register.email' | t }}</label>
      </div>

      <div class="hanni-input-wrapper small">
        <input type="password" id="customer[password]" name="customer[password]" required="required" autocomplete="new-password">
        <label for="customer[password]">{{ 'customer.register.password' | t }}</label>
      </div>

      <button type="submit" class="form__submit">{{ 'customer.register.submit' | t }}</button>

      <div class="form__secondary-action">
        <p><a href="{{ routes.root_url  }}" class="link link--accented">{{ 'customer.register.home' | t }}</a></p>
        <p>{{ 'customer.register.already_have_account' | t }} <a href="{{ routes.account_login_url }}" class="link link--accented">{{ 'customer.register.login' | t }}</a></p>
      </div>
    {%- endform -%}
  </div>
</section>

{%style%}
body {
  background-image: url({{ 'background_account-03.png' | asset_img_url: '1920x' }});
  background-color: #F6D4D4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1500px) {
  body {
    background-size: auto calc(100% - 200px);
  }
}


@media (max-width: 1000px) {
  body {
    background-image: unset!important;
  }
}
{%endstyle%}