<section>
  <div class="container">
    {%- form 'reset_customer_password', name: 'reset', class: 'form form--main custom-margin-bottom', id: 'reset_customer_password' -%}
      <header class="form__header">
        <h1 class="form__title">{{ 'customer.reset_password.reset_password' | t }}</h1>
      </header>

      {%- if form.errors -%}
        <div class="alert alert--error">
          <ul class="alert__error-list">
            {%- for field in form.errors -%}
              {%- if field == 'form' -%}
                <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
              {%- else -%}
                <li class="alert__error-item"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="form__input-wrapper form__input-wrapper--labelled">
        <input type="password" id="customer[password]" class="form__field form__field--text" name="customer[password]" required="required">
        <label for="customer[password]" class="form__floating-label">{{ 'customer.reset_password.password' | t }}</label>
      </div>

      <div class="form__input-wrapper form__input-wrapper--labelled">
        <input type="password" id="customer[password_confirmation]" class="form__field form__field--text" name="customer[password_confirmation]" required="required">
        <label for="customer[password_confirmation]" class="form__floating-label">{{ 'customer.reset_password.password_confirmation' | t }}</label>
      </div>

      <button type="submit" class="form__submit">{{ 'customer.reset_password.submit' | t }}</button>
    {%- endform -%}
  </div>
</section>

{%style%}
body {
  background-image: url({{ 'background_account-03.png' | asset_img_url: '1920x' }});
  background-color: #F6D4D4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1500px) {
  body {
    background-size: auto calc(100% - 200px);
  }
}


@media (max-width: 1000px) {
  body {
    background-image: unset!important;
  }
}
{%endstyle%}