<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head><script>
/* >> TriplePixel :: start*/
~function(W,H,A,L,E,_){function O(T,R){void 0===R&&(R=!1),H=new XMLHttpRequest,H.open("GET","//triplewhale-pixel.web.app/triplepx.txt?"+~(Date.now()/9e7),!0),H.send(null),H.onreadystatechange=function(){4===H.readyState&&200===H.status?setTimeout(function(){return eval(H.responseText)},50):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(T-1))}}if(L=window,!L[H+"sn"]){L[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),W.includes("⇈")&&A.setItem(H+"Stg",1+(0|A.getItem(H+"Stg")||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}A.getItem('"!nC`')||(A=L,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return W=L(),(E._q=E._q||[]).push([W,t,e]),E._headless=!0,W},E.ch=W,O(5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>



<meta name="facebook-domain-verification" content="bo2mxtjudsg370jm9yk8l6x0vnrrrp" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W6TKJVP');</script>
<!-- End Google Tag Manager -->
    

{% include 'dynamic-remarketing' %}    
<script>
    window.dataLayer = window.dataLayer || [];

    {%- if customer -%}
        dataLayer.push({
            'event': 'customer_data',
            'id': {{customer.id | json }},
            'firstName': {{ customer.first_name | json }},
            'surname': {{ customer.last_name | json }},
            'email': {{ customer.email | json }},
            'ordersCount': {{ customer.orders_count | json }},
            'totalSpent': {{ customer.total_spent | money_without_currency | json }},
            'acceptsMarketing': {{ customer.accepts_marketing | json }},
            'tags': {{ customer.tags | json }}
        });
    {%- endif -%}
</script>

    
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta name="theme-color" content="{{ settings.accent_color }}">
    <link rel="preconnect" href="https://player.vimeo.com">
    <link rel="preconnect" href="https://i.vimeocdn.com">
    <link rel="preconnect" href="https://f.vimeocdn.com">
    

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tags' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

 
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tags' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '16x16' }}" type="image/png" />
  {% endif %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '48x48' }}" type="image/png">
    {%- endif -%}

    <link rel="preload" as="style" href="{{ 'theme.scss.css' | asset_url }}">

    {% render 'social-meta-tags' %}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link href="//fonts.shopifycdn.com" rel="preconnect">
    <link href="//productreviews.shopifycdn.com" rel="dns-prefetch">
    <link href="//maps.googleapis.com" rel="dns-prefetch">
    <link href="//maps.gstatic.com" rel="dns-prefetch">

    {{ content_for_header }}

    {% render 'microdata-schema' %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }},
        localeRootUrl: {% if request.locale.primary %}''{% else %}{{ request.locale.root_url | json }}{% endif %},
        shopCurrency: {{ shop.currency | json }},
        cartCount: {{ cart.item_count | json }},
        customerId: {{ customer.id | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        useNativeMultiCurrency: {% if shop.enabled_currencies.size > 1 %}true{% else %}false{% endif %},
        currencyConversionEnabled: {% if shop.enabled_currencies.size > 1 %}false{% else %}{{ settings.currency_conversion_enabled | json }}{% endif %},
        currencyConversionMoneyFormat: {{ settings.currency_conversion_money_format | json }},
        currencyConversionRoundAmounts: {{ settings.currency_conversion_round_amounts | json }},
        showDiscount: {% if settings.show_discount %}true{% else %}false{% endif %},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.languages = {
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" rel="dns-prefetch"></script>

    {% if settings.currency_conversion_enabled %}
      <script defer src="//cdn.shopify.com/s/javascripts/currencies.js"  rel="dns-prefetch"></script>
    {% endif %}

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script  rel="dns-prefetch" defer src="//cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.matches,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,String.prototype.includes,String.prototype.padStart,Object.assign,CustomEvent,Intl,URL,DOMTokenList,IntersectionObserver,IntersectionObserverEntry"></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

<!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/21ca6c38ad.js" crossorigin="anonymous"  rel="dns-prefetch"></script>

    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">

    <script>
      (function () {
        window.onpageshow = function() {
          // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
          // back button, which cause staled data
          document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
            bubbles: true
          }));
        };
      })();
    </script>

    {{ 'home.scss.css' | asset_url | stylesheet_tag }}
    {{ 'collection.scss.css' | asset_url | stylesheet_tag }}
    {{ 'product.scss.css' | asset_url | stylesheet_tag }}
    {{ 'footer.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
    {{ 'about.scss.css' | asset_url | stylesheet_tag }}
    {{ 'account.scss.css' | asset_url | stylesheet_tag }}

    <!-- Yotpo JavaScript -->
    <script  rel="dns-prefetch" type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/BiL5c7O40sCGGgExX0u5NMCUHGIN8LBNd4HYhTnv/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
    <!-- End of Yotpo JavaScript -->    
    
       <!-- Microsoft Bing Ads -->
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"56375981"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","bat.bing.com/bat.js","uetq");</script>
        <!-- Microsoft Bing Ads -->

<!-- friendbuy SmartPixel -->
<script>
          window['friendbuy'] = window['friendbuy'] || [];
          window['friendbuy'].push(['site', 'site-1fe09139-heyhanni.com']);
          window['friendbuy'].push(['track', 'customer',
              {
                  id: '{{ customer.id }}',
                  email: '{{ customer.email }}',
                  first_name: '{{ customer.first_name }}',
                  last_name: '{{ customer.last_name }}'
              }
          ]);
          (function (f, r, n, d, b, y) {
              b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
          })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
 </script>
<!-- friendbuy SmartPixel -->

    <meta name="p:domain_verify" content="ccf3bc3a26b840b2f59300008e37ea98"/>
    
  
                                                                        <!-- Aloro button to text template begin --><script>
  if (['complete', 'interactive'].includes(document.readyState)) {
    aloroStart();
  } else {
    document.addEventListener('DOMContentLoaded', () => {
      aloroStart();
    });
  }

  function aloroStart() {
    const aloroEl = document.createElement('div');
    aloroEl.dataset.aloro = "text-us-button";
    aloroEl.dataset.clientId = `7bcd-8b05-0466-4e6f`;
    aloroEl.dataset.fontUrl = ``;
    aloroEl.dataset.fontFamily = `Verdana`;

    aloroEl.dataset.locationPhone = `bottom`;
    aloroEl.dataset.smsPhonePhone = ``;
    aloroEl.dataset.smsBodyPhone = `hi hanni! I was wondering about...`;
    aloroEl.dataset.smsButtonLabelPhone = `have a question? text us!`;
    aloroEl.dataset.bannerColorPhone = `rgba(97,32,49,1)`;
    aloroEl.dataset.buttonColorPhone = `rgba(97,32,49,1)`;
    aloroEl.dataset.buttonTextColorPhone = `rgba(255,255,255,1)`;
    aloroEl.dataset.borderRadiusPhone = `20`;
    aloroEl.dataset.fontSizePhone = `19`;
    aloroEl.dataset.tagPhone = ``;

    aloroEl.dataset.showDesktop = `true`;
    aloroEl.dataset.locationDesktop = `left`;
    aloroEl.dataset.formTitleDesktop1 = `have a question? text us!`;
    aloroEl.dataset.formTitleDesktop2 = `We'll text you`;
    aloroEl.dataset.submitButtonLabelDesktop = `Begin Chat`;
    aloroEl.dataset.backgroundColorDesktop = `rgba(97,32,49,1)`;
    aloroEl.dataset.textColorDesktop = `rgba(255,255,255,1)`;
    aloroEl.dataset.borderRadiusDesktop = `5`;
    aloroEl.dataset.tagDesktop = ``;
    aloroEl.dataset.formLocationDesktop = `center`;
    aloroEl.dataset.buttonTypeDesktop = `text`;
    aloroEl.dataset.buttonIconDesktop = `0`;
    aloroEl.dataset.buttonLabelDesktop = `have a question? text us!`;
    aloroEl.dataset.smsBodyDesktop = `how can we help?`;

    aloroEl.dataset.includeFilesRegExp = `heyhanni.com/.+`;
    aloroEl.dataset.excludeFilesRegExp = ``;
    aloroEl.dataset.zIndex = `100000`;
    document.body.appendChild(aloroEl);
    const aloroJS = document.createElement('script');
    aloroJS.setAttribute('src', 'https://app.getaloro.com/aloro-text-us-button.js?time=1634924715174');
    document.body.appendChild(aloroJS);
  }
</script>
<!-- Aloro button to text template end -->
  
<!-- GSSTART Show variants. Do not change -->
{% if request.path contains "/products/" %}{% else %}<script  type="text/javascript"> 
  gsVSCollectionId = {% if collection.id > 1 %} "{{ collection.id }}" {% else %} "0" {% endif %}; gsVSCollectionTags = '{{ current_tags | join: '&' | replace: "'", "\'" }}';  gsCollectionProdCnt = {% if collection.id > 1 %} {{ collection.products_count }} {% else %} 0 {% endif %}  ;			
  gsCollection = {
    {% if collection.products %}      {% paginate collection.products by 50 %}        {% for product in collection.products %} {% assign imagescount = product.images | size %}            {% if imagescount > 1 %}             '{{ product.handle }}' : [ 
                {% for image in product.images  limit:2 %} "{{ image | img_url: '256x' }}", {% endfor %}
                ],
            {% endif %}        {% endfor %}      {% endpaginate %}    {% endif %}  };
</script>  

{% if request.path contains "/products/" %}{% else %}{% if request.path contains "/collections/" %}<script type="text/javascript" src="https://gravity-apps.com/variantmanager/js/shopify/image_swap7037.js?v=8881891ed1691767fdfd7ea09f1c6254"></script>{% endif %}{% endif %}{% endif %}
<!-- Show variants code end. Do not change GSEND --></head>

  <body class="warehouse--v1 {% if template.directory %}template-{{ template.directory | handle | replace: '_', '-' }}{% endif %} template-{{ template.name | handle | replace: '_', '-' }}" data-instant-intensity="viewport">
    
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6TKJVP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <span class="loading-bar"></span>

    {% section 'announcement-bar' %}

    {%- unless request.page_type == 'cart' -%}
      {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
      {% section 'popups' %}
    {%- endunless -%}

    {% section 'header' %}

    <main id="main" role="main" class="{{ page.handle }}">
      {{ content_for_layout }}
    </main>

    {%- if request.page_type == 'blog' or request.page_type == 'article' or request.page_type == 'page' -%}
      {% section 'static-newsletter' %}
    {%- endif -%}

    {% section 'text-with-icons' %}
    {% section 'footer' %}

    

    {{ 'demo.js' | asset_url | script_tag }}
    <script>
      $(document).ready(function(){
        var url;
        $('video.lazyloadvideo').each(function(){
          if($(window).width() > 798){
          	 url = $(this).data('src');
          }else{
          	 url = $(this).data('msrc');
          }
          $(this).attr('src',url);
        });
      });
    </script>
   {% include 'smile-initializer' %}

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
        account: 'TbNUcW',
        platform: 'shopify'
    });
    klaviyo.enable('backinstock',{ 
    trigger: {
    product_page_text: 'notify me when available',
    product_page_class: 'product-form__add-button button button--primary',
    product_page_text_align: 'center',
    product_page_margin: '10px',
	replace_sold_out: true
    },
    modal: {
    headline: '{product_name}',
    body_content: 'we\'ll let you know as soon as {product_name} is available!',
    email_field_label: 'enter your email address',
 
    button_label: 'notify me when available',
    subscription_success_label: 'You\'re in! We\'ll let you know when it\'s back.',
 
    footer_content: '',
    close_label: '',
 
    additional_styles: "@import url('https://fonts.googleapis.com/css?family=Roboto');",
 	font_family: '"Roboto","HelveticaNeue","Helvetica Neue",sans-serif;',
 
    drop_background_color: '#fff',
    background_color: '#FA7200',
    text_color: '#682335',
    button_text_color: '#fff',
    button_background_color: '#682335',
    close_button_color: '#fff',
    error_background_color: '#FA7200',
    error_text_color: 'red',
    success_background_color: '#FA7200',
    success_text_color: '#fff'
    }
});
</script>

<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>

<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101326645);</script>
<script async src="//static.getclicky.com/js"></script>
    

{% if content_for_header contains 'fastbundle.co' %}
    {% render 'fast_bundle_service' %}
{% endif %}

<!-- GSSTART Show variants BODY. Do not change -->{% if collection.products %}
<div class="gsdatacontb" style="display: none !important;">
  {% paginate collection.products by 50 %}{% for product in collection.products %}{% assign imagescount = product.images | size %}{% if imagescount > 1 %}
  <div style="display: none !important;" class="gsProductVariants" gsProductHandler="{{ product.handle }}" >{% assign variantImgsUsedStr = "" %} {% assign variantBySizeUsedStr = "" %}{% assign sizeoptionnr = 0 %}
{% for option in product.options %}{% capture optioncaseins %}{{option | downcase}}{% endcapture %}{% if optioncaseins contains "size" or optioncaseins contains "rösse" or optioncaseins contains "المقاس" or optioncaseins contains "oko" or optioncaseins contains "eden" or optioncaseins contains "größe" or optioncaseins contains "éret" or optioncaseins contains "ozmiar" or optioncaseins contains "torlek" or optioncaseins contains "aille" or optioncaseins contains "aglia" or optioncaseins contains "alla" or optioncaseins contains "amaño" or optioncaseins contains "גודל" or optioncaseins contains "サイズ" or optioncaseins contains "taille" or optioncaseins contains "eggiseno" or optioncaseins contains "aat" or optioncaseins contains "tamanho" or optioncaseins contains "rrelse" or optioncaseins contains "siza" %}{% assign sizeoptionnr = forloop.index %}{% if product.options.size == 1 %}{% endif %}{% if optioncaseins contains "color" or optioncaseins contains "colour" or optioncaseins contains "farge"  %}{% assign sizeoptionnr = 0 %}{% endif %}{% endif %}{% endfor %}
    {% for variant in product.variants %}{% assign featuredImageSize = variant.featured_image | size %}{% if featuredImageSize > 0  %}{% if variantImgsUsedStr contains "IGNOREGS" %}{% else %}{% assign variantImgsUsedStr = variantImgsUsedStr | append: variant.featured_image %}{% assign canAddVariant = true %}{% if sizeoptionnr == 1 %}{% assign optionCheckVal = ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}{% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option2 | append: variant.option3 | append: ";" %}{% endif %}{% endif %}
    {% if sizeoptionnr == 2 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
                {% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option3 | append: ";" %}{% endif %}{% endif %} {% if sizeoptionnr == 3 %}{% assign optionCheckVal = ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% if variantBySizeUsedStr contains optionCheckVal %}
                {% assign canAddVariant = false %}{% else %}{% assign variantBySizeUsedStr = variantBySizeUsedStr | append: ";" | append: variant.option1 | append: variant.option2 | append: ";" %}{% endif %}{% endif %} {% if canAddVariant == true %}
    <p vcontinue="{{ variant.inventory_policy }}" vquantity="{{ variant.inventory_quantity }}" vavailable="{{ variant.available }}" variantpriceid="{{ variant.id }}" originalcompprice='{{ product.compare_at_price_min | money_without_trailing_zeros | escape }}' originalprice='{{ product.price | money_without_trailing_zeros | escape }}' minprice='{{ product.price_min | money_without_trailing_zeros | escape }}' comparePrice='{{ variant.compare_at_price | money_without_trailing_zeros | escape }}' variantPrice='{{ variant.price | money_without_trailing_zeros | escape }}'></p>
    <p varianttitleid="{{ variant.id }}"  sizeoptionnr="{{ sizeoptionnr }}" vsavailable="{{ variant.available }}" optionuidtwo="{{ product.id }}{{ variant.option2 | escape }}" optiontwo="{{ variant.option2 | escape }}" originaltitle="{{ product.title | escape }}" variantTitle="{{ variant.title | escape }}" optionuid="{{ product.id }}{{ variant.option1 | escape }}"></p>
       <span variantid="{{ variant.id }}" imgwidth="{{ variant.featured_image.width }}" imgheight="{{ variant.featured_image.height }}" gsvariantimage="{{ variant.featured_image | img_url: '256x' }}"></span>
    {% endif %}{% endif %}{% endif %}{% endfor %}
  </div>{% endif %}{% endfor %}{% endpaginate %}{% endif %}
  {% if collection.products %}
        <div style="display: none !important;" class="gsProductImages" >
        {% paginate collection.products by 50 %}{% for product in collection.products %} {% assign imagescount = product.images | size %}{% if imagescount > 1 %}{% for image in product.images  limit:1 %}
                                        <span gsProductHandle="{{ product.handle }}" firstImage="{{ image | img_url: '256x' }}"></span>
                                {% endfor %}{% endif %}{% endfor %}{% endpaginate %}
  </div>
  </div>
    {% endif %} <!-- Show variants code end BODY. Do not change GSEND --></body>
</html>
