<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

  #main .shopify-section__article {
    max-width: 100%;
}

  #main .article__content p {
      width: 100%;
  }
  #main .video-wrapper iframe {
      position: static;
      min-height: 400px;
  }
  #main .video-wrapper::after {
      display: none;
  }
  #main .article__content div {
      max-width: 100% !important;
  }

  #main .titNewsPpal{
    font-family: 'Laila';
    font-size:54px;
    color: #691536;
    text-align: center;
    font-weight:400;
    width:100%;

  }

  #main .colorRosa {
    color:#ff5859!important;
    left: -10px;
    margin: 10px 0;
  }

  #main div#shopify-section-blog-sidebar {
    display: none;
}
  #main .card{
    display: none;
  }


  #main .article__inner {
    clear:both;
    margin-top:250px!important;
  }

  #main .page__meta-item--date{
    line-height:16px;
  }

  #main{background:#fff;}

  #main .article__share-label{
    color:#ff5859;
    text-transform: lowercase;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;

  }

  #main .social-media__item{
    color:#ff5859 !important;
    background: #ff5859;
    opacity:1;
  }

  #main .social-media__item svg path {
    fill:#fff!important;
  }

  #main .social-media__item svg{
    opacity:1;
  }

  #main .contentBtnMoreBlog{
    margin:0 auto;
    width:100%;
    text-align:center;
    margin-top: -40px;
    margin-bottom: 200px;
  }

  #main .btnMoreBlog{
    background:#ff5859;
    color:#fff;
    font-family:Roboto;
    font-size:24px;
    padding:20px 100px;
    text-align:center;
    border-radius: 14px;
    font-weight:400;
    cursor:pointer;
  }

  @font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Myriad Pro Light'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MyriadPro-Light.woff?v=1610573804') format('woff');
  }
  @font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MYRIADPRO-REGULAR.woff?v=1610553223') format('woff');
  	font-display: swap;
  }
  
  #main .article__content,
  #main .article__content div p,
  #main .article__content div span,
  #main .article__content div p span,
  #main .article__content p,
  #main .article__content p span {
    font-family: 'Myriad Pro';
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  #main .article__content p,
  #main .article__content p span,
  #main .article__content div,
  #main .article__content div span
  {
    max-width:1000px;
  }

  #main .article__content div span{
    display: inline-block;
  }

  #main #shopify-section-static-newsletter {
    display:none;
  }

  #main .article__author--avatar{
    float:left;
    margin-left: 20px;
    margin-top: 10px;
  }

  #main .article__author--avatar img {
    display: inline;
    width: 104px;
    height: 104px;
    border-radius: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  #main .txtAuthor{
    font-family:"Roboto";
    font-weight:500;
    font-size:20px;
    line-height:22px;
    color:#df867c;
    margin-top: 40px;
    width:200px;
    float:left;
    margin-left: 40px;
  }

  .MT0{ margin-top:0!important;}

  #main .social-media__item{
        color: #df867c;
  }

  #main .article__image-wrapper {
      margin-bottom: 0px;
  }

  #main .tagsBlog{
    font-family: 'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #df867c;
    text-align: center;
    margin: 0 auto 30px auto;
  }

   #main li.social-media__item {
    margin: 0 10px;
  }
  #main .social-media__item svg{
    width: 28px;
    height: 28px;
  }
   #main .article__aside{
    max-width: max-content;
     margin: auto; 
   }

  form.comment-form {
      display: flex;
      flex-flow: row;
      max-width: 1040px;
      margin-left: auto;
      margin-right: auto;
     padding: 20px 20px 50px 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    }

   form.comment-form input[type = "text"],
  form.comment-form input[type = "email"],
  form.comment-form textarea{
    display: block;
    padding: 12px;
    width: 100%;
    line-height: normal;
    height: 48px;
    color: #691A2A !important;
    -webkit-appearance: none;
    resize: none;
    font-size: 1rem;
    transition: border-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    border: 2px solid #80808061;
    border-radius: 4px;
   }

   form.comment-form input[type = "text"]:focus,
  form.comment-form input[type = "email"]:focus,
  form.comment-form textarea:focus {
    border-color: #691a30;
    box-shadow: 0 0 0 1px #691a30;
    color: #691a30;
    outline: none;
}

  .form__field:focus {
    border-color: #691a30;}

  .comment-form .submit input {
    display: flex;
    padding: 8px 1.5em;
    background: #ff5859;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: .2px;
    margin: 0px 0 20px auto;
    text-transform: lowercase;

}
  .comment-form .submit input:hover{
    background: #6a1a31;
  }
.comment-form label {
    font-size: 20px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #691a30;
  text-transform: lowercase;
}
  .comment-form .name, .comment-form .email {
    width: 48%;
}
  .comment-form .comment, .comment-form .submit {
    width: 100%;
}
  .comments ul p{
   font-family: Source Sans Variable;
    color: #6A6C77;
    font-size: 18px;
    line-height: 25px;
  }

    .comments ul{
      width:100%;
      margin-bottom: 20px;
      border-top-width: 1px;
    color: inherit;
    }
  .comment-desc .author{
    font-weight: 600;
    color: #6a1a31!important;
    text-transform:capitalize;
    letter-spacing: .5px;
    line-height: 20px;
    font-family: Laila;
    font-size: 18px!important;
}
  .comments h2 {
    font-size: 20px;
    font-weight: 600;
}
  .comment-desc{
    display: flex;
    justify-content: space-between;
  }
  form.comment-form textarea{
    height:unset;
  }
  li.comment-block {
    margin-top: 20px;
    list-style: disc;
    margin-left: 20px;
    
}
  .Comment{
    display:flex;
  }
  .article__inner .article__content.rte {
    margin-bottom: 60px;
}
  #main .article__aside {
    margin-top: 50px !important;
}
  #main .article__aside-item{
    display:block;
  }
  #main .article__aside-item .article__share-label{
    text-transform: lowercase;
    font-size: 20px;
    line-height: 22px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #691a30;
    text-align: center;
  }
  #main div#shopify-section-article-template {
    margin-bottom: 0;
}
@media screen and (min-width: 641px) {
  #main .page__header {
      margin: 0px 0 0px 0;
  }
}
@media screen and (max-width: 767px) {
  .comment-form .name, .comment-form .email {
    width: 100%;
}
}
@media screen and (max-width: 1000px) {
  #main .titNewsPpal {
    font-size: 24px;
    line-height: 26px;
  }

  #main .article__author--avatar {
    margin-left: 0;
  }

  #main .txtAuthor {
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
    margin-left: 16px;
  }

  #main .article__inner {
    margin-top: 10px!important;
  }

  #main .article__author--avatar img {
    width: 50px;
    height: 50px;
  }

  #main .article__image-wrapper {
    margin-bottom: 0px;
  }

  #main .article__content p,
  #main .article__content p span,
  #main .article__content div,
  #main .article__content div span {
    max-width:86%;
    font-size: 14px;
    line-height: 20px;
  }

  #main .article__aside{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }


  #main .btnMoreBlog{
    font-size:20px;
    padding:20px 30%;
  }

  #main .article__share-label{
    font-size: 14px;
  }

  #main .contentBtnMoreBlog{
    margin-bottom:100px;
  }

  #main .tagsBlog {
    font-size: 12px;
    margin: 0 auto 20px auto;
  }

}

</style>

<article data-section-id="{{ section.id }}" data-section-type="blog-post">
  <header class="page__header page__header--stack">
    <div class="tagsBlog">
      {% assign cont = 0 %}
      {% for tag in article.tags %}
           {% assign cont = cont | plus: 1 %}
        {%- if cont > 1 -%}
          {{ tag | prepend: ' ' }}
        {%- else -%}
          {{ tag }}
        {%- endif -%}

      {% endfor %}
    </div>
    <h1 class="page__title heading h1 titNewsPpal">{{ article.title }}</h1>
  </header>


  {%- if section.settings.show_author -%}
      <div class="article__author--avatar">
          {% assign authorImage = article.user.first_name | append:'_' | append: article.user.last_name | append:'.jpg' %}
        <img src="{{ authorImage | asset_url }}" alt="{{ article.author }}">
      </div>

  {% endif %}





  <div class="txtAuthor">
    {%- if section.settings.show_author -%}
          <div class="page__meta-item--author">by {{ 'blog.article.written_by' | t: author: article.author }}</div>
    {%- endif -%}
    {%- if section.settings.show_date -%}
          <time class="page__meta-item--date">{{ article.published_at | date: "%m.%d.%Y" }}</time>
    {%- endif -%}
  </div>






  {%- if section.settings.show_share_buttons -%}
    {%- capture share_buttons -%}
      {%- assign share_url = shop.url | append: article.url -%}
      {%- assign twitter_text = article.title -%}
      {%- assign pinterest_description = article.excerpt_or_content | strip_html | truncatewords: 15 | url_param_escape -%}
      {%- assign pinterest_image = article.image | img_url: 'large' | prepend: 'https:' -%}

      <ul class="social-media__item-list list--unstyled colorRosa">
        <li class="social-media__item social-media__item--pinterest">
          <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
        </li>


        <li class="social-media__item social-media__item--twitter colorRosa">
          <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
        </li>

        <li class="social-media__item social-media__item--facebook colorRosa">
          <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
        </li>


        <li class="social-media__item MT0">
          <a href="mailto:?&subject={{ article.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
        </li>
      </ul>
    {%- endcapture -%}
  {%- endif -%}


  {%- if section.settings.show_share_buttons or article.comments_enabled? -%}
    <div class="card hidden-phone">
      <div class="card__section card__section--tight">
        <div class="article__toolbar">
          {%- if section.settings.show_share_buttons -%}
            <div class="article__toolbar-item">
              <span class="article__share-label">connect with us:</span>
              {{- share_buttons -}}
            </div>
          {%- endif -%}

          {%- if article.comments_enabled? -%}
            <div class="article__toolbar-item">
              {% render 'icon', icon: 'bi-comment' %}
              <a href="#comments" class="article__comments-count link">{{ 'blog.article.comments_count' | t: count: article.comments_count }}</a>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endif -%}


  <div class="article__inner">
    <div class="article__content rte">
      {{ article.content }}
    </div>
  </div>
  {% form 'new_comment', article %}
  {{ form.errors | default_errors }}

  <div class="name">
    <label for="name">Name</label>
    <input type="text" name="comment[author]" placeholder="Name" value="{{ form.author }}">
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="comment[email]" placeholder="Email" value="{{ form.email }}">
  </div>

  <div class="comment">
    <label for="comment">Comment</label>
    <textarea rows="5" name="comment[body]" placeholder="Enter your comment">{{ form.body }}</textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Post">
  </div>
{% endform %}

{%- assign new_comment = false -%}
{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {% break %}
    {%- endif -%}
  {%- endfor -%}

  {%- if duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count -%}
  {%- else -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endif -%}
  {%- else -%}
    {%- assign number_of_comments = article.comments_count -%}
{%- endif -%}

<!-- Code to output article content can be added here. -->

{%- if blog.comments_enabled? -%}
  {%- if number_of_comments > 0 -%}
<!--      <hr aria-hidden="true"> -->
    <div class="comments">
   
    <h2>comments({{ article.comments_count }})</h2>
    <ul>

      <!-- If a comment was just submitted with no blank field, show it. -->
      {%- if new_comment -%}
        <li class="comment-block">
        
          
         <div class="comment-desc"> 
            <span class="author">>{{ comment.author }}</span>
  	      <span>{{ comment.created_at | date: "%m-%d-%y" }}</span>
           </div>
           <div class="Comment">{{ comment.content }}</div>
        </li>
      {%- endif -%}

      {% for comment in article.comments %}
        {% unless comment.id == new_comment_id %}
          <li class="comment-block">
           
           <div class="comment-desc"> 
            <span class="author">{{ comment.author }}</span>
             
  	        <span>{{ comment.created_at |  date: "%m-%d-%y" }}</span>
               </div>
             <div class="Comment">{{ comment.content }}</div>
          </li>
        {% endunless %}
      {% endfor %}

    </ul>
  </div>
  {%- if section.settings.show_share_buttons or section.settings.show_tags and article.tags.size > 0 -%}
      <div class="article__aside">
        {%- if section.settings.show_share_buttons -%}
          <div class="article__aside-item">
            <p class="article__share-label">connet with us</p>
            {{ share_buttons }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
</article>

<script>
  // Due to the presence of the possible sidebar, we have to move the header outside the section
  document.querySelector('.blog-container').insertAdjacentElement('beforebegin', document.querySelector('#shopify-section-' + {{ section.id | json }} + ' .page__header'));
</script>
 <script>
    if (window.location.pathname.indexOf("/blog")>-1){
        document.getElementsByTagName( 'html' )[0].classList.add("Blog");
        }

       $(".article__content").find("img").parent().parent().css("max-width","100%");
       $(".article__content").find("img").parent().css("max-width","100%");
  </script>

{% schema %}
{
  "name": "Blog post page",
  "class": "shopify-section__article",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_gravatar",
      "label": "Show comment avatar",
      "default": true
    }
  ]
}
{% endschema %}