{% if article.image != blank %}
<div class="article_banner_image">
  <div class="container">
    <div class="article_banner">
      <img src="{{ article.image | img_url :'master'}}">
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Article Banner",
    "settings": [
      {
         "type":"checkbox",
         "id":"article_banner",
         "label":"Show Article Banner"
      }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
