<div class="bs_background">
  <div class="container-faq">
    <div class="bs_container">
      <div class="bs_heading bs_main">{{ section.settings.heading }}</div>
      <div class="bs_heading bs_subheading">
        {{ section.settings.heading2 }}
      </div>

      <div class="bs_media">
        {% include 'video-vimeo', video_url: section.settings.video_url, autoplay: section.settings.video_autoplay %}
      </div>

    </div>
  </div>
</div>

<style>
.bs_background {
  background-image: url({{ section.settings.background | img_url: '1800x' }});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bs_container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bs_heading {
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.1;
  font-size: 2em;
  padding: 1em 0;
}

.bs_main {
  font-family: Laila;
  font-weight: 100;
  padding: 0;
}

.bs_media {
  width: 100%;
  height: auto;
  margin: 2em 0 5em 0;
}

@media (max-width: 1000px) {
  .bs_heading {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .bs_heading {
    font-size: 1.4em;
  }
}

@media (max-width: 425px) {
  .bs_media {
    width: 100%;
    height: auto;
    padding: 0 1em;
  }
  .bs_heading {
    font-size: 1.7em;
  }

  .bs_main {
    font-size: 1.6em;
  }
}

</style>

{% schema %}

{
  "name": "Background Section",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>shaving with hanni is nothing like<br>what you're used to (it's so much better!).</p>"
    },
    {
      "type": "richtext",
      "id": "heading2",
      "label": "SubHeading",
      "default": "<p>check out some frequent questions in the video below.<br>then scroll for more info.</p>"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Vimeo Video URL",
      "default": "https://vimeo.com/500143898",
      "info": "Example https://vimeo.com/500143898"
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "Autoplay video",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_background",
      "label": "Background video mode",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    }
  ]
}

{% endschema %}
