<style>
  #shopify-section-blog-template .aspect-ratio{
    width:360px;
    height:360px;
    object-fit: cover;
  }

  ul.page__tag-list.hidden-pocket {
    display: none;
  }

  @media screen and (max-width:412px){
    #shopify-section-blog-template .aspect-ratio{
      width: auto;
    }
  }

  @font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 100;
    src: local('Myriad Pro Light'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MyriadPro-Light.woff?v=1610573804') format('woff');
  }
  @font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MYRIADPRO-REGULAR.woff?v=1610553223') format('woff');
  	font-display: swap;
  }

  #shopify-section-blog-template .excerptBlog{
    font-family:'Myriad Pro';
    font-size:18px;
    color:#6a1536;
    line-height:22px;
    text-align:center;
    margin:10px 0px 0 0px;
    min-height: 22px;
    font-weight:400;
  }

  .contentHeader{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  .contentHeader img{
    width: 100%;
  }
  .contentHeader img{
    width: 100%;

  }

  /* @import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap'); */
  @font-face {
    font-family: 'Ultra';
    src: url({{ 'Ultra-Regular.ttf' | asset_url }}) format("truetype");
  	font-display: swap;
  }
  .titBlog{
    font-family: 'Ultra';
    font-size: 28px;
    color: #691536;
    text-align: center;
    line-height: 30px;
    width: 99%;
    margin: 0 80;
    padding: 0 0px;
    min-height: 48px;
    font-weight:400;
  }

  .readmoreBlog{
    font-family: 'Roboto';
    font-weight:500;
    font-size: 18px;
    color: #d8404a;
    text-align: center;
     margin-top:0px;

  }

  .article-item__image-container{
    margin-bottom: 15px;

  }

  .template-blog #shopify-section-static-newsletter{
    display:none;
  }

  @media screen and (min-width: 641px){
    .header__logo-image {
      max-width: 80px;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 840px){
    .medio--tablet{
       width:100%;
    }


  }

  @media screen and (min-width: 1000px) and (max-width: 1080px){
    .medio--tablet{
       width:50%;
    }


  }

  @media screen and (min-width: 641px) and (max-width: 840px){
    .medio--tablet{
      width:100%;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1080px){
    .medio--tablet{
      width:50%;
    }
  }


  @media screen and (min-width:1080px) and (max-width:1280px){
    .medio--tablet{
      width:33%;
    }

    .titBlog {
      min-height: 44px;
    }
  }

  @media screen and (min-width:1000px) and (max-width:1200px){
    .container{
      padding: 0 0px;
    }
  }

  @media screen and (max-width:1000px){
      .aspect-ratio img{
        min-height: 290px;
        width: 100%;
        padding: 0 10px;
     }

     .titBlog{
         margin: 0px auto 0 auto;
        line-height: 30px;
        min-height: auto;
     }

     #shopify-section-blog-template .excerptBlog {
        font-size: 14px;
        line-height: 14px;
        min-height: auto;
        margin: 10px 30px 0 30px;
     }
     .readmoreBlog {
        font-size: 16px;
        margin-top:0px;
     }
  }


</style>

<section data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="contentHeader">
    {% if section.settings.header_image != blank %}
      <img src="{{ section.settings.header_image | img_url: 'master' }}">
    {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0253/2176/6986/files/headerBlog.jpg?v=1610721692">
    {% endif %}
  </div>

  <div class="container">
    <div class="blog-container">
      {%- if blog.articles_count == 0 -%}
        <div class="empty-state">
          <p class="empty-state__heading heading h1 titBlog">--{{ blog.title }}</p>
          <p class="empty-state__description">{{ 'blog.general.empty' | t }}</p>

          <div class="empty-state__button-container">
            <a href="{{ routes.root_url }}" class="empty-state__button button button--primary">{{ 'blog.general.empty_button' | t }}</a>
          </div>
        </div>
      {%- else -%}
        {%- assign articles_per_page = section.settings.articles_per_page -%}

        {%- assign modulo = articles_per_page | modulo: 2 -%}

        {%- if section.settings.highlight_first_article and modulo == 0 and current_tags == blank -%}
          {%- assign articles_per_page = articles_per_page | plus: 1 -%}
        {%- endif -%}

        {%- paginate blog.articles by articles_per_page -%}
          <div class="block-list block-list--loose block-list--no-flush">
            {%- for article in blog.articles -%}
              <div class="block-list__item 1/1 medio--tablet 1/2--tablet 1/3--desk ">
                {%- render 'article-item', article: article, featured: false -%}
              </div>
            {%- endfor -%}
          </div>

          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
      {%- endif -%}
    </div>
  </div>
</section>

<script>
  // Due to the presence of the possible sidebar, we have to move the header outside the section
  document.querySelector('.blog-container').insertAdjacentElement('beforebegin', document.querySelector('#shopify-section-' + {{ section.id | json }} + ' .page__header'));
</script>

{% schema %}
{
  "name": "Blog page",
  "class": "shopify-section__blog-posts",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Header image"
    },
    {
      "type": "range",
      "id": "articles_per_page",
      "min": 4,
      "max": 30,
      "step": 1,
      "label": "Posts per page",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "highlight_first_article",
      "label": "Highlight first article",
      "info": "Only on large screens.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show category",
      "info": "The first article's tag will be shown as category.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": false
    }
  ]
}
{% endschema %}