<div class="bs_container">
  <div class="bs_heading font-title laila">
    {{ section.settings.main_heading }}
  </div>
  <div class="bs_heading second_heading font-title">
    {{section.settings.second_heading}}
  </div>

  {% assign img_box =  section.settings.image_box | img_url: 'original', crop: 'center' %}
  {% render 'image-text-boxes',
    img_url: img_box,
    custom_title: section.settings.title_box,
    custom_text: section.settings.text_box
    %}

</div>

{% style %}
  /* Sobrescribir el diseño de image-text-boxes */
  .custome-wrapper {
    padding: 0;
    margin-top: 32px;
    margin-bottom: 80px;
  }
  .custome-wrapper .custome-text {
    background-color: #D38A80;
    padding: 4em 3.5em 3em 3.5em;
    align-items: flex-start;
  }
  .custome-wrapper .custome-text .custome-title {
    font-family: Laila;
  }
  .custome-wrapper .custome-text p {
    font-family: !important;
    font-size: 18px!important;
    text-align: justify;
  }
  /* End Sobrescribir el diseño de image-text-boxes */

  .laila {
    font-family: Laila;
  }

	.bs_container {
    display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    padding: 80px 15% 0 15%;
  }

	.bs_heading {
		text-align: center;
		letter-spacing: -0.7px;
		line-height: 1.2;
		padding: 0;
    width: 100%;
  }

  .bs_heading .hightlighted {
    background:  #f7c2ca;
    height: 60px;
  }

	.second_heading{
    padding-top: 24px;
		padding-bottom: 24px;
	}

@media (max-width: 1000px) {
  .second_heading{
		margin-bottom: -1em;
  }

  .bs_container {
    padding: 5em 2.5em 0 2.5em;
  }

  .bs_heading {
    font-size: 28px;
  }
  .custome-wrapper .custome-text .custome-title {
    font-size: 26px!important;
    text-align: left;
    padding: 0 1em 0 0 !important;
  }
}

@media (max-width: 768px) {
  .bs_heading {
    font-size: 24px;
  }
    /* Sobrescribir el diseño de image-text-boxes */
    .custome-wrapper .custome-text {
      padding: 2em;
    }

    .custome-wrapper .custome-text p {
      font-size: 15px!important;
      text-align: left;
    }

    .custome-wrapper .custome-text .custome-title {
      font-size: 20px!important;
      text-align: left;
      padding: 0 1em 0 0 !important;
    }
    /* End Sobrescribir el diseño de image-text-boxes */
}

{% endstyle %}

{% schema %}
{
	"name": "No Pressure Body",
	"settings": [
		{
			"type": "text",
			"id": "main_heading",
			"label": "Main Heading",
			"default": "let the weight of the hanni handle do it's thing.<br>just remember to apply <span class=\"hightlighted\">no pressure</span>"
		},
		{
			"type": "text",
			"id": "second_heading",
			"label": "Second Heading",
			"default": "but to us, no pressure is about so much more than shaving"
    },
    {
      "type": "header",
      "content": "Image with box"
    },
    {
      "type": "image_picker",
      "id": "image_box",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_box",
      "label": "Title",
      "default": "hi, I’m Leslie,<br>ceo and founder"
    },
    {
      "type": "richtext",
      "id": "text_box",
      "label": "Content",
      "default": "<p>as a wife, mother of three young kids, founder, and human being I often find myself struggling to balance it all (spoiler alert - you can’t! at least not in equal parts). The messaging I was hearing was making me feel like I was always falling short.<br><br>“get married” have kids” “be a girl boss” “move your body”  “make sure you get 8-10 hours of sleep”<br><br>was I the only struggling, spreading myself too thin and burning out? You can read about my full no-pressure journey (it involves a post burn-out move to Argentina on a 6-month-turned 10 year adventure) here.</p>"
    }
	]
}
{% endschema %}