<section class="ctm-cart" data-section-id="{{ section.id }}" data-section-type="cart" data-section-settings='{{ section.settings }}' data-item-count="{{ cart.item_count }}">
  {%- if cart.item_count == 0 -%}
    {%comment%} No items {%endcomment%}
    <div class="container">
      <div class="empty-state">
        <div class="empty-state__icon">
          {%- render 'icon', icon: 'big-cart' -%}
        </div>

        <p class="empty-state__heading heading h1">{{ 'cart.general.empty' | t }}</p>

        <div class="empty-state__button-container">
          <a href="{{ settings.cart_empty_button_link | default: routes.root_url }}" class="empty-state__button button button--primary">{{ 'cart.general.empty_button' | t }}</a>
        </div>
      </div>
    </div>
  {%- else -%}

  <form action="/cart" method="post" novalidate data-item-count="{{ cart.item_count }}">
    {%- comment -%}
    --------------------------------------------------------------------------------------
      TITLE
    --------------------------------------------------------------------------------------
    {%- endcomment -%}
    <div class="container-cart">
      <header class="cart-header cart__border">
        <h1 class="cart-header__title">{{ 'cart.general.title' | t }}</h1>
      </header>
    </div>
    <div class="container-cart cart-flex">
      {%- comment -%}
      --------------------------------------------------------------------------------------
      LINE ITEMS
      --------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="cart-items__container">
        <div class="table-wrapper">
          <table class="line-item-table table table--loose">
            <tbody>
              {%- for line_item in cart.items -%}
                <tr class="line-item line-item--stack cart__border">
                  <td class="line-item__product-info">
                    <a class="cart-cross" href="{{ routes.cart_change_url }}?quantity=0&id={{ line_item.key }}" data-action="decrease-quantity" data-quantity="0" data-line-id="{{ line_item.key }}"></a>
                    <div class="line-item__product-info-wrapper line-item__flex-wrapper hhh">
                      <div class="line-item__flex">
                        <div class="line-item__image-wrapper">
                          <div class="aspect-ratio aspect-ratio--square">
                            <img src="{{ line_item.image | img_url: '180x' }}" alt="{{ line_item.image.alt | escape }}">
                          </div>
                        </div>

                        <div class="line-item__meta line-item__grow">

                          <a href="{{ line_item.url }}" class="line-item__title link text--strong font-roboto-medium-20">{{ line_item.product.title }}</a>

                          <span class="line-item__variant">
                            {%- if line_item.variant.title != "Default Title" -%}
                              {{line_item.variant.title}}
                              {%- else -%}
                            {%- endif -%}
                          </span>

                          <div class="line-item__price-list">
                            {%- if line_item.original_price > line_item.final_price -%}
                              {%- if line_item.final_price == 0 -%}
                                <span class="line-item__price line-item__price--highlight">{{ 'cart.general.free' | t }}</span>
                              {%- else -%}
                                <span class="line-item__price line-item__price--highlight" data-money-convertible>{{ line_item.final_price | money }}</span>
                              {%- endif -%}

                              <span class="line-item__price line-item__price--compare" data-money-convertible>{{ line_item.original_price | money }}</span>
                            {%- elsif line_item.variant.compare_at_price > line_item.variant.price -%}
                              {%- if line_item.final_price == 0 -%}
                                <span class="line-item__price line-item__price--highlight">{{ 'cart.general.free' | t }}</span>
                              {%- else -%}
                                <span class="line-item__price line-item__price--highlight" data-money-convertible>{{ line_item.final_price | money }}</span>
                              {%- endif -%}

                              <span class="line-item__price line-item__price--compare" data-money-convertible>{{ line_item.variant.compare_at_price | money }}</span>
                            {%- else -%}
                              {%- if line_item.final_price == 0 -%}
                                <span class="line-item__price">{{ 'cart.general.free' | t }}</span>
                              {%- else -%}
                                <span class="line-item__price" data-money-convertible>{{ line_item.final_price | money }}</span>
                              {%- endif -%}
                            {%- endif -%}
                          </div>


                        </div>
                      </div>
                      <div class="line-item__meta flex-end full-width line-item__bottom">
                       {%- assign allow_to_add_more = true -%}

                        {%- if line_item.variant.inventory_management and line_item.variant.inventory_policy == 'deny' and line_item.quantity == line_item.variant.inventory_quantity -%}
                          {%- assign allow_to_add_more = false -%}
                        {%- endif -%}
                        <div class="line-item__quantity__container">
                          <button type="button" class="line-item__quantity__button line-item__quantity__button-down" data-action="decrease-quantity" data-quantity="{{ line_item.quantity | minus: 1 }}" data-line-id="{{ line_item.key }}" aria-label="{{ 'cart.items.decrease_quantity' | t }}" title="{{ 'cart.items.decrease_quantity' | t }}">
                            {% render 'icon', icon: 'minus', strok %}
                          </button>
                          <input aria-label="{{ 'product.form.quantity' | t }}" class="line-item__quantity quantity-selector__value" type="text" name="updates[]" id="updates_{{ line_item.key }}" value="{{ line_item.quantity }}" min="0" data-id="{{ line_item.key }}" size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" autocomplete="off">
                          <button type="button" class="line-item__quantity__button line-item__quantity__button-up" data-action="increase-quantity" data-quantity="{{ line_item.quantity | plus: 1 }}" data-line-id="{{ line_item.key }}" {% if allow_to_add_more %} aria-label="{{ 'cart.items.increase_quantity' | t }}" title="{{ 'cart.items.increase_quantity' | t }}" {% else %} disabled="disabled" data-tooltip-position="bottom-left" {% endif %}>
                            {% render 'icon', icon: 'plus' %}
                          </button>
                        </div>

                      </div>
                    </div>
                    {% for tag in line_item.product.tags %}   
                      
                {%- if tag contains 'upsell' -%}
                {% assign cartvariant = line_item.variant.title %}
                  <div class="upsell-product cart-details ctm-upshell-box" id="ctm-upshell-box"> 
                    <div class="ctm_upsell_top">
                      <div class="upsell_title">save 31% with the set</div>
                      <div class="cart-cross" id="close_up_product"></div>
                    </div>
                    {% assign product_handle = tag | remove_first: 'upsell_'%}
                    {% assign product = all_products[product_handle] %}
                   
                    {% for variant in product.variants %} 
                    {% if variant.title == cartvariant %}
                    <div class="upsell_content">
                      <div class="img_price_wrapper">
                          <div class="cart-item__thumbnail"><img src="{{ variant.featured_image.src | img_url: '280x' }}"></div>
                      </div>
    
                      <div class="cart-item__meta related-products">
                          <h5 class="text-orange mb-2">{{ product.title }}</h5>
                          <div class="mini-cart__price-list"><span class="price price--highlight" data-money-convertible="">{{ variant.price | money }}</span>
                            <span class="price price--compare" data-money-convertible="">{{ variant.compare_at_price | money}}</span></div>
                          <div class="custom-submit-button two-cans" name="id" data-quantity="1" data-id="{{ variant.id }}" data-key="{{ line_item.key }}">Upgrade</div>
                          <!-- {%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}
                          {%- form 'product', product, id: form_id, class: product_form_classes -%}
                            <input type="hidden" name="quantity" value="1">
                            <input name="id" value="{{ variant.id }}" type="hidden" />
                            <input name="add" value="ORDER NOW" type="submit"/>
                            {%- endform -%} -->
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {%- endif -%}
                {% endfor %}
                    
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>
      </div>

      {%- comment -%}
      --------------------------------------------------------------------------------------
      RECAP
      --------------------------------------------------------------------------------------
      {%- endcomment -%}
      <div class="cart-recap__container">
        <div class="">
          <div class="card__section">
            {%- if cart.cart_level_discount_applications != blank -%}
              {%- for discount_application in cart.cart_level_discount_applications -%}
                <div class="cart-recap__price-line cart-recap__price-line--highlight">
                  <span class="cart-recap__price-line-label">{{ discount_application.title }}</span>
                  <span class="cart-recap__price-line-price">-{{ discount_application.total_allocated_amount | money }}</span>
                </div>
              {%- endfor -%}
            {%- endif -%}

            <div class="cart-recap__price-line" data-tbnadhide='HAS_DISCOUNT' style='display:none;'>
              <span class="cart-recap__price-line-label font-roboto-medium-20">{{ 'cart.general.total' | t }}</span>
              <span class="cart-recap__price-line-price font-roboto-regular-20" data-money-convertible>{{ cart.total_price | money }}</span>
            </div> 
			 <div class="cart-recap__price-line" data-tbnadhide='NO_DISCOUNT' style='display:none;'>
            <span class="cart-recap__price-line-label font-roboto-medium-20">discount</span>
             <span class="cart-recap__price-line-price font-roboto-regular-20"> {%- render 'icon', icon: 'sale' -%}<span data-tbnadfield='CART_DISCOUNT'></span></span>
         	 </div>
            <div class="cart-recap__price-line" data-tbnadhide='NO_DISCOUNT' style='display:none;'>
            <span class="cart-recap__price-line-label font-roboto-medium-20">subtotal</span>
             <span class="cart-recap__price-line-price font-roboto-regular-20"><span data-tbnadfield='CART_TOTAL'></span></span>
         	 </div>
            {%- comment -%}
                  To calculate the total discount, we take into account the Shopify Script (for Plus merchants), but we also add the compare at price as
                  well as potential automatic discounts at cart level
                  {%- endcomment -%}

            {%- assign total_discount = 0 -%}

            {%- for line_item in cart.items -%}
              {%- if line_item.final_line_price < line_item.original_line_price -%}
                {%- assign total_discount = total_discount | plus: line_item.total_discount -%}
              {%- elsif line_item.variant.compare_at_price > line_item.variant.price -%}
                {%- assign line_discount = line_item.variant.compare_at_price | minus: line_item.variant.price | times: line_item.quantity -%}
                {%- assign total_discount = total_discount | plus: line_discount -%}
              {%- endif -%}
            {%- endfor -%}

            {%- for discount_application in cart.cart_level_discount_applications -%}
              {%- assign total_discount = total_discount | plus: discount_application.total_allocated_amount -%}
            {%- endfor -%}

            {%- if total_discount > 0 -%}
              {%- capture amount_saved -%}
                <span data-money-convertible>{{ total_discount | money }}</span>
              {%- endcapture -%}
              <span class="cart-recap__amount-saved">{{ 'cart.general.amount_saved_html' | t: amount_saved: amount_saved }}</span>
            {%- endif -%}
              <button class="button-hanni-primary full mb-10" name="checkout" type="submit">{{ 'cart.general.checkout' | t }}</button>
              {%- comment -%}
              <button class="button-hanni-primary full" type="submit">{{ 'cart.general.update' | t }}</button>
              {%- endcomment -%}
              <p class="cart-continue-shopping__cta font-roboto-medium-20">
                <a href="{{ settings.cart_empty_button_link | default: routes.root_url }}">{{'cart.general.empty_button' | t }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  {%- endif -%}
</section>

<script>
  document.querySelectorAll('.line-item__quantity__button').forEach((e) => {
    e.addEventListener('click', function(ev) {
      const input = e.parentElement.children.item(1);
      const action = e.getAttribute('data-action');
      const quantity = parseInt(input.getAttribute('value'));
      let newQty = action === 'inc' ? quantity + 1 : quantity - 1;
      newQty = newQty < 0 ? 0 : newQty;
      input.setAttribute('value', newQty);
    });
  });
</script>

{% style %}

.header__cart-count {
  color: #6a1a31!important;
  z-index: 0;
  transform: none!important;
}

.icon--minus,.icon--plus {
  width: 10px;
  height: 10px;
}

html {
  background-color: white;
}

.mb-10 {
  margin-bottom: 8px;
}

.flex-end {
  align-items: flex-end !important;
}

.container-cart {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 12%;
}

.cart-header {
  margin-top: 8em;
  padding: 0 5px;
}

.cart__border {
  border-bottom: 1px solid #6a1a31;
}

.cart-header__title {
  font-size: 32px;
  font-weight: 900;
  font-family: 'Roboto';
  color: #6a1a31;
}

.font-roboto-medium-20 {
  font-family: 'Roboto' !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.font-roboto-regular-20 {
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
  font-size: 20px !important;
}

.cart-flex {
  display: flex;
  margin-bottom: 6em;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-items__container {
  flex: 1;
}

.cart-recap__container {
  margin-top: 3em;
  padding-left: 2em;
  width: 25%;
  min-width: 300px;
}

.cart-recap__checkout {
  border-radius: 0;
  width: 100%;
  padding: 0.5em;
  background-color: #6a1a31;
  color: white;
}

.cart-recap__price-line {
  display: flex;
  align-items: baseline;
  color: #6a1a31 !important;
  font-weight: 500 !important;
  margin-bottom: 1.5em;
}

.cart-recap__price-line-price {
  color: #6a1a31 !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  padding-right: 5px;
  padding-left: 10px;
}

.cart-continue-shopping__cta {
  display: block;
  text-align: center;
  padding: 1em 0;
}

.cart-continue-shopping__cta a {
  color: #ff5859;
}

.cart-continue-shopping__cta a:hover {
  color: #6a1a31;
}
.line-item__flex-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-item__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line-item__product-info {
  position: relative;
}

.line-item__image-wrapper {
  width: 180px;
  min-width: 180px;
}

.line-item__meta {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: baseline;
}

.line-item__grow {
  flex: 1;
}

.line-item__title {
  font-size: 24px !important;
  padding: 0 !important;
}

.line-item__price {
  color: #6a1a31 !important;
  font-size: 24px !important;
  margin-top: 1em;
  font-weight: 500 !important;
}

.line-item__variant {
  font-size: 14px;
  font-weight: bold;
  margin-top: -8px;
}

.line-item__quantity__container {
  position: relative;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 50px;
  width: 100%;
}

.line-item__quantity {
  flex: 1;
  height: 50px;
  margin: 0!important;
  padding: 0 0.5em ;
  border: 1px solid #6a1a31;
  border-right: 0;
  border-left: 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}


.line-item__quantity__button {
  flex: 0 auto;
  height: 50px;
  width: 40px;
  position: static;
  display: inline-block;
  border: 1px solid #6a1a31;
}

.line-item__quantity__button-up {
  top: -3px;
}

.line-item__quantity__button-down {
  bottom: 0;
}

.cart-cross {
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 5;
}

.cart-cross:after,
.cart-cross:before {
  z-index: 5;
  content: '';
  position: absolute;
  top: 3.5em;
  right: 2.5em;
  width: 2px;
  height: 20px;
  background: #D8404A;
}

.cart-cross:hover:after, .cart-cross:hover:before {
  background: #6a1a31;
}

.cart-cross:after {
  transform: rotate(45deg);
}

.cart-cross:before {
  transform: rotate(-45deg);
}

@media(min-width: 1480px) {
  .container-cart {
    padding: 0 5%;
  }

}

@media(max-width: 1056px) {
  .cart-flex {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .cart-header {
    margin-top: 6em;
  }

  .cart-items__container {
    width: 100%;
  }

  .cart-recap__container {
    margin-top: 3em;
    padding: 0;
    width: 100%;
  }

  .cart-recap__price-line {
    justify-content: flex-end;
  }
}

@media(min-width: 769px) {
  .line-item__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end
  }
}

@media(max-width: 768px) {
  .line-item__quantity__container {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 50px;
    width: 100%;
  }

  .line-item__quantity__button {
    flex: 0 auto;
    height: 50px;
    width: 40px;
    position: static;
    display: inline-block;
    border: 1px solid #6a1a31;
  }

  .line-item__quantity {
    flex: 1;
    border-left: 0;
    height: 50px;
    margin: 0!important;
    border-right: 0;
  }

  .line-item__grow {
    height: 100px!important;
    display: flex;
    justify-content: space-between!important;
  }

  .full-width {
    width: 100%!important;
  }

  .cart-flex {
    margin-bottom: 0;
  }

  .line-item__flex-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media(max-width: 640px) {
  .cart-cross:after,
  .cart-cross:before {
    top: 1.5em;
    right: 1.8em;
    z-index: 2;
  }

  .container-cart {
    padding: 0 10%;
  }

  .cart-header {
    margin-top: 4em;
    padding: 0 5px;
  }

  .cart-flex {
    margin-bottom: 3em;
  }

  .line-item__image-wrapper {
    width: 90px !important;
    min-width: 90px !important;
  }

  .line-item__title {
    font-size: 22px !important;
  }

  .line-item__variant {
    font-size: 14px;
    font-weight: bold;
    margin-top: -8px;
  }

  .line-item__price {
    margin-top: 0;
  }
  .line-item__quantity__button-up {
    top: 8px;
  }
}

@media(max-width: 425px) {
  .cart-header {
    margin-top: 0;
  }

  .cart-header__title {
      text-align: center;
      font-size: 36px;
      padding-bottom: 7px;
  }
  .line-item__product-info {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .cart-recap__checkout {
    padding: 0.6em 0.5em;
    background: #D8404A;
    border-radius: 15px;
  }
  .cart-recap__checkout:hover {
    background: #6a1a31;
  }

  .cart-cross:after,
  .cart-cross:before {
    right: .5em;
  }

  .cart-recap__container {
    margin-top: 1.5em;
  }

  .cart-recap__price-line {
      justify-content: space-between;
      margin-bottom: 2.5em;
  }

  .cart-recap__price-line-label {
    font-size: 20px!important;
  }
}
{% endstyle %}

{% schema %}
{
  "name": "Cart page",
  "settings": []
}
{% endschema %}