<section class="section" data-section-id="{{ section.id }}" data-section-type="">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3">{{ section.settings.title | escape }}</h2>

        {%- if section.settings.link_title != blank and section.settings.link != blank -%}
          <a href="{{ section.settings.link }}" class="section__action-link link">{{ section.settings.link_title | escape }} {% render 'icon', icon: 'tail-right' %}</a>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="scroller">
      <div class="scroller__inner">
        <div class="collection-list">
          {%- for block in section.blocks -%}
            {%- assign collection = collections[block.settings.collection] -%}

          <a href="{{ collection.url | default: '#' }}" class="collection-item" data-collection-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {%- unless collection.empty? -%}
            {%- assign collection_image = block.settings.image | default: collection.image | default: collection.products.first.featured_image -%}

            <div class="collection-item__image-wrapper {% if section.settings.round_images %}collection-item__image-wrapper--rounded{% endif %}" style="background-image: url({{ collection_image | img_url: '1x1' }})">
              {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800', image: collection_image -%}{%- endcapture -%}
              {%- assign image_url = collection_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              <div class="aspect-ratio" style="padding-bottom: 100%">
                <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ collection_image.alt | escape }}">

                <noscript>
                  <img src="{{ collection_image | img_url: '450x' }}" alt="{{ collection_image.alt | escape }}">
                </noscript>
              </div>
            </div>

            {%- if section.settings.show_collection_title -%}
              <span class="collection-item__title text--strong">{{ collection.title }} {% render 'icon', icon: 'tail-right' %}</span>
            {%- endif -%}
          {%- else -%}
            <div class="collection-item__image-wrapper {% if section.settings.round_images %}collection-item__image-wrapper--rounded{% endif %}">
              {%- capture placeholder -%}{% cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' %}{%- endcapture -%}
              {{- placeholder | placeholder_svg_tag: 'placeholder-svg' -}}
            </div>

            {%- if section.settings.show_collection_title -%}
              <span class="collection-item__title text--strong">{{ 'home_page.onboarding.collection_title' | t }} {% render 'icon', icon: 'tail-right' %}</span>
            {%- endif -%}
          {%- endunless -%}
            </a>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Our collections"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "default": "/collections"
    },
    {
      "type": "checkbox",
      "id": "round_images",
      "label": "Round images",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
	{
      "type": "image_picker",
      "id": "id_img",
      "label": "Imagen"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px .jpg recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}