{% capture none_background %} {{section.settings.background.image}} {%endcapture%}

<div class="
  {% if none_background == blank %}
  bs_background_color
  {% else %}
  bs_background {% if section.settings.background_mobile %}mobile_auto{% endif %}

{% endif %}
">
  <div class="bs_container">
      <div class="bs_heading bs_main font-title">
        {{ section.settings.main_heading }}
      </div>
      <div class="bs_subheading font-subtitle">
        {{ section.settings.main_subheading }}
      </div>
	</div>
  {% if section.settings.second_heading != blank %}
    <div class="bs_heading second_heading font-title">
      {{section.settings.second_heading}}
    </div>
  {% endif %}
	<div class="gallery__container">
		{% for block in section.blocks %}
			<div class="item__container">
				<div class="image__container">
					<img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}"/>
				</div>
				<div class="csr-details__container">
					<div class="item__heading font-title">
						{{block.settings.heading}}
					</div>
					<div class="item__subheading font-subtitle">
						{{block.settings.details}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>



<style>
	.bs_background {
		background-image: url({{ section.settings.background | img_url: '1800x' }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 165vw;
	}
  .bs_background_color {
   background-color: #fae8e9;
  }
	.bs_container {
		padding-top: 4em;
		padding-bottom: 4em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.bs_heading {
		text-align: center;
		letter-spacing: -1.35px;
		line-height: 1.1;
		font-family: Laila;
		padding: 1em 0;
	}
	.second_heading{
		max-width: unset;
	}
	.bs_subheading {
		line-height: 1em;
		letter-spacing: normal;
		color: #6a1a31;
    font-family: 'Roboto';
		text-align: center;
	}
  .bs_subheading.font-subtitle p {
    padding: 0 12vw;
  }
	.item__container:nth-child(even){
		flex-direction: row-reverse;
	}
	.item__container:nth-child(even) .csr-details__container{
		padding: 10vw 5vw 10vw 0vw;
	}

	.item__container {
		display: flex;
		flex-direction: row;
	}
	.item__heading{
		text-align: center;
		letter-spacing: -1.35px;
		line-height: 1.3em;
		font-family: Laila;
		padding: 1em 0;
		max-width: 50vw;
	}
	.item__subheading {
    font-family: Laila!important;
    font-size: 35px;
		line-height: 1em;
		max-width: 50vw;
		text-align: center;
    font-weight: 500;
    text-align: left;
	}
	.item__container:nth-child(even) .item__subheading {
		text-align: right;
	}
	.gallery__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
    padding-bottom: 15px;
	}
	.image__container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 35vw;
	}
  .csr-details__container {
		display: flex;
		flex-direction: column;
    padding: 7vw 7vw;
		align-items: center;
	}

@media (max-width: 1200px) {
  .bs_container {
		padding-top: 3em;
		padding-bottom: 2em;
	}
}

@media (max-width: 800px) {

	.mobile_auto.bs_background {
		background-image: url({{ section.settings.background_mobile | img_url: '600x' }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 165vw;
	}

  .bs_container {
		padding-top: 5em;
	}

	.bs_main {
    max-width: 85%;
	}

  .bs_heading {
    font-size: 26px;
  }

	.item__container:nth-child(even) {
    	flex-direction: column;
	}
	.item__container:nth-child(even) .csr-details__container {
		padding: 0vw 0vw 10vw 0vw;
	}

	.bs_subheading {
		font-size: 1em;
    line-height: 1.2;
		max-width: unset;
	}
	.csr-details__container {
		padding: 0vw 0vw 10vw 0vw;
	}
	.item__heading {
		max-width: 78vw;
		padding: 0vw 0vw 6vw 0vw;
		line-height: 1.2em;
		font-size: 26px;
		letter-spacing: -0.06em;
	}
	.item__subheading {
		max-width: 76vw;
		padding: 0;
		line-height: 1.2;
		font-size: 16px;
	}

	.instruction__container {
	  margin-bottom: 2em;
	}

	.image__container {
	  width: 80vw;
	}
	.item__container{
		flex-direction: column;
	}
}

@media (max-width: 600px) {
  .bs_container {
		padding-top: 2em;
	}
  .bs_subheading {
    width: 85vw;
  }
  .bs_subheading p br {
    display: none;
  }
  .bs_subheading.font-subtitle p {
    padding: 0 15px;
  }
   .csr-details__container p {
	text-align: center;
   }
}

@media (min-width: 1200px) {
  .second_heading {
    padding-top: 15%;
  }
}
</style>

{% schema %}
{
	"name": "About-Gallery",
	"settings": [
		{
			"type": "text",
			"id": "main_heading",
			"label": "Main Heading",
			"default": "<p>making the world a better place one shave at a time.</p>"
		},
		{
			"type": "richtext",
			"id": "main_subheading",
			"label": "Main SubHeading",
			"default": "<p>at hanni we believe in \"No Pressure\". What does that mean? <br>No one should feel pressured by society, social media, or anyone <br>that they aren't doing life right. Work, school, kids, appointments, <br>bills, friends, anxiety. <br>We are here to help you take time for yourself and give you more time to do so.</p>"
		},
		{
			"type": "text",
			"id": "second_heading",
			"label": "Second Heading",
			"default": "<p>here's why we're a better:</p>"
		},
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background Image"
		},				{
			"type": "image_picker",
			"id": "background_mobile",
			"label": "Background Image Mobile"
		}
	],
	"blocks": [
		{
			"type": "image_picker",
			"name": "image-with-text",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "title"
				},
				{
					"type": "richtext",
					"id": "details",
					"label": "Details",
					"default": "<p>goodbye razor burn, irritation and ingrowns</p>"
				}
		  ]
	  }
	]
}
{% endschema %}