<style>
#{{ section.id }}.stepzigzag {
    background-color: #ffdddc;
    padding: 0 15px 80px;
}
#{{ section.id }} .zig_zag_ctm{
width: 100%;
    margin: auto;
    max-width: 1600px;
}
#{{ section.id }} .stepzig_title {
    padding: 75px 100px;
    background-color: #ffdddc;
}
#{{ section.id }} .stepzig_title h2.common-title {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    color: #6a1a31;
    font-family: Laila;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
}
#{{ section.id }} .zig_zag_ctm_inner {
    display: flex;
    padding: 0 10%;
    gap: 10%;
    align-items: center;
}
#{{ section.id }} .zig_zag_content h4{
  font-family: Laila;
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
  color: #6a1a31;
  font-weight: 700;
  letter-spacing: -1px;
}
#{{ section.id }} .zig_zag_content p {
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 30px;
}
#{{ section.id }} .zig_zag_content p:last-child{
  margin-bottom: 0;
}
#{{ section.id }} .zig_zag_content a{
   color: rgb(234, 83, 86);
   transition: 0.3s all; 
}
#{{ section.id }} .zig_zag_content a:hover{
  text-decoration: underline !important;
}
#{{ section.id }} .zigzag_border_bottom {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
#{{ section.id }} .zig_zag_ctm_inner .img_wrapper {
   max-width: 628px;
    width: 100%;
    height: 496px;
}
#{{ section.id }} .zig_zag_ctm_inner .img_wrapper:has(> video){
  max-width: 659px;
  width: 100%;
    height: 659px;
}
#{{ section.id }} .zig_zag_content {
    width: 100%;
    max-width: 550px;
}
#{{ section.id }} .zigzag_border_bottom img {
    height: 25px;
}
#{{ section.id }} .zig_zag_content ul {
    list-style: disc;
    padding-left: 15px;
}
#{{ section.id }} .zig_zag_content ul li{
  font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}
#{{ section.id }} .zig_zag_ctm_inner.flex-rev-2 .img_wrapper img {
  object-fit: contain !important;
} 
#{{ section.id }} .zig_zag_ctm_inner.flex-rev-2 .img_wrapper {
    height: unset;
}

@media (max-width: 1250px){
 #{{ section.id }} .zig_zag_ctm_inner .img_wrapper {
    height: unset !important;
}
#{{ section.id }} .zig_zag_ctm_inner.flex-rev-2 .img_wrapper img {
  border-radius: 0 !important;
}
}
@media (max-width: 1024px){
  #{{ section.id }} .zigzag_border_bottom{
    padding: 40px 100px;
  }
  #{{ section.id }} .zig_zag_ctm_inner {
    padding: 40px 30px;
    gap: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  #{{ section.id }} .zig_zag_content ul li{
      line-height: 16px;
      font-size: 14px;
  }
}
@media (max-width: 767px){
  #{{ section.id }}.stepzigzag {
    padding: 0 15px 40px;
}
  #{{ section.id }} .stepzig_title h2.common-title {
      font-size: 40px;
      line-height: 1.3 !important;
  }
  #{{ section.id }} .stepzig_title {
      padding: 30px 30px 15px;
  }
  #{{ section.id }} .zig_zag_content h4{
      font-size: 24px;
      line-height: 1.3 !important;
  }
  #{{ section.id }} .zigzag_border_bottom{
    padding: 30px 50px;
  }
  #{{ section.id }} .zig_zag_ctm_inner {
    padding: 30px 0;
    gap: 30px;
    flex-flow: column;
  }
  #{{ section.id }} .zig_zag_ctm_inner .img_wrapper{
     padding: 0 10%;
  }
  #{{ section.id }} .zig_zag_content{
    padding: 0 30px;
    max-width: 100%;
  }
}
@media (max-width: 575px){
  #{{ section.id }} .zigzag_border_bottom img {
    height: unset;
  }
}
@media (max-width: 420px){
   #{{ section.id }} .zig_zag_ctm_inner .img_wrapper,
  #{{ section.id }} .zig_zag_content{
    padding: 0 15px;
  }
  #{{ section.id }} .zig_zag_content{
    max-width: 100%;
  }
}

</style>



<div class="stepzigzag" id="{{ section.id }}">
  {% if section.settings.zigzag_title != blank %}
    <div class="stepzig_title">
      <h2 class="common-title">{{ section.settings.zigzag_title }}
      </h2>
      <p>{{ section.settings.zigzag_content }}
      </p>
    </div>
  {% endif %}

  <div class="zig_zag_ctm">
    {% for block in section.blocks %}
      <div class="zig_zag_ctm_inner flex-rev-{{ forloop.index }}">

        {% capture img_placement %}
          <div class="img_wrapper">
            {% if block.settings.zigzag_img != blank %}
            <img src="{{ block.settings.zigzag_img | img_url : 'master' }}" alt="image.alt | t"/>
            {% endif %}

            {% if block.settings.zigzag_video != blank %}
            <video width="100%" height="auto" loop="" muted="" playsinline="" autoplay="" controlslist="nodownload" disablepictureinpicture="">
              <source src="{{ block.settings.zigzag_video }}" type="video/mp4">
            </video>
            {% endif %}
          </div>
        {% endcapture %}

        {% if block.type == "zig-zag" %}
          {% if block.settings.image_aligment == 'image_left' %}
            {{ img_placement }}
          {% endif %}

          <div class="zig_zag_content">
            {% if block.settings.zigzag_heading != blank %}
              <h4>{{ block.settings.zigzag_heading }}
              </h4>
            {% endif %}

            {% if block.settings.zigzag_desc != blank %}
             {{ block.settings.zigzag_desc }}
             {% endif %}
          </div>

          {% if block.settings.image_aligment == 'image_right' %}
            {{ img_placement }}
          {% endif %}

        {% endif %}
    </div>
        {% if block.settings.zigzag_border_bottom %}
          <div class="zigzag_border_bottom">
            <img src="{{ block.settings.zigzag_border_bottom | img_url : 'master' }}" alt="image.alt | t"/>
          </div>
        {% endif %}

     

      <style>
        {% if block.settings.zigzag_img != blank %}
          .zig_zag_ctm_inner .img_wrapper img{
            border-radius: 50px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        {% endif %}
        {% if block.settings.zigzag_video != blank %}
          .zig_zag_ctm_inner .img_wrapper video{
            border-radius: 50px;
              width: 100%;
              height: 100%;
              object-fit: cover;
        }
        {% endif %}
      </style>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Step Zigzag",
    "class": "adv-zigzag",
    "presets": [
      {
        "name": "Step Zigzag",
        "category": "custom"
      }
    ],
    "settings": [
      {
        "type": "html",
        "id": "zigzag_title",
        "label": "Title"
      }, 
      {
        "type": "html",
        "id": "zigzag_content",
        "label": "Content"
      }
    ],
    "blocks": [
      {
        "name": "zig zag",
        "type": "zig-zag",
        "settings": [
          {
            "type": "text",
            "id": "zigzag_heading",
            "label": "Heading"
          }, 
          {
            "type": "html",
            "id": "zigzag_desc",
            "label": "Description"
          }, 
          {
            "type": "image_picker",
            "id": "zigzag_img",
            "label": "Image"
          }, 
           {
            "type": "text",
            "id": "zigzag_video",
            "label": "Video"
          },
          {
            "type": "image_picker",
            "id": "zigzag_border_bottom",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_aligment",
            "options": [
              {
                "value": "image_left",
                "label": "Left"
              }, 
              {
                "value": "image_right",
                "label": "Right"
              }
            ],
            "label": "Image Alignment",
            "default": "image_left"
          }
        ]
      }
    ]
  }
{% endschema %}
