<section class="custom-press-carousel {{ section.settings.extra_class }}">
  <div class="container">
    <div class="press-carousel-main">
      <div class="press-carousel-swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
          {% if block.type == 'logo-block' %}
          <div class="press-carousel-box swiper-slide">
            <div class="press-carousel-box-main">
              <div class="press-carousel-box-text">
                {% if block.settings.text != blank %}
                {{ block.settings.text }}
                {% endif %}
              </div>
              {% if block.settings.date != blank %}
              <h6>{{ block.settings.date }}</h6>
              {% endif %}
              <div class="press-carousel-box-img">
                {% if block.settings.image_logo != blank %}
                <img src="{{ block.settings.image_logo | img_url:'master' }}">
                {% endif %}
              </div>
            </div>
            {% if block.settings.show_btn == true %}
            <div class="press-carousel-box-overlay">
              {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}">{{ block.settings.link_text }}</a>
              {% endif %}
            </div>
              {% endif %}
              
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="slider__pagination"></div>
      </div>
    </div>
  </div>
</section>

<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}">
<script src="{{ 'swiper-min.js' | asset_url }}" defer></script>
<script>
  // press carousel
  $(document).ready(function () {
    var swiper = new Swiper('.press-carousel-swiper', {
      spaceBetween: 10,
      slidesPerView: 3,
      roundLengths: true,
      loop: true,
      centeredSlides: true,
      autoplay: {
        delay: 4000,
      },
      pagination: {
        el: '.slider__pagination',
        clickable: true,
      },
      breakpoints: {
        100: {
          slidesPerView: 1,
          centeredSlides: false,
        },
        700: {
          slidesPerView: 2,
          centeredSlides: false,
        },
        1100: {
          slidesPerView: 3,
          centeredSlides: true,
        }
      }
    });
  });

</script>




{% schema %}
{
"name": "Press Carousel",
"class": "custom-content-section",
"settings": [
{
"type": "text",
"id": "extra_class",
"label": "Extra Class"
}
],
"blocks":[
{
"type": "logo-block",
"name": "Logo",
"settings": [
{
"type": "html",
"id": "text",
"label": "Text"
},
{
"type": "text",
"id": "date",
"label": "Date"
},
{
"type": "image_picker",
"id": "image_logo",
"label": "Logo"
},
{
"type": "checkbox",
"id": "show_btn",
"label": "Show Button",
  "default" : false
},
{
"type": "text",
"id": "link_text",
"label": "URL Text",
"default": "Learn More"
},
{
"type": "url",
"id": "link",
"label": "URL"
}
]
}
],
"presets": [
{
"name": "Press Carousel",
"category": "custom"
}
]

}

{% endschema %}