{%- comment -%}
  JUMP TO
{%- endcomment -%}

<div class="container-faq">
  <input class="jump_to__toggle" id="select" type="checkbox">
  <div class="jump_to__links">
    <div class="jump_to__text font-heading-medium">
      jump to:
    </div>
    <label class="font-link" for="select">select topic</label>

    {%- for block in section.blocks -%}
      {% if block.type == "question-group" %}
        {% assign anchor_id = block.settings.question-group_title | handleize %}
        <a href="#{{ anchor_id }}" data-to="{{ anchor_id }}" class="font-link anchor-click">{{ block.settings.question-group_title | downcase }}</a>
      {% endif %}
    {%- endfor -%}
  </div>
  <div id="jump_to__container">
    {%- for block in section.blocks -%}
      {% if block.type == "question-group" %}
        {% assign anchor_id = block.settings.question-group_title | handleize %}
        <a href="#{{ anchor_id }}" data-to="{{ anchor_id }}" class="font-link anchor-click">{{ block.settings.question-group_title | downcase }}</a>
      {% endif %}
    {%- endfor -%}
  </div>
</div>

<script>
  document.querySelectorAll('.anchor-click').forEach((anchor) => {
    anchor.onclick = function () {
      // Close all
      document.querySelectorAll(`.question-group input[type="checkbox"]`).forEach(e => e.checked = false);
      // Open drawer
      document.querySelector(`#${anchor.dataset.to} input[type="checkbox"]`).checked = true;
    }
  });
 </script>


<div class="container-faq">
  <div class="hanni__faq">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when 'question-group' %}
          {% if forloop.first != true %}
              </div>
            </div>
          {% endif %}

          {% assign anchor_id = block.settings.question-group_title | handleize %}
          {% if forloop.last != true %}
            <div id="{{ anchor_id }}" class="question-group" {{ block.shopify_attributes }}>
              <input type="checkbox" id="{{ block.id }}" class="group-tab-toggle">
              <label for="{{ block.id }}" class="group-tab-label">{{ block.settings.question-group_title }}</label>
              <div class="group-tab-content font-text">
          {% endif %}
        {% when 'question' %}
          {% if block.settings.title != blank %}
            <div class="question" {{ block.shopify_attributes }}>
              <input type="checkbox" id="{{ block.id }}" class="tab-toggle">
              <label for="{{ block.id }}" class="tab-label font-heading-regular">{{block.settings.title}}</label>
              <div class="tab-content">{{block.settings.answer}}</div>
            </div>
          {% endif %}
          {% if forloop.last %}
              </div>
            </div>
          {% endif %}
      {% endcase %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": [],
  "blocks": [
      {
        "type": "question",
        "name": "Question - Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
        "type": "question-group",
        "name": "Question - Group",
        "settings": [
          {
            "type": "text",
            "id": "question-group_title",
            "label": "Question Group Title"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "question-group",
          "settings": {
            "question-group_title": "products"
          }
        },
        {
          "type": "question-group",
          "settings": {
            "question-group_title": "how to use"
          }
        },
        {
          "type": "question-group",
          "settings": {
            "question-group_title": "sustainability"
          }
        },
        {
          "type": "question-group",
          "settings": {
            "question-group_title": "philanthropy"
          }
        },
        {
          "type": "question-group",
          "settings": {
            "question-group_title": "orders"
          }
        },
        {
          "type": "question-group",
          "settings": {
            "question-group_title": "help"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "Do you ship overseas?",
            "answer": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "How long will it take to get my order?",
              "answer": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "What shipping carriers do you use?",
              "answer": "<p>We use all major carriers, and local courier partners. You’ll be asked to select a delivery method during checkout.</p>"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "Can I return my product?",
              "answer": "<p>We always aim for make sure our customers love our products, but if you do need to return an order, we’re happy to help. Just email us directly and we’ll take you through the process.</p>"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "Can I get my product personalized?",
              "answer": "<p>It depends on the creator and the product. All options are outlined on the product page, so look out for customization options there.</p>"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "Any question?",
              "answer": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
            }
          }
        ]
      }
  }
{% endschema %}