{%- capture section_settings -%}
{
  "stackable": true,
  "layout": {{ section.settings.layout | json }},
  "adaptiveHeight": false
}
{%- endcapture -%}

<style>
#shopify-section-{{ section.id }} > section.section {
    margin: 0 !important;
  	margin-top: {{ section.settings.padding_top }}px !important;
    margin-bottom: {{ section.settings.padding_bottom }}px !important;
}
</style>

<section class="section section-slideshow-products" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-section-settings='{{ section_settings }}'>
  {%- assign collection = collections[section.settings.collection] -%}

  <div class="container {% if section.settings.layout != 'vertical' %}container--flush{% endif %}">
    {%- capture product_list -%}
      <div class="product-list product-list--{{ section.settings.layout }} {% if section.settings.layout == 'vertical' %}product-list--scrollable{% endif %} {% if section.settings.stack_desktop %}product-list--stackable{% endif %}">
        {%- assign use_placeholder = true -%}

        {%- if collection.empty? -%}
          {%- assign products = (1..section.settings.products_count) -%}
        {%- else -%}
          {%- assign products = collection.products -%}
          {%- assign use_placeholder = false -%}
        {%- endif -%}

        {%- for product in products limit: section.settings.products_count -%}
          {%- if section.settings.layout == 'vertical' -%}
            {%- if use_placeholder -%}
              {%- include 'product-item-placeholder', product: product, grid_classes: '1/4--lap 1/4--desk 1/4--wide', show_add_to_cart: section.settings.show_quick_buy -%}
            {%- else -%}
              {%- include 'product-item', product: product, grid_classes: '1/4--lap 1/4--desk 1/4--wide', show_add_to_cart: section.settings.show_quick_buy -%}
            {%- endif -%}
          {%- elsif section.settings.layout == 'horizontal' -%}
            {%- if use_placeholder -%}
              {%- include 'product-item-placeholder', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
            {%- else -%}
              {%- include 'product-item', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
            {%- endif -%}
          {%- else -%}
            {%- assign mod = forloop.index0 | modulo: 3 -%}

            {%- if mod == 0 -%}
              <div class="product-list__column product-list__column--highlight">
            {%- elsif mod == 1 -%}
              <div class="product-list__column {% if forloop.last %}product-list__column--shrink{% endif %}">
            {%- endif -%}

            {%- if mod == 0 -%}
              {%- if use_placeholder -%}
                {%- include 'product-item-placeholder', product: product, show_add_to_cart: false -%}
              {%- else -%}
                {%- include 'product-item', product: product, show_add_to_cart: false -%}
              {%- endif -%}
            {%- else -%}
              {%- if use_placeholder -%}
                {%- include 'product-item-placeholder', product: product, horizontal: true, show_add_to_cart: false -%}
              {%- else -%}
                {%- include 'product-item', product: product, horizontal: true, show_add_to_cart: false -%}
              {%- endif -%}
            {%- endif -%}

            {%- if mod == 0 or mod == 2 or forloop.last -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endcapture -%}

    {%- if section.settings.layout == 'vertical' -%}
      <div class="scroller">
        <div class="scroller__inner">
          {{ product_list }}
        </div>
      </div>
    {%- else -%}
      {{ product_list }}
    {%- endif -%}
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal">{%- render 'icon', icon: 'close' -%}</button>

      <div class="modal__loader">
        {%- render 'icon', icon: 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slider-Products_Home",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_count",
      "label": "Products to show",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "collage",
          "label": "Collage"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "checkbox",
      "id": "show_quick_buy",
      "label": "Show quick buy",
      "default": false,
      "info": "Only shows if layout is set to vertical"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Products Slider",
      "settings": {}
    }
  ]
}
{% endschema %}