<div style="background: white;">
  <footer class="" data-section-id="{{ section.id }}" data-section-type="footer" role="contentinfo">
    <div class="container footer">
      <div class="footer__wrapper">
        {%- if section.blocks.size > 0 -%}
          <div class="footer__block-list">
            <div class="only-mobile">
              {%- if section.settings.show_social_media -%}
                {%- capture social_media -%}{% render 'social-media', show_social_media_name: false %}{%- endcapture -%}
                {%- if social_media != blank -%}
                  <div class="footer__aside-item footer__aside-item--social footer__block-item color-pink">
                    <p class="footer__aside-title">{{section.settings.social_title_text}}</p>
                    {{ social_media }}
                  </div>
                  {%- endif -%}
              {%- endif -%}
            </div>
            {%- for block in section.blocks -%}
            {% assign block_size = section.blocks.size %}
             {% if block_size == 1 %}
             {%- capture grid_classes -%}1/1--tablet 1/1--lap-and-up{%- endcapture -%}
             {% elsif block_size == 2 %}
             {%- capture grid_classes -%}1/2--phone 1/2--tablet 1/2--lap-and-up{%- endcapture -%}
             {% elsif block_size == 3 %}
             {% if block.type == 'newsletter'%}
             {%- capture grid_classes -%}1/1--phone 1/3--tablet 1/3--lap-and-up{%- endcapture -%}
             {% else %}
             {%- capture grid_classes -%}1/2--phone 1/3--tablet 1/3--lap-and-up{%- endcapture -%}
             {% endif %}
             {% else %}
             {% if block.type == 'newsletter'%}
             {%- capture grid_classes -%}1/1--phone 1/3--tablet 1/3--lap-and-up{%- endcapture -%}
             {% else %}
             {%- capture grid_classes -%}1/2--phone 1/3--tablet 1/3--lap-and-up{%- endcapture -%}
             {% endif %}
             {% endif %}
              {%- case block.type -%}
                {%- when 'text' -%}
                    <div id="block_id_{{ block.id}}" class="footer__block-item footer-text {{ grid_classes }}" {{ block.shopify_attributes }} >
                      <div class="footer__title heading h6" disabled aria-expanded="false" aria-controls="block-{{ block.id }}" data-action="toggle-collapsible">
                      {{ block.settings.title | escape }}
                      </div>
                      <div id="block-{{ block.id }}">
                        <div class="footer-content">
                          <div class="rte email-text">
                            {% assign current_year = "now" | date: "%Y" %}
                            {{ block.settings.content | replace: "[current_year]", current_year }}
                          </div>
                        </div>
                      </div>
                    </div>

                {%- when 'links' -%}
                  {%- assign menu = linklists[block.settings.menu] -%}

                  {%- unless menu.empty? -%}
                    <div id="block_id_{{ block.id}}" class="footer__block-item {{ grid_classes }}" {{ block.shopify_attributes }}>
                       <div id="block-{{ block.id }}">
                         <button class="footer__title heading h6" disabled aria-expanded="false" aria-controls="block-{{ block.id }}" data-action="toggle-collapsible">
                        <span>{{ menu.title }}</span>
                        </button>
                          <ul class="footer__linklist list--unstyled">
                            {%- for link in menu.links -%}
                              <li>
                                <a href="{{ link.url }}" class="footer__link-item link">{{ link.title }}</a>
                              </li>
                            {%- endfor -%}
                          </ul>
                      </div>
                    </div>
                  {%- endunless -%}

                {%- when 'newsletter' -%}
                  <div id="block_id_{{ block.id}}" class="footer__block-item footer__newsletter {{ grid_classes }}" {{ block.shopify_attributes }}>
                    <p class="footer__title heading h6">{{ block.settings.title | escape }}</p>
                    <div class="footer__newsletter-wrapper">
                      <div class="footer__form-container">
                        {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form' -%}
                          {%- if form.posted_successfully? -%}
                            <p class="alert alert--success alert--center">{{ 'footer.newsletter.success' | t }}</p>
                          {%- else -%}
                            {%- if form.errors -%}
                              <p class="alert alert--error alert--center">{{ form.errors.messages['email'] }}</p>
                            {%- endif -%}

                            <input type="hidden" name="contact[tags]" value="newsletter">

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="email" id="footer[contact][email]" name="contact[email]" class="form__field form__field--text" required="" placeholder="enter your email">
                            </div>
                            <button type="submit" class="button__footer">sign me up</button>
                          {%- endif -%}
                        {%- endform -%}
                        {%- if block.settings.subheading != blank -%}
                        <div class="footer__newsletter-text font-inputs rte only-desktop">{{ block.settings.subheading }}</div>
                      {%- endif -%}
                      </div>
                    </div>
                  </div>
            {%- when 'social_icons' -%}
            {%- if block.settings.show_social_media -%}
            {%- capture social_media -%}{% render 'social-media', show_social_media_name: false %}{%- endcapture -%}
            {%- if social_media != blank -%}
                <div class="footer__block-item  footer-social only-desktop {{ grid_classes }}">
                  <p class="footer__title heading h6">{{block.settings.social_title_text}}</p>
                  {{ social_media }}
                </div>
              {%- endif -%}
            {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}


          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <div class="footer__aside-item footer__aside-item--payment 1/1--tablet 1/1--lap-and-up">
                <div class="payment-list">
                {% for type in shop.enabled_payment_types %}
                  {{ type | payment_type_svg_tag: class: 'payment-list__item' }}
                {% endfor %}
              </div>
            </div>
          {%- endif -%}
          </div>
        {%- endif -%}
      </div>
      {%- if section.settings.show_cookie_bar -%}
      <aside class="cookie-bar" aria-hidden="true">
        <div class="container">
          <div class="cookie-bar__inner">
            <div class="cookie-bar__text rte">
              {{- section.settings.text -}}
            </div>
            {%- if section.settings.accept_button != blank -%}
              <button type="button" class="cookie-bar__button button--secondary" data-action="accept-terms">{{ section.settings.accept_button | escape }}</button>
            {%- endif -%}
          </div>
        </div>
      </aside>
    {%- endif -%}
    </div>

    {%- comment -%}
      In order to reduce the number of static sections, we were asked by Shopify team to move the cookie bar to the footer instead of its own
      section. This feels a bit hacky but it works :).
    {%- endcomment -%}
  </footer>
</div>

<script>
  document.documentElement.style.setProperty('--footer-height', document.getElementById('shopify-section-{{ section.id }}').clientHeight + 'px');
</script>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Cookie bar"
    },
    {
      "type": "checkbox",
      "id": "show_cookie_bar",
      "label": "Show cookie bar",
      "default": false
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this bar to show information about your cookie policy.</p>"
    },
    {
      "type": "text",
      "id": "accept_button",
      "label": "Accept button",
      "default": "Accept"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    },
    {
      "type": "social_icons",
      "name": "Social Media",
      "limit": 1,
      "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "Make sure to have properly configured your social media in the theme settings.",
      "default": true
    },
    {
      "type": "text",
      "id": "social_title_text",
      "label": "Title to social icons.",
      "default": "follow us out there"
    }
    ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}