<div class="container-hanni-gang">
	<div class="img-hanni-gang">
		<img src="{{ section.settings.hanni_gang_image | img_url: '380x' }}" alt="Hanni gang" />
	</div>
  <div class="text-hanni-gang font-text">
    {{- section.settings.main_text -}}
  </div>
  <div class="cta-hanni-gang font-link">
    <a href="{{ section.settings.cta_url }}" target="_blank">{{- section.settings.cta_text -}}</a>
  </div>
</div>

{% style %}
.container-hanni-gang {
  padding: 2em 6em 0 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-hanni-gang {
  color: #6a1a31;
  max-width: 610px;
  line-height: 1.2;
  padding-top: 2em;
}

.cta-hanni-gang {
  padding: 1.5em 0;
}

.img-hanni-gang {
	width: 380px;
	overflow: hidden;
}

.img-hanni-gang img {
	width: 100%;
	height: auto;
}

@media (max-width: 1000px) {
  .img-hanni-gang {
    width: 30vw;
  }

  .container-hanni-gang {
    padding: 2em 3em 0 3em;
  }
}

@media (max-width: 600px) {
  .img-hanni-gang {
    width: 50vw;
  }
  .container-hanni-gang {
    padding: 1em 2em 0 2em;
  }

  .cta-hanni-gang {
    font-size: 16px;
  }
}


{% endstyle %}

{% schema %}
{
	"name": "Hanni Gang",
	"settings": [
		{
			"type": "image_picker",
			"id": "hanni_gang_image",
			"label": "Hanni gang image"
		},
		{
			"type": "richtext",
			"id": "main_text",
			"label": "Main Text",
			"default": "<p>our no pressure gang Hanna, Luna and Ruby will be sharing their own stories with us along the way and we encourage you to do the same. </p>"
		},
		{
			"type": "text",
			"id": "cta_text",
      "label": "Call to action Text",
      "default": "share your #nopressurejourney on instagram."
		},
		{
			"type": "url",
			"id": "cta_url",
      "label": "Call to action Url"
		}
	]
}
{% endschema %}