{%- capture section_settings -%}
{
  "navigationLayout": {{ section.settings.desktop_navigation_layout | json }},
  "desktopOpenTrigger": {{ section.settings.desktop_navigation_open_trigger | json }},
  "useStickyHeader": {{ section.settings.enable_sticky_header | json }}
}
{%- endcapture -%}

{%- assign navigation_menu_handle = section.settings.navigation_menu | default: 'main-menu' -%}
{%- assign navigation_menu = linklists[navigation_menu_handle] -%}

{%- assign navigation_menu_handle_second = section.settings.navigation_menu_second | default: 'main-menu' -%}
{%- assign navigation_menu_second = linklists[navigation_menu_handle_second] -%}

<section data-section-id="{{ section.id }}" data-section-type="header" data-section-settings='{{ section_settings }}'>
  <header class="header header--{{ section.settings.desktop_navigation_layout }}" role="banner">
    <div class="container">
      <div class="header__inner">
        {%- comment -%}
        --------------------------------------------------------------------------------------
        MOBILE NAV
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if navigation_menu.links.size > 0 -%}
          <nav class="header__mobile-nav hidden-lap-and-up">
            <button class="header__mobile-nav-toggle icon-state touch-area" data-action="toggle-menu" aria-expanded="false" aria-haspopup="true" aria-controls="mobile-menu" aria-label="{{ 'header.navigation.open_menu' | t }}">
              <span class="icon-state__primary">{%- render 'icon', icon: 'hamburger-mobile' -%}</span>
              <span class="icon-state__secondary">{%- render 'icon', icon: 'close' -%}</span>
            </button>

            {%- render 'mobile-menu', menu: navigation_menu, second_menu: navigation_menu_second -%}
          </nav>
        {%- endif -%}

        {%- comment -%}
          --------------------------------------------------------------------------------------
          DESKTOP NAV
          --------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- if section.settings.desktop_navigation_layout == 'inline' and navigation_menu.links.size > 0 -%}
            <nav class="nav-bar">
              <div class="nav-bar__inner">
                <ul class="nav-bar__linklist list--unstyled" data-type="menu">
                  {%- for link in navigation_menu.links -%}
                    <li class="nav-bar__item ctm-mega-{{ forloop.index }}">
                      {%- if link.links.size == 0 -%}
                        <a href="{{ link.url }}" class="nav-bar__link link" data-type="menuitem">{{ link.title }}</a>
                      {%- else -%}
                        <a href="{{ link.url }}" class="nav-bar__link link" data-type="menuitem" aria-expanded="false" aria-haspopup="true">
                          {{- link.title -}}
                          {%- comment -%}
                            {%- render 'icon', icon: 'arrow-bottom' -%}
                            {%- render 'icon', icon: 'nav-triangle' -%}
                          {%- endcomment -%}
                        </a>
                        {%- capture index -%}desktop-menu-0-{{ forloop.index }}{%- endcapture -%}
                        {%- render 'desktop-menu', menu: link, index: index, opacity: section.settings.menu_opacity -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </nav>
        {%- endif -%}

        {%- if section.settings.desktop_navigation_layout == 'condensed' and navigation_menu.links.size > 0 -%}
          <nav class="header__desktop-nav hidden-pocket">
            <button class="header__desktop-nav-toggle" data-action="toggle-menu" aria-expanded="false" aria-haspopup="true" aria-label="{{ 'header.navigation.open_menu' | t }}">
              <span>{%- render 'icon', icon: 'hamburger' -%} <span class="header__desktop-nav-text">{{- 'header.navigation.menu' | t -}}</span></span>
            </button>

            {%- render 'desktop-menu', menu: navigation_menu, index: 'desktop-menu-0' -%}
          </nav>
        {%- endif -%}

        {%- comment -%}
        --------------------------------------------------------------------------------------
        LOGO COMPONENT
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- capture header_logo -%}
          <a href="{{ routes.root_url }}" class="header__logo-link">
            {%- if section.settings.logo != blank -%}
              {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
              <img class="header__logo-image"
                   src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
            {%- else -%}
              <span class="header__logo-text">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        {%- endcapture -%}

        {%- if request.page_type == 'index' -%}
          <h1 class="header__logo">{{ header_logo }}</h1>
        {%- else -%}
          <div class="header__logo">{{ header_logo }}</div>
        {%- endif -%}

        {%- comment -%}
        --------------------------------------------------------------------------------------
        SECOND NAVIGATION
        --------------------------------------------------------------------------------------
        {%- endcomment -%}
        {%- assign navigation_menu_handle_second = section.settings.navigation_menu_second | default: 'main-menu' -%}
        {%- assign navigation_menu_second = linklists[navigation_menu_handle_second] -%}
        {%- if section.settings.desktop_navigation_layout == 'inline' and navigation_menu_second.links.size > 0 -%}
          <nav class="nav-bar-second hidden-pocket">
            <div class="nav-bar__inner">
              <div class="">
                <ul class="nav-bar__linklist list--unstyled" data-type="menu">
                  {%- for link in navigation_menu_second.links -%}
                    <li class="nav-bar__item">
                      {%- if link.links.size == 0 -%}
                        <a href="{{ link.url }}" class="nav-bar__link link" data-type="menuitem">{{ link.title }}</a>
                      {%- else -%}
                        <a href="{{ link.url }}" class="nav-bar__link link" data-type="menuitem" aria-expanded="false" aria-haspopup="true">
                          {{- link.title -}}
                          {%- render 'icon', icon: 'arrow-bottom' -%}
                          {%- render 'icon', icon: 'nav-triangle' -%}

                        </a>
                        {%- capture index -%}desktop-menu-0-{{ forloop.index }}{%- endcapture -%}
                        {%- render 'desktop-menu', menu: link, index: index -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </nav>
        {%- endif -%}

        {%- if section.settings.desktop_navigation_layout == 'condensed' and navigation_menu_second.links.size > 0 -%}
          <nav class="header__desktop-nav hidden-pocket">
            <button class="header__desktop-nav-toggle" data-action="toggle-menu" aria-expanded="false" aria-haspopup="true" aria-label="{{ 'header.navigation.open_menu' | t }}">
              <span>{%- render 'icon', icon: 'hamburger' -%} <span class="header__desktop-nav-text">{{- 'header.navigation.menu' | t -}}</span></span>
            </button>

            {%- render 'desktop-menu', menu: navigation_menu, index: 'desktop-menu-0' -%}
          </nav>
        {%- endif -%}


        {%- comment -%}
        --------------------------------------------------------------------------------------
        SEARCH COMPONENT (Si se remueve se rompe el menu mobile.)
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="header__search-bar-wrapper"></div>

        {%- comment -%}
        --------------------------------------------------------------------------------------
        HEADER ACTIONS
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="header__action-list">
          {%- if settings.currency_conversion_enabled or shop.enabled_currencies.size > 1 -%}
            <div class="header__action-item header__action-item--currency hidden-pocket hidden-desk">
              <span class="header__action-item-title">{{ 'header.general.currency' | t }}</span>

              <div class="header__action-item-content">
                <button class="header__action-item-link" data-action="toggle-popover" aria-controls="desktop-currency-selector" aria-expanded="false"><span class="currency-selector__value">{{ cart.currency.iso_code }}</span> {% render 'icon', icon: 'arrow-bottom' %}</button>
                <button class="header__mobile-nav-toggle icon-state touch-area" data-action="toggle-menu" aria-expanded="false" aria-haspopup="true" aria-controls="mobile-menu" aria-label="{{ 'header.navigation.open_menu' | t }}"></button>
                {%- comment -%}If shop supports Shopify native multiple currencies, use them instead{%- endcomment -%}

                {%- if shop.enabled_currencies.size > 1 -%}
                  {%- form 'currency', id: 'desktop_currency_form', class: 'currency-selector__form' -%}
                    <div id="desktop-currency-selector" class="popover popover--currency" aria-hidden="true">
                      {%- render 'icon', icon: 'nav-triangle-borderless' -%}

                      <div class="popover__inner popover__inner--no-padding">
                        <div class="popover__linklist">
                          {%- for currency in shop.enabled_currencies -%}
                            <button type="submit" name="currency" class="popover__link-item" data-action="select-currency" value="{{ currency.iso_code }}">{{ currency.iso_code }}</button>
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  {%- endform -%}
                {%- else -%}
                  <div id="desktop-currency-selector" class="popover popover--currency" aria-hidden="true">
                    {%- render 'icon', icon: 'nav-triangle-borderless' -%}

                    <div class="popover__inner popover__inner--no-padding">
                      <div class="popover__linklist">
                        {%- capture codes -%}USD,EUR,GBP,CAD,ALL,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,BWP,MKD,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ILS,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK{%- endcapture -%}
                        {%- assign supported_codes = settings.currency_conversion_supported_currencies | remove_first: shop.currency | upcase | split: ' ' | uniq -%}

                        <button class="popover__link-item" data-action="select-currency" data-currency-code="{{ shop.currency | escape }}">{{ shop.currency }}</button>

                        {%- for code in supported_codes -%}
                          {%- if codes contains code -%}
                            <button class="popover__link-item" data-action="select-currency" data-currency-code="{{ code | escape }}">{{ code }}</button>
                          {%- endif -%}
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}

          {%- if shop.enabled_locales.size > 1 -%}
            <div class="header__action-item header__action-item--locale hidden-pocket">
              <span class="header__action-item-title">{{ 'header.general.language' | t }}</span>

              <div class="header__action-item-content">
                <button class="header__action-item-link" data-action="toggle-popover" aria-controls="desktop-locale-selector" aria-expanded="false"><span class="locale-selector__value">{{ request.locale.name }}</span> {% render 'icon', icon: 'arrow-bottom' %}</button>

                <div id="desktop-locale-selector" class="popover popover--locale" aria-hidden="true">
                  {%- render 'icon', icon: 'nav-triangle-borderless' -%}

                  <div class="popover__inner popover__inner--no-padding">
                    <div class="popover__linklist">
                      {%- for locale in shop.enabled_locales -%}
                        <a class="popover__link-item" href="{{ locale.root_url }}">{{ locale.name }}</a>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}

          {%- if shop.customer_accounts_enabled -%}
            <div class="header__action-item header__action-item--account">
              {%- if customer -%}
                <span class="header__action-item-title hidden-pocket hidden-lap hidden-desk">{{ 'header.general.welcome' | t: first_name: customer.first_name | truncate: 20 }}</span>
              {%- else -%}
                <span class="header__action-item-title hidden-pocket hidden-lap hidden-desk">{{ 'header.general.login' | t }}</span>
              {%- endif -%}

              <div class="header__action-item-content">
                <a href="{% if customer %}/account{% else %}/account/login{% endif %}" class="header__action-item-link header__account-icon icon-state" aria-label="{{ 'header.general.account' | t }}" aria-controls="account-popover" aria-expanded="false" data-action="toggle-popover" {% if customer %}data-follow-link="phone"{% endif %}>
                  <span>{%- render 'icon', icon: 'hanni-account' -%}</span>
                </a>
              </div>
            </div>
          {%- endif -%}

          <div class="header__action-item header__action-item--cart">
            <a class="header__action-item-link header__cart-toggle" href="{{ routes.cart_url }}" {% if settings.cart_type == 'drawer' and template != 'cart' %}aria-controls="mini-cart" aria-expanded="false" data-action="toggle-mini-cart"{% endif %}>
              <div class="header__action-item-content">
                <div class="header__cart-icon icon-state" aria-expanded="false">
                  <span class="icon-state__primary">
                    {%- render 'icon', icon: 'hanni-cart' -%}
                    <span class="header__cart-count">{{ cart.item_count }}</span>
                  </span>

                  <span class="icon-state__secondary">{%- render 'icon', icon: 'close' -%}</span>
                </div>

                <span class="hidden-pocket hidden-lap hidden-desk">{{ 'header.general.cart' | t }}</span>
              </div>
            </a>

            {%- if settings.cart_type == 'drawer' and template != 'cart' -%}
              {%- render 'mini-cart' -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </header>


</section>

{% style %}
  :root {
    --header-is-sticky: {% if section.settings.enable_sticky_header %}1{% else %}0{% endif %};
    --header-inline-navigation: {% if section.settings.desktop_navigation_layout == 'inline' %}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    position: relative;
    z-index: 5;

    {%- if section.settings.enable_sticky_header -%}
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    {%- endif -%}
  }

  {%- if section.settings.logo -%}
    .header__logo-image {
      max-width: {{ section.settings.mobile_logo_max_width }}px;
    }

    @media screen and (min-width: 641px) {
      .header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px;
      }
    }
  {%- endif -%}

  .icon--hanni-account, .icon--hanni-cart {
    width: {{ section.settings.header_icon_size | default: 16 }}px;
    height: {{ section.settings.header_icon_size | default: 16 }}px;
  }
{% endstyle %}

<script>
  document.documentElement.style.setProperty('--header-height', document.getElementById('shopify-section-{{ section.id }}').clientHeight + 'px');
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "range",
      "id": "header_icon_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Icon size",
      "default": 20
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type":"range",
      "id": "menu_opacity",
      "label": "Menu opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.9
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "desktop_navigation_layout",
      "label": "Desktop layout",
      "options": [
        {
          "value": "condensed",
          "label": "Condensed"
        },
        {
          "value": "inline",
          "label": "Inline"
        }
      ],
      "default": "condensed"
    },
    {
      "type": "select",
      "id": "desktop_navigation_open_trigger",
      "label": "Open dropdown on...",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ],
      "default": "hover"
    },
    {
      "type": "header",
      "content": "Navigation_second"
    },
    {
      "type": "link_list",
      "id": "navigation_menu_second",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "desktop_navigation_layout_second",
      "label": "Desktop layout",
      "options": [
        {
          "value": "condensed",
          "label": "Condensed"
        },
        {
          "value": "inline",
          "label": "Inline"
        }
      ],
      "default": "condensed"
    },
    {
      "type": "select",
      "id": "desktop_navigation_open_trigger_second",
      "label": "Open dropdown on...",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ],
      "default": "hover"
    },
    {
      "type": "header",
      "content": "Mobile navigation"
    },
    {
      "type": "checkbox",
      "id": "show_navigation_social_media",
      "label": "Show social media",
      "default": true
    },
    {
      "type": "text",
      "id": "navigation_phone_number",
      "label": "Phone number text",
      "default": "Call us 000-000-0000"
    },
    {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "info@yourwebsite.com"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown. (Should match menu name)"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "menu_image",
          "label": "Image",
          "info": "square (1:1) aspect ratio recommended"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "label": "Show button",
          "default": false
        },
        {
          "type": "text",
          "id": "text_button",
          "label": "Button text",
          "default": "shop all"
        },
        {
          "type": "url",
          "id": "link_button",
          "label": "Button link"
        }
      ]
    }
  ]
}
{% endschema %}