<div class="hero">
  <img src="{{ section.settings.img | img_url: '1800x' }}" alt="{{ section.settings.img.alt | default: shop.name | escape }}">
</div>

{% style %}

.hero {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 300px;
  height: 30vw;
  overflow: hidden;
}

.hero img {
  max-width: 1440px;
  min-width: 100vw;
  margin-top: 12em;
  width: 100%;
  height: auto;
}

@media (min-width: 1440px) {
  .hero img {
    margin-top: 15em;
  }
}

@media (max-width: 1000px) {
  .hero img {
    margin-top: 11em;
    min-width: 130vw;
  }
}

@media (max-width: 700px) {
  .hero img {
    margin-top: 11em;
    min-width: 140vw;
  }
}

@media (max-width: 640px) {
  .hero img {
    margin-top: 9em;
    min-width: 140vw;
  }
}

@media (max-width: 440px) {
  .hero img {
    margin-top: 6em;
    min-width: 140vw;
  }
}

{% endstyle %}

{% schema %}

{
  "name": "Hero Banner",
  "settings": [
    {
      "label": "Heading",
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    }
  ]
}

{% endschema %} 