<div class="how-to-hanni">
  <div class="hth_heading">
    <center><h1 class="hth_title font-title"> body dermaplaning and how to shave with hanni, <br> the original weighted razor </h1></center>

  </div>
    {{ section.settings.content}}
</div>

{% style %}
  .how-to-hanni {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 4em 0 0 0;
  }
  .hth_heading {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .how-to-hanni .hth_heading .hth_title {
    margin-bottom: -0.3em;
    font-family: Laila !important;
    font-size: 50px;
  }

  .how-to-hanni .hth_heading .hth_subtitle {
    font-family: Laila !important;
    font-size: 35px;
    font-weight: 700;
  }

  .how-to-hanni p {
    text-align: center;
    line-height: 1.3;
    font-weight: 400;
    font-size: 20px;
    font-family: Source Sans Variable;
  }

  .how-to-hanni p a {
    color: #ff5859
  }
  .how-to-hanni p a:hover {
    color: #6a1a31
  }

  @media (max-width: 768px) {
    .how-to-hanni .hth_heading .hth_title {
      font-size: 35px;
    }

    .how-to-hanni .hth_heading .hth_subtitle {
      font-size: 20px;
    }

    .how-to-hanni p {
      font-size: 16px;
    }
  }

  @media (max-width: 440px) {
    .how-to-hanni p {
      margin: 0 4em;
    }
    .how-to-hanni p br{
      display: none;
    }
  }

{% endstyle %}

{% schema %}
{
  "name": "How to Hanni",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "visual learners?"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Subtitle",
    "default": "us too"
  },
  {
    "type": "richtext",
    "id": "content",
    "label": "Content",
    "default": "<p>check out this cool illustration by our friend <a title=\"@pepitasandwhich\" href=\"https://twitter.com/\" target=\"_blank\">@pepitasandwhich</a> <br>to see exactly how to use your hanni razor</p>"
  }
  ],
  "blocks": [],
  "default": {}
}
{% endschema %}