{% style %}
  .sinM h2{margin-bottom:10px}
  .image-with-text__text-aligner .button-hanni-primary {
    padding: 15px 30px !important;
  }

  #shopify-section-16063225183b35299d .image-with-text__text-aligner .heading {
    font-size: 35px;
    width: 100%;
    line-height: 34px;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: -0.3px;
  }
  #shopify-section-16063225183b35299d .image-with-text__text-aligner p{
    font-family: Source Sans Variable;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 65px;
  }

  @media screen and (max-width:999px){
    #shopify-section-16063225183b35299d .image-with-text__text-container a {
      width:100%
    }
    #shopify-section-16063225183b35299d .image-with-text__text-aligner .heading {
      width: 100%;
      margin-bottom: 0.5em;
      margin-top: 1em;
      font-size: 1.6em;
      line-height: 1em;
      max-width: unset;
    }
    #shopify-section-16063225183b35299d .image-with-text__text-container{
      align-self: center;
    }
    #shopify-section-16063225183b35299d .image-with-text__text-aligner p {
      margin-bottom: 12px;
      font-size: 15px;
    }
    #shopify-section-16063225183b35299d .image-with-text__text-aligner .button-hanni-primary {
      width: 100%;
      position: relative;
      font-size: 12px;
      padding: 7px 30px !important;
      display: inline-block;
    }
    #shopify-section-16063225183b35299d .button{
      margin: 30px 0 0 0;
    }
  }
    #shopify-section-{{ section.id }} > section.section {
        margin: 0 !important;
        margin-top: {{ section.settings.padding_top }}px !important;
        margin-bottom: {{ section.settings.padding_bottom }}px !important;
    }
{% endstyle %}
<section class="section section-margin" data-section-id="{{ section.id }}" data-section-type="image-with-text">
  <div class="container">
    {%- capture image -%}
      <div class="image-with-text__image-container" style="width:{{ section.settings.image_width }}%;">
        {%- if section.settings.image -%}
          <div class="aspect-ratio image-radio" style="padding-bottom: 100.0%">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200', image: section.settings.image -%}{%- endcapture -%}
            {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">

            <noscript>
              <img src="{{ section.settings.image | img_url: '1200x' }}" alt="{{ section.settings.image.alt | escape }}">
            </noscript>
          </div>
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    {%- endcapture -%}

    {%- capture text -%}

      <div class="image-with-text__text-container">
        <div class="image-with-text__text-aligner font-subtitle">
          {%- if section.settings.title != blank -%}
            <h2 class="heading font-title">{{ section.settings.title | escape }}</h2>
            {{ section.settings.content }}
          {%- endif -%}
          {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
          <div>
            <a href="{{ section.settings.button_link }}" class="button-hanni-primary">{{ section.settings.button_text | escape }}</a>
          </div>
          {%- endif -%}

        </div>
      </div>
    {%- endcapture -%}

    <div class="image-with-text">
      {%- if section.settings.image_position == 'left' -%}
        {{ image }}
        {{ text }}
      {%- else -%}
        {{ text }}
        {{ image }}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be used."
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 20,
      "max": 70,
      "step": 5,
      "unit": "%",
      "label": "Image width",
      "default": 50
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers.<br>Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Our products"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "default": "/collections/all"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text",
      "settings": {}
    }
  ]
}
{% endschema %}