{% style %}

    #shopify-section-1606614123431d856b .button {
      color: #f7c2ca !important;
      padding: 11px 30px !important;
      font-size: 20px;
      width: unset;
      height: unset;
    }
    #shopify-section-1606614123431d856b .text-content .font-title{
      margin-bottom: 43px;
      line-height: 1.3;
      text-align: center;
      color: #f7c2ca;
    }
    #shopify-section-1606614123431d856b .text-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: -0.5%;
    bottom: 20%;
    font-size: 12px;
    width: 27%;
    color: #9e9291;
  }
  #shopify-section-1606614123431d856b .button-hanni-primary:hover .colorVino {
      color: #f7c2ca;
    }
  .colorVino {
    color:#691536;
  }
  .colorRosa {
    color:#f7c2ca;
  }
  .pRelative {
    position:relative;
  }
  .circuloOffer {
    background: #f7a700;
    border-radius: 50px;
    width: 58px;
    height: 58px;
    color: #691536;
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: -34px;
    z-index: 9;
    line-height: 16px;
    padding-top: 11px;
  }
  .circuloOfferMobile{
    background: #6a1a31;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    color: #ffbe00;
    font-size: 11px;
    position: absolute;
    right: 15px;
    top: -13px;
    z-index: 9;
    line-height: 13px;
    padding-top: 9px;
  }
 .image-with-text__image-container-mobile h2.h3 {
    font-size: 49px;
    line-height: 54px;
    color: #691536;
    padding: 0 50px;
  }
  .text-content h2.heading.font-title{
     max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #shopify-section-1606614123431d856b .text-content.text-content-left {
     left: 5%;
    right:unset;
    bottom: 20%;
    font-size: 12px;
  }
/*   #shopify-section-1606614123431d856b .text-content.text-content-left .rte.pRelative {
    align-items: flex-start;
        padding-left: 50px;
  } */
  #shopify-section-1606614123431d856b .text-content.text-content-center{
    right: auto;
    left:auto;
    width: 100%;
     align-items:center;
  }
/*   #shopify-section-1606614123431d856b .text-content.text-content-center .rte.pRelative {
    width: 100%;
  } */
.bg-shape-oval {
    position: relative;
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}
  .bg-shape-oval-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.text-content h2.heading.font-title.ovalshape {
    padding: 0 !important;
    color: #6a1a31 !important;
    max-width: 230px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.1 !important;
    margin: 0 !important;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
}
@media screen and (max-width:1441px){
  .bg-shape-oval {
    max-width: 260px;
    max-height: 260px;
  }
  .text-content h2.heading.font-title.ovalshape {
    font-size: 30px;
 }
  #shopify-section-1606614123431d856b .text-content {
    bottom: 15%;
  }
}
@media screen and (max-width:1200px){
  .bg-shape-oval {
    max-width: 200px;
    max-height: 200px;
  }
  .text-content h2.heading.font-title.ovalshape {
    font-size: 25px;
 }
}
@media screen and (max-width:999px){
  .image-with-text__image-container-mobile{
    background: #f7c2ca;
  }
  .image-with-text__image-container-mobile h2.h3 {
    font-size: 32px;
    line-height: 1.15 !important;
    font-weight: 500;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 1em;
    max-width: 365px;
  }
  .image-with-text__image-container-mobile h2.h3 br{
    display:none;
  }
  #shopify-section-1606614123431d856b .image-with-text {
    margin: 0;
  }
  .image-with-text__image-container-mobile a{
   color: #ffffff;
   background: #6a1a31!important;
  }
  .image-with-text__image-container-mobile a:hover{
    background: #ea5356 !important;
    color: #ffffff !important;
  }
}
@media screen and (max-width:425px){
  .image-with-text__image-container-mobile h2.h3 {
    margin-bottom: 0.8em;
    font-size: 25px;
    max-width: 300px;
  }
  .image-with-text__image-container-mobile{
    padding: 35px 0 45px;
  }
}
#shopify-section-{{ section.id }} > section.section {
  margin: 0 !important;
  margin-top: {{ section.settings.padding_top }}px !important;
  margin-bottom: {{ section.settings.padding_bottom }}px !important;
}
#shopify-section-1606614123431d856b .button{
  background: #6a1a31!important;
}
#shopify-section-1606614123431d856b .button:hover{
  background: #ea5356 !important;
  color: #ffffff !important;
}
{% endstyle %}
<section class="section" data-section-id="{{ section.id }}" data-section-type="image-with-text">

    {%- capture image -%}
      <div class="image-with-text__image-container" style="width: {{ section.settings.image_width }}%;">
        {%- if section.settings.image -%}
          <div class="hidden-pocket" style="padding-bottom: 0.0%">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,1000,1100,1200,1480', image: section.settings.image -%}{%- endcapture -%}
            {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <img class="lazyload image--fade-in position-relative" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">
          <div class=" ">
            <div class="text-content {% if section.settings.content_align == 'left' %}text-content-left{% endif %} {% if section.settings.content_align == 'center' %}text-content-center{% endif %}">         
             <div class="bg-shape-oval">
          {%- if section.settings.oval_img != blank -%}
               <img src="{{ section.settings.oval_img | img_url: 'master' }}" />
             {% endif %}
            
          {%- if section.settings.title_one != blank -%}
               <div class="bg-shape-oval-text">
                  <h2 class="heading h3 font-title ovalshape">{{ section.settings.title_one }}</h2>
               </div>
             {% endif %}
             </div>     
                <div class="rte pRelative">
                  {%- if section.settings.button_link != blank and section.settings.price != blank -%}
                  	<div class="circuloOffer ">${{ section.settings.price | escape }} value</div>
                  {%- endif -%}

                {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
                  <a href="{{ section.settings.button_link }}" class="button button-hanni-primary colorRosa ">{{ section.settings.button_text | escape }}


                    {%- if section.settings.button_link != blank and section.settings.price2 != blank -%}
                    	<span class="colorVino">${{ section.settings.price2 | escape }} </span>
                    {%- endif -%}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
            <noscript>
              <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
            </noscript>
          </div>
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}

        {%- if section.settings.mobile_image -%}
          <div class="hidden-lap-and-up" style="padding-bottom: 0.0%">
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200,1480', image: section.settings.mobile_image -%}{%- endcapture -%}
            {%- assign image_url_mobile = section.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <img class="lazyload image--fade-in position-relative hidden-desk" data-src="{{ image_url_mobile }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.mobile_image.alt | escape }}">

			<div class="image-with-text__image-container-mobile pRelative">
            	  {%- if section.settings.button_link != blank and section.settings.price != blank -%}
                  	<div class="circuloOfferMobile ">${{ section.settings.price | escape }} value</div>
                  {%- endif -%}
 {%- if section.settings.title_one != blank -%}
            	<h2 class="h3 ">{{ section.settings.title_one }}</h2>
   {%- endif -%}
            <div class="">
            {%- if section.settings.button_link != blank and section.settings.button_text != blank -%}
              <a href="{{ section.settings.button_link }}" class="button-hanni-primary">
                {{ section.settings.button_text | escape }}
                {%- if section.settings.button_link != blank and section.settings.price2 != blank -%}
                	<span class="colorVino">${{ section.settings.price2 | escape }}</span>
                {%- endif -%}
              </a>
            {%- endif -%}
          </div>
                  </div>
            <noscript>
              <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
            </noscript>
          </div>
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    {%- endcapture -%}
   {%- capture text -%}

      <div class="image-text-container">
        <div class="image-text-aligner">
          {%- if section.settings.title != blank -%}

          {{ section.settings.content }}
          {%- endif -%}

        </div>
      </div>
    {%- endcapture -%}
    <div class="image-with-text">
      {%- if section.settings.image_position == 'left' -%}
        {{ image }}
        {{ text }}
      {%- else -%}
        {{ text }}
        {{ image }}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be used."
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Image width",
      "default": 50
    },
    {
      "type":"select",
      "id":"content_align",
      "options":[
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "label":"Content Alignment",
      "default":"right"
    },
    {
      "type": "checkbox",
      "id": "oval_shape",
      "label": "Background Shape Oval",
      "default": false
    },
     {
      "type": "image_picker",
      "id": "oval_img",
      "label": "Shape Image"
    },
    {
      "type": "html",
      "id": "title_one",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers.<br>Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Our products"
    },
	{
      "type": "text",
      "id": "price",
      "label": "Price",
      "default": "0"
    },
	{
      "type": "text",
      "id": "price2",
      "label": "Price offer",
      "default": "0"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "default": "/collections/all"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text",
      "settings": {}
    }
  ]
}
{% endschema %}
