<section data-section-id="{{ section.id }}" data-section-type="image-with-text-overlay" data-section-settings='{{ section_settings }}'>
  <div {% unless section.settings.edge_to_edge %}class="container container--flush"{% endunless %}>
    {%- unless section.settings.image -%}
    {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
    {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
    {%- endunless -%}
    {%- if section.settings.image -%}
    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200', image: section.settings.image -%}{%- endcapture -%}
    {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div class="image_with_text_overlay_main">
    <div class="image_with_text_overlay_image">
    <div class="aspect-ratio {% if section.settings.mobile_image %}hidden-phone{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: section.settings.image.aspect_ratio }}%">
      <img class="image_with_text_overlay__image lazyload image--fade-in" alt="{{ section.settings.image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

      <noscript>
        <img src="{{ section.settings.image | img_url: '1200x' }}" alt="{{ section.settings.image.alt | escape }}">
      </noscript>
    </div>

    {%- if section.settings.mobile_image -%}
    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '600,700,800,900,1000,1100,1200', image: section.settings.mobile_image -%}{%- endcapture -%}
    {%- assign image_url = section.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    <div class="aspect-ratio hidden-tablet-and-up" style="padding-bottom: {{ 100.0 | divided_by: section.settings.mobile_image.aspect_ratio }}%">
      <img class="slideshow__image lazyload image--fade-in" alt="{{ section.settings.mobile_image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

      <noscript>
        <img src="{{ section.settings.mobile_image | img_url: '800x' }}" alt="{{ section.settings.mobile_image.alt | escape }}">
      </noscript>
    </div>
    {%- endif -%}
    {%- endif -%}
    </div>
    <div class="image_with_text_overlay_content container">
    {%- if section.settings.title != blank -%}
    <h2 class="text_overlay__title_primary heading h3 titBanner">
      {{ section.settings.title | escape }}
    </h2>
    {%- endif -%}
    {%- if section.settings.content != blank -%}
    <p class="text_overlay__content_primary">
      {{ section.settings.content | strip_html}}
    </p>
    {%- endif -%}
    {%- if section.settings.content != blank -%}
    <p class="text_overlay__content_second">{{ section.settings.content_second | escape | newline_to_br }}</p>
    {%- endif -%}
    {%- if section.settings.link != blank and section.settings.button_text != blank -%}
    <a href="{{ section.settings.link }}" class="text_overlay__button button">{{ section.settings.button_text | escape }}</a>
    {%- endif -%}
      </div>
    </div>
  </div>
</section>

 {% schema %}
{
  "name": "image-with-text-overlay",
  "settings": [
    {
      "type": "checkbox",
      "id": "edge_to_edge",
      "label": "Full-width",
      "default": false
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 600px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show overlay",
          "info": "Increase text readability on busy images.",
          "default": false
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
		  "default": "Slide title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
		  "default": "<p>Tell your story</p>"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "info": "On mobile, content is always centered.",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "If no text is set for button, the whole image becomes clickable."
        }
     ],
 "presets": [
    {
      "category": "Image",
      "name": "image-with-text-overlay"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
