{% comment %}
** Slideshow classic - dynamic **
- Draggable section
- Uses blocks
{% endcomment %}

{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}

{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }
/* # Slideshow - classic ================================================== */
.slideshow-classic {
	width: 100%;
}
img.slideshow__image {
	width: 100%;
}

 .slideshow-classic .flickity-prev-next-button .flickity-button-icon {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 width: 45%;
	 height: 45%;
	 transform: translateX(-50%) translateY(-50%);
}
 .slideshow-classic .mobile-text--over-media .caption {
	 top: 50%;
	 -ms-transform: translateY(-50%);
	 -webkit-transform: translateY(-50%);
	 transform: translateY(-50%);
}
 .slideshow-classic .gallery-cell {
	 width: 100%;
}
 .slideshow-classic .gallery-cell .image-element__wrap {
	 width: 100%;
}

 .slideshow-classic .flickity-button, .slideshow-classic .flickity-page-dots {
	 position: absolute;
	 top: auto;
	 bottom: 25px;
}
 .slideshow-classic .flickity-button {
	 z-index: 10;
}
 .slideshow-classic .flickity-page-dots {
	 bottom: 40px;
}

 .slideshow-classic__buttons {
	 -webkit-justify-content: space-between;
	 -moz-justify-content: space-between;
	 -ms-justify-content: space-between;
	 justify-content: space-between;
	 -ms-flex-pack: space-between;
}
 .slideshow-classic__buttons.are-small {
	 max-width: 300px;
}
 .slideshow-classic__buttons.are-regular {
	 max-width: 400px;
}
 .slideshow-classic__buttons.are-large {
	 max-width: 500px;
}
 .slideshow-classic__buttons.is-justify-left {
	 -webkit-justify-content: flex-start;
	 -moz-justify-content: flex-start;
	 -ms-justify-content: flex-start;
	 justify-content: flex-start;
	 -ms-flex-pack: flex-start;
}
 .slideshow-classic__buttons.is-justify-right {
	 -webkit-justify-content: flex-end;
	 -moz-justify-content: flex-end;
	 -ms-justify-content: flex-end;
	 justify-content: flex-end;
	 -ms-flex-pack: flex-end;
}
 .slideshow-classic__buttons.is-justify-center {
	 -webkit-justify-content: center;
	 -moz-justify-content: center;
	 -ms-justify-content: center;
	 justify-content: center;
	 -ms-flex-pack: center;
}
 .slideshow-classic__buttons .button {
	 -webkit-box-flex: 0 0 calc(50% - 6px);
	 -moz-box-flex: 0 0 calc(50% - 6px);
	 -webkit-flex: 0 0 calc(50% - 6px);
	 -ms-flex: 0 0 calc(50% - 6px);
	 flex: 0 0 calc(50% - 6px);
	 margin-bottom: 12px;
	 white-space: normal;
	 margin-left: 0;
	 margin-right: 0;
}

 .slideshow-classic__banner h2.title {
	 font-family: "termina-medium", sans-serif;
	 font-weight: 400;
	 font-style: normal;
	 font-size: 40px;
	 text-transform: none;
}
 .slideshow-classic__banner .slideshow-classic__subheading {
	 padding-top: 10px;
}
 .slideshow-classic__banner .placeholder-svg {
	 min-height: 400px;
}
 
.image-slideshow .caption {
    position: absolute;
    width: 100%;
    display: block;
    padding: 1%;
    pointer-events: none;
}
.is-align-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.is-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.text-align-center {
    text-align: center;
}
.block__image-with-overlay .caption-content, .image-with-text-overlay .caption-content, .image-slideshow .caption-content {
    pointer-events: all;
    display: inline-block;
}
.text-align-left,
.text-align-start {
    text-align: left;
}
.text-align-right, .text-align-end {
    text-align: right;
}
.block__image-with-overlay .caption-content, .image-with-text-overlay .caption-content, .image-slideshow .caption-content {
    padding: 30px;
    min-width: 350px;
}
.slideshow-section > .section {
    margin: 0;
}
.slideshow-classic__buttons.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slideshow-classic__banner h2.title {
    margin: 0;
}
.slideshow-classic__subheading.subtitle {
    margin-bottom: 30px;
}
.slideshow-classic__subheading.subtitle > ul {
    margin-top: 30px;
}
.slideshow-classic .image-slideshow__slide {
    width:100%;
}
ul.slideshow-items > li {
  text-align: left;
  position: relative;
  padding-left: 50px;
  min-width: 200px;
  font-size: 20px;
  font-weight: 400;
  color: #6a1a31;
}
ul.slideshow-items {
    display: inline-block;
    list-style: none;
}
ul.slideshow-items > li:before {content: '';width: 28px;height: 28px;border-radius: 100%;background: url(https://cdn.shopify.com/s/files/1/0253/2176/6986/files/list-icon.png?v=1622670853) no-repeat center / cover;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
ul.slideshow-items > li {
    margin-bottom: 15px;
}
ul.slideshow-items.columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
h2.slideshow-classic__heading.title {
    font-size: 55px;
    width: 100%;
    line-height: 84px;
    margin-bottom: 0;
	font-family: Laila;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: #68192f !important;
    font-family: Roboto;
}
.slideshow-classic__subheading.subtitle> p {
    font-size: 20px;
    line-height: 40px;
    color: #671b2e;
}
.slideshow-classic__preheading.pretext p {
    color: #691b2c;
}
 .slideshow-classic__banner {
	 overflow: hidden;
	 position: relative;
}
.slideshow-classic__subheading.subtitle p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
}
.slideshow-classic__banner.onlybtns > .caption {
    transform: none;
    top: auto;
    bottom: 0;
    padding: 0;
}
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	 .slideshow-classic__buttons .button {
		 width: 100% !important;
		 max-width: calc(50% - 6px) !important;
		 margin: 0px auto;
	}
}
@media (max-width:1440px){
h2.slideshow-classic__heading.title {
    font-size: 45px;
    line-height: 74px;
}
.slideshow-classic__subheading.subtitle p {
    font-size: 22px;
    line-height: 35px;
}
.slideshow-classic__subheading.subtitle {
    margin-bottom: 25px;
}
.slideshow-section .caption-content {
    width: 50% !important;
}
}
@media (max-width: 991px){
.slideshow-classic__subheading.subtitle p {
    font-size: 18px;
    line-height: 25px;
}

ul.slideshow-items > li {
    font-size: 18px;
}

h2.slideshow-classic__heading.title {
    font-size: 35px;
    line-height: 54px;
}

.slideshow-classic__subheading.subtitle {
    margin-bottom: 20px;
}
}
 @media only screen and (max-width: 798px) {
    h2.slideshow-classic__heading.title {
        font-size: 30px;
        line-height: 50px;
    }
	 .slideshow-classic__banner {
		 overflow: visible;
	}
  .slideshow-classic.image-slideshow .caption {
      position: static;
      transform: none;
  }
  .slideshow-classic .gallery-cell {
      display: block;
  }
  .slideshow-section .caption-content {
      width: 100% !important;
  }
}
@media (max-width:767px){
.slideshow-classic__banner>.slideshow__image{
    display: none;
}
}
@media (min-width:768px){
.is-hidden-desktop-only {
    display: none;
}
}
 @media only screen and (max-width: 480px) {
.slideshow-classic .flickity-page-dots {
    bottom: 15px;
}
	 .slideshow-classic.page-dots--true {
		 padding-bottom: 25px;
		 margin-bottom: 25px;
	}
	 .slideshow-classic__buttons .button {
		 flex: 1 0 100%;
	}
	.slideshow-classic .gallery-cell {
		 display: block;
	}
	 .slideshow-classic .mobile-text--below-media .caption {
		 position: static;
		 text-align: center;
		 margin-top: 20px;
		 margin-bottom: 20px;
	}
	 .slideshow-classic .flickity-button {
		 display: none;
	}
  .slideshow-classic__subheading.subtitle> p {
      font-size: 16px;
      line-height: 27px;
      max-width: unset;
  }
  .slideshow-classic__subheading {
  	margin-bottom:15px !important;
  }
  .slideshow-classic__buttons a.button.button--secondary {
  	font-size: 18px;
  } 
ul.slideshow-items.columns {
    column-count: 1;
  }
  .slideshow-section .caption-content {
      padding: 20px;
  }
  .onlybtns .caption-content .slideshow-classic__buttons.buttons {
      justify-content: center !important;
  }
  .slideshow-classic   .flickity-page-dots {
      bottom: 15px;
  }
}

{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ css_class }}
                is-width-{{ section.settings.width }}
                under-overlay-menu
                {% if section.settings.mobile_text_below_image == true %}
                  mobile-text--below-media
                  {% else %}
                  mobile-text--over-media
                {% endif %}
                "
                {% if section.settings.animation != "none" %}
                  data-scroll-class="{{ section.settings.animation }}"
                {% endif %}>
  <div class="slideshow-classic image-slideshow image-slideshow--{{ section.settings.image_transition }} page-dots--{{ section.settings.show_nav_buttons }}" data-slideshow-classic>
    {% for block in section.blocks %}

      <div id="shopify-section-{{ block.id }}" class="gallery-cell image-slideshow__slide slideshow-classic__banner {% if block.settings.onlybtns == true %} onlybtns {% endif %} {% if section.settings.mobile_text_below_image == true %}mobile-text--below-media{% else %}mobile-text--over-media{% endif %} image-crop-{{ block.settings.mobile_image_crop }} is-flex is-align-center" {{ block.shopify_attributes }} data-slide-index={{ forloop.index0 }}>

        {% assign link = block.settings.link %}
        {% assign button_1 = block.settings.button_1 %}
        {% assign button_1_link = block.settings.button_1_link %}
        {% assign button_2 = block.settings.button_2 %}
        {% assign button_2_link = block.settings.button_2_link %}
        {% assign background_color_alpha = block.settings.background_opacity | divided_by: 100.00 %}
        {% assign heading_alpha = block.settings.heading_color | color_extract: 'alpha' %}
        {% assign preheading_alpha = block.settings.pretext_color | color_extract: 'alpha' %}
        {% assign subheading_alpha = block.settings.subheading_color | color_extract: 'alpha' %}
        {% assign caption_border_alpha = block.settings.border_color | color_extract: 'alpha' %}
        {% assign mobile_headline_alpha = block.settings.heading_color_mobile | color_extract: 'alpha' %}
        {% assign mobile_preheading_alpha = block.settings.pretext_color_mobile | color_extract: 'alpha' %}
        {% assign mobile_subtitle_alpha = block.settings.subheading_color_mobile | color_extract: 'alpha' %}
        {% assign caption_background_alpha = block.settings.background_color | color_extract: 'alpha' %}

        {% if button_1 != blank and button_2 != blank %}
          {% assign buttons = true %}
        {% else %}
          {% assign buttons = false %}
        {% endif %}

        {% style -%}
          #shopify-section-{{ block.id }} .caption-content {
            background-color: {% if caption_background_alpha != 0 %}{% if background_color_alpha != 100  %}{{ block.settings.background_color | color_modify: 'alpha', background_color_alpha }}{% else %}{{ block.settings.background_color }}{% endif %}{% else %}rgba(0,0,0,0){% endif %};
            border: {{ block.settings.border_width }}px solid {{ block.settings.border_color }};
          }

          #shopify-section-{{ block.id }} .slideshow-classic__heading {
            color: {% if heading_alpha != 0 %}{{ block.settings.heading_color }}{% else %}{{ settings.heading_color }}{% endif %};
          }

          #shopify-section-{{ block.id }} .slideshow-classic__preheading {
            color: {% if preheading_alpha != 0 %}{{ block.settings.pretext_color }}{% else %}{{ settings.heading_color }}{% endif %};
          }

          #shopify-section-{{ block.id }} .slideshow-classic__subheading {
            color: {% if subheading_alpha != 0 %}{{ block.settings.subheading_color }}{% else %}{{ settings.heading_color }}{% endif %};
          }

          @media only screen and (min-width: 480px) {
            #shopify-section-{{ block.id }} .caption-content {
              width: {{ block.settings.text_width }}%;
            }
          }

          @media only screen and (max-width: 480px) {
            #shopify-section-{{ block.id }}  .slideshow-classic__heading {
              color: {% if mobile_headline_alpha != 0 %}{{ block.settings.heading_color_mobile}}{% endif %};
            }
            #shopify-section-{{ block.id }}  .slideshow-classic__preheading {
              color: {% if mobile_preheading_alpha != 0 %}{{ block.settings.pretext_color_mobile}}{% endif %};
            }
            #shopify-section-{{ block.id }}  .slideshow-classic__subheading {
              color: {% if mobile_subtitle_alpha != 0 %}{{ block.settings.subheading_color_mobile}}{% endif %};
            }
          }
        {%- endstyle -%}

        {% if block.settings.mobile_image != blank %}
          {% assign hide_mobile = 'is-hidden-mobile-only' %}
        {% endif %}

        {% if block.settings.image != blank %}
           <img class="slideshow__image lazyload" alt="{{ block.settings.image.alt | escape }}" src="{{ block.settings.image | img_url:'master' }}"  data-sizes="auto">
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% if block.settings.mobile_image != blank %}
          <div class="is-hidden-desktop-only">
             <img class="slideshow__image" alt="{{ block.settings.mobile_image.alt | escape }}" src="{{ block.settings.mobile_image | img_url:'master' }}"  data-sizes="auto">
          </div>
        {% endif %}

        {% if link != blank %}
          <a href="{{ link }}" class="banner--full-link"></a>
        {% endif %}

        {% if block.settings.pretext != blank or block.settings.title != blank or block.settings.subtitle != blank or button_1 != blank or button_2 != blank %}
          <div class="caption text-align-{{ block.settings.text_horizontal_position }}">
            <div class="caption-content text-align-{{ block.settings.text_alignment }}">
              {% if block.settings.pretext != blank %}
                <div class="slideshow-classic__preheading pretext">
                  {{ block.settings.pretext }}
                </div>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2 class="slideshow-classic__heading title {% if settings.banner_heading_size > 35 %}mobile-shrink-text{% endif %}">
                  <span>{{ block.settings.title }}</span>
                </h2>
              {% endif %}
              {% if block.settings.subtitle != blank %}
                <div class="slideshow-classic__subheading subtitle">
                  {{ block.settings.subtitle }}
                  {% if block.settings.listitem %}
                  <ul class="slideshow-items {% if block.settings.listitemcols %} columns {% endif %}">
                    {%- assign items = block.settings.listitem | split: '</p>'  -%}
                    {%- for item in items -%}
                    	{%- if item != "" -%}	
                          <li>{{ item | strip_html | strip }}</li>
                    	{%- endif -%}
                    {%- endfor -%}
                  </ul>
                  {% endif %}
                </div>
              {% endif %}
              {% if button_1 != blank or button_2 != blank %}
                <div class="slideshow-classic__buttons buttons {% unless buttons == true %}is-justify-{{ block.settings.text_alignment }}{% endunless %}">
                  {% if button_1 != blank %}
                    {% include 'button', label: button_1, href: button_1_link, type: "link", style: block.settings.button_1_style %}
                  {% endif %}
                  {% if button_2 != blank %}
                    {% include 'button', label: button_2, href: button_2_link, type: "link", style: block.settings.button_2_style %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>




{% schema %}

{
  "name": "Slideshow - classic",
  "class": "jsSlideshowClassic overlaid-header-option slideshow-section under-menu",
  "settings": [
    {
      "type": "select",
      "id": "image_transition",
      "label": "Image transition",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "image_slideshow_speed",
      "label": "Change image every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 8,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_nav_buttons",
      "label": "Show navigation dots",
      "default": true
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "mobile_text_below_image",
      "label": "Show text below image",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Links entire image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 900px recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image",
          "info": "900 x 1800px recommended"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading",
          "default": "<p>Preheading</p>"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Classic slideshow"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subheading",
          "default": "<p>Additional info in the subheading</p>"
        },
        {
          "type": "richtext",
          "id": "listitem",
          "label": "List Items",
          "default": "<p>Additional info in the subheading</p>"
        },
        {
          "type": "checkbox",
          "id": "listitemcols",
 		  "default": false,
          "label": "Two rows list"
        },
        {
          "type": "color",
          "id": "pretext_color",
          "label": "Preheading",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_horizontal_position",
          "label": "Horizontal position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": "Text background"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "background_opacity",
          "label": "Background opacity",
          "min": 0,
          "max": 100,
          "default": 77,
          "unit": "%"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border",
          "default": "#FFFFFF"
        },
        {
          "type": "range",
          "id": "border_width",
          "label": "Border width",
          "min": 0,
          "max": 20,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_width",
          "label": "Text width",
          "min": 40,
          "max": 100,
          "default": 40,
          "unit": "%"
        },
        {
          "type": "checkbox",
          "label": "Only Buttons?",
		  "id": "onlybtns",
		  "default": false
        },
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "button_1",
          "label": "First button label",
          "default": "Button 1"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "First slide link"
        },
        {
          "type": "select",
          "id": "button_1_style",
          "label": "First button style",
          "options": [
            {
              "value": "button--primary",
              "label": "Primary"
            },
            {
              "value": "button--secondary",
              "label": "Secondary"
            },
            {
              "value": "button--link-style",
              "label": "Link style"
            }
          ],
          "default": "button--secondary"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "button_2",
          "label": "Second button label",
          "default": "Button 2"
        },
        {
          "type": "url",
          "id": "button_2_link",
          "label": "Second slide link"
        },
        {
          "type": "select",
          "id": "button_2_style",
          "label": "Second button style",
          "options": [
            {
              "value": "button--primary",
              "label": "Primary"
            },
            {
              "value": "button--secondary",
              "label": "Secondary"
            },
            {
              "value": "button--link-style",
              "label": "Link style"
            }
          ],
          "default": "button--secondary"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "select",
          "id": "mobile_image_crop",
          "label": "Image cropping",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "color",
          "id": "pretext_color_mobile",
          "label": "Preheading",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "heading_color_mobile",
          "label": "Heading",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "color",
          "id": "subheading_color_mobile",
          "label": "Subheading",
          "default": "rgba(0,0,0,0)"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slideshow - classic",
    "category": "Image",
    "settings": {
    },
    "blocks": [
      {
        "type": "image",
        "settings": {
          "image": "",
          "title": "Flex Shopify Theme",
          "subtitle": ""
        }
      },
      {
        "type": "image",
          "settings": {
          "image": "",
          "pretext": "<p>Preheading</p>",
          "title": "Classic slideshow",
          "subtitle": "<p>Additional info in the subheading</p>"
        }
      }
    ]
  }]
}

{% endschema %}