<div class="instruction__container desktop">
  {% for block in section.blocks %}
    {%- if block.settings.mobileonly -%}
      {%- continue -%}
    {%- endif -%}

    <div class="instruction">
      <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}"/>
    </div>
  {% endfor %}
</div>

{% assign images = "" %}

{% for block in section.blocks %}
  {%- unless block.settings.mobileonly -%}
    {%- continue -%}
  {%- endunless -%}

  {% unless block.settings.big %}
    {% assign img = block.settings.image | img_url: '800x' %}
    {% assign images = images | append: img %}
    {% unless forloop.last %}
      {% assign images = images | append: ',' %}
    {% endunless %}
  {% endunless %}
{% endfor %}

{% assign images = images | split: ',' %}

<div class="instruction__mobile">
  {% include 'slideshow-arrow', images: images %}
</div>

<style>
.instruction__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 33vw;
}

.instruction__double {
  width: 70vw;
}

.instruction__mobile {
  display: none;
}

@media (max-width: 600px) {
  .instruction__container {
    margin-bottom: 2em;
  }
  .instruction {
    width: 80vw;
  }
  .instruction__double {
    display: none;
  }
  .instruction__mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

</style>

{% schema %}
{
  "name": "Instructions",
  "settings": [],
  "blocks": [{
    "type": "instruction",
    "name": "Instruction",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "checkbox",
        "id": "big",
        "label": "Big",
        "info": "Only shows in desktop",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "mobileonly",
        "label": "Mobile only",
        "default": false
      }
    ]
  }]
}
{% endschema %}