<style>
    #insta-feed {
        width:{{section.settings.feed_width}}%;
    }
    #insta-feed h2 {
        font-size:{{section.settings.heading_size}}px;
        font-family: {{section.settings.heading_font.family }};
    }
    {{ section.settings.heading_font | font_face }}
</style>

{{section.settings.html_area}}

{% unless section.settings.html_area contains "feed-" %}
{% capture flick_settings_feed %}
  { "cellAlign": "left",
    "contain": true,
    "pageDots": false,
    "wrapAround": false,
  }
{% endcapture %}
<div id="insta-feed"></div>
{% endunless  %}
{%schema%}{"name":"Instafeed App","settings":[{"type":"font_picker","label":"Heading font.","id":"heading_font","default": "helvetica_n4"},{"type":"range","id":"heading_size","min":10,"max":30,"step":1,"unit":"px","label":"Heading Size","default":20},{"type":"range","id":"feed_width","min":50,"max":100,"step":5,"unit":"%","label":"Feed Width","default":100},{"type":"textarea","id":"html_area","label":"Custom Code (optional)"}],"presets":[{"name":"Instafeed App","category":"Instagram Feed"}]}{%endschema%}