<div class="container-faq">
  <input class="jump_to__toggle" id="select" type="checkbox">
  <div class="jump_to__links">
    <div class="jump_to__text font-heading-medium">
      {{section.settings.text}}
    </div>
    <label for="select" class="font-link">select topic</label>

    {%- for block in section.blocks -%}
      <a href="{{block.settings.url}}" class="font-link">{{block.settings.title}}</a>
    {%- endfor -%}
  </div>
  <div id="jump_to__container">
    {%- for block in section.blocks -%}
      <a href="{{block.settings.url}}" class="font-link">{{block.settings.title}}</a>
    {%- endfor -%}
  </div>
</div>

<style>

</style>

{% schema %}
{
  "name": "jump-to",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Display text",
      "default": "jump to: "
    }
  ],
  "blocks": [
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          }
        ]
      }
    ]
}
{% endschema %}