{% style %}

  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-left:{{ section.settings.padding_left }}px;
    padding-right:{{ section.settings.padding_right }}px;
	background-color: {{ section.settings.section_bg }};
	margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  #shopify-section-161045450672621ac0 {background:#fff;}
  #shopify-section-161045450672621ac0 section {
    margin: 0;
	}
  /* enable Flickity by default */
  #shopify-section-161045450672621ac0 .quick-links:after {
    content: 'flickity';
    display: none; /* hide :after */
  }

  .flickity-button:disabled {
    display: none !important;
  }
  .flickity-prev-next-button.next {
    right: 0!important;
  }
  .flickity-prev-next-button.previous {
    left: 0!important;
  }

{% if settings.blocks.size < 4 %}
    .flickity-button {
      display: none!important;
    }
{% endif %}
@media screen and ( min-width: 1250px ) {
  /* disable Flickity for large devices */
  .quick-links:after {
    content: '';
  }
}
{% endstyle %}

{%- capture section_settings -%}
{
	"autoPlay": true,
  "prevNextButtons": true,
  "pageDots": false,
  "setGallerySize": {% if section.settings.section_size == 'preserve_ratio' %}true{% else %}false{% endif %},
  "adaptiveHeight": {% if section.settings.section_size == 'preserve_ratio' %}true{% else %}false{% endif %},
  "transitionEffect": {{ section.settings.carousel_effect | json }},
  "cycleSpeed": {{ section.settings.cycle_speed | times: 1000 | json }}
}
{%- endcapture -%}

{% capture flickity_settings %}
  {
    "cellAlign": "left",
    "contain": true,
    "pageDots": false,
    "wrapAround": false,
    "watchCSS": true
  }
{% endcapture %}

<section class="section" data-section-id="{{ section.id }}" data-section-type="logo-list">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3">{{ section.settings.title | escape }}</h2>

        {%- if section.settings.link_title != blank and section.settings.link != blank -%}
          <a href="{{ section.settings.link }}" class="section__action-link link">{{ section.settings.link_title | escape }} {% render 'icon', icon: 'tail-right' %}</a>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="quick-links" data-flickity='{{flickity_settings}}'>
      {%- for block in section.blocks -%}
        <a {% if block.settings.link %}href="{{ block.settings.link }}"{% endif %} class="quick-links__link fixmobile" {{ block.shopify_attributes }}>
          {%- if block.settings.image -%}
            {%- assign max_height_mobile = 90 -%}
            {%- assign max_height_desktop = 70 -%}
            {%- assign max_width_mobile = 180 | divided_by: block.settings.image.aspect_ratio | at_most: 180 -%}
            {%- assign max_width_desktop = 140 | divided_by: block.settings.image.aspect_ratio | at_most: 140 -%}

            {%- if block.settings.image.aspect_ratio < 1.5 -%}
              {%- if block.settings.image.height < max_height_desktop -%}
                {%- assign max_width_desktop = block.settings.image.width | times: block.settings.image.aspect_ratio | round -%}
              {%- else -%}
                {%- assign max_width_desktop = max_height_desktop | times: block.settings.image.aspect_ratio | round -%}
              {%- endif -%}

              {%- if block.settings.image.height < max_height_mobile -%}
                {%- assign max_width_mobile = block.settings.image.width | times: block.settings.image.aspect_ratio | round -%}
              {%- else -%}
                {%- assign max_width_mobile = max_height_mobile | times: block.settings.image.aspect_ratio | round -%}
              {%- endif -%}
            {%- elsif block.settings.image.aspect_ratio > 2.5 -%}
              {%- assign max_width_mobile = 180 -%}
              {%- assign max_width_desktop = 140 -%}
            {%- endif -%}

            <div id="block-{{ block.id }}" class="quick-links__image-container">
              <div class="quick-links__image-ie-fix">
                <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%">
                  <img class="lazyload image--fade-in" data-src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}">

                  <noscript>
                    <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}">
                  </noscript>
                </div>
              </div>
            </div>

            <style>
              #block-{{ block.id }} .quick-links__image-ie-fix {
                max-width: {{ max_width_mobile }}px;
              }

              @media screen and (min-width: 641px) {
                #block-{{ block.id }} .quick-links__image-ie-fix {
                  max-width: {{ max_width_desktop }}px;
                }
              }
            </style>
          {%- else -%}
            <div class="quick-links__image-container">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
        </a>
      {%- endfor -%}

      <style>
        /* Based on the number of logos, we have to dynamically re-calculate the width of each each */
        @media screen and (min-width: 641px) {
          {%- assign number_of_rows = section.blocks.size | divided_by: 3.0 | ceil -%}
          {%- assign max_logos_per_row = section.blocks.size | times: 1.0 | divided_by: number_of_rows | ceil -%}
          {%- assign logo_width = 100.0 | divided_by: max_logos_per_row -%}

          #shopify-section-{{ section.id }} .quick-links__link {
            width: {{ logo_width }}%;
          }
        }

        @media screen and (min-width: 1000px) {
          {%- assign number_of_rows = section.blocks.size | divided_by: 6.0 | ceil -%}
          {%- assign max_logos_per_row = section.blocks.size | times: 1.0 | divided_by: number_of_rows | ceil -%}
          {%- assign logo_width = 100.0 | divided_by: max_logos_per_row -%}

          #shopify-section-{{ section.id }} .quick-links__link {
            /*width: {{ logo_width }}%;*/
            width: 11%;
          }
        }

        @media (max-width: 641px) {
          .fixmobile {
            padding-top: 0!important;
            padding-bottom: 0!important;
          }
          .flickity-button.flickity-prev-next-button.next {
            right: 0!important;
          }
          .flickity-button.flickity-prev-next-button.previous {
            left: 0!important;
          }

          #shopify-section-{{ section.id }} .container {
            padding: 0!important;
          }
        }
      </style>
    </div>
  </div>
</section>
<script>

</script>

{% schema %}
{
  "name": "Logo list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
	{
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "250 x 80px .jpg recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Logo list",
      "settings": {},
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}