<div class="bs_background-mission">
  <div class="bs_container-mission">
    <div class="bs_heading-mission font-title">
      {{ section.settings.main_heading }}
    </div>
  </div>
</div>

{% style %}
.bs_background-mission {
  background-image: {% if section.settings.background != blank %}url({{ section.settings.background | img_url: '1800x' }}{% else %}none{% endif %});
  background-color: #D38A80;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  width: 100vw;
}

.bs_container-mission {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 20%;
  height: 100%;
}

.bs_heading-mission {
  text-align: center;
  letter-spacing: -0.7px;
  line-height: 1;
  width: 100%;
}

.bs_heading-mission span {
  font-family: Laila;
}

@media (max-width: 1000px) {
  .bs_container-mission {
    padding: 2em 3em 2em 3em;
  }
  .bs_heading-mission {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .bs_container-mission {
    padding: 2em;
  }
  .bs_background-mission {
    background-image: {% if section.settings.background_mobile != blank %}url({{ section.settings.background_mobile | img_url: '425x' }}{% else %}none{% endif %});
    height: 245px;
  }
  .bs_heading-mission {
    font-size: 20px;
  }
}
{% endstyle %}

{% schema %}
{
	"name": "Mission",
	"settings": [
		{
			"type": "text",
			"id": "main_heading",
			"label": "Main Heading",
			"default": "<span>our mission</span> is to help each other take the pressure off it’s time to focus on ourselves and what makes up happy<br>because if you’re happy, you’re doing it right"
		},
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background Image"
		},
		{
			"type": "image_picker",
			"id": "background_mobile",
			"label": "Background Image Mobile"
		}
	]
}
{% endschema %}