<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
      body{background:#6a1a31;}
  	  .logoPass img{
      	height:auto;
        width:auto;
        margin-top: -40px;
      }
  .txtYellow{
  	font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    color: #f7a700;
    margin-top: -40px;
    margin-bottom: 40px;

  }
  .MAuto{margin:-20px auto 0 auto;}

  header{
    background: unset;
    color: white;
  }

  .social-media__item svg path {
    fill: #fff;
  }

  .form__field {
    border: none;
    border-radius: 18px;
    height: 30px;
    font-size: 14px;
    color: #000;

  }

  .form__input-row{
  	max-width:500px;
    margin: 0 auto;
  }

  .form__floating-label{
    font-family:Roboto;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.06em;


  }
  button.form__submitPass {
    border-radius: 18px;
    height: 30px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color:#fff;
    font-size: 12px;
    margin-left:0;

  }

  .form__floating-label {
    top: -7px;
  }

  .social-media__item svg {
  	width: 20px;
    height: 20px;
    opacity: 1;
  }

  .social-media__item {
    margin: 5px 10px;
  }

  .form__input-wrapper--labelled .form__field {
    padding-top: 16px;
    font-weight: 500;
  }

  .form__field.is-filled+.form__floating-label{
    -webkit-transform: translateY(-4px) scale(0.8);
    transform: translateY(-4px) scale(0.8);
  }



</style>
<section data-section-id="{{ section.id }}" data-section-type="password">
  <div class="container">
    <div class="password">

      <div class="password__content">
        <div class="container container--extra-narrow">


          <div class="logoPass">
            <img class="" src="https://cdn.shopify.com/s/files/1/0253/2176/6986/files/hanni_logo-01.png?v=1611257734" alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
          </div>


          {%- if section.settings.heading != blank -%}
            <!--h2 class="heading h1 ">{{ section.settings.heading | escape }}</h2-->
            <h2 class="txtYellow">{{ section.settings.heading | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.text != blank -%}
            <!--div class="rte">
              {{ section.settings.text }}
            </div-->
          {%- endif -%}


          {%- if section.settings.show_newsletter_signup -%}
            <div class="newsletter">
              {%- form 'customer', id: newsletter_id, class: 'form newsletter__form' -%}
                {%- if form.posted_successfully? -%}
                  <p class="alert alert--success alert--center">{{ 'general.password.newsletter_success' | t }}</p>

                  {%- if form.context == 'announcement-bar' -%}
                    {%- assign open_announcement = true -%}
                  {%- endif -%}
                {%- else -%}
                  {%- if form.errors -%}
                    <div class="alert alert--error">
                      <ul class="alert__error-list">
                        {%- for field in form.errors -%}
                          {%- if field == 'form' -%}
                            <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
                          {%- else -%}
                            <li class="alert__error-item">{{ form.errors.translated_fields[field] | capitalize }}
                              {{ form.errors.messages[field] }}</li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}

                  <input name="contact[tags]" type="hidden" value="newsletter">
                  <input name="contact[context]" type="hidden" value="announcement-bar">

                  <div class="form__input-row">
                    <div class="form__input-wrapper form__input-wrapper--labelled">
                      <input autofocus class="form__field form__field--text" id="contact[email]" name="contact[email]" required type="email">
                      <label class="form__floating-label" for="contact[email]">If you want to know more enter your email address</label>
                      <!--label for="contact[email]" class="form__floating-label">{{ 'general.password.newsletter_input' | t }}</label-->

                    </div>

                    <button class="form__submitPass button button--primary" type="submit">thanks!</button>
                    <!--button type="submit" class="form__submit button button--primary">{{ 'general.password.newsletter_submit' | t }}</button-->
                  </div>
                {%- endif -%}
              {%- endform -%}

              {%- if section.settings.newsletter_text != blank -%}
                <div class="newsletter__text rte">
                  {{ section.settings.newsletter_text }}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      {%- capture social_media -%}
        {%- render 'social-media' -%}
      {%- endcapture -%}

      <footer class="password__footer {% if section.settings.show_social_media and social_media != blank %}password__footer--with-social{% endif %}">
        <!--div class="password__footer-info">
          {%- capture shopify_link -%}
            <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
              {%- render 'icon', icon: 'shopify-logo' -%}
            </a>
          {%- endcapture -%}

          <span class="password__powered-by">{{ 'general.password.powered_by_html' | t: shopify_link: shopify_link }}</span>
          <span class="password__admin-link">{{ 'general.password.login_title' | t }} <a href="/admin" class="link link--accented">{{ 'general.password.login_link' | t }}</a></span>
        </div-->

        {%- if section.settings.show_social_media and social_media != blank -%}
          <div class="password__footer-social MAuto">
            <!--span class="password__social-text hidden-phone">{{- 'general.password.follow_us' | t -}}</span-->
            {{- social_media -}}
          </div>
        {%- endif -%}
      </footer>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "Make sure to have properly configured your social media in the theme settings.",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>A content describing what your store will sell.</p>"
      },
      {
        "type": "header",
        "content": "Newsletter signup"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter_signup",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Text",
        "default": "<p>A short sentence describing what someone will receive by subscribing.</p>"
      }
    ]
  }
{% endschema %}