<div class="press-logos-wrap">
{% for block in section.blocks %}
  <div class="article__grid-image-wrapper">
     <a href="{{ block.settings.link }}" class="article__grid-image-container press__article--link">
      <img class="article__grid-image" src="{{ block.settings.image | img_url:'master' }}">
     </a>
  </div>
{% endfor %}
</div>
{% schema %}
{
  "name": "Logo list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "250 x 80px .jpg recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}