<style>
  #shopify-section-{{ section.id }} > div {
    margin: 0 !important;
    margin-top: {{ section.settings.padding_top }}px !important;
    margin-bottom: {{ section.settings.padding_bottom }}px !important;
  }
</style>
<div {% if section.settings.bg_color != blank %}style="background: {{section.settings.bg_color}}"{% endif %} >
      <div class="quick-links" >
        {%- for block in section.blocks -%}
          <a
            href="{{ block.settings.link }}"
            class="quick-links__link font-dark-pink {% if section.settings.expand_items %}quick-links__link--grow{% endif %} heading" {{ block.shopify_attributes }}
            {% if section.settings.padding != 0 %}style="padding: {{section.settings.padding}}em 0"{% endif %}
          >
          {{- block.settings.title | escape -}}
          </a>
        {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Quick links",
  "settings": [
    {
      "type": "checkbox",
      "id": "expand_items",
      "label": "Expand items to fill row",
      "default": true
    },
    {
      "label": "Horizontal padding",
      "type":"range",
      "id":"padding",
      "min":0,
      "max":10,
      "step":1,
      "unit":"em",
      "default": 1
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
     },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 0,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "default": 0,
        "min": 0,
        "max": 80,
        "unit": "px"
      }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Your link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Link",
      "name": "Quick links",
      "settings": {},
      "blocks": [
        {
          "type": "link"
        },
        {
          "type": "link"
        },
        {
          "type": "link"
        },
        {
          "type": "link"
        },
        {
          "type": "link"
        },
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}