<div class="map_canvas">
  <iframe width="100%" height="550" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/d/embed?mid=1WpGlNukuhfCv-xFXqtshMEnPM8PYElc&ehbc=2E312F" allowfullscreen></iframe>
</div>

<script>
  window.onload = function() {
    LoadMap();
  }
  function LoadMap() {
    var myOptions = {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [
        {
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#e1cc09"
            }
          ]
        }
      ]
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }
</script>