<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<script src="https://showfields-embed-prod.s3.amazonaws.com/embed.js"></script>
<script>
  window.showfieldsSettings = {
    brandId: "a0a9a0f8-a4bd-4624-a78e-b345abf64970",
    name: "Hanni Inc",
    bookTourButtonId: "showfieldsBookTour",
    liveDemoButtonId: "showfieldsLiveDemo",
    experienceWidgetContainerId: "showfieldsExperienceWidget",
  }
</script>

<script src="https://showfields-embed-prod.s3.amazonaws.com/embed.js"></script>
<script>
  window.showfieldsSettings = {
    liveDemoButtonId: "showfieldsLiveDemo",
  }
</script>


{% capture none_background %} {{section.settings.background}} {%endcapture%}

<div class="
  {% if none_background == blank %}
  bs_background_color
  {% else %}
  bs_background {% if section.settings.background_mobile %}mobile_auto{% endif %}

{% endif %}
">

  <div class="bs_container">
    <div class="text-container-wrap">
      <div class="text-container text-bg-color">
        <div class="text-heading">
          {% if section.settings.main_heading != blank %}
          <h3>{{section.settings.main_heading}}</h3>
          {% endif %}
        </div>
        {% if section.settings.content_1 != blank %}
        <div class="text-first-content">{{section.settings.content_1}}</div>
        {% endif %}
        
        {% if section.settings.content_2 != blank %}
        <div class="text-second-content">{{section.settings.content_2}}</div>
        {% endif %}
        
        {% if section.settings.content_3 != blank %}
        <div class="text-third-content">{{section.settings.content_3}}</div>
        {% endif %}
        
        <div class="text-btn-wrap">
          <!--<a class="custom-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/hanni-smooth?hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=ff5859'});return false;">-->
          <a class="custom-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/hanni-smooth/signature-shave?hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=ff5859'});return false;">
            {% if section.settings.btn_text != blank %}
            {{section.settings.btn_text}}
            {% else %}
            book an appoinment
            {% endif %}  
          </a>          
        </div>
        
      </div>
    </div>
  </div>

</div>


<style>
  
  .text-btn-wrap a::before {
    display: none;
  }
  
    .text-bg-color{
      background-color: {{ section.settings.text_bg_color }};
      padding: 40px;
      text-align: center;
      color: #EAC2C4;
    }
  
	.bs_background {
		background-image: url({{ section.settings.background | img_url: '1800x' }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 65vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
	}
    .bs_background_color {
      background-color: #fae8e9;
    }
    .bs_container {
      max-width: 1440px;
      width: 95%;
      margin: 0 auto;    
    }
  
    .text-container-wrap {
      max-width: 520px;
      margin-left: auto;
    }

    .text-heading h3 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
    }

    .text-heading h3 b {
      text-transform: lowercase;
      font-size: 32px;
    }

    .text-heading {
      padding: 30px 0 50px 0;
    }
  
  .text-first-content {
    font-size: {{ section.settings.content_1_size }}px;
    font-weight: bold;
    line-height: 26px;
  }
  
  .text-first-content p {
    margin-bottom: 15px;
  }
  
  .text-second-content {
    font-size: {{ section.settings.content_2_size }}px;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #BE7888;
    line-height: 18px;
  }

  .text-third-content {
    font-size: {{ section.settings.content_3_size }}px;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #BE7888;
  }

  .text-third-content p {
    line-height: 18px;
  }
  
  
  .text-btn-wrap {
    margin: 25px 0 16px 0;
  }

  .text-btn-wrap a {
    display: inline-block;
    background: #FF2041;
    padding: 12px 42px;
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #FF2041;
    border-radius: 50px;
    max-width: 350px;
    text-transform: lowercase;
  }

  .text-btn-wrap a:hover {
    background-color: transparent;
    border: 2px solid #fff;
  }

  
  @media screen and (max-width: 1024px) {
    .bs_background {
      min-height: 85vw;
    }
  }

  @media (max-width: 800px) {
    
    .text-container-wrap {
      max-width: 395px;
    }
	.mobile_auto.bs_background {
		background-image: url({{ section.settings.background_mobile | img_url: '600x' }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 65vw;
	}
    
    .text-heading {
      padding: 30px 0 30px 0;
    }
    .text-container-wrap {    
      padding: 50px 0;
    }
    
    .text-btn-wrap a {   
      font-size: 18px;   
    }
  }
</style>
  
{% schema %}
{
	"name": "Show Fields",
	"settings": [
		{
			"type": "color",
			"id": "text_bg_color",
			"label": "Text Background Color",
			"default": "#7D0C34"
		},
		{
			"type": "text",
			"id": "main_heading",
			"label": "Main Heading",
			"default": "Showfields x <b>hanni</b>"
		},
		{
			"type": "richtext",
			"id": "content_1",
			"label": "First Content",
			"default": "<p>at hanni we believe in \"No Pressure\". What does that mean? <br>No one should feel pressured by society, social media, or anyone <br>that they aren't doing life right. Work, school, kids, appointments, <br>bills, friends, anxiety. <br>We are here to help you take time for yourself and give you more time to do so.</p>"
		},
        {
            "type": "range",
            "id": "content_1_size",
            "label": "First Content Font Size",
            "min": 8,
            "max": 40,
            "default": 22,
            "unit": "px"
        },
		{
			"type": "richtext",
			"id": "content_2",
			"label": "Second Content",
			"default": "<p>Lorem Ipsum content 2</p>"
		},
        {
            "type": "range",
            "id": "content_2_size",
            "label": "Second Content Font Size",
            "min": 8,
            "max": 24,
            "default": 14,
            "unit": "px"
        },
		{
			"type": "richtext",
			"id": "content_3",
			"label": "Third Content",
			"default": "<p>Lorem Ipsum content 3</p>"
		},
		{
            "type": "range",
            "id": "content_3_size",
            "label": "Third Content Font Size",
            "min": 8,
            "max": 24,
            "default": 14,
            "unit": "px"
        },
		{
			"type": "header",
			"content": "Images"
		},
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background Image"
		},				{
			"type": "image_picker",
			"id": "background_mobile",
			"label": "Background Image Mobile"
		},
		{
			"type": "header",
			"content": "Button"
		},
		{
			"type": "text",
			"id": "btn_text",
			"label": "Button Text",
			"default": "book an appoinment"
		}

	]
}
{% endschema %}