{%- capture section_settings -%}
  {
    "autoPlay": {{ section.settings.autoplay | json }},
    "prevNextButtons": true,
    "pageDots": true,
    "setGallerySize": true,
    "adaptiveHeight": false,
    "transitionEffect": {{ section.settings.carousel_effect | json }},
    "cycleSpeed": {{ section.settings.cycle_speed | times: 1000 | json }}
  }
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="slideshow" data-section-settings='{{ section_settings }}'>
  <div {% if section.settings.background_image != 'blank' %} class="background_image" {% endif %}>
    <div class="container--flush slideshow-container">
      <div class="slider-next-arrow">
        {% render 'icon', icon: 'slider-next-arrow' %}
      </div>
      <div class="slideshow">
        {%- for block in section.blocks -%}
          {% if block.type == 'image' %}
            <div class="slideshow__slide-inner lazyload image--fade-in">
              {%- unless block.settings.image -%}
                {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                  <div class="slideshow__placeholder">
                    {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
                  </div>
              {%- endunless -%}

              {%- if block.settings.step_text -%}
                <span class="flickity-button flickity-prev-next-button next step-text font-link">{{- block.settings.step_text -}}</span>
              {%- endif -%}

              {%- if block.settings.image -%}
                <div class="slideshow__image-container">
                  <img src="{{ block.settings.image | img_url: '1200x' }}" class="lazyload image--fade-in" alt="{{ block.settings.image.alt | escape }}">
                </div>
              {%- endif -%}
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% style %}
.slideshow-container {
  padding-top: 2em;
  padding-bottom: 5em;
  position: relative;
}

.flickity-page-dots {
  display: none;
}

.slider-next-arrow {
  display: none;
  z-index: 20;
}

.background_image {
  background-image: url({{ section.settings.background_image | img_url: '1800x' }});
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.step-text {
  right: 85px !important;
  width: unset;
  text-align: right;
  font-size: 16px;
}

.step-text:hover {
  background: transparent!important;
  color: #ff5859;
}

.slideshow {
  height: 600px;
}

.flickity-viewport {
  height: 100%!important;
}

.slideshow {
  margin: 0!important;
}

.flickity-prev-next-button svg {
  fill: #ff5859;
}

.slideshow__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slideshow__image-container {
  width: 60vw;
  height: calc(60vw * 0.77);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow__image-container img {
  height: auto;
  width: 100%;
}

.slideshow__content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slideshow__content-wrapper,
.slideshow__content-wrapper {
  top: 77%;
}

.slideshow__slide-inner.slideshow__slide-inner--middle-right.image--fade-in.lazyloaded{
  background-position-x: center;
  background-position-y: top;
}

@media (min-width: 1400px) {
  .background_image {
    min-height: calc(50vw * 0.77);
  }

  .slideshow__image-container {
    max-width: 1000px;
  }
}

@media (min-width: 1500px) {
  .slideshow {
    height: 700px;
  }
}

@media (min-width: 2000px) {
  .background_image {
    padding-top: 4%;
  }
  .slideshow-container {
    padding-bottom: 0;
  }
}

@media screen and (max-width:1000px) {
  .slideshow__content-wrapper,
  .slideshow__content-wrapper {
    top: 80%;
  }

  .slideshow__image-container img {
    height: auto;
    width: 100%;
  }

  .slideshow-container {
    padding-top: 0;
  }

  .step-text {
    display: none;
  }
}

@media screen and (max-width:768px){
  .slideshow__slide-inner.slideshow__slide-inner--middle-right.image--fade-in.lazyloaded{
    background-position-x: left;
    background-position-y: top;
  }

  .slideshow-container {
    padding-bottom: 2em;
  }

  .slideshow {
    height: 300px;
  }
}

@media screen and (max-width:500px){
  .flickity-button {
    display: none;
  }

  .slideshow__image-container {
    width: 80vw;
    height: calc(80vw * 1.77);
  }

  .flickity-page-dots {
    display: flex;
    justify-content: center;
    bottom: 10px!important;
    margin: 0 0 0 6vw;
    width: 75vw!important;
    background: white;
  }

  .flickity-page-dots .dot {
    height: 2px!important;
    width: unset!important;
    flex: 2;
    margin: 0!important;
    border-radius: 0!important;
    border: none!important;
  }

  .flickity-page-dots .dot.is-selected {
    background: grey!important;;
  }

  .slider-next-arrow {
    display: unset;
    position: absolute;
    bottom: 30.5px;
    right: 20px;
    transform: scale(1.5);
    color: white;
    z-index: 1000;
  }

}
{% endstyle %}


{% schema %}
{
  "name": "Story Slideshow",
  "settings": [
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": false
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 600px .jpg recommended"
        },
        {
          "type": "header",
          "content": "Step"
        },
        {
          "type": "text",
          "id": "step_text",
          "label": "Step Name"
        }
      ]
    }
  ]
}
{% endschema %}