<style>
  #shopify-section-slideshow .slideshow__slide-inner.slideshow__slide-inner--middle-right.lazyloaded{
    background-position-x: center;
    background-position-y: top;
  }
  #shopify-section-slideshow .btnSlider .button{
    background:#ea5356!important;
    color: #fff!important;
  }
  #shopify-section-slideshow .onlyDesk{display:block}
  #shopify-section-slideshow  .onlyMobile{display:none}
  #shopify-section-slideshow  .titBanner{
    color:#6a1a31;
    /* width: 96%; */
    font-size: 46px;
    line-height: 50px;
    text-align: left;
    /* background: yellow; */
    /*margin: -162px auto 0 auto;
    padding-left: 475px;*/
        margin: -162px auto 0 35%;
    background:transparent;
  }
  .flickity-prev-next-button svg{
    width: 30px;
    height: 30px;
        fill: #f0cbcd;
  }
@media screen and (max-width:769px){
    #shopify-section-slideshow .btnSlider .button{
      border-radius:0px;
      width: 100%;
    }
    #shopify-section-slideshow .image-with-text__text-aligner .button{
      width: 100%;
    }
    #shopify-section-slideshow .onlyDesk{display:none}
    #shopify-section-slideshow .onlyMobile{display:block}
    #shopify-section-slideshow .titBanner{
    color: #6a1a31;
    font-size: 31px;
    line-height: 34px;
    background: #d89c9b;
    margin: 0;
    position: absolute;
    bottom: -194px;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    }
    #shopify-section-slideshow .slideshow__slide-inner.slideshow__slide-inner--middle-right.lazyloaded{
      background-position-x: left;
      background-position-y: top;
    }
  .hidden-dektop-and-phone{
        display:none;
      }
  }
  @media screen and (max-width:1199px){
   .hidden-tablet-phone {
     display:none;
   }

  }

    @media screen and (min-width:1200px){
      .hidden-dektop-and-phone{
        display:none;
      }
    }
</style>
{%- capture section_settings -%}
{
  "autoPlay": {{ section.settings.autoplay | json }},
  "prevNextButtons": true,
  "imagesLoaded": true,
  "pageDots": true,
  "setGallerySize": {% if section.settings.section_size == 'preserve_ratio' %}true{% else %}false{% endif %},
  "adaptiveHeight":false,
  "transitionEffect": {{ section.settings.carousel_effect | json }},
  "cycleSpeed": {{ section.settings.cycle_speed | times: 1000 | json }}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="slideshow" data-section-settings='{{ section_settings }}'>
  <div {% unless section.settings.edge_to_edge %}class="container container--flush"{% endunless %}>
    <div class="slideshow slideshow--{{ section.settings.section_size | replace: '_', '-' }} {% if section.settings.edge_to_edge %}slideshow--edge2edge{% endif %}" style="color: {{ section.blocks.first.settings.text_color }}">
      {%- for block in section.blocks -%}
        {% if block.type == 'image' %}
        {%- if block.settings.mobile_image -%}
          {%- capture mobile_size -%}{{ block.settings.mobile_image.width | at_most: 600 }}x{{ block.settings.mobile_image.height | at_most: 800 }}{%- endcapture -%}
          {%- capture bgset -%}{{ block.settings.mobile_image | img_url: mobile_size, crop: 'center' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w, {{ block.settings.image | img_url: '1400x' }} 1400w, {{ block.settings.image | img_url: '1600x' }} 1600w, {{ block.settings.image | img_url: '1800x' }} 1800w{%- endcapture -%}
        {%- else -%}
          {%- capture mobile_size -%}{{ block.settings.image.width | at_most: 600 }}x{{ block.settings.image.height | at_most: 800 }}{%- endcapture -%}
          {%- capture bgset -%}{{ block.settings.image | img_url: mobile_size, crop: 'center' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w, {{ block.settings.image | img_url: '1400x' }} 1400w, {{ block.settings.image | img_url: '1600x' }} 1600w, {{ block.settings.image | img_url: '1800x' }} 1800w{%- endcapture -%}
        {%- endif -%}

        {%- capture slide_inner -%}
          <div class="slideshow__slide-inner slideshow__slide-inner--{{ block.settings.content_position | replace: '_', '-' }} lazyload" {% if block.settings.image and section.settings.section_size != 'preserve_ratio' %}data-bgset="{{ bgset }}" data-optimumx="1.4" data-sizes="auto"{% endif %}>
            {%- unless block.settings.image -%}
              {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}

              {%- if section.settings.section_size == 'preserve_ratio' -%}
                {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
              {%- else -%}
                <div class="slideshow__placeholder">
                  {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
                </div>
              {%- endif -%}
            {%- endunless -%}

            {%- if block.settings.image and section.settings.section_size == 'preserve_ratio' -%}
              {%- capture supported_sizes -%}{%- render 'image-size', sizes: '800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200', image: block.settings.image -%}{%- endcapture -%}
              {%- assign image_url = block.settings.image | img_url: 'master' -%}

              <div class="aspect-ratio desktop_image_ratio {% if block.settings.mobile_image or block.settings.tablet_image %}hidden-tablet-phone{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}% {{ block.settings.desktop_extra_classs }}">
                <img class="slideshow__image lazyload" alt="{{ block.settings.image.alt | escape }}" src="{{ image_url }}">
                <noscript>
                  <img src="{{ block.settings.image | img_url: '1200x' }}" alt="{{ block.settings.image.alt | escape }}">
                </noscript>
              </div>
              {%- if block.settings.tablet_image -%}
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '600,700,800,900,1000,1100,1200', image: block.settings.tablet_image -%}{%- endcapture -%}
                {%- assign image_url = block.settings.tablet_image | img_url: 'master' -%}

                <div class="aspect-ratio hidden-dektop-and-phone" style="padding-bottom: {{ 100.0 | divided_by: block.settings.tablet_image.aspect_ratio }}%">
                  <img class="slideshow__image lazyload" alt="{{ block.settings.tablet_image.alt | escape }}" src="{{ image_url }}">

                  <noscript>
                    <img src="{{ block.settings.tablet_image | img_url: '800x' }}" alt="{{ block.settings.mobile_image.alt | escape }}">
                  </noscript>
                </div>
              {%- endif -%}
              {%- if block.settings.mobile_image -%}
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '600,700,800,900,1000,1100,1200', image: block.settings.mobile_image -%}{%- endcapture -%}
                {%- assign image_url = block.settings.mobile_image | img_url: '800x' -%}

                <div class="aspect-ratio hidden-tablet-and-up" style="padding-bottom: {{ 100.0 | divided_by: block.settings.mobile_image.aspect_ratio }}%">
                  <img class="slideshow__image lazyload" alt="{{ block.settings.mobile_image.alt | escape }}" src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

                  <noscript>
                    <img src="{{ block.settings.mobile_image | img_url: '800x' }}" alt="{{ block.settings.mobile_image.alt | escape }}">
                  </noscript>
                </div>
              {%- endif -%}
            {%- endif -%}

            {%- capture slide_content -%}
            {% if block.settings.subheading != blank %}
            <div class="slideshow_subheading">
            {{ block.settings.subheading }}
            </div>
            {% endif %}
              {%- if block.settings.title != blank -%}
                <h2 class="slideshow__title_primary heading h3 titBanner">
                  {{ block.settings.title | escape }}
              </h2>
              {%- endif -%}

            {% if block.settings.content != blank %}
                <div class="slideshow__content_primary">
                  <div class="slideshow_subtitle">{{ block.settings.content }}</div>
                  {% if block.settings.listitem %}
                  <ul class="slideshow-items {% if block.settings.listitemcols %} columns {% endif %}">
                    {%- assign items = block.settings.listitem | split: '</p>'  -%}
                    {%- for item in items -%}
                      {%- if item != "" -%}
                          <li>{{ item | strip_html | strip }}</li>
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                  {% endif %}
                </div>
              {% endif %}
            {% if block.settings.custom_html %}
              <div class="slideshow_custom_html">
                {{block.settings.custom_html}}
               </div>
            {% endif %}
            {%- endcapture -%}

            {%- capture slide_content_second -%}
            {%- if block.settings.title != blank -%}
              <h2 class="slideshow__title_second heading h3 titBanner">{{ block.settings.title_second | escape }}</h2>
            {%- endif -%}

            {%- if block.settings.content != blank -%}
              <p class="slideshow__content_second">{{ block.settings.content_second | escape | newline_to_br }}</p>
            {%- endif -%}


            {%- comment -%}

            {%- if block.settings.link != blank and block.settings.button_text != blank -%}
              <a href="{{ block.settings.link }}" class="slideshow__button button">{{ block.settings.button_text | escape }}</a>
            {%- endif -%}

            {%- endcomment -%}
          {%- endcapture -%}

            {%- if slide_content != blank -%}
              <div class="slideshow__content-wrapper">
                <div class="container">
                  <div class="slideshow_content_position_{{ block.settings.content_position | replace: '_', '-' }}">
                  {{ slide_content }}
                  </div>
                  {%- if block.settings.link != blank and block.settings.button_text != blank -%}
                <div class="desktopbtnSlider"><a href="{{ block.settings.link }}" class="slideshow__button button">{{ block.settings.button_text | escape }}</a></div>
              {%- endif -%}
                </div>
                <div class="container hidden-pocket">
                  {{ slide_content_second }}
                </div>
              </div>
            {%- endif -%}
          </div>
          <style>
            #block-{{ block.id }} {
              color: {{ block.settings.text_color }};
            }

            #block-{{ block.id }} .button {
              color: {{ block.settings.button_text_color }};
              background: {{ block.settings.button_background }};
            }

            #block-{{ block.id }} .button:hover {
              background: {{ block.settings.button_background | color_modify: 'alpha', 0.8 }};
            }

            {%- if block.settings.show_overlay -%}
              #block-{{ block.id }}.slideshow__slide--overlay::before {
                {%- assign overlay_opacity = block.settings.overlay_opacity | divided_by: 100.0 -%}
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), {{ '#000000' | color_modify: 'alpha', overlay_opacity }});
              }
            {%- endif -%}
          </style>

          {%- if block.settings.image and section.settings.section_size != 'preserve_ratio' -%}
            <noscript>
              <style>
                #block-{{ block.id }} .slideshow__slide-inner {
                  background-image: url({{ block.settings.image | img_url: '1400x' }})
                }
              </style>
            </noscript>
          {%- endif -%}
        {%- endcapture -%}

        {%- if block.settings.link != blank and block.settings.button_text == blank -%}
          <a href="{{ block.settings.link }}" class="slideshow__slide {% if block.settings.show_overlay %}slideshow__slide--overlay{% endif %} {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}" data-block-index="{{ forloop.index0 }}" {% if block.settings.image %}style="background-image: url({{ block.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %} {{ block.shopify_attributes }}>
            {{- slide_inner -}}
          </a>
        {%- else -%}
          <div class="slideshow__slide {% if block.settings.show_overlay %}slideshow__slide--overlay{% endif %} {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}" data-block-index="{{ forloop.index0 }}" {% if block.settings.image %}style="background-image: url({{ block.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %} {{ block.shopify_attributes }}>
            {{- slide_inner -}}
            {%- if block.settings.link != blank and block.settings.button_text != blank -%}
                <div class="mobilebtnSlider"><a href="{{ block.settings.link }}" class="slideshow__button button">{{ block.settings.button_text | escape }}</a></div>
              {%- endif -%}
          </div>

        {%- endif -%}
      {% endif %}


      {% if block.type == 'video' %}
        <div class="slideshow__slide-inner slideshow__slide-inner--{{ block.settings.content_position_video | replace: '_', '-' }} lazyload image--fade-in" {% if block.settings.image and section.settings.section_size != 'preserve_ratio' %}data-bgset="{{ bgset }}" data-optimumx="1.4" data-sizes="auto"{% endif %}>
          {%- capture slide_content_video -%}
          {%- if block.settings.title_video != blank -%}
            <h2 class="slideshow__title heading h1">{{ block.settings.title_video | escape }}</h2>
          {%- endif -%}

          {%- if block.settings.content_video != blank -%}
            <p class="slideshow__content">{{ block.settings.content_video | escape | newline_to_br }}</p>
          {%- endif -%}

          {%- if block.settings.link != blank and block.settings.button_text != blank -%}
            <a href="{{ block.settings.link }}" class="slideshow__button button">{{ block.settings.button_text | escape }}</a>
          {%- endif -%}
        {%- endcapture -%}


          <video class="slideshow__video" width="1440"  autoplay="autoplay" muted>
            <source src="{{block.settings.video_url}}" type="video/mp4">
          </video>
          <div class="slideshow__content-wrapper-video">
            <div class="container">
              {{ slide_content_video }}
            </div>
          </div>

            <button class="slideshow_button">shop now</button>

        </div>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "edge_to_edge",
      "label": "Full-width",
      "default": false
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "Image size",
      "options": [
        {
          "value": "preserve_ratio",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "preserve_ratio"
    },
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
   {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Our products"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image",
          "info": "1800 x 600px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "tablet_image",
          "label": "Tablet Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show overlay",
          "info": "Increase text readability on busy images.",
          "default": false
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
      "default": "Slide title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
      "default": "<p>Tell your story</p>"
        },
        {
          "type": "textarea",
          "id": "listitem",
          "label": "List Items"
        },
        {
          "type": "checkbox",
          "id": "listitemcols",
       "default": false,
          "label": "Two rows list"
        },
        {
          "type": "html",
          "id": "custom_html",
          "label": "Custom HTML"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "info": "On mobile, content is always centered.",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "If no text is set for button, the whole image becomes clickable."
        },
        {
          "type": "text",
          "id": "title_second",
          "label": "Heading",
          "default": "Slide title"
        },
        {
          "type": "textarea",
          "id": "content_second",
          "label": "Content",
          "default": "Tell your story"
        },
        {
          "type": "select",
          "id": "content_position_second",
          "label": "Content position",
          "info": "On mobile, content is always centered.",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        }
      ]
    },
    {
      "type": "video",
      "name": "Slide video",
      "settings": [
        {
        "type":"text",
        "id":"video_url",
        "label":"Video url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 600px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show overlay",
          "info": "Increase text readability on busy images.",
          "default": false
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text video",
          "default": "#ffffff"
        },
        {
          "type":"text",
          "id":"subtitle_video",
          "label":"Subtitle video"
        },
        {
          "type": "text",
          "id": "title_video",
          "label": "Heading video",
          "default": "Slide title video"
        },
        {
          "type": "textarea",
          "id": "content_video",
          "label": "Content video",
          "default": "Tell your story"
        },
        {
          "type": "select",
          "id": "content_position_video",
          "label": "Content position",
          "info": "On mobile, content is always centered.",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "If no text is set for button, the whole image becomes clickable."
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}