{% style %}
  #shopify-section-slideshow .onlyDesk{display:block;}
  #shopify-section-slideshow .onlyMobile{display:none;}
  #shopify-section-16118839052db41ea2 .container--flush{padding:0!important;}
  #shopify-section-16063225183b35299d .image-with-text__image-container{
    width: auto;
    min-width: 36%;
  }
  #shopify-section-{{section.id}} .slideshow__content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .slideshow {
    margin: 0!important;
  }
  #shopify-section-slideshow
  .slideshow__slide-inner.slideshow__slide-inner--middle-right.image--fade-in.lazyloaded{
  	background-position-x: center;
    background-position-y: top;
  }
  #shopify-section-{{section.id}} .button-container--slideshow{
    margin: 35px 0 60px 0;
  }
  #shopify-section-{{section.id}} .title-slide-home{
    font-size: 3em;
    line-height: 50px;
  }
@media screen and (max-width:1250px) {
  #block-16118839052db41ea2-1 .slideshow__content-wrapper,
  #block-16118839052db41ea2-2 .slideshow__content-wrapper {
    top: 80%;
  }
}

@media screen and (max-width:768px){
  #shopify-section-slideshow .onlyDesk{display:none}
  #shopify-section-slideshow .onlyMobile{display:block}
  #shopify-section-{{section.id}} .slideshow__slide-inner.slideshow__slide-inner--middle-right.image--fade-in.lazyloaded{
    background-position-x: left;
    background-position-y: top;
  }
  #shopify-section-{{section.id}} .title-slide-home {
    max-width: 59%;
    min-width: 50%;
    font-size: 23px;
    line-height: 27px;
  }

  #shopify-section-{{section.id}} .slideshow__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #shopify-section-{{section.id}} .button-container--slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%!important;
  }
  #shopify-section-{{section.id}} .button-hanni-primary {
    width: 88vw!important;
  }
}

.twv_container {
  padding: 2em 6em 4em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-vimeo--container{
  padding: unset!important;
}
.twv_heading {
  margin: 2em 0 1em 0;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 1000px) {
  .twv_container {
    padding: 2em 3em 4em 3em;
  }
}

@media (max-width: 642px) {
  .twv_container {
    padding: 1em 1.2em 4em 1.2em;
  }

  .video-vimeo--slideshow {
    padding-top: 100%!important;
  }
}

{% endstyle %}

{%- capture section_settings -%}
  {
    "autoPlay": {{ section.settings.autoplay | json }},
    "prevNextButtons": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
    "pageDots": false,
    "setGallerySize": {% if section.settings.section_size == 'preserve_ratio' %}true{% else %}false{% endif %},
    "adaptiveHeight": false,
    "transitionEffect": {{ section.settings.carousel_effect | json }},
    "cycleSpeed": {{ section.settings.cycle_speed | times: 1000 | json }}
  }
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="slideshow" data-section-settings='{{ section_settings }}'>
  <div class="container--flush">
    <div class="slideshow slideshow--{{ section.settings.section_size | replace: '_', '-' }}" style="color: {{ section.blocks.first.settings.text_color }}">
      {%- for block in section.blocks -%}
      	{% if block.type == 'image' %}
          {%- if block.settings.mobile_image -%}
            {%- capture mobile_size -%}{{ block.settings.mobile_image.width | at_most: 600 }}x{{ block.settings.mobile_image.height | at_most: 800 }}{%- endcapture -%}
            {%- capture bgset -%}{{ block.settings.mobile_image | img_url: mobile_size, crop: 'center' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w, {{ block.settings.image | img_url: '1400x' }} 1400w, {{ block.settings.image | img_url: '1600x' }} 1600w, {{ block.settings.image | img_url: '1800x' }} 1800w{%- endcapture -%}
          {%- else -%}
            {%- capture mobile_size -%}{{ block.settings.image.width | at_most: 600 }}x{{ block.settings.image.height | at_most: 800 }}{%- endcapture -%}
            {%- capture bgset -%}{{ block.settings.image | img_url: mobile_size, crop: 'center' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w, {{ block.settings.image | img_url: '1400x' }} 1400w, {{ block.settings.image | img_url: '1600x' }} 1600w, {{ block.settings.image | img_url: '1800x' }} 1800w{%- endcapture -%}
          {%- endif -%}

          {%- capture slide_inner -%}
            <div class="slideshow__slide-inner slideshow__slide-inner--{{ block.settings.content_position | replace: '_', '-' }} lazyload image--fade-in" {% if block.settings.image and section.settings.section_size != 'preserve_ratio' %}data-bgset="{{ bgset }}" data-optimumx="1.4" data-sizes="auto"{% endif %}>
              {%- unless block.settings.image -%}
                {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                {%- if section.settings.section_size == 'preserve_ratio' -%}
                  {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
                {%- else -%}
                  <div class="slideshow__placeholder">
                    {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
                  </div>
                {%- endif -%}
              {%- endunless -%}

              {%- if block.settings.image and section.settings.section_size == 'preserve_ratio' -%}
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200', image: block.settings.image -%}{%- endcapture -%}
                {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <div class="aspect-ratio {% if block.settings.mobile_image %}hidden-phone{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%">
                  <img class="slideshow__image lazyload image--fade-in" alt="{{ block.settings.image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

                  <noscript>
                    <img src="{{ block.settings.image | img_url: '1200x' }}" alt="{{ block.settings.image.alt | escape }}">
                  </noscript>
                </div>

                {%- if block.settings.mobile_image -%}
                  {%- capture supported_sizes -%}{%- render 'image-size', sizes: '600,700,800,900,1000,1100,1200', image: block.settings.mobile_image -%}{%- endcapture -%}
                  {%- assign image_url = block.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  <div class="aspect-ratio hidden-tablet-and-up" style="padding-bottom: {{ 100.0 | divided_by: block.settings.mobile_image.aspect_ratio }}%">
                    <img class="slideshow__image lazyload image--fade-in" alt="{{ block.settings.mobile_image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

                    <noscript>
                      <img src="{{ block.settings.mobile_image | img_url: '800x' }}" alt="{{ block.settings.mobile_image.alt | escape }}">
                    </noscript>
                  </div>
                {%- endif -%}
              {%- endif -%}

              {%- capture slide_content -%}
                {%- if block.settings.title != blank and block.settings.link != blank and block.settings.button_text != blank and block.settings.show_items_list == false -%}
                  <h2 class="slideshow__title_primary heading h3 title-slide-home">
                    {{ block.settings.title | escape }}
                </h2>
                {%- endif -%}
                {%- if block.settings.content != blank -%}
                  <p class="slideshow__content_primary">
                    {{ block.settings.content | strip_html}}
                  </p>
                {%- endif -%}
              {%- endcapture -%}

              {%- capture slide_content_second -%}
                {%- if block.settings.title != blank -%}
                  {% if block.settings.show_items_list == true %}
                    <div class="hero-main--container">
                      {% render 'home-hero-items', block: block %}
                    </div>
                  {%endif%}
                {%- endif -%}
              {%- endcapture -%}

                {%- if slide_content != blank or slide_content_second != blank -%}
                <div class="slideshow__content-wrapper">
                    <div >
                      {{ slide_content }}
                    </div>
                    <div>
                      {{ slide_content_second }}
                      {%- if block.settings.link != blank and block.settings.button_text != blank and block.settings.show_items_list == false -%}
                      <div class="button-container--slideshow">
                        <a href="{{ block.settings.link }}" class="button-hanni-primary slideshow__button">{{ block.settings.button_text | escape }}</a>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                {%- endif -%}
            </div>
            <style>
            #block-{{ block.id }} .slideshow__content-wrapper {
              top: 77%;
            }
            {% if block.settings.show_items_list == true %}
              #block-{{ block.id }} .slideshow__content-wrapper {
                top: 50%;
              }
              @media (max-width:700px) {
                  #block-{{ block.id }} .slideshow__content-wrapper{
                  top: 80%;
                }
              }
            {% endif %}
            #block-{{ block.id }} {
              color: {{ block.settings.text_color }};
            }

            #block-{{ block.id }}  {
              color: {{ block.settings.button_text_color }};
              background: {{ block.settings.button_background }};
            }
            </style>

            {%- if block.settings.image and section.settings.section_size != 'preserve_ratio' -%}
              <noscript>
                <style>
                  #block-{{ block.id }} .slideshow__slide-inner {
                    background-image: url({{ block.settings.image | img_url: '1400x' }})
                  }
                </style>
              </noscript>
            {%- endif -%}
          {%- endcapture -%}

          {%- if block.settings.link != blank and block.settings.button_text == blank -%}
            <a href="{{ block.settings.link }}" class="slideshow__slide {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}"
              data-block-index="{{ forloop.index0 }}" {% if block.settings.image %}style="background-image: url({{ block.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %} {{ block.shopify_attributes }}>
              {{- slide_inner -}}
            </a>
          {%- else -%}
            <div class="slideshow__slide
             {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}" data-block-index="{{ forloop.index0 }}" {% if block.settings.image %}style="background-image: url({{ block.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %} {{ block.shopify_attributes }}>
              {{- slide_inner -}}
            </div>
          {%- endif -%}
        {%- else -%}
          {% if block.type == 'video' %}
            {% capture slide_video %}
              <div class="slideshow__slide-inner">
                <div>
                  <div class="hidden-phone">
                    {% render 'video-vimeo--slideshow', video_url: block.settings.video_url, autoplay: block.settings.video_autoplay, background: block.settings.video_background %}
                  </div>
                  {% if block.settings.video_url_mobile != blank %}
                  <div class="hidden-tablet-and-up">
                    {% render 'video-vimeo--slideshow', video_url: block.settings.video_url_mobile, autoplay: block.settings.video_autoplay_mobile, background: block.settings.video_background  %}
                  </div>
                  {% endif %}
                </div>
              </div>
            {% endcapture %}
          {% endif %}
          <div class="slideshow__slide
          {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}" data-block-index="{{ forloop.index0 }}" {% if block.settings.image %}style="background-image: url({{ block.settings.image | img_url: '1x1', format: 'jpg' }})"{% endif %} {{ block.shopify_attributes }}>
           {{- slide_video -}}
         </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</section>

<script>
  window.onload = () => window.dispatchEvent(new Event('resize'));
</script>

{% schema %}
{
  "name": "Home Slideshow",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "section_size",
      "label": "Image size",
      "options": [
        {
          "value": "preserve_ratio",
          "label": "Original image ratio"
        }
      ],
      "default": "preserve_ratio"
    },
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "header",
      "content": "Item List"
    },
    {
      "type":"text",
      "id":"item_1",
      "label":"Item text 1",
      "default": "smoother shave"
    },
    {
      "type":"text",
      "id":"item_2",
      "label":"Item text 2",
      "default": "fewer ingrowns"
    },
    {
      "type":"text",
      "id":"item_3",
      "label":"Item text 3",
      "default": "less irritation"
    },
    {
      "type":"text",
      "id":"item_4",
      "label":"Item text 4",
      "default": "reduces razor burn"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Only 16:9 ratio (required)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "Only 1:1 ratio (required)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Main Heading",
		      "default": "great skin starts with a great shave"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background",
          "default": "#ff5859"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text",
          "default": "#f7a700"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "SHOP NOW"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "If no text is set for button, the whole image becomes clickable."
        },
        {
          "type": "header",
          "content": "Item List"
        },
        {
          "type": "checkbox",
          "id": "show_items_list",
          "info": "If is disabled, set defaults styles to button and text.",
          "label": "Items",
          "info": "Enable items list."
        }
      ]
    },
    {
      "type": "video",
      "name": "Video Vimeo",
      "settings": [
        {
          "type": "checkbox",
          "id": "video_background",
          "label": "Autoplay video without controls",
          "default": true
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "Vimeo Video URL",
          "default": "https://vimeo.com/500163833",
          "info": "Example https://vimeo.com/500163833"
        },
        {
          "type": "header",
          "content": "Mobile",
          "info": "Aspect ratio = 1:1"
        },
        {
          "type": "text",
          "id": "video_url_mobile",
          "label": "Vimeo Video URL - Mobile",
          "default": "https://vimeo.com/500163833",
          "info": "Example https://vimeo.com/500163833"
        },
        {
          "type": "checkbox",
          "id": "video_autoplay_mobile",
          "label": "Autoplay video",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Home Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}