<div class="text-with-link__container">
  {%- capture var_title -%}{{page_title}}{%- endcapture -%}
  <div class="text-with-link
  {% if var_title == 'faq' %}
  faq-link_text_item
  {% endif %}">
    <p class="heading links__link">{{- section.settings.title | escape -}}</p>
    <a href="{{ section.settings.link }}" class="heading">
      {{- section.settings.link_title | escape -}}
    </a>
  </div>
</div>

<style>
.text-with-link__container {
  background: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.text-with-link {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 3em 0;
}

.text-with-link a {
  color: #ff5859;
  margin-left: 0.2em;
}
.text-with-link a:hover {
  color: #6a1a31
}
.text-with-link p {
  margin: 0;
}

@media (max-width: 1000px) {
  .text-with-link {
    line-height: 1.1;
    text-align: center;
    flex-direction: column;
    margin: 3em 0;
  }
}

@media (max-width: 700px) {
  .text-with-link {
    width: 70vw;
    margin: 2em 0;
  }
}

@media (max-width: 440px) {
  .text-with-link {
    width: 80vw;
    margin: 1em 0;
  }
}
@media (max-width: 375px) {
  .text-with-link {
    width: 80vw;
    font-size: 1.8em;
    margin: 1em 0;
  }
}

</style>

{% schema %}
{
  "name": "Text with link",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Text",
      "default": "Your text here"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}