<div class="twv_container">
  {% if section.settings.main_heading != blank %}
    <div class="twv_heading font-title">
      {{- section.settings.main_heading -}}
    </div>
  {% endif %}
  <div class="twv_video-container is-desktop">
    {% render 'video-vimeo', video_url: section.settings.video_url, autoplay: section.settings.video_autoplay, background: section.settings.video_background %}
  </div>

  <div class="twv_video-container is-mobile">
    {% render 'video-vimeo', video_url: section.settings.video_url_mobile, autoplay: section.settings.video_autoplay, background: section.settings.video_background %}
  </div>
</div>

<script>
// $(document).ready(function() {
//     if (!isMobile()) {
//       $(this).find("div .twv_video-container.is-desktop").show();
//       $(this).find("div .twv_video-container.is-mobile").hide();
//     }
//     else {
//       $(this).find("div .twv_video-container.is-mobile").show();
//       $(this).find("div .twv_video-container.is-desktop").hide();
//     }
//   })

</script>

{% style %}
.twv_container {
  padding: 2em 6em 4em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.twv_heading {
  margin: 2em 0 1em 0;
  text-align: center;
  line-height: 1.2;
}

.twv_video-container {
  width: 100%;
  max-width: 1920px;
}
.twv_video-container.is-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .twv_container {
    padding: 0;
  }
  .twv_video-container.is-mobile {
    display: block;
    width: 160%;
  }
  .twv_video-container.is-desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .twv_heading {
    font-size: 20px;
    width: 50vw;
    margin: 2em 0 2em 0;
    min-width: 250px;
    font-weight: bolder;
  }
  .twv_video-container.is-mobile {
    width: 150%;
  }
}

{% endstyle %}

{% schema %}
{
	"name": "Text with video",
	"settings": [
		{
			"type": "text",
			"id": "main_heading",
			"label": "Main Heading",
			"default": "check out our no pressure philosophy here:"
		},
		{
      "type": "text",
      "id": "video_url",
      "label": "Vimeo Video URL Desktop (Only 16:9)",
      "default": "https://vimeo.com/500163833",
      "info": "Example https://vimeo.com/500163833"
    },
		{
      "type": "text",
      "id": "video_url_mobile",
      "label": "Vimeo Video Mobile URL (Only 1:1)",
      "default": "https://vimeo.com/500163833",
      "info": "Example https://vimeo.com/500163833"
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "Autoplay video",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "video_background",
      "label": "Autoplay video without controls",
      "default": false
    }
	],
  "presets": [
    {
      "category": "Video",
      "name": "Text with video"
    }
  ]
}
{% endschema %}