<style>
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>
<div class="shopify-video-section">
	<video class="lazyloadvideo" data-msrc="{{ section.settings.m_video }}" data-src="{{ section.settings.video }}" autoplay playsinline muted loop></video>
    {% if section.settings.title != "" or section.settings.btn != blank or section.settings.desc %}
      <div class="video-overlay text-position-{{ section.settings.text_position }} horizontal-align-{{ section.settings.horizontal_text_position }} vertical-align-{{ section.settings.vertical_text_position }}">
          <div class="video-overlay-content">
            <h2>{{ section.settings.title }}</h2>
            <div class="vid-desc">
              {{ section.settings.desc }}
            </div>
            {% if section.settings.btn != blank %}
              <div class="vid-btns">
                <a class="vid-button" href="{{ section.settings.btn_url }}">{{ section.settings.btn }}</a>
              </div>
            {% endif %}
          </div>
      </div>
    {% endif %}
</div>
{% schema %}
  {
    "name": "Shopify Video",
    "settings": [
		{
			"type":"text",
			"id":"video",
			"label": "Video URL"
			
		},
		{
			"type":"text",
			"id":"m_video",
			"label": "Mobile Video URL"
			
		},
      	{
			"type":"text",
			"id":"title",
			"label": "Heading"
			
		},
		{
			"type":"richtext",
			"id":"desc",
			"label": "Text"
		},
		{
			"type":"text",
			"id":"btn",
			"label": "Button Label"
			
		},
		{
			"type":"url",
			"id":"btn_url",
			"label": "Button URL"
			
		},
        {
          "type": "select",
          "id": "horizontal_text_position",
          "label": "Horizontal position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertical_text_position",
          "label": "Vertical position",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Top spacing",
          "min": 0,
          "max": 80,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Bottom spacing",
          "default": 0,
          "min": 0,
          "max": 80,
          "unit": "px"
        }
	],
    "presets": [
      {
        "category": "Video",
        "name": "Shopify Video"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
