<div class="bs_background {% if section.settings.background_mobile %}mobile_auto{% endif %}">
    <div class="bs_container">
      <div class="bs_heading bs_main font-title">
        {{ section.settings.main_heading }}
      </div>
      <div class="bs_subheading font-subtitle">
        {{ section.settings.main_subheading }}
      </div>
	</div>
	<div class="bs_heading second_heading font-title">
		{{section.settings.second_heading}}
	</div>
	<div class="gallery__container">
		{% for block in section.blocks %}
			<div class="item__container">
				<div class="image__container">
					<img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}"/>
				</div>
				<div class="details__container">
					<div class="item__heading font-title">
						{{block.settings.heading}}
					</div>
					<div class="item__subheading font-subtitle">
						{{block.settings.details}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>



{% style %}
	.bs_background {
		background-image: url({{ section.settings.background | img_url: '1800x' }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 140vw;
	}

	.bs_container {
		padding-top: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.bs_heading {
		text-align: center;
		letter-spacing: -1.35px;
		line-height: 1.1;
		font-family: Laila;
		padding: 0;
	}
	.second_heading {
    margin-top: 110px;
		max-width: unset;
	}
	.bs_subheading {
		line-height: 1.5em;
		letter-spacing: normal;
    padding-top: 24px;
    padding-bottom: 24px;
		color: #6a1a31;
		text-align: center;
	}
	.item__container:nth-child(even){
		flex-direction: row-reverse;
	}
	.item__container:nth-child(even) .details__container{
		padding: 10vw 10vw 10vw 0vw;
	}
	.details__container {
		display: flex;
		flex-direction: column;
    padding: 0vw 0vw 3vw 10vw;
    margin-top: 3vw;
		align-items: center;
	}
	.item__container {
		display: flex;
		flex-direction: row;
    max-width: 1000px;
	}
	.item__heading{
		text-align: center;
		letter-spacing: -1.35px;
		line-height: 1.3em;
		font-family: Laila;
		padding: 1em 0;
		max-width: 50vw;
	}
	.item__subheading {
    font-family: Source Sans Variable;
		line-height: 1.5em;
		max-width: 50vw;
		text-align: center;
	}
	.gallery__container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
	.image__container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		width: 25vw;
	}

@media (max-width: 800px) {

	.mobile_auto.bs_background {
		background-image: url({{ section.settings.background_mobile | img_url: '600x' }});
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 165vw;
	}

	.bs_main {
    max-width: 85%;
	}

  .bs_heading {
    font-size: 26px;
  }

	.item__container:nth-child(even) {
    	flex-direction: column;
	}
	.item__container:nth-child(even) .details__container {
		padding: 10vw 0vw 10vw 0vw;
	}
	.bs_subheading {
		font-size: 1em;
    line-height: 1em;
		max-width: unset;
	}
	.details__container {
		padding: 10vw 0vw 10vw 0vw;
	}
	.item__heading {
		max-width: 78vw;
		padding: 0vw 0vw 6vw 0vw;
		line-height: 1.2em;
		font-size: 26px;
		letter-spacing: -0.06em;
	}
	.item__subheading {
		max-width: 76vw;
		padding: 0;
		line-height: 1.2;
		font-size: 16px;
	}

	.instruction__container {
	  margin-bottom: 2em;
	}

	.image__container {
	  width: 80vw;
	}
	.item__container{
		flex-direction: column;
	}
}

@media (max-width: 500px) {
  .bs_heading {
    font-size: 22px;
  }
  .second_heading {
    margin-top: 120px;
	}
}

@media (min-width: 1200px) {
  .image__container {
    max-width: 300px;
    min-width: 300px;
  }
}
{% endstyle %}
{% schema %}
{
	"name": "About-Gallery",
	"settings": [
		{
			"type": "text",
			"id": "main_heading",
			"label": "Main Heading",
			"default": "we knew we deserved better,<br> so we created hanni."
		},
		{
			"type": "richtext",
			"id": "main_subheading",
			"label": "Main SubHeading",
			"default": "<p>plastic razors weren’t cutting it for us (literally).<br> shaving with cheap razors was leaving our skin irritated,<br> our landfills overflowing and our showers less than chic.</p>"
		},
		{
			"type": "text",
			"id": "second_heading",
			"label": "Second Heading",
			"default": "<p>here's why we're a better:</p>"
		},
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background Image"
		},				{
			"type": "image_picker",
			"id": "background_mobile",
			"label": "Background Image Mobile"
		}
	],
	"blocks": [
		{
			"type": "image_picker",
			"name": "image-with-text",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "title"
				},
				{
					"type": "richtext",
					"id": "details",
					"label": "Details",
					"default": "<p>goodbye razor burn, irritation and ingrowns</p>"
				}
		  	]
	  	}
	]
}
{% endschema %}