{{ section.settings.yotpo_snippet }}

{% schema %}
{
  "name": "Yotpo Snippet",
  "settings": [
    {
      "type": "html",
      "id": "yotpo_snippet",
      "label": "Yotpo snippet code"
    }
  ],
  "presets": [
    {
      "category": "Yotpo",
      "name": "Yotpo snippet",
      "settings": {}
    }
  ]
}
{% endschema %}