$disabled-button: #606060;
$primary-color: #6a1a31 !default;
$secondary-color: #ff5859 !default;
$background: #F6D4D4 !default;
$pink: #f7c2ca !default;
$yellow: #f7a700 !default;
$gray: #606060 !default;

.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8.5em 8% 3em 8%;
  background: #F4CDCE;
}

.account-header {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.account-header__text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.9px;
  text-align: center;
}

.account-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5em 0;
  width: 100%;
  max-width: 1500px;
}

.account-cards__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-cards__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 6.5em;
}

.account-cards__card__text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 18px;
}

.account-cards__card__content p {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.account-h {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.account-h a {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  color: #ff5859;
}
.account-h a:hover {
  color: #6a1a31;
}

.mt-1 {
  margin-top: 0.5em;
}

.mt-2 {
  margin-top: 1em;
}

// Orders page especifics
.account-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  width: 100%;
  max-width: 1500px;

  .first {
    border-top: 1px solid #6a1a31;
  }

  .open .toggle-container {
    max-height: 50vh!important;
    margin-top: 1.5em;
  }

  .open .toggle-order .icon--down {
    transform: rotate(180deg);
  }
  .order-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #6a1a31;
    padding: 1.5em 0;

    .toggle-order {
      position: absolute;
      top: 40px;
      right: 30px;
      .icon--down {
        width: 25px;
        height: 25px;
      }
    }

    .toggle-container {
      max-height: 0px;
      overflow: hidden;
      transition: all 200ms linear;
    }

    .order-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin-left: 5px;
      margin-right: 10%;

      .order-data-field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        span {
          font-size: 18px;
        }

        .data-field-title {
          font-weight: bolder;
        }
        .data-field-value {
          font-weight: bold;
        }
      }
    }

    .order-more {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .items-container {
        flex: 1;

        .order-line-item {
          display: flex;
          flex-direction: row;
          .line-item-image {
            overflow: hidden;
            width: 180px;
            line-height-step: 180px;
            img {
              width: 100%;
              height: auto;
            }
          }
          .line-item-meta {
            display: flex;
            justify-content: space-between;
            flex: 1;
            padding: 3em 3em 0 1em;

            .line-item-price {
              font-size: 28px;
              font-weight: 500;
              line-height: 28px;
            }
          }
        }
      }
      .actions-container {
        width: 20%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .action-button {
          width: 100%;
          padding: 0.5em;
          background: #6a1a31;
          text-align: center;
          color: white;
          letter-spacing: 0.4px;
          font-weight: 500;
          font-size: 20px;
          &:hover {
            background: #ff5859;
          }
        }

        .disabled {
            background: darken(#6a1a31, 0.5);
            cursor: not-allowed;
            opacity: 0.7;

            &:hover {
              background: lighten(#6a1a31, 10);
            }
        }

        .return-link {
          padding: 0.5em;
          font-size: 20px;
          font-weight: bolder;
          &:hover {
            color: #ff5859;
          }
        }
      }
    }
  }
}

#address-section .button-hanni-primary {
  padding: 5px 15px 6px 15px !important;
}

// Addresses specifics
.account-orders-container {
  margin-bottom: 0.3em;
  .order-container {
    padding:1em 0;
    position: relative;

    .address-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      font-size: 18px;
      padding-left: 5px;
      .flex-row {
        display: flex;
        align-items: center;
        flex-direction: row;
        .half {
          width: 50%;
        }
      }
      .address-default {
        font-weight: bolder;
        margin-bottom: 1em;
      }

      .address-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .simple {
          margin-right: 1.8em !important;
        }
        .button-hanni-primary {
          margin-right: 1.3em;
        }
      }
    }

    header {
      padding-left: 3px;
      .toggle-order {
        top: 20px;
        right: 40px;
      }

      .open.toggle-order .icon--down {
        transform: rotate(180deg);
      }
    }

    .open.edit-container {
      height: unset;
      padding: 1em 0;
    }

    .edit-container {
      height: 0;
      overflow: hidden;
      box-sizing: unset;
      transition: all 200ms ease-in;
      display: flex;
      justify-content: center;


      .form--account {
        width: 80%;
        display: unset;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        margin: 0;
        text-align: left;
        .form__input__double {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .hanni-input-wrapper {
            width: 48%;
          }
          .form__input-wrapper {
            width: 48%;
          }
        }
        .hanni-input-wrapper {
          max-width: unset!important;
        }
      }

      .checkbox-container {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 35px;
        margin: 1em 0 2em 0;

        /* Hide the browser's default checkbox */
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          /* Show the checkmark when checked */
          &:checked ~ .custom-checkbox:after {
            display: block;
          }
        }

        label {
          font-family: OpenSans !important;
          font-size: 16px!important;
          font-weight: bold !important;
        }

        /* Create a custom checkbox */
        .custom-checkbox {
          position: absolute;
          top: 6px;
          left: 2px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: solid 2px $primary-color;

          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $primary-color;
          }
        }
      }

    }

    &.no-padding-mobile {
      @media (max-width: 800px) {
        padding: 1em 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .account-container {
    padding-top: 8em;
    padding-bottom: 2em;
  }

  .account-h {
    justify-content: center;
  }

  .account-h a {
    font-size: 25px;
  }

  .account-cards {
    margin: 3em 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .account-cards a {
    width: 100%;
  }

  .account-cards__card-first-child {
    border-top: 1px solid #6a1a31;
  }

  .account-cards__card {
    justify-content: flex-start;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #6a1a31;
  }

  .account-cards__card__content {
    margin-left: 5.5em;
  }
}

@media (max-width: 800px) {
  .account-orders-container {
    .order-container {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .toggle-order {
        top: 20px;
        right: 5px;
      }

      .order-fields {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        margin-left: 5px;
        margin-right: 10%;

        .order-data-field {
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          .data-field-value {
            margin-left: 10px;
          }
        }
      }

      .order-more {
        flex-direction: column;
        .items-container {
          margin-top: 2em;

          .order-line-item {
            flex-direction: row;
            .line-item-image {
              overflow: hidden;
              width: 100px;
              height: 100px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .line-item-meta {
              padding: 0.5em 2em 0 0.5em;
            }
          }
        }
        .actions-container {
          margin-top: 3em;
          width: 100%;

          .action-button {
            font-size: 20px;
            border-radius: 10px;
            background: #ff5859;
            color: #F4CDCE;
            &:hover {
              background: #6a1a31;
            }
          }

          .return-link {
            color: #ff5859;
            font-size: 20px;
            &:hover {
              color: #6a1a31;
            }
          }
        }
      }
    }
  }

  .account-orders-container {
    .order-container {
      padding: 4em 0;
      .address-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        font-size: 18px;
        padding-left: 0;
        .flex-row {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%!important;

          .half {
            width: 100%;
          }
        }

        .address-actions {
          flex-direction: column;
          justify-content: center;
          width: 100%!important;
          .simple {
            margin-top: 0.7em !important;
            margin-bottom: 0.7em !important;
            margin-right: 0 !important;
            background: transparent !important;
            color: #ff5859 !important;
            font-weight: bold;
            &:hover {
              color: #6a1a31 !important;
            }
          }
          .button-hanni-primary {
            margin-right: 0;
            width: 100%;
          }
        }
      }

      .open.edit-container {
        height: unset;
        padding: 2em 0;
      }
      .edit-container {
        height: 0;
        overflow: hidden;
        box-sizing: unset;
        transition: all 200ms ease-in;
        display: flex;
        justify-content: center;
        align-items: center;

        .form--account {
          width: 100%;
          display: unset;
          flex-direction: unset;
          justify-content: unset;
          align-items: unset;
          margin: 0;
          text-align: left;
          .form__input__double {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            .form__input-wrapper {
              width: 100%;
            }
            .hanni-input-wrapper {
              width: 100%;
            }
          }
          .form__input-wrapper {
            max-width: unset!important;
          }
          .form__actions {
            display: flex;
            flex-direction: column;
            width: 100%;

            .mt-mobile {
              margin-top: 1em;
            }
          }
          .checkbox-container {
            margin: 2em 0;

            label {
              margin-left: 15px;
            }
          }
        }

      }
    }
  }
}

@media (max-width: 650px) {
  .subtext {
    font-size: 43px;
  }
}

@media (max-width: 500px) {

  .account-container {
    padding-top: 6em;
  }

  .account-header__text {
    font-size: 36px;
    line-height: 45px;
  }
  .subtext {
    font-size: 28px;
  }
}