/**
 * ----------------------------------------------------------------------------
 * SHOP [ All Collections Template ]
 * ----------------------------------------------------------------------------
 */



 .section.section-slideshow-products {
   margin: unset;
   margin-bottom: 60px;
   margin-top: 60px;
 }
.product-list--collection {
  overflow: visible;
  & .product-item {
    margin: 20px 0;
  }
}

.collection-title{
  justify-content: center;
}
.collection-title h1 {
  margin: 0.6em 0 2em 0;
  line-height: 1;
}

.product-item {
  & .hover-gif {
    display: none;
  }
  & .product-item__info {
    & .product-item__title {
      font-size: 21px;
      font-weight: 700;
    }
    & .product-item__price-list {
      & .price {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }
  & .warehouse--v1 .product-item__action-button {
    margin: 0!important;
  }
  & .product-item__action-button.button.button--small {
    padding: 0!important;
    margin: 0!important;
    align-self: center;
    width: 75%;
  }
  & .button--disabled {
    pointer-events: none;
    color: gray;
    background: desaturate(#691a30, 25%)!important;
  }
}

@media screen and (min-width: 1000px) {

  .product-item--vertical {
    & .product-item__action-list {
      margin: 15px -5px 10px -5px;
    }
    &.\31\/4--wide{
      width: 22% !important;
    }
  }
}

@media (min-width:641px) and (max-width: 1000px) {


 .section.section-slideshow-products  {

    & .product-list {
    //  justify-content: space-between;
    }
    & .product-list--collection .product-item--vertical {
     width: 30%;
    }
    & .product-list--collection .product-item {
     margin-bottom: 16%;
   }

 }

}

@media (max-width: 640px) {
  .product-list--collection .product-item--vertical {
    width: 40%;
  }
  .product-list {
    justify-content: space-between;
  }
  .collection-title h1 {
    margin: 0.5em 0 1em 0;
    line-height: 1;
  }

  .product-list--scrollable .product-item {
    width: 42%;
    & .scroller__inner {
      // all: unset;
      height: 100%;
    }
  }
}
