// Global colors
$primary-color: #6a1a31 !default;
$secondary-color: #ff5859 !default;
$background: #F6D4D4 !default;
$pink: #f7c2ca !default;
$dark-pink: #df867d !default;
$yellow: #f7a700 !default;
$gray: #606060 !default;


// Fonts
@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.ttf');
    font-weight: normal;
	font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('Roboto-Medium.ttf');
    font-weight: 500;
	font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('Roboto-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('OpenSans-Regular.ttf');
	font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('OpenSans-Bold.ttf');
    font-weight: bold;
 	font-display: swap;
}

@font-face {
    font-family: Laila;
    src: url('Laila-Medium.ttf');
 	font-display: swap;
}

@font-face {
    font-family: Laila;
    src: url('Laila-Bold.ttf');
    font-weight: bold;
  	font-display: swap;
}

@font-face {
    font-family: Ultra;
    src: url('Ultra-Regular.ttf');
  	font-display: swap;
}

@font-face {
    font-family: 'Source Sans Variable';
    src: url('SourceSansVariable-Roman.otf');
  	font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    src: local('Myriad Pro'), url('https://cdn.shopify.com/s/files/1/0253/2176/6986/files/MYRIADPRO-REGULAR.woff?v=1610553223') format('woff');
  	font-display: swap;
}

// Default fonts
.font-small {
  /* Just make it smaller.*/
  font-size: 16px!important;
}

.font-menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    color: $primary-color;
}

.font-title {
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    color: $primary-color;
}

.font-subtitle {
    font-family: Source Sans Variable;
    font-size: 20px;
    font-weight: 400;
    color: $primary-color;
}

.font-pink {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: $pink;
}

.font-pink2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #e64f50;
}

.font-dark-pink {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: $dark-pink;
}

.font-link {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: $secondary-color;

    &:hover {
      color: $primary-color;
    }
}

.font-heading-bold {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
}

.font-heading-medium {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: $primary-color;
}

.font-heading-regular {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    color: $primary-color;
}

.font-text {
    font-family: Source Sans Variable;
    font-size: 16px;
    font-weight: 400;
    color: $gray;
}

.font-inputs {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  color: $primary-color;
}

.font-inputs-bold {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  color: $primary-color;
}

.font-lightpink {
  color: #df867d;
  font-size: 16px;
  font-weight: 400;
}

// Buttons
.button-hanni-primary {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: $pink;
  min-width: 120px;
  line-height: 1.8;
  padding: 8px 15px 9px 15px !important;
  border-radius: 10px !important;
  background: $secondary-color !important;
  letter-spacing: 0.2px;
  transition: background 250ms ease-in-out, color 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: $primary-color !important;
  }

  &.full {
    width: 100%;
    border-radius: 15px;
  }
}

// Buttons
.button-hanni-transparent {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  min-width: 120px;
  color: $secondary-color;
  line-height: 1.8;
  padding: 8px 15px 9px 15px !important;
  border-radius: 10px !important;
  background: transparent !important;
  border: solid 1px $secondary-color;
  letter-spacing: 0.2px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    border: solid 1px $primary-color;
    color: $primary-color;
  }

  &.full {
    width: 100%;
    border-radius: 15px;
  }

  &.small {
    width: 120px;
  }
}

.button-hanni-secondary {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: white;
  min-width: 120px;
  min-height: 60px;
  line-height: 1.8;
  padding: 7px 15px 9px 15px !important;
  background: $primary-color !important;
  letter-spacing: 0.2px;

  &:hover {
    background: $secondary-color !important;
  }

  &.full {
    width: 100%;
  }
}


// Custom inputs
.hanni-input-wrapper {
  width: 100%;
  position: relative;
  margin-top: 0.5em;
  text-align: left !important;

  // start input
  input {
    font-size: 15px;
    font-family: OpenSans;
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid $primary-color;
    margin-bottom: .5em;
    padding: 0.5em 1px;
    width: 100%;
    height: 40px;

    &:focus ~ label{
      -webkit-transform: scale(0.8) !important;
      transform: scale(0.8) !important;
      top: -15px !important;
      left: -4px !important;
    }

    &.is-filled ~ label {
      -webkit-transform: scale(0.8) !important;
      transform: scale(0.8) !important;
      top: -15px !important;
      left: -4px !important;
    }
  }



  input[type="password"] {
    padding-bottom: 0;

    &.is-filled ~ label {
      left: -7px !important;
    }
    &:focus ~ label{
      left: -7px !important;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    font-family: OpenSans;
    font-weight: normal;
    line-height: 35px;
    transition: all 200ms ease-in-out;
  }

  &.small {
    max-width: 475px;
  }
  // end input

  // start select
  select {
    font-size: 15px;
    font-family: OpenSans;
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid $primary-color;
    margin-bottom: .5em;
    padding: 0.5em 1px;
    width: 100%;
    height: 40px;

    ~ label {
      -webkit-transform: scale(0.8) !important;
      transform: scale(0.8) !important;
      top: -15px !important;
      left: -4px !important;
    }
  }
  // end select

  *:-webkit-autofill,
  *:-webkit-autofill:hover,
  *:-webkit-autofill:focus {
    -webkit-transition-delay: 99999999s;
    transition-delay: 99999999s;
    font-family: 'Roboto'!important;
    font-size: 15px!important;
    font-weight: 700!important;
    color: #6a1a31!important;
  }
}

*:focus {
  outline: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: none;
}

.no-margin-top {
  margin-top: 0.5em!important;
}
.extra-margin {
  margin-bottom: 50px!important;
}

.custom-margin-bottom {
  margin-bottom: 5em!important;
}

.form--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: unset;
  margin: 8em 2em;

  .alert--success {
    background: rgba(0,0,0,0.05)!important;
    color: unset!important;
  }

  .form__title {
    color: $primary-color;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .form__legend {
    font-family: OpenSans;
    font-weight: 500;
    margin-top: 0.5em;
  }

  .form__field {
    margin-bottom: .5em;
    font-family: OpenSans;
    background: transparent!important;
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid $primary-color!important;
    border-radius: 0;
    outline: none;
  }

  .form__floating-label {
    font-family: OpenSans;
    font-weight: normal;
    left: 0;
    line-height: 55px;
    letter-spacing: 0.5px;
  }

  .form__submit {
    margin-top: 2em;
    display: unset;
    padding: 8px 1.5em;
    background: $secondary-color;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.2px;
  }

  .form__submit:hover {
    background: $primary-color
  }

  .form__secondary-action {
    margin-top: 20px;
  }

  .link--big {
    font-size: 24px;
  }

  .link--accented {
    color: $secondary-color;
  }

  .link--accented:hover {
    color: $primary-color;
  }
}
.shopify-video-section video {
    width: 100%;
    height: 100%;
    display: block;
}
div#shopify-section-16200545596a68e413 {
    padding: 2em 6em 4em 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}
.Blog .article__content p {
    width: 100%;
}
.Blog .video-wrapper iframe {
    position: static;
    min-height: 400px;
}
.Blog .video-wrapper::after {
    display: none;
}
.Blog .article__content div {
    max-width: 100% !important;
}
body.warehouse--v1.template- main#main p {
    font-size: 20px;
}
body.warehouse--v1.template- main#main .rte h4 {
    font-size: 22px;
}
.template-product .custome-text ul {
    list-style: none;
}
.template-product .custome-text ul li {
    padding-left: 20px;
    position: relative;
}
.template-product .custome-text ul li:before {content: '';height: 8px;width: 8px;position: absolute;background: #6a1a31;border-radius: 100%;left: 0;top: 12px;}
.template-product .custome-text ul {
    text-align: left;
}
.template-product .custome-text ol {
  counter-reset: section;
  list-style-type: none;
}
.template-product .custome-text ol li::before {
  counter-increment: section;
  content: counters(section,".") ". ";
  position: absolute;
  left: 0;
  font-weight: bold;
  top: 0;
}
.template-product .custome-text ol li {
    position: relative;
    padding-left: 20px;
}
.template-product .custome-text p.p_list {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 5px;
}
.template-product .custome-text p.p_list span.count-text {
    position: absolute;
    left: 0;
	font-weight: bold;
}
.template-product .custome-text p.p_list{
    position:relative;
    padding-left: 25px;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}
.video-overlay-content{
   padding: 40px 30px;
}
.video-overlay  h2 {
    font-size: 90px;
    font-weight: 700;
    font-family: Gotham;
    line-height: 100px;
    margin-bottom: 15px;
}
.vid-desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: normal;
  	font-family: Source Sans Variable !important;
}
a.vid-button {
    display: inline-block;
    color: $pink;
    background: $secondary-color !important; 
  min-width: 120px;
  line-height: 1.8;
  padding: 8px 15px 9px 15px !important;
  border-radius: 10px !important;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
  	transition: .3s all;
}
a.vid-button:hover {
    color: #fff;
    background: #6a1a31;
}
.horizontal-align-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.horizontal-align-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.horizontal-align-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.vertical-align-center{
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.vertical-align-start{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.vertical-align-end{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.text-position-center {
    text-align: center;
}
.text-position-left {
    text-align: left;
}
.text-position-right {
    text-align: right;
}
.shopify-video-section {
    position: relative;
    width: 100%;
}
.slideshow-classic__buttons  a.button.button--secondary {
    display: inline-block;
    color: #f7c2ca;
    background: #ff5859!important;
    min-width: 120px;
    line-height: 1.8;
    padding: 10px 20px;
    border-radius: 10px!important;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    transition: .3s all;
    flex: none;
    width: auto;
    height: auto;
}
.slideshow-classic__buttons  a.button.button--secondary:hover{
    background: #7a0c2f !important;
    color: #fff;
}

.slideshow-classic__buttons a.button.button--secondary:first-child:not(:last-child){
  margin-right: 30px;
}
.caption-content.text-align-center .slideshow-classic__buttons.buttons {
    justify-content: center;
}
.caption-content.text-align-left .slideshow-classic__buttons.buttons {
     justify-content: flex-start;
}
.caption-content.text-align-right .slideshow-classic__buttons.buttons {
     justify-content: flex-end;
}

.product-form__payment-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#shopify-section-product-template .shopify-payment-button {
    display: block !important;
    margin-top: 10px;
    width: 100%;
}
div[data-section-type="logo-list"] header.section__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
section.section[data-section-type="logo-list"] .section__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
section.section[data-section-type="logo-list"] .section__header h2.section__title.heading.h3 {
    color: #6a1a31;
    font-family: Laila;
}
.image-with-text {
    margin: 0 30px;
}
.press-logos-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
div#shopify-section-press-logos {
    min-height: 500px;
}
.article__grid-image-wrapper {
    width: calc(25% - 20px);
    margin: 0 10px 50px;
}
main#main.press {
    margin-bottom: 60px;
}
h1.page__title.heading.h1 {
    letter-spacing: -1.35px;
    line-height: 1.1;
    font-family: Laila;
    margin-top: 30px;
}

main#main.press .page__header {
    margin-bottom: 60px;
}
div#shopify-section-press-logos {
    max-width: 1090px;
    margin: auto;
}
a.article__grid-image-container.press__article--link {
    display: block;
}
.article__grid-image-wrapper img {
    margin: auto;
    display: block;
    max-width: 180px;
}
main#main.reviews .container.container--narrow {
    max-width: 1200px;
}
@media (max-width:1920px){ 
.shopify-video-section video {
    height: 800px;
    object-fit: cover;
}
}
@media (max-width:1440px){
.shopify-video-section video {
    height: 700px;
    object-fit: cover;
}
}
@media (max-width:1300px){
.shopify-video-section video {
    object-fit: cover;
    max-height: 600px;
}
}
@media (max-width:991px){
.shopify-video-section video {
    object-fit: inherit;
    max-height: inherit;
    height: inherit;
}
}
@media (max-width:1140px){
  .template-product .custome-text {
      padding: 40px;
  }
}
@media (max-width:798px){
  div#shopify-section-16200545596a68e413 {
      padding: 15px;
  }
  .video-overlay h2 {
    line-height: 70px;
    font-size: 60px;
  }
  .vid-desc {
      font-size: 20px;
      line-height: 32px;
  }
  a.vid-button {
      padding: 10px 30px;
      font-size: 18px;
  }
  .article__grid-image-wrapper {
    width: calc(50% - 20px);
  }
}
@media (max-width: 600px) {
  .form--main {
    .form__title {
      font-size: 31px;
      margin-bottom: 15px;
    }

    .form__submit {
      width: 100%;
      margin-top: 1em;
    }

    .form--main {
      max-width: unset;
      margin: 2em;
    }
  }
  .Blog .video-wrapper iframe {
    min-height: 200px;
  }
}
@media (max-width:490px){
  .video-overlay-content {
      padding: 30px;
  }
  .video-overlay h2 {
      line-height: 55px;
      font-size: 45px;
  }
  .vid-desc {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px;
  }
  .article__grid-image-wrapper {
      width: calc(50% - 20px);
      margin-bottom: 30px;
  }
  .article__grid-image-wrapper img {
      max-width: 150px;
  }
  main#main.press .page__header {
      margin-bottom: 40px;
      margin-top: 20px;
  }
}
.flex-row {
  display: flex;
  flex-direction: row;

  &.flex-center {
    align-items: center;
    justify-content: center;
  }
}

main#main.reviews {
    background-image: url(//cdn.shopify.com/s/files/1/0253/2176/6986/files/custom_resized_7fd69933-7387-4a62-9f36-e888c218f26a_1800x.png?v=1612212266);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
main#main.reviews header.page__header {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
main#main.reviews h1.page__title.heading.h1 {
    letter-spacing: -1.35px;
    line-height: 1.1;
    font-family: Laila;
}
#yotpo-testimonials-custom-tab .yotpo-modal-bottom-line {
    height: auto;
    min-height: auto;
    line-height: normal;
}
main#main.reviews .yotpo-review-wrapper .content-review {
    font-family: Source Sans Variable;
    color: #6a1a31;
    font-size: 16px;
    line-height: 22px;
}
#yotpo-testimonials-custom-tab .yotpo-review .yotpo-main .content-title {
    font-size: 16px;
    font-weight: 600;
    color: #6a1a31 !important;
    margin: 10px 0;
}
span.y-label.yotpo-user-name.yotpo-font-bold.pull-left {
    letter-spacing: 0.5px;
    line-height: 20px;
    font-family: Laila;
    font-size: 18px !important;
}
main#main.reviews .yotpo-modal-dialog .yotpo-default-button {
    display: inline-block;
    color: #f7c2ca;
    background: #ff5859!important;
    min-width: 120px;
    border-radius: 10px!important;
    transition: .3s all;
    visibility: visible;
}

div#shopify-section-16291428945e610201 {
  @media screen and (min-width: 1200px) {
    .aspect-ratio.desktop_image_ratio {
      padding-bottom: 43% !important;
    }
  }

     background: #fff !important;
     margin-bottom:-20px;

  .flickity-viewport {
    background: #fff !important;
  }
  #block-16291428945e610201-0 {
    .slideshow__content-wrapper {
      opacity:0;
      position: absolute;
      left: 0;
      -webkit-transform: none;
      transform: none;
      top: 30%;
      bottom: 0;
      padding: 0;
      width: 100%;
      display: block;
      @media screen and (max-width: 768px) {
        top: 5%;
        left: 0;
        right: 0;
      }
    }
    .slideshow_content_position_middle-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 68%;
      text-align: left;
      position: absolute;
      @media screen and (min-width: 1200px) {
         right: 50px;
      }
      right: 0;
      @media screen and (max-width: 768px) {
        padding: 0 10px;
        width: 100%;
      }
    }
    h2.slideshow__title_primary.heading.h3.titBanner {
      color: #691a30;
      @media screen and (min-width: 1200px) {
        font-size: 50px;
      }
      font-size: 33px;
      margin-bottom: 0;
      text-align: center;
      line-height: 1;
      @media screen and (max-width: 768px) {
        font-size: 25px;
       }
      @media screen and (max-width: 410px) {
        font-size: 19px;
       }
    }

    .slideshow__content_primary {
     width: 100%;
     margin: 0 auto;
    text-align: center;
    }

    ul.slideshow-items > li {
      text-align: left;
      position: relative;
      padding-left: 50px;
      min-width: 200px;
      @media screen and (min-width: 1200px) {
        font-size: 30px;
      }
      font-size: 20px;
      font-weight: 400;
      color: #6a1a31;
       @media screen and (max-width: 768px) {
             padding-left: 25px;
             min-width: max-content;
             font-size: 17px;
       }
      @media screen and (max-width: 410px) {
        font-size: 12px;
        padding-left: 23px;
        min-width: max-content;
      }
    }
    ul.slideshow-items {
      display: inline-block;
      list-style: none;
      margin-top: 20px;
    }
    ul.slideshow-items > li:before {
      content: "";
       @media screen and (max-width: 768px) {
      width: 15px;
      height: 15px;
      }
      width: 28px;
      height: 28px;
      border-radius: 100%;
      background: url(https://cdn.shopify.com/s/files/1/0253/2176/6986/files/list-icon.png?v=1622670853)
        no-repeat center / cover;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    ul.slideshow-items > li {
      margin-bottom: 0;
    }
    ul.slideshow-items.columns {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
    h2.slideshow-classic__heading.title {
      font-size: 55px;
      width: 100%;
      line-height: 84px;
      margin-bottom: 0;
      font-family: Laila;
      font-weight: 700;
      letter-spacing: -0.3px;
      color: #68192f !important;
      font-family: Roboto;
       @media screen and (max-width: 768px) {
         font-size: 25px;
        line-height: 1;
        text-align: center;
       }
      @media screen and (max-width: 410px) {
        font-size: 17px;
        text-align: center;
      }
    }
    .slideshow_subtitle {
      @media screen and (min-width: 1200px) {
        font-size: 35px;
      }
      font-size: 25px;
      line-height: 1;
      margin-top: 10px;
       @media screen and (max-width: 768px) {
           font-size: 20px;
           text-align:center;
       }
      @media screen and (max-width: 410px) {
        font-size: 14px;
        text-align:center;
      }
    }
  }
  #block-7e75e5ef-675f-484e-9bee-7a4655350370 {
    .slideshow_content_position_middle-center {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      max-width: max-content;
      display: block;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width:768px){
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
      }
    }

    h2.slideshow__title_primary.heading.h3.titBanner {
      color: #f5cfcf;
      @media screen and (min-width: 1601px) {
        font-size: 120px;
        min-height: 85px;
      }
      @media screen and (min-width: 1200px) and (max-width: 1600px) {
        font-size: 90px;
        min-height: 60px;
      }
      font-size: 50px;
      background: #6a1a31;
      max-width: max-content;
      margin: 0 auto;
      line-height: 0.5;
      min-height: 35px;
      padding: 0 6px;
      @media screen and (max-width: 768px) {
        font-size: 40px;
        min-height: 32px;
       position: absolute;
       right: 0;
       left: 0;
       bottom: 25%;
      }
       @media screen and (max-width: 600px) {
         font-size: 30px;
          min-height: 25px;
       }
      @media screen and (max-width: 440px) {
        font-size: 23px;
        min-height: 19px;
      }
    }
    .slideshow_subheading {
      background: #f5cfcf;
      border-radius: 70%;
      max-width: max-content;
      line-height: 1;
      margin: 0 0 0 auto;
      color: #6a1a31;
      font-weight: 700;
      margin-bottom: 40px;
      padding: 6% 4%;
      @media screen and (max-width: 500px) {
        padding: 9% 5% 7% !important;
        font-size: 12px;
        line-height: 1.2;
        strong {
          position: relative;
          top: -7px;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 8% 5%;
        position: relative;
        right: 10%;
      }
    }
    .slideshow_subheading strong {
      color: #000;
      letter-spacing: 5px;
    }
    .slideshow__content-wrapper {
      position: absolute;
      opacity:0;
      @media screen and (min-width: 1200px) {
        top: 8%;
      }
      top: 25%;
      left: 0;
      -webkit-transform: none;
      transform: none;
      bottom: 0;
      padding: 0;
      width: 100%;
      display: block;
      @media screen and (max-width: 768px) {
        top: 10%;
      }
      @media screen and (max-width: 440px) {
        top: 5%;
      }
    }
  }
  #block-de5a3a16-fe01-45fe-a7e4-01fea1b6fe40 {
    .slideshow_content_position_middle-left {
      position: absolute;
      text-align: 0;
      top: 0;
      right: 170px;
      @media screen and (min-width: 1200px) and (max-width: 1450px) {
        right: 250px;
      }
      @media screen and (min-width: 1450px) and (max-width: 1600px) {
        right: 300px;
      }
      @media screen and (min-width: 1601px) and (max-width: 1800px) {
        right: 320px;
      }
      @media screen and (min-width: 1801px) {
        right: 400px;
      }

      @media screen and (min-width: 901px) and (max-width: 1099px) {
        right: 100px;
      }
      @media screen and (min-width: 320px) and (max-width: 900px) {
        right: 0;
      }
    }
    .slideshow_custom_html p {
      line-height: 1;
      margin-bottom: 62px;
      @media screen and (min-width: 1200px) and (max-width: 1600px) {
        margin-bottom: 40px;
        font-size: 25px;
      }
      @media screen and (min-width: 1601px) and (max-width: 1800px) {
        font-size: 30px;
        margin-bottom: 50px;
      }
      @media screen and (min-width: 1801px) {
        font-size: 30px;
        margin-bottom: 65px;
      }
      @media screen and (min-width: 901px) and (max-width: 1099px) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: 768px) and (max-width: 900px) {
        margin-bottom: 24px;
      }
      @media screen and (min-width: 650px) and (max-width: 768px) {
        margin-bottom: 10px;
        max-width: 50%;
        text-align: left;
      }
      @media screen and (min-width: 550px) and (max-width: 650px) {
        max-width: 50%;
        text-align: left;
        margin: 0 0 10px auto;
        font-size: 15px;
      }
      @media screen and (min-width: 450px) and (max-width: 550px) {
        max-width: 50%;
        text-align: left;
        margin: 0 0 10px auto;
        font-size: 15px;
      }
      @media screen and (min-width: 320px) and (max-width: 450px) {
        max-width: 50%;
        text-align: left;
        margin: 0 0 10px auto;
        font-size: 11px;
      }
    }
    .slideshow__content-wrapper {
      opacity:0;
      position: absolute;
      @media screen and (min-width: 1200px) {
        top: 15%;
      }
      top: 24%;
      left: 0;
      bottom: 0;
      padding: 0;
      width: 100%;
      display: block;
      -webkit-transform: none;
      transform: none;
      @media screen and (min-width: 650px) and (max-width: 768px) {
        left: 10%;
      }
      /*     @media screen and (min-width:550px) and (max-width:650px){
          left: 47%;
    }
    @media screen and (min-width:320px) and (max-width:550px){
      left: 50%;
    } */
    }
    .slideshow_custom_html p {
      position: relative;
    }
    .slideshow_custom_html p {
      @media screen and (max-width: 768px) {
        &:first-child:before {
          content: "";
          position: absolute;
          top: 15px;
          bottom: 0;
          right: 104%;
          background: #893146;
          height: 1px;
          width: 44px;
          transform: rotateZ(156deg);
        }
        &:last-child:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 105%;
          background: #893146;
          height: 1px;
          width: 45px;
          transform: rotateZ(31deg);
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 12px;
        bottom: 0;
        right: 106%;
        /* left: 0; */
        background: #893146;
        height: 1px;
        width: 100px;
        @media screen and (min-width: 768px) and (max-width: 1301px) {
          width: 60px;
        }
        @media screen and (max-width: 768px) {
          width: 40px;
        }
      }
    }
  }
  .desktopbtnSlider {
    position: absolute;
    right: 3%;
    bottom: 8%;
    .button {
      display: inline-block;
      // color: #f7c2ca;
      // background: #ff5859 !important;
      min-width: 120px;
      padding: 8px 15px 9px 15px !important;
      border-radius: 10px !important;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 500;
      transition: 0.3s all;
      line-height: 1.5;
    }
  }
  @media screen and (max-width: 768px) {
    .desktopbtnSlider{
      display:none;
    }
    .mobilebtnSlider{
      background: #fff;
      margin-top: 20px;
    }
    .mobilebtnSlider .button{
      // background: #ff5859;
      width: 40%;
      margin: 0 auto;
      text-align: center;
      display: block;
      border-radius: 10px;
      padding: 0;
    }
    .slideshow__slide{
      background:#fff !important;
    }
    .flickity-button{
       display:none;
    }
    .flickity-page-dots {
    bottom: 110px;
    }
  }
  @media screen and (min-width: 769px) {
    .mobilebtnSlider{
      display:none;
    }
    .flickity-page-dots{
       display:none;
    }
  }
}



@media screen and (max-width: 768px) {
  #shopify-section-161045450672621ac0{
    padding-top: 30px !important;
  }
}



.template-article main#main {
  background: #fdf5f6;
  .shopify-section__article {
    margin-bottom: 64px;
  }
  article.articlearea {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    .blog_post_content_sec {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
        order: 2;
        margin-top: 40px;
      }
      @media screen and (min-width: 769px) {
        max-width: 319px;
      }
      margin: 0 auto;
      .blog_title {
        opacity: 0.7;
        color: #74062c;
        font-family: Roboto;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 13px;
        margin-bottom: 8px;
      }
      .blog_article_title {
        color: #74062c;
        font-family: Roboto;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 40px;
        margin-bottom: 16px;
      }

      .blog_article_content {
        color: #74062c;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
      }

      .blog_article_date {
        opacity: 0.7;
        color: #74062c;
        font-family: Roboto;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 13px;
        text-transform: uppercase;
      }
    }

    .blog_post_image_sec {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (min-width: 769px) {
        position: sticky;
        top: 0;
        align-self: flex-start;
      }
      .article__image-wrapper {
        width: 448px;
        margin: 0 auto;
      }
    }
  }
}

.blog-related__post-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  li.blog-related__post-item {
    @media screen and (min-width: 1200px) {
      width: calc(25% - 24px);
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: calc(33.333% - 24px);
    }
    @media screen and (min-width: 320px) and (max-width: 768px) {
      width: calc(50% - 24px);
    }
    margin: 0 12px;
    list-style: none;
    margin-bottom: 48px;
    .blog_realted_title {
      opacity: 0.7;
      color: #74062c;
      font-family: Roboto;
      font-size: 11px;
      letter-spacing: 0;
      line-height: normal;
      margin-bottom: 6px;
    }

    a.blog-related__post-title {
      color: #74062c;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1.16;
      /* margin-bottom: 16px; */
    }

    .excerptBlog {
      color: #74062c;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 1.5;
      margin: 10px 0;
    }

    .blog-related__post-meta {
      opacity: 0.7;
      color: #74062c;
      font-family: Roboto;
      font-size: 11px;
      letter-spacing: 0;
      text-transform: uppercase;
    }

    .blog-related__post-info {
      margin-top: 16px;
    }

    img {
      @media screen and (min-width: 1200px) {
        min-height: 420px;
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        min-height: 320px;
      }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        min-height: auto;
      }
      object-fit: cover;
    }
  }
}

/* .custome-image_wrapper video{
  width:100%;
     height: 400px;
}
@media screen and (max-width: 768px) {
  .custome-image_wrapper video{
      height: 100%;
   }
} */