
/**
 * ----------------------------------------------------------------------------
 * FAQ
 * ----------------------------------------------------------------------------
 */
.bg-white {
  background: white;
}

.container-faq {
  width: 100%;
  padding: 0 10%;
}

.hanni__faq {
  color: #6a1a31;
  margin-top: 4em;
  margin-bottom: 2em;

  & .question-group {
    &:before {
      border-top: 1px solid #6a1a31;
    }

    & .group-tab-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 0.4em 0;
      font-size: 20px;
      user-select: none;
      border-bottom: 1px solid #6a1a31;
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* Firefox 4+, Opera, Chrome */

      &:after, &:before {
        content: '';
        width: 3px;
        height: 18px;
        background: #6a1a31;
        position: absolute;
        display: inline-block;
        right: 45px;
        bottom: 16px;
      }

      &:after {
        transform: rotate(90deg);
      }

      &:before {
        transform: rotate(0deg);
      }
    }

    & .group-tab-toggle {
      display: none;

      &:checked ~ .group-tab-content {
        max-height: 100vh;
        border-bottom: 1px solid #6a1a31;
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
      }

      &:checked ~ .group-tab-label:before, &:checked ~ .group-tab-label:after {
        content: '';
        width: 3px;
        height: 18px;
        background: #6a1a31;
        position: absolute;
        display: inline-block;
        right: 45px;
      }

      &:checked ~ .group-tab-label:before {
        transform: rotate(45deg);
      }

      &:checked ~ .group-tab-label:after {
        transform: rotate(-45deg);
      }
    }

    & .group-tab-content {
      font-family: 'Source Sans Variable';
      font-weight: 400;
      font-size: 1.3em;
      line-height: 1.3;
      max-height: 0px;
      overflow: hidden;
      width: 100%;
      animation: max-height 5s linear;

      & a {
        font-weight: bold;
        color: #ff5859;
        &:hover{
          color: #6a1a31
        }
      }
    }
  }

  & .question {
    transition: 500ms linear;
    border-bottom: 1px solid 6a1a31;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
    &:last-child{
      border-bottom: none;
    }
    & .tab-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 0.4em 0;
      font-size: 1em;
      user-select: none;

      &:after, &:before {
        content: '';
        width: 3px;
        height: 18px;
        background: #6a1a31;
        position: absolute;
        display: inline-block;
        right: 45px;
        bottom: 10px;
      }
      &:after {
        transform: rotate(90deg);
      }

      &:before {
        transform: rotate(0deg);
      }
    }

    & .tab-toggle {
      display: none;

      &:checked ~ .tab-content {
        max-height: 100vh;
        padding: 0.9em 0 2em 0;
      }

      &:checked ~ .tab-label:before, &:checked ~ .tab-label:after {
        content: '';
        width: 3px;
        height: 18px;
        background: #6a1a31;
        position: absolute;
        display: inline-block;
        right: 45px;
      }
      &:checked ~ .tab-label:before {
        transform: rotate(45deg);
      }
      &:checked ~ .tab-label:after {
        transform: rotate(-45deg);
      }
    }

    & .tab-content{
      font-family: 'Source Sans Variable';
      font-weight: 400;
      font-size: 0.85em;
      line-height: 1.3;
      max-height: 0px;
      overflow: hidden;
      width: 85%;
      animation: max-height 5s linear;

      & a {
        font-weight: bold;
        color: #ff5859;
        &:hover{
          color: #6a1a31
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hanni__faq {
    .question {


      & .tab-label:after, & .tab-label:before{
      right: 25px;
      }
      .tab-toggle {

        &:checked ~ .tab-label:before, &:checked ~ .tab-label:after {
          content: '';
          right: 25px;
        }
      }
    }
    .question-group {
      &:before {
        border-top: 1px solid rgba(106, 26, 0, .6);
      }
      & .group-tab-label {
        border-bottom: 1px solid rgba(106, 26, 0, .6);
      }
      & .group-tab-label:after, & .group-tab-label:before{
        right: 25px;
      }
      .group-tab-toggle {
        &:checked ~ .group-tab-content {
          max-height: 100vh;
          border-bottom: 1px solid rgba(106, 26, 0, .6);
          -webkit-background-clip: padding-box; /* for Safari */
          background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
        }
        &:checked ~ .group-tab-label:before, &:checked ~ .group-tab-label:after {
          content: '';
          right: 25px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .hanni__faq {
    margin-top: 2em;
  }
}

@media(max-width: 500px) {
  .container-faq {
    padding: 0 5%;
  }
}
/* ONLY FOR FAQ */

@media (max-width: 440px) {
  .faq-link_text_item {
    & p{
      font-size: 24px;
    }
    & a{
      font-size: 24px;
    }
  }
}
@media (max-width: 375px) {
  .faq-link_text_item {
    & p {
      font-size: 18px;
    }
    & a {
      font-size: 18px;
    }
  }
}
/**
 * ----------------------------------------------------------------------------
 * Jump to
 * ----------------------------------------------------------------------------
 */

.jump_to__container {
  display: none;
}
#jump_to__container {
  display: none
}
.jump_to__toggle {
  display: none
}

.jump_to__text {
  display: inline-block;
}

.jump_to__links {
  padding: 2em 0 0 0;
  width: 100%;
  display: block;
  & label {
    display: none;
  }
  & a {
    margin-left: 2em;
  }
}

@media (max-width: 1024px) {
  .jump_to__links {
    padding: 2em 1em 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & a {
      display: none;
    }

    & label {
      display: block;
      user-select: none;
      cursor: pointer;
    }

  }


  .jump_to__toggle:checked ~ #jump_to__container{
    max-height: 100vh;
    padding: 2em 0 0 0;
  }

  #jump_to__container {
    max-height: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    & a {
      font-size: 1.8em;
    }
  }
}

@media (max-width: 640px) {
  .jump_to__links {
    font-size: 1.2em;
  }
  .jump_to__text {
    font-weight: 400;
  }
}

@media (max-width: 425px) {
  .jump_to__links {
    font-size: 1.2em;
  }
  #jump_to__container a {
    font-size: 1.5em;
  }
}
