/**
 * ----------------------------------------------------------------------------
 * FOOTER
 * ----------------------------------------------------------------------------
 */
.mAuto {
  margin:auto;max-width: 500px;
}
.container.footer {
  margin: 0 60px;
  max-width: 100%;
}
.footer__wrapper {
  padding: 30px 0;
}
//blocks
.footer__block-list {
  margin: unset;
}
.footer__block-item {
  border-bottom: none;
  padding: unset;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
div#block_id_0256977d-46af-4371-b14b-f2d7b3e246c4 {
    align-items: baseline;
}
.footer__block-item.footer-social .footer__title{
      margin-bottom: 7px;
}

.footer__title {
  display: flex;
  text-align: left;
  text-transform: lowercase;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 4px;
}
.form__input-wrapper {
  margin-bottom: 0;
  width:50%;
  input{
    padding:0 20px !important;
  }
}
div#block-087c7efa-4529-415e-9f50-31347ee1175c .footer-content p{
  line-height: 1.4;
}
.footer__newsletter-wrapper {
    width: 100%;
}
.footer__newsletter
{

  .footer__title {
    text-align: left;
}
}
.footer__newsletter-form
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
      margin-top: 10px;
    margin-bottom: 15px;
}
.form__input-wrapper input {
    border: 2px solid #80808061;
    border-radius: 4px;
    color: #80808040 !important;
}
.social-media__item--tiktok img {
    width: 17px;
    height: 17px;
    padding: 1px;
}
.form__input-wrapper input::placeholder {
    color: #80808052;
}
button.button__footer {
    padding: 12px 12px -2px;
    background: #ff5859;
    height: 46px;
    border-radius: 4px;
    color: #fff;
    width: 45%;
}
.footer-content p {
    font-size: 18px;
}
@media (max-width: 769px) {
  .footer__block-list {
    align-items: baseline;
    flex-direction: inherit;
  }
  .footer-content p {
    font-size: 16px;
 }
  .footer__title{
    justify-content: left;
    padding:0;
    font-size: 16px;
    margin-bottom:7px;
  }
  .footer__block-item {
    margin-bottom: 20px;
    width: 100%;
    align-items: flex-start;
  }

  .container.footer {
    margin: 0 15px;
    max-width: 100%;
 }
  .footer__link-item{
        font-size: 15px;
  }
  .social-media__item-list{
    left:0 !important;
  }
  div#block_id_087c7efa-4529-415e-9f50-31347ee1175c {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
}

.social-media__item>a{
  display:flex;
}
.social-media__item path {
    fill: #fff;
}
.social-media__item svg {
    width: 17px;
    height: 17px;
    padding: 1px;
}
.social-media__item {
    display: inline-block;
    margin: 4px;
    background: #ff5859;
    padding: 4px;
    border-radius: 50%;
    color: #fff;
}

// Desktop View
@media only screen and (min-width: 768px)  {
  .footer__block-list {
    flex-direction: row;
  }
  .footer__block-item.footer-social {
    position: relative;
    left: 18px;
}
  div#block_id_087c7efa-4529-415e-9f50-31347ee1175c {
        position: relative;
        left: 55px;
  }
  .footer-social p.footer__title.heading.h6 {
    justify-content: center;
    margin-right: -10px;
}
  .container.footer{
    max-width: unset;
  }
  .social-media__item-list{
       position: relative;
       left: 30px;
  }
  .button__footer {
    border-bottom: 0 none !important;
  }

  .footer__title.only-mobile {
    display:none;
  }
}