// @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/**
 * ----------------------------------------------------------------------------
 * COLORS
 * ----------------------------------------------------------------------------
 */
  $color-light-red: #FF5859;
  $color-light-pink: #9e9291;
  $color-yellow: #F7A700;

  /**
 * ----------------------------------------------------------------------------
 * GENERAL CLASSES
 * ----------------------------------------------------------------------------
 */
  p {
    width: unset;
    height: unset;
    margin: unset;
    text-align: unset;
  }
  .h3 {
    color: white;
  }
  .rte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .lazyload .image--fade-in {
    position: relative
  }
  .image-radio img {
    border-radius: 50%;
  }
  .section-margin {
    position: relative;
    overflow: hidden;
  }
  .background-yellow {
    background-color: $color-yellow;
    margin-bottom: 30px;
  }
  .image-with-text {
    margin: 30px;
  }
  .color-white {
    background: #FCFCFC;
  }
  .color-pink {
    color:$color-light-pink;
  }
  .container--navbar {
    display: flex;
  }
  .product-item {
    background: transparent;
  }
  .product-item__info-inner{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .collection-item__image-wrapper img {
    width: 100%;
  }
  .collection-item {
    display: contents;
  }
  .background-collection-img {
    background-image: url(././background_shop-03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px){
      background-image: none;
    }
  }
  .scroller__inner::-webkit-scrollbar {
    display: none;
    }
  .position-relative {
    position: relative;
    width: 100%;
  }
  .text-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 7%;
    bottom: 30%;
    font-size: 12px;
    width: 22%;
    color: $color-light-pink;
    h2 {
      color: $color-light-pink;
    }
  }
  .wrappert-text-content {
    display: flex;
    justify-content: center;
  }
  .rte.color-pink p a {
    color: #ff5859;
  }
  .form__field {
    border: none;
    box-shadow: none;
  }
  .flickity-prev-next-button svg{
    width: 30px;
    height: 30px;
    fill: #f0cbcd;
  }
/**
 * ----------------------------------------------------------------------------
 * HEADER
 * ----------------------------------------------------------------------------
 */
  // .header__logo {
  //   font-size: 20px;
  //   font-family:'Didact Gothic', sans-serif;
  //   // Center hanni logo on desktop
  //   transition: all 200ms;
  //   position: absolute;
  //   left: calc(50% - 40px);
  // }
  .header__action-list {
    margin: 0;
  }
  .header__inner {
    justify-content: space-between;
  }
  .header__action-item{
    padding: 5px;
  }
  .header__action-item-link {
    font-size: 12px;
  }
/**
 * ----------------------------------------------------------------------------
 * SLIDESHOWS
 * ----------------------------------------------------------------------------
 */
  .slideshow--relative {
    position: relative;
    display: flex;
  }
  .slideshow__video {
    position: relative
  }
  .slideshow__content-wrapper-video {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .slideshow__title {
    font-size: 24px;
  }
  .slideshow_button {
    background: $color-light-red;
    width: 90%;
    height: 40px;
    color: $color-light-pink;
    position: absolute;
    bottom: 20px;
  }
  .slideshow__slide-inner {
    width: 100%;
    height: 100%;
  }
  .button, .shopify-payment-button__button--unbranded, .spr-summary-actions-newreview, .spr-button  {
    height:48px;
    align-items: center;
  }
/**
 * ----------------------------------------------------------------------------
 * IMAGE WITH TEXT
 * ----------------------------------------------------------------------------
 */
  .image-with-text {
    overflow: hidden;
  }

  .image-with-text__text-aligner {
    text-align: center;
    & .heading {
    font-size: 31px;
    }
  }
  .image-with-text__image-container-mobile {
    background-color: $color-yellow;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    a {
      background-color: $color-light-red;
      width: 90%;
    }
    h2 {
      font-size: 28px;
    }
  }
  .search-bar__top-wrapper {
  display: none;
  }

/**
 * ----------------------------------------------------------------------------
 * IMAGE WITH TEXT OVERLAY
 * ----------------------------------------------------------------------------
 */
.image_with_text_overlay_main {
    position: relative;
   .image_with_text_overlay_content {
    position: absolute;
    top: 50%;
    right: 0;
 }
  h2.text_overlay__title_primary , text_overlay__content_primary{
  font-size: 24px;
  }

}
/**
 * ----------------------------------------------------------------------------
 * MEDIA QUERIES
 * ----------------------------------------------------------------------------
 */
@media screen and (min-width: 1000px){
  .nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom:none;
    background: transparent;
    width: 54%;
  }
  .nav-bar__item {
    font-weight: 100;
  }
  .nav-bar::after {
    background: transparent;
  }
  .nav-bar-second {
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
    background: transparent;
    width: 40%;
  }
  .h1 {
    line-height: 5.43;
  }
  .slideshow_button {
    width: 10%;
    border-radius: 10px;
    position: absolute
  }
  .slideshow__title {
    font-size: 48px;
  }
  .button {
    border-radius: 10px;
  }
  .image-with-text {
    justify-content: space-evenly;
  }
  .button, .shopify-payment-button__button--unbranded, .spr-summary-actions-newreview, .spr-button {
    height: 48px;
    background-color: #FF5859;
  }
  .image-radio img {
    margin-left: 50px;
  }
  .image-with-text__text-aligner {
    text-align: start;
    width: 90%;
  }
  .spr-button {
    line-height: 48px;
  }
  .image-with-text__text-container:first-child {
    width: 100%;
  }
  .slideshow__content-wrapper {
    display: flex;
  }

  // NO reutilizar esas clases
  #shopify-section-1606591093c30a18ca .container-land-video {
    overflow: hidden;
    height: 100%;
  }
  #shopify-section-1606591093c30a18ca .land-video {
    margin: -7em 0em -7em 0em;
  }
    // NO reutilizar esas clases
}
@media screen and (min-width: 641px) {
  .header {
    padding: 4px 0;
  }
  .slideshow_button {
    width: 135px;
    height: 48px;
  }
  .image-with-text__image-container{
    margin-bottom: 0px;
    position: relative;
  }
}
@media screen and (max-width: 999px) {
  #shopify-section-16063225183b35299d {
    .container {
      margin: 0;
      padding: 0;
    }
    .button {
      border-radius: 0px;
      width: 92%;
    }
  }

  .section {
    margin: 0;
    margin-top: 5%;
  }
}

@media screen and (max-width:650px){
  #footer-newsletter{
    position: relative !important;
    left: 0% !important;
  }
}


