/**
 * ----------------------------------------------------------------------------
 * COLORS
 * ----------------------------------------------------------------------------
 */
 $color-light-red: #FF5859;
 $color-pink: #f0cdca;
 $color-yellow: #F7A700;
 $color-light-pink: #f0cdca;

/**
 * ----------------------------------------------------------------------------
 * PRODUCT TEMPLATE
 * ----------------------------------------------------------------------------
 */

.wrapper {
  padding: 80px 24px;
}

.product-block-list__wrapper {
  margin-top: 30px;
}

.card {
  & .card__section {
    & .product-meta {
      & .product-block-list__item--description {
        & .card {
          & .card__section {
            & .rte.text--pull {
              align-items: start;
              & ul > {
                li {
                  font-family: 'Source Sans Variable';
                  font-weight: 100;
                  color: #606060 !important;
                  font-size: 16px;
                  line-height: 20px;
                }
                li:before{
                  top: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.page__sub-header {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.card__section, .card__collapsible-button {
  padding: 0;
}

.product-meta--display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// Form
.product-form {
  overflow: hidden;
}

.product-form__variants {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin-bottom: 0;
}

.product-form__option {
	margin: 8px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}


.product-form__info-list {
  border-bottom: 1px solid grey;
  border-spacing: 0 3px;
}


.product-gallery__thumbnail-list a {
  border-radius: 50%;
}

.product-form__info-item {
  & label.product-form__info-title.text--strong{
    color:#606060;
    font-weight: 400;
    font-size: 14px;
    padding: 36px 10px 23px 12px;
  }
  & .product-form__info-content {
    padding-top: 11px;
  }
}
.product-form__info-content  {
	width: 85%;
}

.border-style img {
  border-radius: 50%;
}
.product-gallery__thumbnail {
  /*width: 90px;*/
  width:77px;
}
.variant-swatch__radio:checked + .variant-swatch__item {
  border-radius: 50%;
}


.product-form__payment-container button {
    border-radius: 0;
}

/**
 * ----------------------------------------------------------------------------
 * INFO STAR
 * ----------------------------------------------------------------------------
 */

.spr-badge {
    color: $color-yellow;

}

/**
 * ----------------------------------------------------------------------------
 * Metafields Custome image
 * ----------------------------------------------------------------------------
 */

.image_scroller--title_text {
  margin-bottom: 0!important;
}

.custome-wrapper {
	display: flex;
	padding: 80px 0	;
}

.custome-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;

  .product-video_container {
    width: 100%;
  }
  .product-video_container_mobile {
    width: 100%;
    height: calc(100vw - 50px);
    margin-bottom: -10px;
  }

	.custome-image_wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}
.custome-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $color-light-pink;
	text-align: center;
	padding: 100px 90px;
	width: 50%;

	h3 {
		font-size: 48px;
		line-height: 1;
	  margin-bottom: .5em;
	}

	p {
		font-family: 'Source Sans Variable';
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
	}

	h2 {
		font-family: 'Source Sans Variable';
		font-size: 20px;
		line-height: 1.2;
		font-weight: bolder;
		margin-bottom: .4em;
	}
	ul {
		li {
			font-family: 'Source Sans Variable';
			font-size: 20px;
			line-height: 1.2;
			font-weight: 500;
			line-height: 1.5;
		}
	}
}
/**
 * ----------------------------------------------------------------------------
 * Metafields Custome text details
 * ----------------------------------------------------------------------------
 */
.custome-text-details {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 0 200px;
	width: 100%;
	margin-bottom: 80px;

	h2 {
		font-family: Roboto;
    font-weight: bold;
    font-size: 42px;
		line-height: 1.1;
	}

	p {
		font-family: 'Source Sans Variable';
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
	}
}
.compact-h2 {
	h2 {
		margin-bottom: 20px!important;
	}
}
.custome_wrapper-gif {
	margin: 0  0 50px 0;
	display: flex;
	justify-content: space-evenly;
	width: 100%;

	.custome-gif {
		overflow: hidden;
		width: 25vw;
		height: 25vw;
		border-radius: 50%;
		position: relative;

		img {
			width: 100%;
			height: auto;
			position: absolute;
		}
	}
}

.custome-title-details {
	font-family: Roboto;
	font-weight: bold;
	font-size: 42px;
	display: flex;
	justify-content: center;
	margin: 120px 0 -2em 0;
}

.scroller_wrapper-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.scroller_wrapper-step {
	display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 30vw;

	img {
		width: 100%;
		height: auto;
	}
}

.scroller_wrapper-step-big {
	width: 50vw;
}

.custome-wrapper-image-full {
	margin: 2em 0 0 0;
	width: 100%;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 999px) {
	.custome-wrapper {
		flex-direction: column;
	}

	.custome-image{
		width: 100%;
		img {
			width: 100%;
		}
		.custome-image_wrapper	{
			width: 100%;
			height: 100%;
		}
	}

	.custome-text {
		width: 100%;
		padding: 60px;
	}
	.custome-text-details{
		padding: 0;

		h2 {
			font-size: 26px;
			margin-bottom: 35px;
			padding: 0 2em;
		}

		p {
			font-size: 18px;
		}
	}

	.compact-h2 {
		h2 {
			margin-bottom: 5px!important;
		}
	}

	.custome_wrapper-gif {
		align-items: center;
		flex-direction: column;
		.custome-gif {
			width: 60vw;
			height: 60vw;
			margin-bottom: 50px;
		}
	}

	.scroller_wrapper-steps{
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		width: calc(5 * 90vw - 100px);
	}

	.scroller_wrapper-step {
		display: block;
		margin-top: 0;
		width: 70vw;
	}

	.ml-mobile {
		margin-left: 3em;
	}

	.scroller_wrapper-step-big {
		width: 100vw;
		margin: 0 3em;
	}
	.custome-title-details {
		margin: 120px 0 -1em 0;
	}


}

@media (max-width: 600px) {
	.custome-wrapper {
		padding: 60px 0;
	}
	.custome-text {
		padding: 90px 60px 70px 60px;
		h3 {
			font-size: 32px;
		}

		p {
			font-size: 15px;
			margin-bottom: 0;

			br {
				display: none;
			}
		}

		h2 {
			font-size: 13px;
		}
		ul {
			li {
				font-size: 13px;
			}
		}
	}

	.custome-text-details{
		margin-bottom: 15px;
		h2 {
			font-size: 22px;
			margin-bottom: 15px;
		}
		p {
			font-size: 13px;
		}
	}
	.custome_wrapper-gif {
		.custome-gif {
			width: 60vw;
			height: 60vw;
			margin-bottom: 50px;
		}
	}

	.custome-title-details {
		font-size: 22px;
		margin: 20px 0 0 0;
	}

}

.custome-tables-change {
	border-collapse: 2px solid black;
	table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
	th {
		font-size: 22px;
		font-weight: normal;
		height: 50px;
		padding: 10px;
		border-bottom: 4px dotted brown;
		border-top: 4px dotted brown;
	}
	td {
		font-size: 42px;
		color: $color-pink;
		border-bottom: 4px dotted $color-pink;
		padding: 10px;
		font-weight: normal;
	}
}

.custome-wrapper-image {
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}

@media screen and (max-width: 641px) {
	.custome-tables-change {
		width: 100%;
		th {
			font-size: 12px;
		}
		td {
			font-size: 12px;
		}
	}
  .product-item {
    .aspect-ratio--short {
    }
  }
}

/*desde aqui producto*/
.product-gallery__thumbnail-list .aspect-ratio.border-style img {
    width: 70px;
    height: 70px;
  	min-height: 70px;
    object-fit: cover;
}

.product-gallery__thumbnail{
  width: 77px;
  height:77px;
}

.card .card__section .text--pull p>span, .card .card__section .text--pull>span, .card .card__section .text--pull>p{
	  font-family: 'Source Sans Variable';
    font-weight: 100;
    color: #606060!important;
    font-size: 16px;
    line-height: 20px;
}
.card .card__section .rte.text--pull{color: #606060!important;}

h1.product-meta__title.heading.h2{
	font-size:30px;
}

.price-list .price{
	font-size:30px;
}

.product-item {
  bottom:0!important;
  padding: 0;
  border-bottom:8px solid transparent;
  margin: 12px;
  &:hover {
    box-shadow: 0px 0px 13px 1px #bdbbb8;
  }
  .product-item__info {
    .product-item__title {
      font-size: 15px;
      font-weight: 500;
    }
    .product-item__price-list {
      .price {
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
}

.txtVariant{
	font-family:"Roboto";
  	font-size:14px;
  	color:#606060;
  	font-weight:400;
}


.floatL{float:left}
.MT20{margin-top:20px;}
.MR35{margin-right:35px;}
.ML15{margin-left:15px;}
.MB15{margin-bottom:15px;}

.mt-5{margin-top:5em;}
.mt-7{margin-top:7em;}
.jcc{justify-content: center;}
.template-product .breadcrumb{margin-left: 151px; font-weight: 400;}
.template-product .page__navigation{display:none;}

#shopify-section-product-template .button--primary{
  background: #6a1a31;
  margin-top: 15px;
  text-transform: lowercase;
  font-family: Roboto;
  font-weight: 400;
}

#shopify-section-product-template .product-form__info-title{
	text-transform: lowercase;
}

// product-item.liquid
.product-list {
  .flickity-viewport{
    height: 100%;
  }
}

.warehouse--v1 .product-item__action-button{
  background: #691a30;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  border-radius: 0;
  display: none;
}

.warehouse--v1 .product-item--vertical .product-item__action-list{
  margin-top: 0!important;
}

.warehouse--v1 .product-item__image-wrapper {
  margin-bottom: 0!important;
}

.warehouse--v1 .product-item__title {
  margin-bottom: 0;
}

.warehouse--v1 .product-item__price-list .price{
  margin-bottom: 0;
}

.warehouse--v1 .product-item__info{
  z-index: 999;
}

button.product-item__action-button.product-item__action-button--list-view-only.button.button--small.button--ternary.hidden-phone{
  display:none;
}

.button--ternary{
  margin-top:0;
}
@media (max-width:1000px){
  .template-product .breadcrumb {
    margin-left: 0;
  }

  .product-form__info-list {
    display: flex;
    margin: 0;
    & .product-form__info-item--quantity {
      display: flex;
      width: 100%;
      max-height: 50px;
      place-content: space-between;
      & .product-form__info-title.text--strong {
        padding: 0;
        align-self: center;
        padding-left: 10px;
      }
      & .product-form__info-content {
          padding: 0;
        & .select-wrapper {
          background: none;
          height: 100%;
          padding-right: 8px;
          & .qty {
            background: none;
          }
        }
      }
    }
  }
  .product-form .select-wrapper {
    display: flex;
    flex-flow: row-reverse;
    & .signo {
      align-self: center;
      font-size: 25px;
      padding-top: 0;
      &:first-of-type {
        font-size: 40px;
      }
    }
    & .qty {
      font-size: 22px;
      float: none;
      margin-top: 0;
    }
  }
}
