<div style="background-color: #fae8e9;">
  {% section 'body--no-pressure-philo' %}
  {% section 'mission' %}
  {% section 'text-with-video' %}
  {% section 'quick-links' %}
  {% comment %}{% section 'instafeed' %}{% endcomment %}
</div>

{% style %}
  body {
    background-color: #fae8e9;
  }
{% endstyle %}
