{%comment%} <div class="container">
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
</div> {%endcomment%}


<div class="container">
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

    {{ page.content }}
  	{% section 'press-logos' %}

</div>