<section data-section-id="account-orders" data-section-type="account-orders">
  <div class="account-container">
    <div class="account-header">
      <div class="account-header__text">{{- customer.first_name -}}</div>
      <div class="account-header__text subtext">here are your recent orders</div>
    </div>
    <div class="account-h mt-2">
      <a href="{{ routes.account_url }}">{{ 'header.navigation.back' | t }}</a>
    </div>
    <div class="account-orders-container">
      {%- if customer.orders.size == 0 -%}
        <div class="card__section">
          <div class="empty-state empty-state--extra-tight">
            <div class="empty-state__icon">
              {%- render 'icon', icon: 'package' -%}
              <span class="empty-state__count">0</span>
            </div>

            <p class="empty-state__icon-description">{{ 'customer.general.no_orders' | t }}</p>

            <div class="empty-state__button-container">
              <a href="{{ routes.all_products_collection_url }}" class="empty-state__button button button--primary">{{ 'customer.general.no_orders_button' | t }}</a>
            </div>
          </div>
        </div>
      {%- else -%}
        {%- paginate customer.orders by 8 -%}
          {%- for order in customer.orders -%}
            <div class="order-container {% if forloop.first == true %}first{% endif %}">
              <div class="toggle-order">{% render 'icon', icon: 'down' %}</div>
              <div class="order-fields">
                <div class="order-data-field">
                  <span class="data-field-title">{{ 'customer.order.order' | t }}</span>
                  <span class="data-field-value">{{ order.name }}</span>
                </div>
                <div class="order-data-field">
                  <span class="data-field-title">{{ 'customer.order.date' | t }}</span>
                  <span class="data-field-value">{{ order.created_at | date: "%b %d, %Y" | downcase }}</span>
                </div>
                <div class="order-data-field">
                  <span class="data-field-title">{{ 'customer.order.fulfillment_status' | t }}</span>
                  <span class="data-field-value">{{ order.fulfillment_status_label | downcase }}</span>
                </div>
                <div class="order-data-field">
                  <span class="data-field-title">{{ 'customer.order.total' | t }}</span>
                  <span class="data-field-value">{{ order.total_price | money }}</span>
                </div>
                <div class="order-data-field">
                  <span class="data-field-title">{{ 'customer.order.payment_status' | t }}</span>
                  <span class="data-field-value">{{ order.financial_status_label | downcase }}</span>
                </div>
              </div>
              <div class="toggle-container">
                <div class="order-more">
                  <div class="items-container">
                    {%- for line_item in order.line_items -%}
                      <div class="order-line-item">
                        <div class="line-item-image">
                          <img src="{{ line_item.image | img_url: '180x180' }}" alt="{{ line_item.image.alt | escape }}">
                        </div>
                        <div class="line-item-meta">
                          <div class="line-item-variant">{{ line_item.variant.title | escape}}</div>
                          <div class="line-item-price">{{ line_item.price | money }}</div>
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>
                  <div class="actions-container">
                    <a {% if order.financial_status_label != 'Paid' %} href="#" class="button-hanni-primary full disabled" {% else %} class="button-hanni-primary full" target="_blank" href="https://orderprinterpro.com/download/orders/fe228b015cfb41b35610/{{ order.id | times: 6494 }}/{{ order.name | handleize }}.pdf"{% endif %}>download invoce</a>
                    <a {% unless line_item.fulfillment.tracking_url %} href="#" class="button-hanni-primary full mt-1 disabled" {% else %} href="{{ line_item.fulfillment.tracking_url }}" class="button-hanni-primary full mt-1" target="_blank"{% endunless %}>track your order</a>
                  </div>
                </div>
              </div>
              
            </div>
          {%- endfor -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
      {%- endif -%}
    </div>
    <div class="account-h">
      <a href="{{ routes.account_logout_url }}" data-no-instant>{{ 'customer.general.logout' | t }}</a>
    </div>
  </div>
</section>

<script>
  const button = document.querySelector('.toggle-order')
  // Open and close order info.
  button.addEventListener('click', (e) => {
    const el = e.path[1];
    el.classList.toggle('open');
  });
</script>